<a *ngIf="!IsPreview"  [routerLink]="['/system','profile',Folower.id]" style="display:block">
    <div class="photo" [ngStyle]="{'background-image': Image?'url(' + Image + ')':''}"></div>
    <span class="name">
        <span><!--<span style="color:#eb2d64;display:inline;">@</span>-->{{Folower.user_name}}</span>
    </span>
</a>
<div *ngIf="IsPreview"  style="display:block">
    <div class="photo" [ngStyle]="{'background-image': Image?'url(' + Image + ')':''}"></div>
    <span class="name">
        <span><!--<span style="color:#eb2d64;display:inline;">@</span>-->{{Folower.user_name}}</span>
    </span>
</div>
