
<div class="one-show">
    <div class="img-show" [ngStyle]="{'background-image': 'url(' + Image + ')'}"></div>
    <div class="description">
        <div class="top-info">
            <div class="side side-1">
                <!--весртка красной фиговины-->
                <div *ngIf="IsPromotional" class="sale">
                        <p translate>show-folder.Promo</p>
                </div>
                <div *ngIf="Show.is_crowdfunding_event" class="funded" style="overflow: hidden">
                    <!-- тут ебошим высоту, скок собрали баблища-->
                    <div class="complete" [ngStyle]="{'height':+FoundedPercent +'%'}"></div>
                    <p>
                        <!-- 12 days<br>to go<br> -->
                        <span translate>{{FoundedPercent | number}} %<br>show-folder.funded</span>
                    </p>
                </div>

            </div>
            
        </div>
        
    </div>
</div>
<div class="new-shows-desc">
    <a class="name-show">{{Show.name}}</a>
    <p class="name-artist">{{Show.artists}}</p>

    <div class="where" >
        <span [innerHTML]="Date"></span>
        <span *ngIf="Date && Show.venue && Show.venue.address">-</span>
        <ng-container *ngIf="Address">{{Address}}</ng-container>
        <!-- , {{Show.venue?.city?Show.venue.city:''}}, {{Show.venue?.state?Show.venue.state:''}} -->
    </div>
    <!-- <div *ngIf="Date && Show.address" class="where">-</div>
    <div class="where"></div>  -->
</div>