
<div class="one-show">
    <div class="img-show" [ngStyle]="{'background-image': 'url(' + Image + ')'}"></div>
    <div class="description">
        <div class="top-info">
            <div class="side side-1">
                <!--весртка красной фиговины-->
                <div *ngIf="IsPromotional" class="sale">
                        <p translate>show-folder.Promo</p>
                </div>
                <div *ngIf="Show.is_crowdfunding_event" class="funded" style="overflow: hidden">
                    <!-- тут ебошим высоту, скок собрали баблища-->
                    <div class="complete" [ngStyle]="{'height':+FoundedPercent +'%'}"></div>
                    <p>
                        <!-- 12 days<br>to go<br> -->
                        <span translate>{{FoundedPercent | number}} %<br>show-folder.funded</span>
                    </p>
                </div>

            </div>
            
        </div>
        
    </div>
</div>
<div class="new-shows-desc">
    <a class="name-show">{{Show.name}}</a>
    <p class="name-artist">{{Show.artists}}</p>

    <div class="where" [innerHTML]="Date"></div>
    <!-- <ng-container *ngIf="Show.date_from && Show.date_to">
        <div class="where">{{Show.date_from | date:'EEEE, MMM d, yyyy HH:mm'}} - {{Show.date_to | date:'EEEE, MMM d, yyyy HH:mm'}}</div>
    </ng-container>
    <ng-container *ngIf="Show.date_from && !Show.date_to">
        <div class="where">{{Show.date_from | date:'EEEE, MMM d, yyyy'}} - <span>{{Show.date_from | date:'HH:mm'}}</span></div>
    </ng-container>
    <ng-container *ngIf="!Show.date_from && Show.date_to">
        <div class="where">{{Show.date_to | date:'EEEE, MMM d, yyyy'}} - <span>{{Show.date_to | date:'HH:mm'}}</span></div>
    </ng-container>
    <div class="where" *ngIf="!Show.date_from && !Show.date_to">{{Show.event_season}}, {{Show.event_year}} - <span>{{Show.event_time}}</span></div> -->

    <div *ngIf="Date && Show.address" class="where">-</div>
    <div class="where">{{Show.address}}, {{Show.venue?.city?Show.venue.city:''}}, {{Show.venue?.state?Show.venue.state:''}}</div> 
</div>