
      <!-- <div class="for-white-bg"> -->
       <div class="all-info-profile all-info-profile-preview" >
           <div id="aboutPage" class="uniq-padd-2">
              <div class="main-mw">
                  <div class="flex--info">
                      <div class="side side-info-new-venue-prev side-info side-about">
                          <h1>{{Artist.display_name}}</h1>
                          <p class="hash"><span>@</span>{{Artist.user_name}}</p>
                          <p *ngIf="Artist.manager_name" class="manager">
                              Manager:
                              <a class="manager-color">{{Artist.manager_name}}</a>
                          </p>
                          <p class="about-text line-height-hig">
                            {{Artist.about}}
                          </p>
                      </div>
                      <div class="side side-info-new-venue-prev side-info side-about">
                          <div class="one-cover" [ngStyle]="{'background-image': Artist.image_base64_not_given?'url('+Artist.image_base64_not_given+')':''}"></div>
                      </div>
                  </div>
               </div>
           </div>
           <div class="uniq-padd">
              <div class="main-mw">
                  <div class="genres-info">
                      <h3>Genres</h3>
                      <div class="flex-genres">
                        <ng-container  *ngFor="let g of Artist.genres; let i = index" >
                          <span class="one-genre" translate>{{g}}</span>
                        </ng-container>
                      </div>
                  </div>
              </div>
          </div>
          <div  id="calendarPage" class="uniq-padd">
              <div class="main-mw">
                  <div class="genres-info less-margin">
                      <h3>Dates Available</h3>
                  </div>
               </div>
          </div>
          <div class="calendar-add-artist">
              <div class="one-calendar-block">
                <app-tiny-calendar #calendar [selectedDates]='DisabledDates' [eventDates]="EventDates" ></app-tiny-calendar>
              </div>
              <div class="bg-doted-cal"></div>
          </div>
          <div id="mediaPage" class="uniq-padd-2">
              <div *ngIf="Artist.audio_links.length>0"  class="main-mw">
                  <div class="flex--info none-padd-sides-b none-padd-sides-t-without-h">
                      <div class="side side-info side-about ">
                          <h6>SONGS</h6>
                      </div>
                      <div class="side side-info side-contact un-padd-on-1560"></div>
                      <div class="side side-info side-map"></div>
                  </div>
              </div>
              <div *ngIf="Artist.audio_links" class="main-mw">
                  <div class="styles-audio-list">
                      <div *ngFor="let item of Artist.audio_links| slice:0:countAudio; let i = index" class="audio-wrapper">
                          <!-- <div class="one-audio">
                              <span class="name-track">{{audio.song_name}}</span>
                              <audio [src]="audio.audio_link" preload="auto"></audio> 
                          </div> -->
                          <div  class="one-audio">
                
                            <div class="delete-track"></div>
                            <span class="name-track">{{item.song_name}}</span>
                            <div class="audiojs">
                                <div class="play-pause">
                                    <p *ngIf="audioId != i+1" (click)="audioId = i+1; playAudio(item.audio_link)" id="track-{{i}}" class="play"></p>
                                    <p *ngIf="audioId == i+1" (click)="audioId = 0; stopAudio()" class="pause"></p>
                                    <!-- <p class="loading"></p>
                                    <p class="error"></p> -->
                                </div>
                                <div class="scrubber" >
                                    <div class="progress"></div>
                                    <div class="loaded"></div>
                                </div>
                                <div class="time">
                                    <em class="played">00:00</em>
                                    <!-- <strong class="duration">{{audioId == i+1 && audioDuration>0 ?audioDuration/100:''}}</strong> -->
                                </div>
                            </div> 
                        </div>
                           
                      </div>      
                      <button *ngIf="countAudio<Artist.audio_links.length" class="see-all" (click)="countAudio = Artist.audio_links.length">SEE ALL</button>
                  </div>
                 
              </div>
              <div *ngIf="photos.length>0" class="main-mw">
                  <div class="flex--info none-padd-sides-b">
                      <div class="side side-info side-about ">
                          <h6 class="for-position-left-js">Images ({{photos?photos.length:'-'}})</h6>
                      </div>
                      <div class="side side-info side-contact un-padd-on-1560"></div>
                      <div class="side side-info side-map"></div>
                  </div>
              </div>
          </div>
          
          <div *ngIf="photos.length>0" class="new-photos-wr-scroll-preview"
          
            >
              <div class="rel-wr-photoos">
                  <div class="photos-abs-wrapp">
                      <div *ngFor="let item of photos; let in = index" class="one-slide">
                          <div (click)='Gallery(in)' [attr.data-eteration]="in" [attr.data-size]="item.size?(item.size.width+'x'+item.size.height):'500x500'" [attr.data-hreff]="item.base64"  class="wrapp-card for-gallery-item">
                              <div class="cover-image" [ngStyle]="{'background-image': 'url(' + item.base64 + ')'}"></div>
                              <div class="descr m-h-artist-prev">
                                  <!-- <p class="name">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuminim veniam, quis nostrud</p> -->
                              </div>
                          </div>
                      </div>

                  </div>
              </div>

          </div>
          <div *ngIf="Artist.artist_albums.length>0" class="uniq-padd-2">
              <div class="main-mw">
                  <div class="flex--info none-padd-sides-b none-padd-sides-t-without-h">
                      <div class="side side-info side-about ">
                          <h6 class="for-position-left-js">Albums ({{Artist.artist_albums?Artist.artist_albums.length:'-'}})</h6>
                      </div>
                      <div class="side side-info side-contact un-padd-on-1560"></div>
                      <div class="side side-info side-map"></div>
                  </div>
              </div>
           </div> 
           <div *ngIf="Artist.artist_albums.length>0" class="new-photos-wr-scroll-preview ">
              <div class="rel-wr-photoos alboms-play">
                  <div class="photos-abs-wrapp">

                      <div *ngFor="let item of Artist.artist_albums" class="one-slide">
                          <div  class="wrapp-card">
                              <div class="cover-image" [ngStyle]="{'background-image': 'url('+item.album_artwork+')'}"></div>
                              <div class="descr">
                                  <p class="name">{{item.album_name}}</p>
                                  <!-- <p class="date">2015</p> -->
                                  <span class="butt-style-1">
                                      <a target="_blank" style="color:white" href="{{item.album_link}}"><span>play</span></a>
                                  </span>   
                              </div>
                          </div>
                      </div>
                     
                  </div>
              </div>
          </div>
          <div *ngIf="Artist.videos.length>0" class="uniq-padd-2">
                <div class="main-mw">
                    <div class="flex--info none-padd-sides-b none-padd-sides-t-without-h">
                        <div class="side side-info side-about ">
                            <h6 class="for-position-left-js">VIDEOS ({{Artist.videos?Artist.videos.length:'-'}})</h6>
                        </div>
                        <div class="side side-info side-contact un-padd-on-1560"></div>
                        <div class="side side-info side-map"></div>
                    </div>
                </div>
             </div> 
             <div *ngIf="Artist.videos.length>0" class="new-photos-wr-scroll-preview ">
                <div class="rel-wr-photoos alboms-play min-h-fix-videos">
                    <div class="photos-abs-wrapp video-abs-wrapp">
                        <div *ngFor="let item of Artist.videos; let i = index" class="one-slide">
                            <div class="wrapp-card">
                                
                                <div (click)="openVideo(item)" class="cover-image" [ngStyle]="{'background-image': 'url('+item.preview+')'}">
                                    <div class="butt-play-video">
                                        <div class="pl"></div>
                                    </div>
                                </div>
                                <div class="descr playing">
                                    <p class="name">{{item.name}}</p>
                                    <p class="date">{{item.album_name}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           <div id="bookingPage" class="uniq-padd-2">
              <div class="main-mw">
                  <div class="flex--info none-padd-sides-b">
                      <div class="side side-info-new-venue-prev side-info side-about">
                          <h6>BOOKING</h6>
                      </div>
                      <div class="side side-info-new-venue-prev side-info side-about"></div>
                  </div>
              </div>
              <div *ngIf="Artist" class="main-mw">
                  <div class="flex--info none-padd-sides-t">
                      <div class="side side-info side-about">
                          <h6>Performance</h6>
                          <p *ngIf="Artist.performance_min_time" class="about-text flexed">
                              <span>Time:</span>
                              <span>{{Artist.performance_min_time}}h - {{Artist.performance_max_time}}h</span>
                          </p>
                          <p *ngIf="Artist.price_from" class="about-text flexed">
                              <span>Performance Price:</span>
                              <span><i [innerHTML]="CurrencySymbol"></i>{{Artist.price_from}}/h - <i [innerHTML]="CurrencySymbol"></i>{{Artist.price_to}}/h</span>
                          </p>
                          <p *ngIf="Artist.additional_hours_price" class="about-text flexed">
                              <span>Performance Price for additional Hours:</span>
                              <span><i [innerHTML]="CurrencySymbol"></i>{{Artist.additional_hours_price}}/h</span>
                          </p>
                      </div>
                      <div class="side side-info side-contact">
                         <h6>Band</h6>
                          <p class="about-text margened">
                            Does {{Artist.is_perform_with_band?'':'not'}} perform with a Band
                          </p>
                           <p class="about-text margened">
                            Can{{Artist.can_perform_without_band?'':'not'}} perform without a Band
                          </p>
                           <p class="about-text margened">
                            Does {{Artist.is_perform_with_backing_vocals?'':'not'}} perform with Backing Vocals
                          </p>
                          <p class="about-text margened">
                            Can{{Artist.can_perform_without_backing_vocals?'':'not'}} perform without Backing Vocals
                          </p>
                          
                      </div>
                      <div class="side side-info side-map">
                          <h6>Preferred Venues</h6>
                          <p *ngIf="Artist&&Artist.preferred_venues" class="about-text margened">
                            <span *ngFor="let ven of Artist.preferred_venues; let last = last">
                                {{
                                    ven.type_of_venue === 'other'?
                                        Artist.preferred_venue_text : 
                                        ven.type_of_venue.replace('_',' ')
                                    | titlecase 
                                }}
                                {{last?'':','}}
                            </span>
                          </p>
                      </div>
                  </div>
                  <div class="flex--info none-padd-sides-t">
                      <div class="side side-info side-about">
                          <h6>Preferred Location</h6>
                          <div *ngIf="Artist.preferred_address" class="location-wr margened">
                              <div class="mark"></div>
                              <p class="location-inp ">
                                {{Artist.preferred_address}}
                              </p>
                          </div>
                          <p *ngIf="Artist.days_to_travel" class="about-text line-height-hig">
                              <span>{{Artist.days_to_travel}} days </span>  notice needed to travel
                          </p>
                      </div>
                      <div class="side side-info side-contact">
                         <h6>Video Streaming Preference</h6>
                          <p *ngIf="Artist&&Artist.is_permitted_to_stream" class="about-text margened">
                            Gives permission to the Venue/Event Organizer to stream performance. 
                          </p>
                          <p *ngIf="Artist&&Artist.is_permitted_to_advertisement" class="about-text margened">
                            Gives permission to the Venue/Event Organizer to have advertisements over streaming performance.
                          </p>
                          <p *ngIf="Artist&&!Artist.has_conflict_contracts" class="about-text margened">
                            Does not have contracts with any Brands that may conflict with advertisements.
                          </p>
                          
                      </div>
                      <div class="side side-info side-map">
                          <h6>Other</h6>
                          <p *ngIf="Artist.min_time_to_book" class="about-text margened">
                            <span>{{Artist.min_time_to_book}} days</span> needed to book before concert.
                          </p>
                          <p *ngIf="Artist.min_time_to_free_cancel" class="about-text margened">
                            <span>{{Artist.min_time_to_free_cancel}} days</span> to cancel before charged a cancellation fee.
                          </p>
                          <p *ngIf="Artist.late_cancellation_fee" class="about-text margened">
                            Fee for last minute Cancellation: <span><i [innerHTML]="CurrencySymbol"></i>{{Artist.late_cancellation_fee}}</span>
                          </p>
                          <p class="about-text margened">
                            <strong> {{Artist&&Artist.refund_policy?Artist.refund_policy:'No Refunds'}}</strong>
                          </p>
                      </div>
                  </div>
              </div>
              <!-- <div class="main-mw">
                  <div class="flex--info none-padd-sides-b">
                      <div class="side side-info-new-venue-prev side-info side-about">
                          <h6>Riders</h6>
                      </div>
                      <div class="side side-info-new-venue-prev side-info side-about"></div>
                  </div>
              </div> -->
               
               <!-- <div class="main-mw-7">
                  <div class="riders-flex-wrapp preview-page">
                      <div class="side">
                          <p class="head-side-riders">Stage Rider</p>
                          <div class="download-upload">
                              <div class="side-dwn">
                                  <a class="dd-ff"  >
                                      <img src="./../../../../assets/img/download.png" class="img-responsive" alt="">
                                  </a>
                                  <p class="desc-side-dwn">название123123123wafgsfdgbslfgblsbdflgbslfgbaslfgblsdbglsbdflgbsldbfglsdфайла</p>
                              </div>
                          </div> -->
                          <!--видимый рейден-->
                          <!-- <p class="desc-rider">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse </p>
                          <p class="desc-rider">
                              <strong>flexible preferences</strong>
                          </p>
                      </div> -->
                      <!--не видимый рейден - добавляем класс "invisible-rider-wrapp"-->
                      <!-- <div class="side invisible-rider-wrapp">
                          <p class="head-side-riders">Backstage Rider</p>
                          <div class="download-upload">
                              <div class="side-dwn">
                                  <a class="dd-ff">
                                      <img src="./../../../../assets/img/download.png" class="img-responsive" alt="">
                                  </a>
                                  <p class="desc-side-dwn">название файла</p>
                              </div>
                          </div> -->
                          <!--не видимый рейден-->
                          <!-- <div class="unvisible-rider">
                              <img src="./../../../../assets/img/eye.jpg" class="img-responsive" alt="">
                              <p class="unvisible-rider-text">It’s not visible until the artist<br> approves</p>
                          </div>
                      </div>
                      <div class="side">
                          <p class="head-side-riders">Hospitality Rider</p>
                          <div class="download-upload"> -->
                              <!--до загрузки файла-->
                              <!-- <div class="side-dwn">
                                  <a class="dd-ff"  >
                                      <img src="./../../../../assets/img/download.png" class="img-responsive" alt="">
                                  </a>
                                  <p class="desc-side-dwn">название файла</p>
                              </div>
                          </div>
                          <p class="desc-rider">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse </p>
                          <p class="desc-rider">
                              <strong>flexible preferences</strong>
                          </p>
                      </div> -->
                      <!--не видимый рейден - добавляем класс "invisible-rider-wrapp"-->
                      <!-- <div class="side invisible-rider-wrapp">
                          <p class="head-side-riders">Technical Rider</p>
                          <div class="download-upload">
                              <div class="side-dwn">
                                  <a class="dd-ff"  >
                                      <img src="./../../../../assets/img/download.png" class="img-responsive" alt="">
                                  </a>
                                  <p class="desc-side-dwn">название файла</p>
                              </div>
                          </div>
                          <div class="unvisible-rider">
                              <img src="./../../../../assets/img/eye.jpg" class="img-responsive" alt="">
                              <p class="unvisible-rider-text">It’s not visible until the artist<br> approves</p>
                          </div>
                      </div> -->








                <!-- 
                  </div>
              </div>  -->
               
               
               
               
               
               
               
               
               
               
               
               
               
               
               
               
               
               
               
               
              </div>
          </div>




<div class="modal fade modal-movie" id="modal-movie">
        <div class="modal-dialog">
            <div class="modal-contant">
                <div class="modal-body">
                    <iframe *ngIf="isVideoOpen" id="video-frame" width="560" height="315" [src]="openVideoLink" frameborder="0" allow="autoplay; encrypted-media" ></iframe>
                </div>
            </div>
        </div>
    </div>   


                <!--photo-galary-->
                <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="pswp__bg"></div>
                    <div class="pswp__scroll-wrap">
                        <div class="pswp__container">
                            <div class="pswp__item"></div>
                            <div class="pswp__item"></div>
                            <div class="pswp__item"></div>
                        </div>
                        <div class="pswp__ui pswp__ui--hidden">
                            <div class="pswp__top-bar">
                                <div class="pswp__counter"></div>
                                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                                <div class="pswp__preloader">
                                    <div class="pswp__preloader__icn">
                                      <div class="pswp__preloader__cut">
                                        <div class="pswp__preloader__donut"></div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                                <div class="pswp__share-tooltip"></div> 
                            </div>
                            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                            </button>
                            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                            </button>
                            <div class="pswp__caption">
                                <div class="pswp__caption__center"></div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--/photo-galary-->