

                        <div *ngIf="Dialog" class="all-main-msg-wrapp">
                            <div class="head-of-msg">
                                <p class="name">{{Dialog.with.first_name}} {{Dialog.with.last_name}}</p>
                                <p class="topic">Topic: <span>{{Dialog.topic|uppercase}}</span></p>
                                <button (click)="deleteDialog()" class="close-msg">
                                    <img src="./../../../../assets/img/admin/support_delete.png" alt="">
                                </button>
                                <!--если нажали Select message-->

                                <div *ngIf="idOpenMenu" class="opt-of-sel-msg">
                                    <button (click)="forwardMessage()" class="duplicate-options">Forward</button>
                                    <button (click)="deleteMessage()" class="duplicate-options">Delete</button>
                                    <button (click)="idOpenMenu = 0" class="duplicate-options">Cancel</button>
                                </div>

                            </div>


                            <div class="msg-list-wr">
                                <div class="msg-list">
                                    <!--сообщения одного дня-->

                                    <ng-container *ngIf="Dialog&&!Dialog.is_forwarded">
                                      <div *ngFor="let item of Messages; let i = index" class="some-day">
                                          <p class="head-day">{{item.date|date:'dd MMM yyyy'}}</p>
                                          <!--не мои сообщения-->
                                          <ng-container *ngFor="let message of item.messages">
                                            <div *ngIf="message && message.sender_id !== User.id" class="not-my-msg">
                                                <div class="ava-wr">
                                                    <div class="ava" [ngStyle]="{'background-image': 'url('+Dialog.with.image+')'}"></div>
                                                </div>
                                                <div class="text-msg-wrapp">
                                                    <!--если выбран добавляем класс selected-msg -->
                                                    <div (click)="idOpenMenu = message.id" class="one-msg">{{message.message}}
                                                        <!--
                                                        появляется при клике на сообщение    -->
                                                        <div *ngIf="idOpenMenu === message.id" class="abs-settings-msg">
                                                            <button (click)="forwardMessage()">Forward message</button>
                                                            <button (click)="deleteMessage()">Delete message</button>
                                                            <!-- <button (click)="isOpenMenu = 0">Cancel</button> -->
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <!--мои сообщения-->
                                            <div *ngIf="message.sender_id === User.id" class="my-msg">
                                                <p (click)="idOpenMenu = message.id" class="one-msg">{{message.message}}</p>
                                            </div>
                                          </ng-container>
                                      </div>

                                      <ng-container *ngIf="false">
                                      <div class="some-day">
                                          <p class="head-day">9 May 2018</p>
                                          <!--не мои сообщения-->
                                          <div class="not-my-msg">
                                              <div class="ava-wr">
                                                  <div class="ava" [ngStyle]="{'background-image': 'url('+Dialog.with.image+')'}"></div>
                                              </div>
                                              <div class="text-msg-wrapp">
                                                  <!--если выбран добавляем класс selected-msg -->
                                                  <div class="one-msg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                                      <!--
                                                      появляется при клике на сообщение
                                                      <div class="abs-settings-msg">
                                                          <button>Forward message</button>
                                                          <button>Delete message</button>
                                                          <button>Select message</button>
                                                      </div>
  -->

                                                  </div>
                                                  <div class="one-msg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
  <!--
                                                      появляется при клике на сообщение
                                                      <div class="abs-settings-msg">
                                                          <button>Forward message</button>
                                                          <button>Delete message</button>
                                                          <button>Select message</button>
                                                      </div>
  -->
                                                  </div>
                                              </div>
                                          </div>
                                          <!--мои сообщения-->
                                          <div class="my-msg">
                                              <p class="one-msg">Что ты за хуйню пишешь?</p>
                                              <p class="one-msg">Больной ублюдок</p>
                                          </div>
                                      </div>


                                      <div class="some-day">
                                          <p class="head-day">Today</p>
                                          <!--не мои сообщения-->
                                          <div class="not-my-msg">
                                              <div class="ava-wr">
                                                  <div class="ava" [ngStyle]="{'background-image': 'url('+Dialog.with.image+')'}"></div>
                                              </div>
                                              <div class="text-msg-wrapp">
                                                  <div class="one-msg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                                      <!--
                                                      появляется при клике на сообщение
                                                      <div class="abs-settings-msg">
                                                          <button>Forward message</button>
                                                          <button>Delete message</button>
                                                          <button>Select message</button>
                                                      </div>
  -->
                                                  </div>

                                              </div>
                                          </div>

                                      </div>


                                      <div class="some-day">
                                          <p class="head-day">8 May 2018</p>
                                          <!--не мои сообщения-->
                                          <div class="not-my-msg">
                                              <div class="ava-wr">
                                                  <div class="ava" [ngStyle]="{'background-image': 'url('+Dialog.with.image+')'}"></div>
                                              </div>
                                              <div class="text-msg-wrapp">
                                                  <div class="one-msg">
                                                      <!--span при форвардном сообщении-->
                                                      <span>Forwarded from Vladislava Makhankova</span>
                                                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore

                                                    <!-- появляется при клике на сообщение
                                                      <div class="abs-settings-msg">
                                                          <button>Forward message</button>
                                                          <button>Delete message</button>
                                                          <button>Select message</button>
                                                      </div>
  -->
                                                  </div>

                                              </div>
                                          </div>

                                      </div>
                                      </ng-container>
                                    </ng-container>


                                    <!--далее диз только для сообщений с топиком bug-->

                                    <ng-container *ngIf="Dialog&&Dialog.is_forwarded">
                                      <div *ngFor="let item of Messages; let i = index" class="some-day">
                                          <p class="head-day">{{item.date|date:'dd MMM yyyy'}}</p>
                                          <!--не мои сообщения-->
                                          <ng-container *ngFor="let message of item.messages">
                                            <div *ngIf="message.forwarded_from" class="bug-style-msg">
                                                <div class="info-user">
                                                    <div class="ava" [ngStyle]="{'background-image': 'url('+Dialog.with.image+')'}"></div>
                                                    <div class="r-s">
                                                        <p class="name">{{Dialog.with.first_name}} {{Dialog.with.last_name}}</p>
                                                        <p class="mouse-name"><span>@</span>{{Dialog.with.user_name}}</p>
                                                    </div>
                                                </div>
                                                <div class="text-msg-wrapp">
                                                    <span class="comment">{{message.message}}</span>
                                                    <div class="one-msg">
                                                        <!--span при форвардном сообщении-->
                                                        <span>Forwarded from {{message.forwarded_from.user_name}}</span>
                                                        {{message.forwarded_message}}
                                                    </div>
                                                    <div class="butt-wrapper-solved">
                                                        <button *ngIf="!Dialog.is_solved" (click)="solvedMessage()">Solve</button>
                                                        <!--if solved-->
                                                         <p *ngIf="Dialog.is_solved">Solved</p>

                                                    </div>

                                                </div>
                                            </div>

                                          <div class="bug-style-msg">
                                              <div *ngIf="message && message.sender_id !== User.id" class="info-user">
                                                  <div class="ava" [ngStyle]="{'background-image': 'url('+Dialog.with.image+')'}"></div>
                                                  <div class="r-s">
                                                      <p class="name">{{Dialog.with.first_name}} {{Dialog.with.last_name}}</p>
                                                      <p class="mouse-name"><span>@</span>{{Dialog.with.user_name}}</p>
                                                  </div>
                                              </div>
                                              <div *ngIf="message.sender_id === User.id" class="info-user">
                                                  <div class="ava" [ngStyle]="{'background-image': 'url('+User.image+')'}"></div>
                                                  <div class="r-s">
                                                      <p class="name">{{User.first_name}} {{User.last_name}}</p>
                                                      <p class="mouse-name"><span>@</span>{{User.user_name}}</p>
                                                  </div>
                                              </div>
                                              <div class="text-msg-wrapp">
                                                  <span class="comment">{{message.message}}</span>
                                              </div>
                                          </div>
                                        </ng-container>
                                      </div>
                                    </ng-container>




                                </div>
                            </div>




                            <form class="msg-send-form">
                                <input type="text" [(ngModel)]="Answer" name="Answer" class="msg-input" placeholder="Write a message...">
                                <div class="feedback_buts">
                                    <button (click)="sendMessage()" type="submit">Send</button>
                                </div>
                            </form>
                        </div>




                    <!-- </div> -->
