

                        <div class="all-main-msg-wrapp">
                            <div class="head-of-msg">
                                <p class="name">Vladislava Makhankova</p>
                                <p class="topic">Topic: <span>FAQ</span></p>
                                <button class="close-msg">
                                    <img src="./../../../../assets/img/admin/support_delete.png" alt="">
                                </button>
                                <!--если нажали Select message-->
<!--
                                <div class="opt-of-sel-msg">
                                    <button class="duplicate-options">Forward</button>
                                    <button class="duplicate-options">Delete</button>

                                </div>
-->
                            </div>
                            <div class="msg-list-wr">
                                <div class="msg-list">
                                    <!--сообщения одного дня-->
                                    <div class="some-day">
                                        <p class="head-day">9 May 2018</p>
                                        <!--не мои сообщения-->
                                        <div class="not-my-msg">
                                            <div class="ava-wr">
                                                <div class="ava" style="background-image: url(./../../../../assets/img/drake.jpg)"></div>
                                            </div>
                                            <div class="text-msg-wrapp">
                                                <!--если выбран добавляем класс selected-msg -->
                                                <div class="one-msg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                                    <!--
                                                    появляется при клике на сообщение
                                                    <div class="abs-settings-msg">
                                                        <button>Forward message</button>
                                                        <button>Delete message</button>
                                                        <button>Select message</button>
                                                    </div>
-->

                                                </div>
                                                <div class="one-msg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
<!--
                                                    появляется при клике на сообщение
                                                    <div class="abs-settings-msg">
                                                        <button>Forward message</button>
                                                        <button>Delete message</button>
                                                        <button>Select message</button>
                                                    </div>
-->
                                                </div>
                                            </div>
                                        </div>
                                        <!--мои сообщения-->
                                        <div class="my-msg">
                                            <p class="one-msg">Что ты за хуйню пишешь?</p>
                                            <p class="one-msg">Больной ублюдок</p>
                                        </div>
                                    </div>
                                    <div class="some-day">
                                        <p class="head-day">Today</p>
                                        <!--не мои сообщения-->
                                        <div class="not-my-msg">
                                            <div class="ava-wr">
                                                <div class="ava" style="background-image: url(./../../../../assets/img/drake.jpg)"></div>
                                            </div>
                                            <div class="text-msg-wrapp">
                                                <div class="one-msg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                                    <!--
                                                    появляется при клике на сообщение
                                                    <div class="abs-settings-msg">
                                                        <button>Forward message</button>
                                                        <button>Delete message</button>
                                                        <button>Select message</button>
                                                    </div>
-->
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="some-day">
                                        <p class="head-day">8 May 2018</p>
                                        <!--не мои сообщения-->
                                        <div class="not-my-msg">
                                            <div class="ava-wr">
                                                <div class="ava" style="background-image: url(./../../../../assets/img/drake.jpg)"></div>
                                            </div>
                                            <div class="text-msg-wrapp">
                                                <div class="one-msg">
                                                    <!--span при форвардном сообщении-->
                                                    <span>Forwarded from Vladislava Makhankova</span>
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                                    <!--
                                                    появляется при клике на сообщение
                                                    <div class="abs-settings-msg">
                                                        <button>Forward message</button>
                                                        <button>Delete message</button>
                                                        <button>Select message</button>
                                                    </div>
-->
                                                </div>

                                            </div>
                                        </div>

                                    </div>


                                    <!--далее диз только для сообщений с топиком bug-->


                                    <div class="some-day">
                                        <p class="head-day">8 May 2018</p>
                                        <!--не мои сообщения-->
                                        <div class="bug-style-msg">
                                            <div class="info-user">
                                                <div class="ava" style="background-image: url(./../../../../assets/img/drake.jpg)"></div>
                                                <div class="r-s">
                                                    <p class="name">Poman Lenlo</p>
                                                    <p class="mouse-name"><span>@</span>Admin1</p>
                                                </div>
                                            </div>
                                            <div class="text-msg-wrapp">
                                                <span class="comment">Please solve this problem</span>
                                                <div class="one-msg">
                                                    <!--span при форвардном сообщении-->
                                                    <span>Forwarded from Vladislava Makhankova</span>
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                                </div>
                                                <div class="butt-wrapper-solved">
                                                    <button>Solved</button>
                                                    <!--if solved-->
<!--                                                    <p>Solved</p>-->

                                                </div>

                                            </div>
                                        </div>
                                        <div class="bug-style-msg">
                                            <div class="info-user">
                                                <div class="ava" style="background-image: url(./../../../../assets/img/drake.jpg)"></div>
                                                <div class="r-s">
                                                    <p class="name">Poman Lenlo</p>
                                                    <p class="mouse-name"><span>@</span>Admin1</p>
                                                </div>
                                            </div>
                                            <div class="text-msg-wrapp">
                                                <span class="comment">Complete</span>
                                            </div>
                                        </div>

                                    </div>




                                </div>
                            </div>
                            <form class="msg-send-form">
                                <input type="text" class="msg-input" placeholder="Write a message...">
                                <div class="feedback_buts">
                                    <button type="submit">Send</button>
                                </div>
                            </form>
                        </div>




                    <!-- </div> -->
