<div class="admin_content whole_white">
            <div class="main-feed-wrapp">

                <div class="middle-feed f-m-h">
                    <p class="feed-text">Notifications</p>
                    <div class="feed-items">
                        <ng-container  *ngFor="let item of Feed">
                        <div class="feed-item">
                          <!-- *ngIf="item.action === 'new_admin'" -->
                          <app-new-admin *ngIf="item.action === 'new_admin'"></app-new-admin>
                          <app-new-bug [Bug]="item" *ngIf="item.action === 'new_bug'" (onOpenForward)="openForward($event)"></app-new-bug>
                          <app-new-users *ngIf="item.action === 'new_users'"></app-new-users>
                        </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>

<div class="modal fade modal-send-request new-modal-inv who-going-modal for-forward-admin" id="forward">
        <div class="modal-dialog">
            <div class="modal-body">
                <h6 class="head-m-p-a">Forward</h6>
                <div class="close-modal" data-dismiss="modal"></div>
                <div class="content-modal">
                    <div class="padd-left-right">

                         <div class="hard_addresses">
                            <label>Topic</label>
                             <!--has-arror если не заполнено поле в topic-autocomlete-->
                            <div class="addresses">
                                <div class="addr_labels">
                                    <input [(ngModel)]="ForwardMessage.topic" type="text" class="topic-autocomlete">
                                    <button class="open-autocomplete"></button>
                                </div>
<!--
                                <div class="addresses_list">
                                    <div class="adr">BUG</div>
                                    <div class="adr">some topic</div>

                                </div>
-->

                            </div>
                        </div>
                        <div class="flex-people">
                            <div *ngFor="let admin of AdminsList" (click)="sendForward(admin.id)" class="one-p">
                                <div class="ava" style="background-image: url(./../../../../assets/img/drake.jpg)"></div>
                                <p class="name">{{admin.user_name}}</p>
                                <!-- <p class="surname">Bulok</p> -->
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
