<section *ngIf="Accounts" class="admin_table_nav">
  <span (click)="deleteAll()" class="admin_delete"><img src="./../../../assets/img/admin/delete.svg" alt=""></span>
  <span (click)="openInNewTabs()" class="admin_look"><img src="./../../../assets/img/admin/look.svg" alt=""></span>
  <div class="table_filter">
      <div class="table_search"><input (input)="filterAccs($event)" type="text" placeholder="Search"></div>
      <div class="filter_checkbox">
          <input type="radio" id="fan_acc" name="accs_type" value="fan" [(ngModel)]="TypeAcc" (ngModelChange)="filterAccs()">
          <label for="fan_acc"></label>
          <span>Fan</span>
      </div>
      <div class="filter_checkbox">
          <input type="radio" id="venue_acc" name="accs_type" value="venue" [(ngModel)]="TypeAcc" (ngModelChange)="filterAccs()">
          <label for="venue_acc"></label>
          <span>Venue</span>
      </div>
      <div class="filter_checkbox">
          <input type="radio" id="artist_acc" name="accs_type" value="artist" [(ngModel)]="TypeAcc" (ngModelChange)="filterAccs()">
          <label for="artist_acc"></label>
          <span>Artist</span>
      </div>
      <div class="filter_checkbox">
          <input type="radio" id="all_acc" name="accs_type" value="all" [(ngModel)]="TypeAcc" (ngModelChange)="filterAccs()">
          <label for="all_acc"></label>
          <span>All</span>
      </div>
  </div>
</section>

<section *ngIf="Events" class="admin_table_nav">
                <span (click)="deleteAll()" class="admin_delete"><img src="./../../../assets/img/admin/delete.svg" alt=""></span>
                <span (click)="openInNewTabs()" class="admin_look"><img src="./../../../assets/img/admin/look.svg" alt=""></span>
                <div class="table_filter">
                    <div class="table_search"><input (input)="filterEvents($event)" type="text" placeholder="Search"></div>
                    <div class="filter_checkbox">
                        <input type="radio" id="fan_acc" name="event_type" value="crowdfunding" [(ngModel)]="TypeEvent" (ngModelChange)="filterEvents()">
                        <label for="fan_acc"></label>
                        <span>Crowdfund</span>
                    </div>
                    <div class="filter_checkbox">
                        <input type="radio" id="venue_acc" name="event_type" value="regular" [(ngModel)]="TypeEvent" (ngModelChange)="filterEvents()">
                        <label for="venue_acc"></label>
                        <span>Regular</span>
                    </div>
                    <div class="filter_checkbox">
                        <input type="radio" id="all_acc" name="event_type" value="all" [(ngModel)]="TypeEvent" (ngModelChange)="filterEvents()">
                        <label for="all_acc"></label>
                        <span>All</span>
                    </div>
                </div>
            </section>
<section>

  <div class="admin_table" [ngClass]="{'accounts_table':Accounts, 'accounts_table_with_by':isApprovedBy, 'events_table':Events, 'events_table_with_by':isApprovedBy }">
      <div  *ngIf="Accounts" class="admin_table_thead">
          <div class="admin_table_th check_column"><img src="./../../../assets/img/admin/table_check_th.svg" alt=""></div>
          <div class="admin_table_th">Date received</div>
          <div class="admin_table_th">Name</div>
          <div class="admin_table_th">Account</div>
          <div class="admin_table_th">Address</div>
          <div class="admin_table_th">Status</div>
          <div *ngIf='isApprovedBy' class="admin_table_th">{{status}} by</div>
      </div>
      <div  *ngIf="Events" class="admin_table_thead">
            <div class="admin_table_th check_column"><img src="./../../../assets/img/admin/table_check_th.svg" alt=""></div>
            <div class="admin_table_th">Date received</div>
            <div class="admin_table_th">Event Name</div>
            <div class="admin_table_th">Event Date</div>
            <div class="admin_table_th">Place</div>
            <div class="admin_table_th">Funding Type</div>
            <div class="admin_table_th">Status</div>
            <div *ngIf='isApprovedBy' class="admin_table_th">{{status}} by</div>
        </div>
      <div *ngIf="Accounts" class="admin_table_tbody" infinite-scroll 
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="200"
      (scrolled)="onScrollArtist()"
      [infiniteScrollDisabled]="ScrollArtistDisabled">
          <ng-container *ngFor="let acc of AccountsChecked; let i = index">
            <div *ngIf="status=='all'||acc.status===status||(acc.status==='just_added'&&status==='new')" class="admin_table_tr">
                <div class="admin_table_td check_column">
                    <div class="admin_table_checkbox">
                        <input (change)="checkIdToOpen(acc.id)" type="checkbox" id="new_acc_{{i}}">
                        <label for="new_acc_{{i}}"></label>
                    </div>
                </div>
                <div class="admin_table_td"><span>{{acc.created_at|date:'dd.MM.yyyy'}}</span></div>
                <div (click)="openAccount(acc.id)" class="admin_table_td account"  style="cursor: pointer;">
                        <!-- style="background-image: url(./../../../assets/img/admin/example_revenue_event.jpg); min-width: 37px;" -->
                    <span class="acc_ava" style="min-width: 37px;" [ngStyle]="getImage(acc.image_id)"></span>
                    <span>{{acc.full_name}}</span>
                </div>
                <div class="admin_table_td"><span>{{acc.account_type|titlecase}}</span></div>
                <div class="admin_table_td"><span>{{acc.address}}</span></div>
                <div class="admin_table_td text-uppercase"><span [ngClass]="{'status_pending':acc.status=='pending','status_approved':acc.status=='approved','status_new':acc.status=='new','status_denied':acc.status=='denied','status_inactive':acc.status=='inactive'}">{{acc.status|titlecase}}</span></div>
                <div *ngIf='isApprovedBy' class="admin_table_td"><span>{{acc.processed_by}}</span></div>
            </div>
          </ng-container>
          <!-- При выделении чекбокса добавляется класс CHECKED: -->
          
      </div>

      <div *ngIf="Events" class="admin_table_tbody">
            <ng-container *ngFor="let event of EventsChecked; let i = index">
              <div *ngIf="status=='all'||event.status===status||(event.status==='just_added'&&status==='new')" class="admin_table_tr">
                  <div class="admin_table_td check_column">
                      <div class="admin_table_checkbox">
                          <input (change)="checkIdToOpen(event.id)" type="checkbox" id="new_acc_{{i}}">
                          <label for="new_acc_{{i}}"></label>
                      </div>
                  </div>
                  <div class="admin_table_td"><span>{{event.received_date|date:'dd.MM.yyyy'}}</span></div>
                  <div (click)="openEvent(event.id)" class="admin_table_td account" style="cursor: pointer;">
                      <!-- <span class="acc_ava" style="background-image: url(./../../../assets/img/admin/example_revenue_event.jpg)"></span> -->
                      <span>{{event.name}}</span>
                  </div>
                  <div class="admin_table_td"><span>{{event.date_from|date:'dd.MM.yyyy'}}</span></div>
                  <div class="admin_table_td"><span>{{event.address}}</span></div>
                  <div class="admin_table_td"><span>{{event.is_crowdfunding_event?'Crowdfund':'Regular'}}</span></div>
                  <div class="admin_table_td text-uppercase"><span [ngClass]="{'status_pending':event.status=='pending','status_approved':event.status=='approved','status_new':event.status=='new','status_denied':event.status=='denied','status_inactive':event.status=='inactive'}">{{event.status.replace('_',' ')}}</span></div>
                  <div *ngIf='isApprovedBy' class="admin_table_td"><span>{{event.processed_by}}</span></div>
              </div>
            </ng-container>
            <!-- При выделении чекбокса добавляется класс CHECKED: -->
        </div>
  </div>
</section>