<ng-container *ngIf="CurrentAccount.account_type === 'artist'">
  <div class="main-mw">
      <div class="create-event-body">
          <div class="head-ev-body">
              <h2 class="title" translate>Artist-create.Calendar</h2>
          </div>

      </div>
  </div>


  <div class="calendar-add-artist">
      <div class="one-calendar-block">
        <app-tiny-calendar-preview #calendar [selectedDates]='DisabledDates' [eventDates]="EventDates" ></app-tiny-calendar-preview>
      </div>
      <div class="bg-doted-cal"></div>


  </div>
</ng-container>

<ng-container *ngIf="CurrentAccount.account_type === 'venue'">
  <div class="main-mw">
        <div class="create-event-body">
            <div class="head-ev-body">
                <h2 class="title" translate>Venue.Dates-folder.dateava</h2>
            </div>
        </div>
  </div>
  <div class="main-mw-5">

        <div class="tabs-venue-wrapp">
            <!--теже табы для ngif-->

            <div class="one-tab">
                <div class="one-tab-flex sm-style-my alighn-items">
                    <div class="side">
                        <div class="filter-venue">
                            <div class="content-bodal input-groupe-1">
                                <span class="head-type-inp" translate translate>Venue.Dates-folder.Advance Notice</span>
                                <span class="head-type-inp grey" translate>Venue.Dates-folder.Minimum advance notice you prefer before booking an event date?</span>
                                <!-- <div class="flex-day-weeks-month"> -->
                                    <notice-input-preview [Days]="Venue.minimum_notice"></notice-input-preview>
                                    <!-- <input id="venue-dateform-1" [textMask]="GetMinimumNoticeMask()" [(ngModel)]="Venue.minimum_notice" formControlName="minimum_notice" name="" type="text"> -->
                                    <!-- <span class="days-span-label">Days</span> -->
                                    <!-- <div class="mat-w">
                                        <mat-form-field>
                                            <mat-select formControlName="minimum_notice_text" [(ngModel)]="type_min_time_to_book">
                                                <mat-option value="days">Days</mat-option>
                                                <mat-option value="weeks">Weeks</mat-option>
                                                <mat-option value="months">Months</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div> -->
                                <!-- </div> -->
                            </div>
                            <div class="content-bodal input-groupe-1">
                                <div class="flex-mac-checkbox">
                                    <span class="head-type-inp grey" translate>Venue.Dates-folder.Is this Flexible?</span>
                                    <div class="yes-no">
                                        <span translate>No</span>
                                        <div class="mac-checkbox">
                                            <input class="checkbox" [(ngModel)]="Venue.is_flexible" checked="" type="checkbox" id="checkbox-set-flexible">
                                            <label for="checkbox-set-flexible"></label>
                                        </div>
                                        <span translate>Yes</span>
                                    </div>
                                </div>
                                <!-- <select>
                                    <option>Yes</option>
                                    <option>No</option>

                                </select> -->
                            </div>
                            <div class="input-groupe-1">
                                <div class="rel-wr">
                                    <span class="abs-backs black" [innerHTML]="CurIcons[MyCurrency]"></span>
                                    <input id="inp-calendar-1" class="dollar" [textMask]="GetPerfomancePriceMask()" [(ngModel)]="Venue.price_for_daytime" name="" type="text">
                                </div>
                                <label id="inp-calendar-1" translate>Venue.Dates-folder.Price for Daytime (7AM - 7PM)</label>
                            </div>
                            <div class="input-groupe-1">
                                <div class="rel-wr">
                                    <span class="abs-backs black" [innerHTML]="CurIcons[MyCurrency]"></span>
                                    <input id="inp-calendar-2" class="dollar" [textMask]="GetPerfomancePriceMask()" [(ngModel)]="Venue.price_for_nighttime" name="" type="text">
                                </div>
                                <label id="inp-calendar-2" translate>Venue.Dates-folder.Price for Nighttime (7PM - 7AM)</label>
                            </div>
                            <div class="input-groupe-1 venue-week-cal-style">
                                <div class="week-day-time-wr none-margin-padd">

                                    <div class="from-to">
                                        <span class="from-to-width-1560" translate>Venue.hours-folder.From</span>
                                        <div class="fix-mat-width-uniq">
                                            <time-input [Time]="Venue.performance_time_from" (onTimeChange)="Venue.performance_time_from = $event"></time-input>
                                        </div>
                                        <!-- <input class="inp-style-3 time-mask" [textMask]="GetPerformanceFromTimeMask(Venue)"  autocomplete="off" type="text" [(ngModel)]="Venue.performance_time_from" formControlName="performance_time_from"> -->
                                    </div>
                                    <div class="from-to">
                                        <span class="from-to-width-1560" translate>Venue.hours-folder.To</span>
                                        <div class="fix-mat-width-uniq">
                                            <time-input [Time]="Venue.performance_time_to" (onTimeChange)="Venue.performance_time_to = $event"></time-input>
                                        </div>
                                        <!-- <input class="inp-style-3 time-mask" [textMask]="GetPerformanceToTimeMask(Venue)"   autocomplete="off" type="text" [(ngModel)]="Venue.performance_time_to" formControlName="performance_time_to"> -->
                                    </div>
                                </div>
                                <label translate>Venue.Dates-folder.Performance time</label>
                            </div>
                        </div>
                    </div>
                   <div class="side width-66">
                        <app-big-calendar-preview #calendar [allDaysPriceDay]="Venue.price_for_daytime"
                            [allDaysPriceNight]="Venue.price_for_nighttime"
                            [selectedDates]="disabledDays"
                            [eventDates]="eventsDates"
                            [changedPrice]="changedPrice"
                            [CurrencyIcon]="CurIcons[MyCurrency]"></app-big-calendar-preview>
                    </div>
                </div>
            </div>
        </div>
  </div>
</ng-container>

<div class="places-list">
  <div class="item-list">
    <img src="./../../../assets/img/show.png">
    <div class="info">
      <p class="name">NAME</p>
      <p>December 12, 2018</p>
    </div>
  </div>
 <div class="item-list">
    <img src="./../../../assets/img/show.png">
    <div class="info">
      <p class="name">NAME</p>
      <p>December 12, 2018</p>
    </div>
  </div>
  <div class="item-list">
    <img src="./../../../assets/img/show.png">
    <div class="info">
      <p class="name">NAME</p>
      <p>December 12, 2018</p>
    </div>
  </div>
  <div class="item-list">
    <img src="./../../../assets/img/show.png">
    <div class="info">
      <p class="name">NAME</p>
      <p>December 12, 2018</p>
    </div>
  </div>
  <div class="item-list">
    <img src="./../../../assets/img/show.png">
    <div class="info">
      <p class="name">NAME</p>
      <p>December 12, 2018</p>
    </div>
  </div>
  <div class="item-list">
    <img src="./../../../assets/img/show.png">
    <div class="info">
      <p class="name">NAME</p>
      <p>December 12, 2018</p>
    </div>
  </div>
  <div class="item-list">
    <img src="./../../../assets/img/show.png">
    <div class="info">
      <p class="name">NAME</p>
      <p>December 12, 2018</p>
    </div>
  </div>
</div>
