<section class="main-router-outlet">
    <!---->
    <section class="login-register">
        <div class="register">
            <div class="m-v-reg">
                <form class="reg-wr">
                    <h3>General info</h3>
                    <div class="for-flex">
                        <div class="photo-wr-1">
                            <label class="file_upload">
                                <div class="bg-image"></div>
                                <p>Add photo</p>
                                <input accept=".jpg, .jpeg, .png" type="file">
                            </label>
                            <!--появляется этот блок если загружена фотка и в стайл бекграунд имейдж ебануть-->
                            <!--<div class="bg-image uploaded"></div>-->
                            <!---->
                        </div>
                        <div class="side left-side">
                            <input class="inp-style-2" type="text" placeholder="Phone">
                            <input class="inp-style-2" type="text" placeholder="Location">
                        </div>
                        <div class="side right-side">
                            <input class="inp-style-2" type="text" placeholder="Username">
                            <input class="inp-style-2" type="text" placeholder="Email address">
                            <input class="inp-style-2" type="password" placeholder="Password">
                            <input class="inp-style-2" type="password" placeholder="Verify password">
                        </div>
                    </div>
                    
                    <h3 class="marg30">select your favourite genres</h3>
                    <div class="search-wr">
                       
                        <input type="text" class="inp-style-1" placeholder="Search">
                    </div>
                    <div class="flex-checkboxes">
                        <!--при for обращаем внимания на for у label и id у инпута-->
                        <div class="one-checkbox">
                            <div class="check-style">
                                <input type="checkbox" class="checkbox" name="" id="checkbox-1">
                                <label for="checkbox-1"></label>
                            </div>
                            <p>hip hop</p>
                        </div>
                        <div class="one-checkbox">
                            <div class="check-style">
                                <input type="checkbox" class="checkbox" name="" id="checkbox-2">
                                <label for="checkbox-2"></label>
                            </div>
                            <p>hip hop</p>
                        </div>
                        <div class="one-checkbox">
                            <div class="check-style">
                                <input type="checkbox" class="checkbox" name="" id="checkbox-3">
                                <label for="checkbox-3"></label>
                            </div>
                            <p>hip hop</p>
                        </div>
                    </div>
                    <p class="more"><span>See more</span></p>
                    <div class="continue-wr">
                        <button class="butt-style-1" type="submit"><span>Continue</span></button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</section>