<!-- <div class="iframe-slider-wrapp" *ngIf="Images && Images.length > 0 && isShow"> -->
    <!--это слайды с видосами-->
    <!-- <ng-container *ngFor="let item of Images"> -->
        <!-- <div class="slide" *ngIf="item"> -->
            <!-- <div class="iframe-wr" [ngStyle]="{'background-image': 'url('+ item +')'}"> -->
                <!-- <iframe class="youtube-video" enablejsapi="1" [src]="VideoPath" allowfullscreen></iframe> -->
            <!-- </div> -->
        <!-- </div> -->
        <!-- <show-video-slide [Artist]=item></show-video-slide> -->
    <!-- </ng-container> -->
<!-- </div> -->
<ng-container *ngIf="Images && Images.length > 0">
    <button type="button" (click)="changeSlide(-1)" class="slick-prev prev-b slick-arrow"></button>
    <slideshow #slideshow [showArrows]="false" [minHeight]="'525px'" [imageUrls]="Images"></slideshow>
    <button type="button" (click)="changeSlide(1)" class="slick-next next-b slick-arrow"></button>
</ng-container>