<div class="shows-main-wrapp grey-bg mainWrapper">
    <div class="main-mw flexed-search">
        <div class="results-left-side">
            <div class="wrapp-for-filter">
                <form>
                    <input type="text" class="inp-style-1" placeholder="Search">



                    <div class="groupe-form">
                        <p class="head-input-groupe">Genre</p>
                        <div class="flex-radio">
                            <div class="one-radio">
                                <div class="radio-style">
                                    <input type="radio" class="radio-b" id="radio-1"  name="group1" value="all" checked>
                                    <label for="radio-1"></label>
                                </div>
                                <p>All</p>
                            </div>
                            <div class="one-radio">
                                <div class="radio-style">
                                    <input type="radio" class="radio-b" id="radio-2" name="group1" value="venues">
                                    <label for="radio-2"></label>
                                </div>
                                <p>Venues</p>
                            </div>
                            <div class="one-radio">
                                <div class="radio-style">
                                    <input type="radio" class="radio-b" id="radio-3" name="group1" value="fans">
                                    <label for="radio-3"></label>
                                </div>
                                <p>Fans</p>
                            </div>
                            <div class="one-radio">
                                <div class="radio-style">
                                    <input type="radio" class="radio-b" id="radio-4" name="group1" value="shows">
                                    <label for="radio-4"></label>
                                </div>
                                <p>Shows</p>
                            </div>
                            <div class="one-radio">
                                <div class="radio-style">
                                    <input type="radio" class="radio-b" id="radio-5" name="group1" value="artists">
                                    <label for="radio-5"></label>
                                </div>
                                <p>Artists</p>
                            </div>
                        </div>

                    </div>
                    <div class="groupe-form">
                        <p class="head-input-groupe">Region</p>
                        <input type="text" class="inp-style-3" placeholder="Choose a country">
                    </div>
                    <div class="groupe-form">
                        <p class="head-input-groupe">City</p>
                        <input type="text" class="inp-style-3" placeholder="Choose a city">
                    </div>
                </form>

            </div>

        </div>
        <div class="results-right-side">
            <div class="head-shows">
                <button class="ham-ham">
                    <div class="ham"></div>
                    <div class="ham"></div>
                    <div class="ham"></div>
                </button>

                <h1>Search Results</h1>
            </div>
            <div class="search-results-wrapper all">
                <div class="genre-head">
                    <p>Fans (55)</p>
                    <button>SHOW ALL</button>
                </div>
                <div class="block-of-genre-search">
                    <div class="one-obj">
                        <a href="#" class="click-link">
                            <div class="ava"></div>
                            <div class="descr">
                                <p class="name">Danielqwe qwe qwe le Green</p>
                                <p class="mouse-name"><span>@</span>CoolDanielle</p>
                            </div>
                        </a>
                    </div>
                    <div class="one-obj">
                        <a href="#" class="click-link">
                            <div class="ava"></div>
                            <div class="descr">
                                <p class="name">Danielle Green</p>
                                <p class="mouse-name"><span>@CoolDanielle</span></p>
                            </div>
                        </a>
                    </div>
                    <div class="one-obj">
                        <a href="#" class="click-link">
                            <div class="ava"></div>
                            <div class="descr">
                                <p class="name">Danielle Green</p>
                                <p class="mouse-name"><span>@CoolDanielle</span></p>
                            </div>
                        </a>
                    </div>
                    <div class="one-obj">
                        <a href="#" class="click-link">
                            <div class="ava"></div>
                            <div class="descr">
                                <p class="name">Danielle Green</p>
                                <p class="mouse-name"><span>@CoolDanielle</span></p>
                            </div>
                        </a>
                    </div>
                    <div class="one-obj">
                        <a href="#" class="click-link">
                            <div class="ava"></div>
                            <div class="descr">
                                <p class="name">Danielle Green</p>
                                <p class="mouse-name"><span>@CoolDanielle</span></p>
                            </div>
                        </a>
                    </div>
                    <div class="one-obj">
                        <a href="#" class="click-link">
                            <div class="ava"></div>
                            <div class="descr">
                                <p class="name">Danielle Green</p>
                                <p class="mouse-name"><span>@CoolDanielle</span></p>
                            </div>
                        </a>
                    </div>
                     <div class="one-obj">
                        <a href="#" class="click-link">
                            <div class="ava"></div>
                            <div class="descr">
                                <p class="name">Danielle Green</p>
                                <p class="mouse-name"><span>@</span>CoolDanielle</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="genre-head">
                    <p>Artists (55)</p>
                    <button>SHOW ALL</button>
                </div>
                <div class="block-of-genre-search">
                    <div class="one-obj">
                        <a href="#" class="click-link">
                            <div class="ava"></div>
                            <div class="descr">
                                <p class="name">Danielqwe qwe qwe le Green</p>
                                <p class="mouse-name"><span>@</span>CoolDanielle</p>
                            </div>
                        </a>
                    </div>
                    <div class="one-obj">
                        <a href="#" class="click-link">
                            <div class="ava"></div>
                            <div class="descr">
                                <p class="name">Danielle Green</p>
                                <p class="mouse-name"><span>@CoolDanielle</span></p>
                            </div>
                        </a>
                    </div>
                    <div class="one-obj">
                        <a href="#" class="click-link">
                            <div class="ava"></div>
                            <div class="descr">
                                <p class="name">Danielle Green</p>
                                <p class="mouse-name"><span>@CoolDanielle</span></p>
                            </div>
                        </a>
                    </div>
                    <div class="one-obj">
                        <a href="#" class="click-link">
                            <div class="ava"></div>
                            <div class="descr">
                                <p class="name">Danielle Green</p>
                                <p class="mouse-name"><span>@CoolDanielle</span></p>
                            </div>
                        </a>
                    </div>
                    <div class="one-obj">
                        <a href="#" class="click-link">
                            <div class="ava"></div>
                            <div class="descr">
                                <p class="name">Danielle Green</p>
                                <p class="mouse-name"><span>@CoolDanielle</span></p>
                            </div>
                        </a>
                    </div>
                    <div class="one-obj">
                        <a href="#" class="click-link">
                            <div class="ava"></div>
                            <div class="descr">
                                <p class="name">Danielle Green</p>
                                <p class="mouse-name"><span>@CoolDanielle</span></p>
                            </div>
                        </a>
                    </div>
                     <div class="one-obj">
                        <a href="#" class="click-link">
                            <div class="ava"></div>
                            <div class="descr">
                                <p class="name">Danielle Green</p>
                                <p class="mouse-name"><span>@</span>CoolDanielle</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="genre-head">
                    <p>Venues (55)</p>
                    <button>SHOW ALL</button>
                </div>
                <div class="block-of-genre-search">
                    <div class="one-obj">
                        <a href="#" class="click-link">
                            <div class="ava"></div>
                            <div class="descr">
                                <p class="name">Danielqwe qwe qwe le Green</p>
                                <p class="mouse-name"><span>@</span>CoolDanielle</p>
                            </div>
                        </a>
                    </div>
                    <div class="one-obj">
                        <a href="#" class="click-link">
                            <div class="ava"></div>
                            <div class="descr">
                                <p class="name">Danielle Green</p>
                                <p class="mouse-name"><span>@CoolDanielle</span></p>
                            </div>
                        </a>
                    </div>
                    <div class="one-obj">
                        <a href="#" class="click-link">
                            <div class="ava"></div>
                            <div class="descr">
                                <p class="name">Danielle Green</p>
                                <p class="mouse-name"><span>@CoolDanielle</span></p>
                            </div>
                        </a>
                    </div>
                    <div class="one-obj">
                        <a href="#" class="click-link">
                            <div class="ava"></div>
                            <div class="descr">
                                <p class="name">Danielle Green</p>
                                <p class="mouse-name"><span>@CoolDanielle</span></p>
                            </div>
                        </a>
                    </div>
                    <div class="one-obj">
                        <a href="#" class="click-link">
                            <div class="ava"></div>
                            <div class="descr">
                                <p class="name">Danielle Green</p>
                                <p class="mouse-name"><span>@CoolDanielle</span></p>
                            </div>
                        </a>
                    </div>
                    <div class="one-obj">
                        <a href="#" class="click-link">
                            <div class="ava"></div>
                            <div class="descr">
                                <p class="name">Danielle Green</p>
                                <p class="mouse-name"><span>@CoolDanielle</span></p>
                            </div>
                        </a>
                    </div>
                     <div class="one-obj">
                        <a href="#" class="click-link">
                            <div class="ava"></div>
                            <div class="descr">
                                <p class="name">Danielle Green</p>
                                <p class="mouse-name"><span>@</span>CoolDanielle</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="genre-head">
                    <p>Shows (55)</p>
                    <button>SHOW ALL</button>
                </div>
                <div class="shows-block-search">
                    <div class="one-show-wrapp">
                        <a href="#" class="one-show">
                            <div class="img-show"></div>
                            <div class="descr">
                                <p class="name">marilyn manson</p>
                                <p class="when">November 12, 2019</p>
                                <p class="when-2">7:00 PM</p>
                                <p class="where">Madison Square Garden - NY</p>
                            </div>
                        </a>
                    </div>
                    <div class="one-show-wrapp">
                        <a href="#" class="one-show">
                            <div class="img-show"></div>
                            <div class="descr">
                                <p class="name">marilyn manson</p>
                                <p class="when">November 12, 2019</p>
                                <p class="when-2">7:00 PM</p>
                                <p class="where">Madison Square Garden - NY</p>
                            </div>
                        </a>
                    </div>
                    <div class="one-show-wrapp">
                        <a href="#" class="one-show">
                            <div class="img-show"></div>
                            <div class="descr">
                                <p class="name">marilyn manson</p>
                                <p class="when">November 12, 2019</p>
                                <p class="when-2">7:00 PM</p>
                                <p class="where">Madison Square Garden - NY</p>
                            </div>
                        </a>
                    </div>
                    <div class="one-show-wrapp">
                        <a href="#" class="one-show">
                            <div class="img-show"></div>
                            <div class="descr">
                                <p class="name">marilyn manson</p>
                                <p class="when">November 12, 2019</p>
                                <p class="when-2">7:00 PM</p>
                                <p class="where">Madison Square Garden - NY</p>
                            </div>
                        </a>
                    </div>

                </div>

                <div class="genre-head">
                    <p>Fans/Artist/Venue (55)</p>
                </div>
                <div class="obj-search-wrapp">
                    <div class="one-obj-search">
                        <div class="who-wrapp">
                            <a href="#" class="ava"></a>
                            <div class="who-text">
                                <p class="name">Danielle Green</p>
                                <p class="mouse-name"><span>@</span>CoolDanielle</p>
                                <p class="where">New York, USA</p>
                                <div class="flex-genres-obj">
                                    <span class="one-genre">HIP HOP</span>
                                    <span class="one-genre">HIP HOP</span>
                                    <span class="one-genre">HIP HOP</span>
                                </div>
                            </div>
                        </div>
                        <div class="butt">
                            <button class="butt-style-1"><span>Follow</span></button>
                        </div>
                    </div>
                     <div class="one-obj-search">
                        <div class="who-wrapp">
                            <a href="#" class="ava"></a>
                            <div class="who-text">
                                <p class="name">Danielle Green</p>
                                <p class="mouse-name"><span>@</span>CoolDanielle</p>
                                <p class="where">New York, USA</p>
                                <div class="flex-genres-obj">
                                    <span class="one-genre">HIP HOP</span>
                                    <span class="one-genre">HIP HOP</span>
                                    <span class="one-genre">HIP HOP</span>
                                </div>
                            </div>
                        </div>
                         <!--на странице фана убераем .butt-->
                        <div class="butt">

<!--                 кнопка фоллоу    <button class="butt-style-1"><span>Follow</span></button>-->
                            <button class="unfolow">unfollow</button>
                        </div>
                    </div>

                </div>

                <div class="genre-head">
                    <p>Shows (55)</p>
                </div>
                <div class="shows-block-search all-shows">
                    <div class="one-show-wrapp">
                        <a href="#" class="one-show">
                            <div class="img-show"></div>
                            <div class="descr">
                                <p class="name">marilyn manson</p>
                                <p class="when">November 12, 2019</p>
                                <p class="when-2">7:00 PM</p>
                                <p class="where">Madison Square Garden - NY</p>
                            </div>
                        </a>
                    </div>
                    <div class="one-show-wrapp">
                        <a href="#" class="one-show">
                            <div class="img-show"></div>
                            <div class="descr">
                                <p class="name">marilyn manson</p>
                                <p class="when">November 12, 2019</p>
                                <p class="when-2">7:00 PM</p>
                                <p class="where">Madison Square Garden - NY</p>
                            </div>
                        </a>
                    </div>
                    <div class="one-show-wrapp">
                        <a href="#" class="one-show">
                            <div class="img-show"></div>
                            <div class="descr">
                                <p class="name">marilyn manson</p>
                                <p class="when">November 12, 2019</p>
                                <p class="when-2">7:00 PM</p>
                                <p class="where">Madison Square Garden - NY</p>
                            </div>
                        </a>
                    </div>
                    <div class="one-show-wrapp">
                        <a href="#" class="one-show">
                            <div class="img-show"></div>
                            <div class="descr">
                                <p class="name">marilyn manson</p>
                                <p class="when">November 12, 2019</p>
                                <p class="when-2">7:00 PM</p>
                                <p class="where">Madison Square Garden - NY</p>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>