<div class="shows-main-wrapp grey-bg mainWrapper">
    <div class="main-mw flexed-search">
        <div class="results-left-side">
            <div class="wrapp-for-filter">
                <form (ngSubmit)="ShowSearchResult()" #SearchForm="ngForm">
                    <input type="text" 
                        name="search-text-input" 
                        class="inp-style-1" 
                        placeholder="Search" 
                        [ngModel]="SearchParams.text" 
                        (ngModelChange)="SearchParams.text = $event"
                        autocomplete="off"    
                    >
                    <div class="groupe-form">
                        <p class="head-input-groupe" translate>Genre</p>
                        <div class="flex-radio">
                            <div class="one-radio">
                                <div class="radio-style">
                                    <input type="radio" [value]="LocalSearchTypes.All" [(ngModel)]="SearchType" class="radio-b" id="radio-all"  name="group1" checked>
                                    <label for="radio-all"></label>
                                </div>
                                <p translate>All</p>
                            </div>
                            <div class="one-radio">
                                <div class="radio-style">
                                    <input type="radio" [value]="LocalSearchTypes.Venues" [(ngModel)]="SearchType" class="radio-b" id="radio-venues" name="group1">
                                    <label for="radio-venues"></label>
                                </div>
                                <p translate>Venues</p>
                            </div>
                            <div class="one-radio">
                                <div class="radio-style">
                                    <input type="radio" [value]="LocalSearchTypes.Fans" [(ngModel)]="SearchType" class="radio-b" id="radio-fans" name="group1">
                                    <label for="radio-fans"></label>
                                </div>
                                <p translate>Fans</p>
                            </div>
                            <div class="one-radio">
                                <div class="radio-style">
                                    <input type="radio" [value]="LocalSearchTypes.Shows" [(ngModel)]="SearchType" class="radio-b" id="radio-shows" name="group1">
                                    <label for="radio-shows"></label>
                                </div>
                                <p translate>Shows</p>
                            </div>
                            <div class="one-radio">
                                <div class="radio-style">
                                    <input type="radio" [value]="LocalSearchTypes.Artists" [(ngModel)]="SearchType" class="radio-b" id="radio-artists" name="group1">
                                    <label for="radio-artists"></label>
                                </div>
                                <p translate>Artists</p>
                            </div>
                        </div>

                    </div>
                    
                    <div >
                        <div class="groupe-form" [ngStyle]="{'display':SearchType == LocalSearchTypes.Shows? 'block':'none'}">
                            <p class="head-input-groupe" translate>Date</p>
                            <div class="wrapp-for-triangle">
                                <input type="text" (onShown)="onShowPicker($event)" name="date-picker-inp" class="date-picker-inp" containerClass="transformed" #dp="bsDaterangepicker" bsDaterangepicker ngModel [bsConfig]="bsConfig" [(ngModel)]="SearchDateRange">
                            </div>
                        </div>
                        
                        <div class="groupe-form">
                            <p class="head-input-groupe" translate>Location</p>
                            <div class="location-wr">
                                <div (click)="OpenMap()" class="mark"></div>
                                <input type="text" class="location-inp" name="search-params-address" autocorrect="off" autocapitalize="off" spellcheck="off" #searchLocal placeholder="" [ngModel]="LocationText" (ngModelChange)="LocationTextChenged($event)"  #search id="searchAddress">
                            </div>
                        </div>
                        <div class="groupe-form" [ngStyle]="{'display':(SearchParams.lat && SearchParams.lng)? 'block':'none'}">
                            <p class="head-input-groupe" translate>Distance</p>
                            <div class="for-range-slider">
                                <input type="text" name="distance-range-slider" class="current-slider distance-slider">
                            </div>
                        </div>
                    </div>
                    
                    <div class="groupe-form" *ngIf="SearchType != LocalSearchTypes.Venues && SearchType != LocalSearchTypes.All">
                        <p class="head-input-groupe" translate>Genre</p>
                        <div class="flex-genres">
                            <ng-container  *ngFor="let item of Genres;let i = index">
                                <div class="one-checkbox" *ngIf="item.show || ShowMoreGenres">
                                    <div class="check-style">
                                        <input type="checkbox" class="checkbox" [ngModel]="item.checked" name="genre_{{i+1}}" (ngModelChange)="item.checked = $event" id="checkbox-{{i+1}}">
                                        <label for="checkbox-{{i+1}}"></label>
                                    </div>
                                    <p translate>{{item.genre_show}}</p>
                                </div>
                            </ng-container>
                        </div>
                        <p class="more" [ngClass]="{'rotate180':ShowMoreGenres}" (click)="ShowMoreGenres = !ShowMoreGenres"><span translate>See {{ShowMoreGenres?'less':'more'}}</span></p>
                    </div>
                    <ng-container *ngIf="SearchType == LocalSearchTypes.Shows">
                        <div class="groupe-form">
                            <p class="head-input-groupe" translate>Tickets.Ticket type</p>
                            <div class="flex-radio">
                                
                                <div class="one-radio triple-line" *ngFor="let item of TicketTypes; let i = index">
                                    <div class="radio-style">
                                        <input type="radio" class="radio-b" id="radio-{{i}}"  name="radio-{{i}}" [(ngModel)]="TicketType" [value]="item.object.value">
                                        <label for="radio-{{i}}"></label>
                                    </div>
                                    <p translate>{{item.object.name}}</p>
                                </div>
                                <div class="one-radio triple-line">
                                    <div class="radio-style">
                                        <input type="radio" class="radio-b" id="radio-both"  name="radio-both" [(ngModel)]="TicketType" value="">
                                        <label for="radio-both"></label>
                                    </div>
                                    <p translate>Both</p>
                                </div>
                            </div>
                        
                        </div>
                        <div class="groupe-form">
                            <p class="head-input-groupe" translate>Type of space</p>
                            <!-- <select class="select-type-of-space" name="select_type_of_space" [ngModel]="SearchParams.size" (ngModelChange)="TypeOfSpaceChange($event)">
                                <option value=""></option>
                                <option *ngFor="let item of TypesOfSpace" [value]="item.value">{{item.name}}</option>
                            </select> -->
                            <mat-form-field >
                                <mat-select name="select_type_of_space" [(ngModel)]="TypeOfSpace" (ngModelChange)="TypeOfSpace = $event">
                                    <mat-option [value]=""></mat-option>
                                    <mat-option *ngFor="let item of TypesOfSpace" [value]="item.value">
                                        {{ item.name | translate }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </ng-container>
                    <div class="groupe-form">
                        <button type="submit" (click)="CloseXsSearchWindow()"  class="butt-style-1"><span translate>Search</span></button>
                    </div>
                </form>

            </div>

        </div>
        <div class="results-right-side">
            <div class="head-shows">
                <button class="ham-ham" (click)="OpenXsSearch()">
                    <div class="ham"></div>
                    <div class="ham"></div>
                    <div class="ham"></div>
                </button>

                <h1 translate>Search Results</h1>
            </div>
            <div class="search-results-wrapper all">
                <ng-container *ngIf="SelectedContent == LocalSearchTypes.All">
                    <accounts-search-component (ShowFullAccounts)="ChangeView($event)" [Accounts]="Fans" [AccountType]="'Fans'"></accounts-search-component>
                    <accounts-search-component (ShowFullAccounts)="ChangeView($event)" [Accounts]="Artists" [AccountType]="'Artists'"></accounts-search-component>
                    <accounts-search-component (ShowFullAccounts)="ChangeView($event)" [Accounts]="Venues" [AccountType]="'Venues'"></accounts-search-component>
                    <shows-preview-search-component (ShowFullShows)="ChangeView($event)" [Shows]="Shows"></shows-preview-search-component>
                </ng-container>
                <ng-container *ngIf="SelectedContent == LocalSearchTypes.Fans">
                    <accounts-full-search-component [Accounts]="Fans" [Label]="'Fans'"></accounts-full-search-component>
                </ng-container>
                <ng-container *ngIf="SelectedContent == LocalSearchTypes.Artists">
                    <accounts-full-search-component [Accounts]="Artists" [Label]="'Artists'"></accounts-full-search-component>
                </ng-container>
                <ng-container *ngIf="SelectedContent == LocalSearchTypes.Venues">
                    <accounts-full-search-component [Accounts]="Venues" [Label]="'Venues'"></accounts-full-search-component>
                </ng-container>
                <ng-container *ngIf="SelectedContent == LocalSearchTypes.Shows">
                    <shows-full-search-component [Shows]="Shows"></shows-full-search-component>
                </ng-container>
                
                

                <!-- <ng-container >
                    
                </ng-container>
                 -->
            </div>
            
        </div>
        
    </div>
</div>
<search-events-map-cmp #mapForm (onMapClicked)="OnMapClicked($event)"></search-events-map-cmp>