<div class="create-event-body-1">
        <div class="main-mw">
            <div class="create-event-body">
                <div class="head-ev-body">
                    <h2>Venue</h2>
                    <p>Please fill in all required fields in<br>the Venue Screen to Add a Funding</p>
                </div>
            
                <div class="flex-tabs-menu-venue">
                    <p class="some-text">At first choose residence :)</p>
                    <ul class="v-tabs-menu">
                        <!--теже табы-->
                        <li [ngClass]="{active:!isPrivateVenue}" (click)="isPrivateVenue = false">Public Venue</li>
                        <li [ngClass]="{active:isPrivateVenue}" (click)="isPrivateVenue = true">Private Residence</li>
                    </ul>
                </div>
            </div>
            
        </div>
        <div class="main-mw-5">
            <div class="tabs-venue-wrapp">
                <!--теже табы для ngif-->
                <!--Public Venue-->
                
                <div  [ngStyle]="{'display': !isPrivateVenue?'block':'none'}" class="one-tab">
                    <div class="one-tab-flex alighn-items">
                        <div class="side">
                            <div class="filter-venue">
                                <div class="content-bodal input-groupe-1">
                                    <input class="search" (change)="venueSearch($event.target.value)" (keyup)="pressEnter($event)" (input)="textChange($event.target.value)" type="text" placeholder="Search Venue">
                                    <span class="head-type-inp">Type of place</span>
                                    <div class="flex-genres for-pick">
                                            <span *ngFor="let space of typesSpace" (click)="space.checked=!space.checked; venueSearch()" [ngClass]="{picked:space.checked}" class="one-genre">{{space.object.name}}</span>
                                       
                                    </div>
                                    <span class="head-type-inp">Price</span>
                                    <div class="for-range-slider">
                                        <input type="text" class="current-slider-price-venue" value="">
                                    </div>
                                    <span class="head-type-inp">Capacity</span>
                                    <div class="for-range-slider">
                                        <input type="text" class="current-slider-capacity-venue" value="">
                                    </div>

                                    <div class="location-wr">
                                        <div class="mark" (click)="venueOpenMapModal()" ></div>
                                        <input type="text" [(ngModel)]="venueSearchParams.address" (input)="addressChange($event.target.value)" class="location-inp" placeholder="Location" #searchVenue id="venueAddress">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="side width-66">
                            <div class="for-padd-cards-art">
                                    <app-preloader *ngIf="isLoadingVenue"></app-preloader>
                                <div class="scroll-cards-art">

                                    <ng-container *ngIf="!isLoadingVenue">
                                        <ng-container *ngFor="let item of venueList; let i = index">
                                            <div class="one-card">
                                                <div class="l-s">
                                                    <div class="ava" [routerLink]="['/system/profile',item.object.id]" [ngStyle]="{'background-image': item.object.image_base64_not_given?'url('+item.object.image_base64_not_given+')':''}"></div>
                                                    <div class="desc">
                                                        <a class="name" [routerLink]="['/system/profile',item.object.id]">{{item.object.user_name}}</a>
                                                        <p class="genres">{{item.object.type_of_space?niceViewGenre(item.object.type_of_space):''}}</p>
                                                        <p class="where">{{item.object.address}}</p>
                                                    </div>
                                                </div>
                                                <div class="r-s">
                                                <div class="circle-checkbox gray-border">
                                                        <input type="checkbox" [checked]="item.checked" class="checkbox" (change)="addVenueCheck(item)" name="" id="checkbox-venue-{{i}}">
                                                        <label class="label-wr" for="checkbox-venue-{{i}}"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                    
                                    
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
               
                
                <!--Private Residence-->
                    <app-private-res [ngStyle]="{'display': isPrivateVenue?'block':'none'}" (OnCreate)=" submitVenue(); " [EventId]="Event.id"></app-private-res>
                <!--//Private Residence-->
            </div>
        </div>
    </div>
    
    <div    class="tabs-artist-wrapp">
        <div class="new-padd-wrapper-m-w">
            <div class="main-mw">
                <ul class="tabs-menu-active-decline">
                    <li>
                        <!--Добавляем active табу или удаляем "p.s. наш любимый ngClass"-->
                        <span [ngClass]="{active:isAcceptedVenueShow}" (click)="isAcceptedVenueShow = true">Active</span>
                    </li>
                    <li>
                        <span [ngClass]="{active:!isAcceptedVenueShow}" (click)="isAcceptedVenueShow = false">declined</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="bg-wr-tabs">
            <div class="main-mw">
                
                <div *ngIf="isAcceptedVenueShow"  class="tab-artist">
                    <div class="flex-wrapp-cards">

                        <ng-container *ngFor="let shows of requestVenues">
                            <div *ngIf="getStatusVenueEventById(shows.id)!='owner_declined'&&getStatusVenueEventById(shows.id)!='declined'" class="one-card">
                                
                                <app-one-card 
                                    [card] = "shows" 
                                    [status] = "getStatusVenueEventById(shows.id)" 
                                    [price] = "100" 
                                    (accepted) = "acceptVenue($event)"
                                    (requested) = "sendVenueRequestOpenModal($event)"
                                    (declined) = "declineVenue($event)"
                                    (checked) = "updateEvent()"
                                ></app-one-card>
                            </div>
                        </ng-container>
                        <!-- [price] = "getPriceAtMsg(shows.id)"  -->

                        <div *ngFor="let shows of venueShowsList" class="one-card">
                                
                                <app-one-card 
                                    [card] = "shows" 
                                    [status] = "shows.status_not_given" 
                                    [price] = "100" 
                                    (accepted) = "acceptVenue($event)"
                                    (requested) = "sendVenueRequestOpenModal($event)"
                                    (declined) = "declineVenue($event)"
                                    (checked) = "updateEvent()"
                                ></app-one-card>
                        </div>
                        
                        
                    </div>
                </div>
              
                 <div *ngIf="!isAcceptedVenueShow" class="tab-artist">
                    <div class="flex-wrapp-cards">
                        <ng-container *ngFor="let shows of requestVenues">
                            <div *ngIf="shows.status_not_given=='owner_declined'||shows.status_not_given=='declined'" class="one-card">
                                <div class="card">
                                    <div class="delete-card"></div>
                                    <div class="left-side">
                                   
                                        <div class="ava checked" [ngStyle]="{'background-image': shows.image_base64_not_given?'url('+shows.image_base64_not_given+')':''}"></div>
                                        <p class="desc-head-info">{{getStatusVenueEventById(shows.id)}}</p>
                                        <p class="status">Accepted by Artist and Event owner</p>
                                    </div>
                                    <div class="right-side">
                                        <p class="name">{{shows.id}} {{shows.user_name}}</p>
                                        <p class="desc-head-info">Spaces</p>
                                        <p class="info">{{shows.type_of_space?shows.type_of_space:''}}</p>
                                        <p class="desc-head-info">Location</p>
                                        <p class="info">{{shows.address}}</p>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div> 

            </div>
        </div>
        
    </div>


    <div class="scroll-wrapp">
        <div class="circle-scroll" (click)="submitVenue()"></div>
</div>


  <!--модалка для кликов на send request-->
<div class="modal fade modal-send-request" id="modal-send-request-venue">
    <div class="modal-dialog">
            <form [formGroup]="requestVenueForm">
        <div class="modal-body">
            
            <h6 class="head-m-p-a">Event Request</h6>
            
            <div class="name-and-ava">
                <div class="ava" [ngStyle]="{'background-image': eventForRequest.image_base64_not_given?'url('+eventForRequest.image_base64_not_given+')':''}"></div>
                <div class="n-h">
                    <p class="name">{{eventForRequest.user_name}}</p>
                    <p class="hash"><span>@</span>pixope</p>
                </div>
            </div>
            <div class="content-modal">
                <p class="e-n">{{Event.name}}</p>
                <div class="flex-input-groupes">
                        <div class="input-groupe-1">
                                <div class="rel-wr">
                                <input disabled [value]="Event.event_season" name="" type="text">
                            </div>
                            <label for="inp-modal-req-4">Date Range</label>
                        </div>
                        <div class="input-groupe-1">
                                <div class="rel-wr">
                                <input disabled [value]="Event.event_length" name="" type="text">
                            </div>
                            <label for="inp-modal-req-4">Performance Time</label> 
                        </div>
                </div>
                <div class="flex-input-groupes">
                    <div class="input-groupe-1 more-padd">
                        <select formControlName="time_frame"  id="inp-modal-req-3">
                            <option>one_hour</option>
                            <option>one_day</option>
                            <option>one_week</option>
                            <option>one_month</option>
                        </select>
                        <label for="inp-modal-req-3">Time Frame we expect an answer</label>
                    </div>
                    <div class="input-groupe-1 more-padd">
                        <div class="rel-wr">
                            <span class="abs-backs">$</span>
                            <input [textMask]="MaskNumbers()" formControlName="estimated_price" id="inp-modal-req-4" class="dollar" name="" type="text">
                        </div>
                        <label for="inp-modal-req-4">Estimated Price to<br> Perform</label>
                       
                    </div>
                </div>
                <div class="flex-mac-checkbox">
                    <p>Crowdfunding  Event?</p>
                    <div class="yes-no">
                        <span>Yes</span>
                        <div class="mac-checkbox">
                            <input class="checkbox" type="checkbox" id="crowdfunding-1-check">
                            <label for="crowdfunding-1-check"></label>
                        </div>
                        <span>No</span>
                    </div>
                </div>
                <div class="location-wr">
                    <div class="mark"></div>
                    <input type="text" [value]="Event.address" class="location-inp" placeholder="location">
                </div>
                <div class="flex-input-groupes">
                <div class="input-groupe-1 small-textarea whithout-label">

                    <textarea formControlName="message" id="inp-desc-2-modal"></textarea>
                    <label for="inp-desc-2-modal" class="head-groupe">Message</label>

                </div>
            </div>
                 <div class="send-request-b">
                    <button class="butt-style-1" type="submit" (click)="addVenueById(eventForRequest.id)">
                        <span>Send Request</span>
                    </button>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>

<div class="modal fade modal-send-request map-1-modal" id="modal-map-3">
    <div class="modal-dialog">
        <div class="modal-body">
            <h6 class="head-m-p-a">Location</h6>
            <span class="closee-modal" data-dismiss="modal"></span>
            <div class="for-map-init-modal-1">
                    <agm-map #agmMap style="height:100%" (mapClick)="setMapCoords($event)" [latitude]="mapCoords.lat" [longitude]="mapCoords.lng">
                        <agm-marker  [markerDraggable] = "true" (dragEnd)="dragMarker($event)" [(latitude)]="mapCoords.lat" [(longitude)]="mapCoords.lng"></agm-marker>
                </agm-map>
            </div>
        </div>
    </div>
</div>