.circle-scroll{
    cursor: pointer;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
.location-wr .location-inp{
    border-bottom: 1px dashed rgba(0, 0, 0, 0.25);
    padding: 5px 4px;
}
.modal-send-request.map-1-modal .modal-dialog .for-map-init-modal-1{
    height: 600px;
    border: none;
}
.empty-info{
    margin: 0 auto;
    color: white;
}
.empty-info p{
    color: white;
}