<div class="create-event-body-1">
        <div class="main-mw">
            <div class="create-event-body">
                <div class="head-ev-body">
                    <h2 translate>Venue.Venue</h2>
                    <p translate>Please fill in all required fields in<br translate>the Venue Screen to Add a Funding</p>
                </div>

                <div class="flex-tabs-menu-venue">
                    <p class="some-text" translate>At first choose residence :)</p>
                    <ul class="v-tabs-menu">
                        <!--теже табы-->
                        <li [ngClass]="{active:!isPrivateVenue}" (click)="isPrivateVenue = false" translate>event.venue.Public Venue</li>
                        <li [ngClass]="{active:isPrivateVenue}" (click)="isPrivateVenue = true" translate>event.venue.Private Residence</li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="main-mw-5">
            <div class="tabs-venue-wrapp">
                <!--теже табы для ngif-->
                <!--Public Venue-->

                <div  [ngStyle]="{'display': !isPrivateVenue?'block':'none'}" class="one-tab">

                    <div class="one-tab-flex no-wrapp-991 alighn-items">

                        <div class="side side-xs-45">

                            <div class="filter-venue">
                                <div class="content-bodal input-groupe-1">
                                    <input class="search" (change)="venueSearch($event.target.value)" (keyup)="pressEnter($event)" (input)="textChange($event.target.value)" type="text" placeholder="{{'event.venue.Search Venue' | translate}}">
                                    <span class="head-type-inp" translate>event.venue.Type of place</span>
                                    <div class="flex-genres for-pick">
                                            <span *ngFor="let space of typesSpace" (click)="space.checked=!space.checked; venueSearch()" [ngClass]="{picked:space.checked}" class="one-genre" translate>{{space.object.name}}</span>

                                    </div>
                                    <span class="head-type-inp" translate>Price</span>
                                    <div class="for-range-slider">
                                        <input type="text" class="current-slider-price-venue" value="">
                                    </div>
                                    <span class="head-type-inp" translate>listing.Capacity</span>
                                    <div class="for-range-slider">
                                        <input type="text" class="current-slider-capacity-venue" value="">
                                    </div>

                                    <div class="location-wr">
                                        <div class="mark" (click)="venueOpenMapModal()" ></div>
                                        <input type="text" [(ngModel)]="venueSearchParams.address" (input)="addressChange($event.target.value)" class="location-inp" placeholder="{{'Location' | translate}}" #searchVenue id="venueAddress">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="side width-66">
                            <div class="for-padd-cards-art">
                                    <app-preloader *ngIf="isLoadingVenue"></app-preloader>
                                <div class="scroll-cards-art">

                                    <ng-container *ngIf="!isLoadingVenue">
                                        <ng-container *ngFor="let item of venueList; let i = index">
                                            <div class="one-card">
                                                <div class="l-s">
                                                    <div class="ava" (click)="openVenue(item.object.id)" [ngStyle]="{'background-image': item.object.image_base64_not_given?'url('+item.object.image_base64_not_given+')':''}"></div>
                                                    <div class="desc">
                                                        <a class="name" (click)="openVenue(item.object.id)">{{item.object.user_name}}</a>
                                                        <p class="genres" translate>{{item.object.type_of_space?niceViewGenre(item.object.type_of_space):''}}</p>
                                                        <p class="where">{{item.object.address}}</p>
                                                    </div>
                                                </div>
                                                <div class="r-s">
                                                <div class="circle-checkbox gray-border">
                                                        <input type="checkbox" [checked]="item.checked" class="checkbox" (change)="addVenueCheck(item)" name="" id="checkbox-venue-{{i}}">
                                                        <label class="label-wr" for="checkbox-venue-{{i}}"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </ng-container>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <!--Private Residence-->
                    <app-private-res [ngStyle]="{'display': isPrivateVenue?'block':'none'}" (OnCreate)="createPrivateRes()" (OnError)="OnError($event)" [EventId]="Event.id"></app-private-res>
                <!--//Private Residence-->
            </div>
        </div>
    </div>

    <div    class="tabs-artist-wrapp">
        <div class="new-padd-wrapper-m-w">
            <div class="main-mw">
                <ul class="tabs-menu-active-decline">
                    <li>
                        <!--Добавляем active табу или удаляем "p.s. наш любимый ngClass"-->
                        <span [ngClass]="{active:isAcceptedVenueShow}" (click)="isAcceptedVenueShow = true" translate>Active</span>
                    </li>
                    <li>
                        <span [ngClass]="{active:!isAcceptedVenueShow}" (click)="isAcceptedVenueShow = false" translate>event.artist-fold.declined</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="bg-wr-tabs">
            <div class="main-mw">

                <div *ngIf="isAcceptedVenueShow"  class="tab-artist">
                    <div class="flex-wrapp-cards">

                        <ng-container *ngFor="let shows of requestVenues">
                            <div *ngIf="shows.status_not_given!='owner_declined'&&shows.status_not_given!='declined'" class="one-card">

                                <app-one-card
                                    [card] = "shows"
                                    [status] = "shows.status_not_given"
                                    [price] = "shows.price_not_given"
                                    [currency] = "Event.currency"
                                    (accepted) = "acceptVenue($event)"
                                    (requested) = "sendVenueRequestOpenModal($event)"
                                    (declined) = "openDeclineModal($event)"
                                    (checked) = "updateEvent()"
                                    (open)="openVenue($event)"
                                ></app-one-card>
                                <!-- <p>'1'+{{shows.status_not_given}}</p> -->
                            </div>
                        </ng-container>

                        <div class="one-card">
                            <div class="add-artist-block artist-modal-open">
                                <!-- <div (click)="scrollToAdd()" class="plus"></div> -->
                                <span (click)="scrollToAdd()" class="add" translate>Add New Venue</span>
                                <span class="or" translate>or</span>
                                <span (click)="openInvite()" class="invite" translate>Venue Invite</span>
                            </div>
                        </div>
                        <!-- [price] = "getPriceAtMsg(shows.id)"  -->

                        <!-- <ng-container *ngFor="let shows of venueShowsList" >
                            <div *ngIf="shows.status_not_given!='owner_declined'&&shows.status_not_given!='declined'" class="one-card">
                                <app-one-card
                                    [card] = "shows"
                                    [status] = "shows.status_not_given"
                                    [price] = "100"
                                    (accepted) = "acceptVenue($event)"
                                    (requested) = "sendVenueRequestOpenModal($event)"
                                    (declined) = "declineVenue($event)"
                                    (checked) = "updateEvent()"
                                ></app-one-card>

                            </div>
                        </ng-container> -->


                    </div>
                </div>

                 <div *ngIf="!isAcceptedVenueShow" class="tab-artist">
                    <div class="flex-wrapp-cards">
                        <ng-container *ngFor="let shows of requestVenues">
                            <div *ngIf="shows.status_not_given=='owner_declined'||shows.status_not_given=='declined'" class="one-card">
                                <app-one-card
                                    [card] = "shows"
                                    [status] = "shows.status_not_given"
                                    [price] = "shows.price_not_given"
                                    [currency] = "Event.currency"
                                    [reason] = "shows.reason"
                                    [reasonText] = "shows.reason_text"
                                    (accepted) = "acceptVenue($event)"
                                    (requested) = "sendVenueRequestOpenModal($event)"
                                    (declined) = "openDeclineModal($event)"
                                    (checked) = "updateEvent()"
                                    (open)="openVenue($event)"
                                ></app-one-card>

                            </div>
                        </ng-container>

                        <!-- <ng-container *ngFor="let shows of venueShowsList">
                            <div *ngIf="shows.status_not_given=='owner_declined'||shows.status_not_given=='declined'" class="one-card">
                                <div class="card">
                                    <div class="delete-card"></div>
                                    <div class="left-side">

                                        <div [routerLink]="['/system','profile',shows.id]" class="ava checked" [ngStyle]="{'background-image': shows.image_base64_not_given?'url('+shows.image_base64_not_given+')':''}"></div>
                                        <p class="desc-head-info">{{getStatusVenueEventById(shows.id)}}</p>
                                        <p class="status">Accepted by Artist and Event owner</p>
                                    </div>
                                    <div class="right-side">
                                        <p [routerLink]="['/system','profile',shows.id]" class="name">{{shows.id}} {{shows.user_name}}</p>
                                        <p class="desc-head-info">Spaces</p>
                                        <p class="info">{{shows.type_of_space?shows.type_of_space:''}}</p>
                                        <p class="desc-head-info">Location</p>
                                        <p class="info">{{shows.address}}</p>
                                    </div>
                                </div>

                            </div>
                        </ng-container> -->

                        <div *ngIf="isEmptyDeclinedArtists()" class="empty-info">
                            <img src="./../../../assets/img/smile-white.svg" class="img-responsive" alt="">
                            <p translate>event.venue.No venues yet</p>

                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>


    <div class="scroll-wrapp">
        <div class="circle-scroll" (click)="submitVenue()"></div>
</div>


  <!--модалка для кликов на send request-->
<div class="modal fade modal-send-request fix-style" id="modal-send-request-venue">
    <div class="modal-dialog">
            <form [formGroup]="requestVenueForm">
        <div class="modal-body">

            <h6 class="head-m-p-a" translate>event.artist-fold.Event Request</h6>

            <div class="name-and-ava">
                <div class="ava" [ngStyle]="{'background-image': eventForRequest.image_base64_not_given?'url('+eventForRequest.image_base64_not_given+')':''}"></div>
                <div class="n-h">
                    <p class="name">{{eventForRequest.display_name}}</p>
                    <p class="hash"><span>@</span>{{eventForRequest.user_name}}</p>
                </div>
            </div>
            <div class="content-modal">
                <p class="e-n">{{Event.name}}</p>
                <div class="flex-input-groupes">
                        <div class="input-groupe-1">
                                <div class="rel-wr">
                                <input disabled value="{{Event.event_season | translate}}" name="" type="text">
                            </div>
                            <label for="inp-modal-req-4" translate>event.artist-fold.Date Range</label>
                        </div>
                        <div class="input-groupe-1">
                                <div class="rel-wr">
                                <input disabled [value]="Event.event_length" name="" type="text">
                            </div>
                            <label for="inp-modal-req-4" translate>event.artist-fold.Performance Time</label>
                        </div>
                </div>
                <div class="flex-input-groupes">
                     <div class="input-groupe-1 font-size-label more-padd">
                            <div class="rel-wr">

                                <input [textMask]="MaskNumbers()" formControlName="time_frame_number" id="inp-modal-req-42"  name="" type="text">
                            </div>
                            <label for="inp-modal-req-4" translate>event.artist-fold.Time Frame<br translate>Number<span>*</span></label>

                    </div>
                    <div class="input-groupe-1 font-size-label more-padd relative-3">
                        <mat-form-field >
                            <mat-select formControlName="time_frame_range"  id="inp-modal-req-3">
                                <mat-option value="hour">{{'event.artist-fold.Hour(s)' |translate}}</mat-option>
                                <mat-option value="day">{{'event.artist-fold.Day(s)' |translate}}</mat-option>
                                <mat-option value="week">{{'event.artist-fold.Week(s)' |translate}}</mat-option>
                                <mat-option value="month">{{'event.artist-fold.Month(s)' |translate}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <label for="inp-modal-req-3" translate>event.artist-fold.Time Frame we expect an answer<span>*</span></label>
                    </div>

                    <div class="input-groupe-1 font-size-label more-padd">
                        <div class="rel-wr">
                            <span class="abs-backs"><span [innerHTML]="CurrencySymbol"></span></span>
                            <input [textMask]="MaskNumbers()" formControlName="estimated_price" id="inp-modal-req-4" class="dollar" name="" type="text">
                        </div>
                        <label for="inp-modal-req-4"translate>event.artist-fold.Estimated Price to<br translate> event.artist-fold.Perform<span>*</span></label>

                    </div>
                </div>
                <div class="flex-mac-checkbox">
                    <p translate>event.about-fold.Crowdfunding  Event?</p>
                    <div class="yes-no">
                        <span translate>No</span>
                        <div class="mac-checkbox">
                            <input class="checkbox" disabled [checked]="Event.is_crowdfunding_event" type="checkbox" id="crowdfunding-1-check">
                            <label for="crowdfunding-1-check"></label>
                        </div>
                        <span translate>Yes</span>
                    </div>
                </div>
                <div class="location-wr">
                    <div class="mark"></div>
                    <input type="text" disabled style="background-color: white !important" [value]="Event.address" class="location-inp" placeholder="{{'location' | translate}}">
                </div>
                <div class="flex-input-groupes">
                <div class="input-groupe-1 small-textarea whithout-label none-margin-fix">

                    <textarea formControlName="message" id="inp-desc-2-modal"></textarea>
                    <label for="inp-desc-2-modal" class="head-groupe" translate>event.artist-fold.Message</label>

                </div>
            </div>
                 <div class="send-request-b">
                    <button class="butt-style-1" type="submit" (click)="addVenueById(eventForRequest.id)">
                        <span translate>event.artist-fold.Send Request</span>
                    </button>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>

<div class="modal fade modal-send-request map-1-modal" id="modal-map-3">
    <div class="modal-dialog">
        <div class="modal-body">
            <h6 class="head-m-p-a" translate>Location</h6>
            <span class="closee-modal" data-dismiss="modal"></span>
            <div class="for-map-init-modal-1">
                    <agm-map #agmMap style="height:100%" (mapClick)="setMapCoords($event)" [latitude]="mapCoords.lat" [longitude]="mapCoords.lng">
                        <agm-marker  [markerDraggable] = "true" (dragEnd)="dragMarker($event)" [(latitude)]="mapCoords.lat" [(longitude)]="mapCoords.lng"></agm-marker>
                </agm-map>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-send-request new-modal-inv" id="modal-send-unauth">
        <div class="modal-dialog">
            <div class="modal-body">
                <h6 class="head-m-p-a" translate>Venue Invite</h6>
                <div class="close-modal" data-dismiss="modal"></div>
                <div class="content-modal">
                    <div class="padd-left-right">
                        <div class="input-groupe-1 more-padd">
                            <div class="rel-wr">

                                <input id="inp-modal-inv-1" [(ngModel)]="VenueInvite.name"  name="" type="text">
                            </div>
                            <label for="inp-modal-inv-1" translate>event.venue.Name</label>
                        </div>
                        <div class="input-groupe-1 more-padd">
                            <div class="rel-wr">
                                <input id="inp-modal-inv-2" [(ngModel)]="VenueInvite.email"  name="" type="text">
                            </div>
                            <label for="inp-modal-inv-2">Email</label>
                        </div>
                        <span class="social-links-head" translate>event.venue.Social Media Links</span>
                        <div class="checkboxes-decline-wrapp">
                            <div class="checkbox-decline">
                                <div>
                                    <p class="desc-decil">Facebook</p>
                                    <p class="username-soc" translate>event.venue.Username:<input class="username-soc-input" [(ngModel)]="VenueInvite.facebook" name="" type="text" placeholder="{{'event.venue.@username' | translate}}"></p>
                                </div>
                                <div class="one-checkbox">
                                    <div class="check-style">
                                        <input type="checkbox" class="checkbox" [(ngModel)]="InviteSocials.facebook" name="" id="inv-check-1-1">
                                        <label for="inv-check-1-1"></label>
                                    </div>
                                </div>

                            </div>
                            <div class="checkbox-decline">
                                <div>
                                    <p class="desc-decil">Twitter</p>
                                    <p class="username-soc" translate>event.venue.Username:<input class="username-soc-input" [(ngModel)]="VenueInvite.twitter" name="" type="text" placeholder="{{'event.venue.@username' | translate}}"></p>
                                </div>
                                <div class="one-checkbox">
                                    <div class="check-style">
                                        <input type="checkbox" class="checkbox" [(ngModel)]="InviteSocials.twitter" name="" id="inv-check-1-2">
                                        <label for="inv-check-1-2"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="checkbox-decline">
                                <div>
                                    <p class="desc-decil">YouTube</p>
                                    <p class="username-soc" translate>event.venue.Username:<input class="username-soc-input" [(ngModel)]="VenueInvite.youtube" name="" type="text" placeholder="{{'event.venue.@username' | translate}}"></p>
                                </div>
                                <div class="one-checkbox">
                                    <div class="check-style">
                                        <input type="checkbox" class="checkbox" [(ngModel)]="InviteSocials.youtube" name="" id="inv-check-1-3">
                                        <label for="inv-check-1-3"></label>
                                    </div>
                                </div>

                            </div>
                            <div class="checkbox-decline">
                                <div>
                                    <p class="desc-decil">VK</p>
                                    <p class="username-soc" translate>event.venue.Username:<input class="username-soc-input" [(ngModel)]="VenueInvite.vk" name="" type="text" placeholder="{{'event.venue.@username' | translate}}"></p>
                                </div>
                                <div class="one-checkbox">
                                    <div class="check-style">
                                        <input type="checkbox" class="checkbox" [(ngModel)]="InviteSocials.vk" name="" id="inv-check-1-4">
                                        <label for="inv-check-1-4"></label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="send-request-b">
                        <button class="butt-style-1" type="submit" (click)="inviteVenue()">
                            <span translate>Invite</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="modal fade modal-send-request" id="modal-decline">
                        <div class="modal-dialog">
                            <div class="modal-body">
                                <h6 class="head-m-p-a">Decline Request</h6>

                                <div class="content-modal">
                                    <div class="padd-left-right">
                                        <p class="gray-some-t-13">You declined the offer because of...</p>
                                        <div class="checkboxes-decline-wrapp">
                                            <div class="checkbox-decline">
                                                <div class="one-checkbox">
                                                    <div class="check-style">
                                                        <input type="radio" [(ngModel)]="ownerAcceptDecline.reason" value="price" class="checkbox" name="checkbox-decline" id="checkbox-decline-1">
                                                        <label for="checkbox-decline-1"></label>
                                                    </div>
                                                </div>
                                                <p class="desc-decil">Price</p>
                                            </div>
                                            <div class="checkbox-decline">
                                                <div class="one-checkbox">
                                                    <div class="check-style">
                                                        <input type="radio" [(ngModel)]="ownerAcceptDecline.reason" value="location" class="checkbox" name="checkbox-decline" id="checkbox-decline-2">
                                                        <label for="checkbox-decline-2"></label>
                                                    </div>
                                                </div>
                                                <p class="desc-decil">Location</p>
                                            </div>
                                            <div class="checkbox-decline">
                                                <div class="one-checkbox">
                                                    <div class="check-style">
                                                        <input type="radio" [(ngModel)]="ownerAcceptDecline.reason" value="time" class="checkbox" name="checkbox-decline" id="checkbox-decline-3">
                                                        <label for="checkbox-decline-3"></label>
                                                    </div>
                                                </div>
                                                <p class="desc-decil">Time</p>
                                            </div>
                                            <div class="checkbox-decline">
                                                <div class="one-checkbox">
                                                    <div class="check-style">
                                                        <input type="radio" [(ngModel)]="ownerAcceptDecline.reason" value="other" class="checkbox" name="checkbox-decline" id="checkbox-decline-4">
                                                        <label for="checkbox-decline-4"></label>
                                                    </div>
                                                </div>
                                                <p class="desc-decil">Other</p>
                                            </div>
                                        </div>
                                        <div class="input-groupe-1 small-textarea whithout-label">
                                            <textarea [(ngModel)]="ownerAcceptDecline.additional_text" id="inp-desc-1-modal"></textarea>
                                        </div>
                                    </div>
                                    <div class="send-request-b">
                                        <button (click)="declineVenue()" class="butt-style-1" type="submit">
                                            <span>Decline</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
