<section class="main_content">
    <div class="for-flex-height">
        <section class="second-router-outlet">
            <div class="head-info-profile-wr">
                <div class="head-info-profile">
                    <div class="side side-1">
                        <div class="mouse-bg-image">
                            <div class="big-avatar" [ngStyle]="{'background-image': 'url('+Image+')'}"></div>
                        </div>
                    </div>
                    <div class="side side-2">
                        <h3 class="big-name">
                            <span id="lines_view">{{Account.first_name}} {{Account.last_name}}</span>
                            <span></span>
                            <span id="d_lines_view" class="insta-link-sp margened-xs-auto">@{{Account.user_name}}</span>
                        </h3>
                    </div>
                    <div class="side side-3">
                        <div *ngIf="MyProfileId == Account.id" class="edit-and-settings">
                            <a [routerLink]="['/system/fanCreate',Account.id]" class="settings"></a>
                        </div>
                        <div class="desc-wr">
                            <p id="b_lines_view" class="description">{{Account.bio}}</p>
                        </div>
                        <ng-container *ngIf="MyProfileId&&MyProfileId != Account.id && AccStatus != Status.Denied && AccStatus != Status.Inactive">
                            <form class="follow-wr" (ngSubmit)="FollowProfile(!isFolowedAcc)">
                                <button  class="butt-style-1" type="submit">
                                    <span *ngIf="isFolowedAcc">{{ 'Unfollow' | translate }}</span>
                                    <span *ngIf="!isFolowedAcc">{{ 'Follow' | translate }}</span>
                                </button>
                            </form>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="for-white-bg">
                <div class="circles-info">
                    <div class="main-mw">
                        <div class="for-flex-inf">
                            <div class="circle">
                                <span>{{TotalTicket}}</span>
                                <p translate>show-folder.Tickets</p>
                            </div>
                            <div class="circle">
                                
                                <span>{{Fans.length}}</span>
                                <p translate>Followers</p>
                            </div>
                            <div class="circle">
                                <span>{{Account.following_count}}</span>
                                <p translate>Following</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="all-info-profile">
                    <div class="uniq-padd">
                        <div class="main-mw">
                            <div class="genres-info">
                                <h3 translate>Artist-create.Genres</h3>
                                <div class="flex-genres">
                                    <ng-container *ngFor="let item of Account.genres;let i = index">
                                        <span class="one-genre">{{item.replace('_'," ")}}</span>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uniq-padd-2">
                        <div class="main-mw">
                            <div class="flex--info">
                                <div [ngStyle]="{'display':isPreloadEvents?'none':'block'}" class="side scroller">
                                    <div class="for-scroll-padd">
                                        <h6>{{'Events' | translate}} ({{EventsMassChecked.length}})</h6>
                                        <input type="text" class="search-profile-inp-style"  placeholder="{{'Search' | translate}}" (input)='searchEvents($event)'>
                                    </div>
                                    <div class="new-scroll-wr">
                                        <div class="blocks">
                                            <ng-container *ngIf="!IsMyAccount">
                                                <ng-container *ngFor="let item of EventsMassChecked">
                                                    <a [routerLink]="['/system','shows_detail',item.id]" style="display:block">
                                                        <app-ticket-on-profile [Ticket]="item"></app-ticket-on-profile>
                                                    </a>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngIf="IsMyAccount">
                                                <ng-container *ngFor="let item of EventsMassChecked">
                                                    <a [routerLink]="['/system','eventCreate',item.id]" style="display:block">
                                                        <app-ticket-on-profile [Ticket]="item"></app-ticket-on-profile>
                                                    </a>
                                                </ng-container>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                                <div [ngStyle]="{'display':!isPreloadEvents?'none':'block'}" class="side scroller">
                                    <app-preloader style="max-height: 200px;" *ngIf="isPreloadEvents"></app-preloader>
                                </div>
                                <div [ngStyle]="{'display':isPreloadTickets?'none':'block'}" class="side scroller">
                                    <div class="for-scroll-padd">
                                        <h6><span translate>show-folder.Tickets</span> ({{TotalTicket}})</h6>
                                        <input type="text" class="search-profile-inp-style" placeholder="{{ 'Search' | translate }}" (input)='searchTickets($event)'>
                                    </div>
                                    <div class="new-scroll-wr">
                                        <div class="blocks">
                                            <ng-container *ngIf="IsMyAccount">
                                                <ng-container *ngFor="let item of ticketsMassChecked">
                                                    <a  [routerLink]="['/system','tickets',item.id]" style="display:block">
                                                        <app-ticket-on-profile [Ticket]="item"></app-ticket-on-profile>
                                                    </a>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngIf="!IsMyAccount">
                                                <ng-container *ngFor="let item of ticketsMassChecked">
                                                    <a  [routerLink]="['/system','shows_detail',item.id]" style="display:block">
                                                        <app-ticket-on-profile [Ticket]="item"></app-ticket-on-profile>
                                                    </a>
                                                </ng-container>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                                <div [ngStyle]="{'display':!isPreloadTickets?'none':'block'}" class="side scroller">
                                    <app-preloader style="max-height: 200px;" *ngIf="isPreloadTickets"></app-preloader>
                                </div>
                                <div [ngStyle]="{'display':isPreloadFans?'none':'block'}"  class="side scroller uniq-padd-style-funs">
                                    <div class="uniq-padd-3">
                                        <h6>{{'Fans' | translate}} ({{FansChecked.length}})</h6>
                                        <input type="text" class="search-profile-inp-style" placeholder="{{'Search' | translate}}" (input)='searchFans($event)'>
                                    </div>
                                    <div class="new-scroll-wr">
                                        <div class="blocks-funs">
                                            <ng-container *ngFor="let item of FansChecked">
                                                <div class="one-block">
                                                    <app-one-folower-for-profile [Folower]="item"></app-one-folower-for-profile>
                                                </div>
                                            </ng-container>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div [ngStyle]="{'display':!isPreloadFans?'none':'block'}" class="side scroller uniq-padd-style-funs">
                                    <app-preloader style="max-height: 200px;" *ngIf="isPreloadFans"></app-preloader>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</section>