.one-day-wr::after{
    content:'';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 10;
}
.one-day-wr{
    position: relative;
}
.one-day-wr.mouseSelectDay{
    background: #FDE8EF;
}
.tiny-calendar-wrapper .days.set-date-popup .popup-set-price-wr{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.tiny-calendar-wrapper .days.set-date-popup .popup-set-price-wr .flex-price-inp input {
    padding: 8px 35px 8px 0;
}
.tiny-calendar-wrapper .days.set-date-popup .popup-set-price-wr .flex-select-range p{
    width: 45px;
}
.tiny-calendar-wrapper .body-calendar .days .one-day-wr .one-day .popup-inform-tiny-calendar .shadow-wr .bott-descr-day .where-2:before{
  display: none;
}
.tiny-calendar-wrapper .body-calendar .days .one-day-wr .one-day .popup-inform-tiny-calendar .shadow-wr .bott-descr-day .s:before{
  display: none;
}
.tiny-calendar-wrapper .body-calendar .days .one-day-wr .one-day .popup-inform-tiny-calendar .shadow-wr .bott-descr-day .f:before{
  display: none;
}
.tiny-calendar-wrapper .body-calendar .days .one-day-wr.today .one-day p {
  color: #fff !important;
}
.tiny-calendar-wrapper .days.set-date-popup .popup-set-price-wr .flex-price-inp i{
  display: block;
  position: absolute;
  left: 72px;
  top: 8px;
  color: #918f90;
}
/* .one-day:hover .popup-inform-tiny-calendar {
    display: block; }

  .popup-inform-tiny-calendar {
    display: none;
    position: absolute;
    right: 100%;
    bottom: 0;
    padding-right: 20px;
    width: 290px;
    z-index: 50;
    -webkit-transform: translateY(15%);
            transform: translateY(15%); }
    .popup-inform-tiny-calendar .shadow-wr {
      background: #fff;
      -webkit-box-shadow: 2px 2px 24px 0 rgba(0, 0, 0, 0.4);
              box-shadow: 2px 2px 24px 0 rgba(0, 0, 0, 0.4);
      position: relative; }
    .popup-inform-tiny-calendar .shadow-wr:after {
        content: "";
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        display: block;
        position: absolute;
        left: 100%;
        bottom: 15%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 12px 0 12px 11px;
        border-color: transparent transparent transparent #ffffff; }
      .popup-inform-tiny-calendar .shadow-wr .top-image {
        height: 175px;
        background-size: cover;
        background-position: center; }
      .popup-inform-tiny-calendar .shadow-wr .bott-descr-day {
        padding: 14px; }
       .popup-inform-tiny-calendar .shadow-wr .bott-descr-day p {
          margin-bottom: 0;
          text-align: center;
          color: #000; }
        .popup-inform-tiny-calendar .shadow-wr .bott-descr-day .f {
          font-family: AvenirLTStdBlack;
          font-size: 16px;
          text-transform: uppercase;
          margin-bottom: 10px; }
        .popup-inform-tiny-calendar .shadow-wr .bott-descr-day .s {
          font-size: 14px;
          margin-bottom: 10px; }
        .popup-inform-tiny-calendar .shadow-wr .bott-descr-day .where {
          font-size: 14px; }
        .popup-inform-tiny-calendar .shadow-wr .bott-descr-day .where-2 {
          font-size: 14px;
          color: #a3a3a3; }
        .popup-inform-tiny-calendar {
            -webkit-transform: translateY(18%);
                    transform: translateY(18%); } */