<!-- CREATED -->
<ng-container *ngIf="Feed.action != 'update_phone' && Feed.value != '' && Feed.value != '[]'">
    <div class="feed-item">
        <div class="head-feed-item">
            <div class="flex-ava-n">
                <div class="ava" [ngStyle]="{'background-image':Feed.account.img_base64?'url('+Feed.account.img_base64+')':''}"></div>
                <div class="name-desc">
                    <div class="name">
                        <p>{{Feed.account?.display_name?Feed.account.display_name:Feed.account.user_name}}</p>
                        <a [routerLink]="['/system','profile',Feed.account.id]" class="hash"><span>@</span>{{Feed.account.user_name}}</a>
                    </div>
                    <div class="desc">
                        <p>{{getFeedAction(Feed.action)|translate}}
                          <a *ngIf="Feed.type === 'event_update'" [routerLink]="['/system','shows_detail',Feed.event.id]">#{{Feed.event.name}} <span translate>Event</span></a>
                        </p>
                        <p *ngIf="(Feed.type === 'account_update') || (Feed.type === 'event_update' && Feed.field === 'description')" translate>{{getFeedValue()}}</p>
                    </div>
                </div>
            </div>
            <p class="when">{{Feed?.created_at?calculateTime(Feed.created_at):'A long time'}} <span translate>ago</span></p>
        </div>

        <div *ngIf="Feed.action === 'update_image' || Feed.action === 'update_gallery_image'" class="body-feed-item">
            <div class="one-photo" [ngStyle]="{'background-image': 'url('+getImage()+')'}"></div>
        </div>

        <div *ngIf="Feed.action === 'update_audio'" class="body-feed-item">
          <div class="main-mw">
              <div class="styles-audio-list">
                      <div class="audio-wrapper">
                          <div  class="one-audio">
                              <span class="name-track">{{Audio?.song_name?Audio.song_name:''}}</span>
                              <div class="audiojs">
                                  <div class="play-pause">
                                      <p *ngIf="!IsPlaying" (click)="playAudio(Audio.audio_link)" id="track-{{Audio?.id?Audio.id:0}}" class="play"></p>
                                      <p *ngIf="IsPlaying" (click)="stopAudio()" class="pause"></p>

                                  </div>
                                  <div class="scrubber" >
                                      <div class="progress"></div>
                                      <div class="loaded"></div>
                                  </div>
                                  <div class="time">
                                      <em class="played">00:00</em>
                                  </div>
                              </div>
                          </div>
                      </div>
              </div>
          </div>
        </div>

        <div *ngIf="Feed.action === 'update_album'" class="body-feed-item">
          <div class="main-mw">
              <div class="slider-2-albums slider-2-init" >

                    <!-- ngxSlickItem -->
                        <div  class="one-slide">
                            <div class="wrapp-card">
                                <div class="cover-image" [ngStyle]="{'background-image': Album?.album_artwork?'url('+Album.album_artwork+')':''}"></div>
                                <div class="descr playing">
                                    <p class="name">{{Album?.album_name?Album.album_name:''}}</p>
                                    <!-- <p class="date">2015</p> -->
                                    <div class="flex-centered-butt">
                                        <span class="butt-style-1">
                                            <a target="_blank" style="color:white" href="{{Album?.album_link?Album.album_link:''}}"><span translate>Artist-create.play</span></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

            </div>
          </div>
        </div>

        <div *ngIf="Feed.action === 'update_video' && videoUrl" class="body-feed-item">
          <div class="iframe-wrapp">
              <iframe [src]="videoUrl" width="560" height="315" frameborder="0" allow="autoplay; encrypted-media"></iframe>
          </div>
        </div>

        <div  class="footer-item">
            <div class="left-side">
                <span *ngIf="Feed.event?.comments_available" (click)="isOpenComment = !isOpenComment; GetComments()" class="coments counter-icon">
                  {{Feed.comments}}
                </span>
                <!--добавляем liked если лайнули-->
                <span (click)="likePost()" class="likes counter-icon" [ngClass]="{'liked': Feed.is_liked}">
                    {{Feed.likes}}
                </span>
            </div>
            <div class="right-side">


                <!-- <div class="dots">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div> -->
            </div>
        </div>
        <!--по нажатию на кементы-->
        <div *ngIf="isOpenComment" class="coments-item">
            <div *ngFor="let item of comments" class="one-coment">
                <div class="left-side">
                    <div class="ava" [ngStyle]="{'background-image':item.account?.image_base64?'url('+item.account.image_base64+')':''}"></div>
                </div>
                <div class="right-side">
                    <p class="name">{{item.account?.user_name?item.account.user_name:''}}</p>
                    <p class="description">{{item.text}}</p>
                    <p class="when">{{item.created_at?calculateTime(item.created_at):'A long time'}} {{'ago'|translate}}</p>
                </div>
            </div>

            <!--оставить комент-->
            <form class="leave-coment-wrapp">
                <div class="left-side">
                    <div class="ava" [ngStyle]="{'background-image':myLogo?'url('+myLogo+')':''}"></div>
                </div>
                <div class="input-wrapp">
                    <input type="text" translate name="text_comment" [(ngModel)]="comment.text" [placeholder]="'Leave a comment...'|translate">
                </div>
                <div class="right-side">
                    <button (click)="postComment()" class="butt-style-1" type="button">
                        <span translate>post</span>
                    </button>
                </div>
            </form>
        </div>
        <!--/по нажатию на кементы-->
    </div>

</ng-container>
