<!-- CREATED -->
<ng-container *ngIf="Feed.action != 'update_phone' && Feed.value != '' && Feed.value != '[]'">
    <div class="feed-item">
        <div class="head-feed-item">
            <div class="flex-ava-n">
                <div class="ava" [ngStyle]="{'background-image':Feed.account.img_base64?'url('+Feed.account.img_base64+')':''}"></div>
                <div class="name-desc">
                    <div class="name">
                        <p>{{Feed.account?.display_name?Feed.account.display_name:Feed.account.user_name}}</p>
                        <a [routerLink]="['/system','profile',Feed.account.id]" class="hash"><span>@</span>{{Feed.account.user_name}}</a>
                    </div>
                    <div *ngIf="Feed.type === 'account_update'" class="desc">
                        <p>{{replaceAll(Feed.action)|titlecase|translate}}
                          <a [routerLink]="['/system','profile',Feed.account.id]">{{Feed.account.display_name}}</a>
                            <ng-container
                              *ngIf="Feed.action !== 'update_image' && Feed.action !== 'update_gallery_image' && Feed.action !=='update_video' && Feed.action !=='update_album' && Feed.action !=='update_audio' "
                            >
                            <span translate>to</span> "{{Feed.value}}"
                            </ng-container>
                        </p>
                    </div>
                    <div *ngIf="Feed.type === 'event_update'" class="desc">
                        <ng-container>
                          <p *ngIf="Feed.action != 'launch_event'">{{replaceAll(Feed.action)|titlecase|translate}}
                             <a [routerLink]="['/system','shows_detail',Feed.event.id]">#{{Feed.event.name}}</a>
                             <ng-container
                              *ngIf="Feed.action !== 'update_image' && Feed.action !== 'update_gallery_image' && Feed.action !=='update_video' && Feed.action !=='update_album' && Feed.action !=='update_audio'"
                             >
                             <span translate>Event to</span> "{{getValue()}}"
                             </ng-container>
                          </p>
                        </ng-container>
                        <p *ngIf="Feed.action === 'launch_event'">{{replaceAll(Feed.action)|titlecase|translate}} <a [routerLink]="['/system','shows_detail',Feed.event.id]">#{{Feed.event.name}}</a></p>
                    </div>

                </div>
            </div>
            <p class="when">{{Feed?.created_at?calculateTime(Feed.created_at):'A long time'}} <span translate>ago</span></p>
        </div>

        <div *ngIf="Feed.action === 'update_image' || Feed.action === 'update_gallery_image'" class="body-feed-item">
            <div class="one-photo" [ngStyle]="{'background-image': 'url('+getImage()+')'}"></div>
        </div>

        <div *ngIf="Feed.action === 'update_audio'" class="body-feed-item">
          <div class="main-mw">
              <div class="styles-audio-list">
                      <div class="audio-wrapper">
                          <div  class="one-audio">
                              <span class="name-track">{{Audio?.song_name?Audio.song_name:''}}</span>
                              <div class="audiojs">
                                  <div class="play-pause">
                                      <p *ngIf="!IsPlaying" (click)="playAudio(Audio.audio_link)" id="track-{{Audio?.id?Audio.id:0}}" class="play"></p>
                                      <p *ngIf="IsPlaying" (click)="stopAudio()" class="pause"></p>

                                  </div>
                                  <div class="scrubber" >
                                      <div class="progress"></div>
                                      <div class="loaded"></div>
                                  </div>
                                  <div class="time">
                                      <em class="played">00:00</em>
                                  </div>
                              </div>
                          </div>
                      </div>
              </div>
          </div>
        </div>

        <div *ngIf="Feed.action === 'update_album'" class="body-feed-item">
          <div class="main-mw">
              <div class="slider-2-albums slider-2-init" >

                    <!-- ngxSlickItem -->
                        <div  class="one-slide">
                            <div class="wrapp-card">
                                <div class="cover-image" [ngStyle]="{'background-image': Album?.album_artwork?'url('+Album.album_artwork+')':''}"></div>
                                <div class="descr playing">
                                    <p class="name">{{Album?.album_name?Album.album_name:''}}</p>
                                    <!-- <p class="date">2015</p> -->
                                    <div class="flex-centered-butt">
                                        <span class="butt-style-1">
                                            <a target="_blank" style="color:white" href="{{Album?.album_link?Album.album_link:''}}"><span translate>Artist-create.play</span></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

            </div>
          </div>
        </div>


        <div *ngIf="Feed.action === 'update_video' && videoUrl" class="body-feed-item">
          <div class="iframe-wrapp">
              <iframe [src]="videoUrl" width="560" height="315" frameborder="0" allow="autoplay; encrypted-media"></iframe>
          </div>
        </div>

        <!-- <div *ngIf="Feed.action === 'update_album'" class="body-feed-item">
            <div class="one-photo">
              <p>
                {{getAlbum()}}
              </p>
            </div>
        </div> -->



        <div  class="footer-item">
            <div class="left-side">
                <span *ngIf="Feed.event?.comments_available" (click)="isOpenComment = !isOpenComment; GetComments()" class="coments counter-icon">
                  {{Feed.comments}}
                </span>
                <!--добавляем liked если лайнули-->
                <span (click)="likePost()" class="likes counter-icon" [ngClass]="{'liked': Feed.is_liked}">
                    {{Feed.likes}}
                </span>
            </div>
            <div class="right-side">


                <!-- <div class="dots">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div> -->
            </div>
        </div>
        <!--по нажатию на кементы-->
        <div *ngIf="isOpenComment" class="coments-item">
            <div *ngFor="let item of comments" class="one-coment">
                <div class="left-side">
                    <div class="ava" [ngStyle]="{'background-image':item.account?.image_base64?'url('+item.account.image_base64+')':''}"></div>
                </div>
                <div class="right-side">
                    <p class="name">{{item.account?.user_name?item.account.user_name:''}}</p>
                    <p class="description">{{item.text}}</p>
                    <p class="when">{{item.created_at?calculateTime(item.created_at):'A long time'}} {{'ago'|translate}}</p>
                </div>
            </div>

            <!--оставить комент-->
            <form class="leave-coment-wrapp">
                <div class="left-side">
                    <div class="ava" [ngStyle]="{'background-image':myLogo?'url('+myLogo+')':''}"></div>
                </div>
                <div class="input-wrapp">
                    <input type="text"  name="text_comment" [(ngModel)]="comment.text" placeholder="Leave a comment...">
                </div>
                <div class="right-side">
                    <button (click)="postComment()" class="butt-style-1" type="button">
                        <span translate>post</span>
                    </button>
                </div>
            </form>
        </div>
        <!--/по нажатию на кементы-->
    </div>


</ng-container>










<!-- VIDEO -->
<div *ngIf="Feed.action==='video'" class="feed-item">
    <div class="head-feed-item">
        <div class="flex-ava-n">
            <div class="ava" style="background-image: url(../../assets/img/drake.jpg)"></div>
            <div class="name-desc">
                <div class="name">
                    <p>Danielle Green</p>
                    <a href="#" class="hash"><span>@</span>centimia</a>
                </div>
                <div class="desc">
                    <p>Created <a href="#">#NewHippies</a> Event.</p>
                </div>
            </div>
        </div>
        <p class="when">2 mins ago</p>
    </div>
    <div class="body-feed-item">
        <div class="iframe-wrapp">
            <iframe src="https://www.youtube.com/embed/PzqcBkA6hzg"></iframe>
        </div>
    </div>
    <div class="footer-item">
        <div class="left-side">
            <span class="coments counter-icon">
                20
            </span>
            <!--добавляем liked если лайнули-->
            <span class="likes counter-icon">
                20
            </span>
        </div>
        <div class="right-side">
            <div class="dots">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </div>
    </div>
    <div class="coments-item">
        <div class="one-coment">
            <div class="left-side">
                <div class="ava" style="background-image: url(../../assets/img/drake.jpg)"></div>
            </div>
            <div class="right-side">
                <p class="name">Danielle Green</p>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in </p>
                <p class="when">1 day ago</p>
            </div>
        </div>

        <!--оставить комент-->
        <form class="leave-coment-wrapp">
            <div class="left-side">
                <div class="ava" style="background-image: url(../../assets/img/drake.jpg)"></div>
            </div>
            <div class="input-wrapp">
                <input type="text" placeholder="Leave a comment...">
            </div>
            <div class="right-side">
                <button class="butt-style-1" type="submit">
                    <span>post</span>
                </button>
            </div>
        </form>
    </div>
</div>

<!-- PHOTOS -->
<div *ngIf="Feed.action==='photo'" class="feed-item">
    <div class="head-feed-item">
        <div class="flex-ava-n">
            <div class="ava" style="background-image: url(../../assets/img/drake.jpg)"></div>
            <div class="name-desc">
                <div class="name">
                    <p>Danielle Green</p>
                    <a href="#" class="hash"><span>@</span>centimia</a>
                </div>
                <div class="desc">
                    <p>Created <a href="#">#NewHippies</a> Event.</p>
                </div>
            </div>
        </div>
        <p class="when">2 mins ago</p>
    </div>
    <div class="body-feed-item">
        <div class="for-min-height-photos">
            <div class="photos-wrapp">
                <div class="one-photo-wr">
                    <div class="one-photo" style="background-image: url(../../assets/img/drake.jpg)"></div>
                </div>
                <div class="one-photo-wr">
                    <div class="one-photo" style="background-image: url(../../assets/img/drake.jpg)"></div>
                </div>
                <div class="one-photo-wr">
                    <div class="one-photo" style="background-image: url(../../assets/img/drake.jpg)"></div>
                </div>
                <div class="one-photo-wr">
                    <div class="one-photo" style="background-image: url(../../assets/img/drake.jpg)"></div>
                </div>
                <div class="one-photo-wr">
                    <div class="one-photo" style="background-image: url(../../assets/img/drake.jpg)"></div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-item">
        <div class="left-side">
            <span class="coments counter-icon">
                20
            </span>
            <!--добавляем liked если лайнули-->
            <span class="likes counter-icon">
                20
            </span>
        </div>
        <div class="right-side">
            <div class="dots">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </div>
    </div>
    <div class="coments-item">
        <div class="one-coment">
            <div class="left-side">
                <div class="ava" style="background-image: url(../../assets/img/drake.jpg)"></div>
            </div>
            <div class="right-side">
                <p class="name">Danielle Green</p>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in </p>
                <p class="when">1 day ago</p>
            </div>
        </div>

        <!--оставить комент-->
        <form class="leave-coment-wrapp">
            <div class="left-side">
                <div class="ava" style="background-image: url(../../assets/img/drake.jpg)"></div>
            </div>
            <div class="input-wrapp">
                <input type="text" placeholder="Leave a comment...">
            </div>
            <div class="right-side">
                <button class="butt-style-1" type="submit">
                    <span>post</span>
                </button>
            </div>
        </form>
    </div>
</div>

<!-- COMMENTED ON YOUR EVENT -->
<div *ngIf="Feed.action==='commented'" class="feed-item">
    <div class="head-feed-item">
        <div class="flex-ava-n">
            <div class="ava" style="background-image: url(../../assets/img/drake.jpg)"></div>
            <div class="name-desc">
                <div class="name">
                    <p>Danielle Green</p>
                    <a href="#" class="hash"><span>@</span>centimia</a>
                </div>
                <div class="desc">
                    <p>And 6 others commented on your <a href="#">#CelebrateNY</a> Event</p>
                </div>
                <div class="avas-flex">
                    <a href="#" class="one-human" style="background-image: url(../../assets/img/drake.jpg)"></a>
                    <a href="#" class="one-human" style="background-image: url(../../assets/img/drake.jpg)"></a>
                    <a href="#" class="one-human" style="background-image: url(../../assets/img/drake.jpg)"></a>
                    <a href="#" class="one-human" style="background-image: url(../../assets/img/drake.jpg)"></a>
                    <a href="#" class="one-human" style="background-image: url(../../assets/img/drake.jpg)"></a>
                    <a href="#" class="one-human" style="background-image: url(../../assets/img/drake.jpg)"></a>
                </div>
            </div>
        </div>
        <p class="when">2 mins ago</p>
    </div>
    <div class="body-feed-item">

    </div>
    <div class="footer-item">
        <div class="left-side">
            <span class="coments counter-icon">
                20
            </span>
            <!--добавляем liked если лайнули-->
            <span class="likes counter-icon">
                20
            </span>
        </div>
        <div class="right-side">
            <div class="dots">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </div>
    </div>
    <div class="coments-item">
        <div class="one-coment">
            <div class="left-side">
                <div class="ava" style="background-image: url(../../assets/img/drake.jpg)"></div>
            </div>
            <div class="right-side">
                <p class="name">Danielle Green</p>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in </p>
                <p class="when">1 day ago</p>
            </div>
        </div>

        <!--оставить комент-->
        <form class="leave-coment-wrapp">
            <div class="left-side">
                <div class="ava" style="background-image: url(../../assets/img/drake.jpg)"></div>
            </div>
            <div class="input-wrapp">
                <input type="text" placeholder="Leave a comment...">
            </div>
            <div class="right-side">
                <button class="butt-style-1" type="submit">
                    <span>post</span>
                </button>
            </div>
        </form>
    </div>
</div>
