<!-- CREATED -->
<div class="feed-item">
    <div class="head-feed-item">
        <div class="flex-ava-n">
            <div class="ava" [ngStyle]="{'background-image':Feed.account.img_base64?'url('+Feed.account.img_base64+')':''}"></div>
            <div class="name-desc">
                <div class="name">
                    <p>{{Feed.account.user_name}}</p>
                    <a [routerLink]="['/system','profile',Feed.account.id]" class="hash"><span>@</span>{{Feed.account.user_name}}</a>
                </div>
                <div class="desc">
                    <p>{{Feed.action.replace('_',' ')|titlecase}} <a [routerLink]="['/system','shows_detail',Feed.event.id]">#{{Feed.event.name}}</a> Event.</p>
                </div>
            </div>
        </div>
        <p class="when">{{Feed.created_at?calculateTime(Feed.created_at):'A long time'}} ago</p>
    </div>
    <div class="body-feed-item"></div>
    <div class="footer-item">
        <div class="left-side">
            <span (click)="isOpenComment = !isOpenComment; GetComments()" class="coments counter-icon">
               {{Feed.comments}}
            </span>
            <!--добавляем liked если лайнули-->
            <span (click)="likePost()" class="likes counter-icon" [ngClass]="{'liked': Feed.is_liked}">
                {{Feed.likes}}
            </span>
        </div>
        <div class="right-side">

                
            <!-- <div class="dots">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div> -->
        </div>
    </div>
    <!--по нажатию на кементы-->
    <div *ngIf="isOpenComment" class="coments-item">
        <div *ngFor="let item of comments" class="one-coment">
            <div class="left-side">
                <div class="ava" [ngStyle]="{'background-image':item.account?.image_base64?'url('+item.account.image_base64+')':''}"></div>
            </div>
            <div class="right-side">
                <p class="name">{{item.account?.user_name?item.account.user_name:''}}</p>
                <p class="description">{{item.text}}</p>
                <p class="when">{{item.created_at?calculateTime(item.created_at):'A long time'}} ago</p>
            </div>
        </div>

        <!--оставить комент-->
        <form class="leave-coment-wrapp">
            <div class="left-side">
                <div class="ava" [ngStyle]="{'background-image':myLogo?'url('+myLogo+')':''}"></div>
            </div>
            <div class="input-wrapp">
                <input type="text"  name="text_comment" [(ngModel)]="comment.text" placeholder="Leave a comment...">
            </div>
            <div class="right-side">
                <button (click)="postComment()" class="butt-style-1" type="button">
                    <span>post</span>
                </button>
            </div>
        </form>
    </div>
    <!--/по нажатию на кементы-->
</div>

<!-- VIDEO -->
<div *ngIf="Feed.action==='video'" class="feed-item">
    <div class="head-feed-item">
        <div class="flex-ava-n">
            <div class="ava" style="background-image: url(../../assets/img/drake.jpg)"></div>
            <div class="name-desc">
                <div class="name">
                    <p>Danielle Green</p>
                    <a href="#" class="hash"><span>@</span>centimia</a>
                </div>
                <div class="desc">
                    <p>Created <a href="#">#NewHippies</a> Event.</p>
                </div>
            </div>
        </div>
        <p class="when">2 mins ago</p>
    </div>
    <div class="body-feed-item">
        <div class="iframe-wrapp">
            <iframe src="https://www.youtube.com/embed/PzqcBkA6hzg"></iframe>
        </div>
    </div>
    <div class="footer-item">
        <div class="left-side">
            <span class="coments counter-icon">
                20
            </span>
            <!--добавляем liked если лайнули-->
            <span class="likes counter-icon">
                20
            </span>
        </div>
        <div class="right-side">
            <div class="dots">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </div>
    </div>
    <div class="coments-item">
        <div class="one-coment">
            <div class="left-side">
                <div class="ava" style="background-image: url(../../assets/img/drake.jpg)"></div>
            </div>
            <div class="right-side">
                <p class="name">Danielle Green</p>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in </p>
                <p class="when">1 day ago</p>
            </div>
        </div>
        
        <!--оставить комент-->
        <form class="leave-coment-wrapp">
            <div class="left-side">
                <div class="ava" style="background-image: url(../../assets/img/drake.jpg)"></div>
            </div>
            <div class="input-wrapp">
                <input type="text" placeholder="Leave a comment...">
            </div>
            <div class="right-side">
                <button class="butt-style-1" type="submit">
                    <span>post</span>
                </button>
            </div>
        </form>
    </div>
</div>

<!-- PHOTOS -->
<div *ngIf="Feed.action==='photo'" class="feed-item">
    <div class="head-feed-item">
        <div class="flex-ava-n">
            <div class="ava" style="background-image: url(../../assets/img/drake.jpg)"></div>
            <div class="name-desc">
                <div class="name">
                    <p>Danielle Green</p>
                    <a href="#" class="hash"><span>@</span>centimia</a>
                </div>
                <div class="desc">
                    <p>Created <a href="#">#NewHippies</a> Event.</p>
                </div>
            </div>
        </div>
        <p class="when">2 mins ago</p>
    </div>
    <div class="body-feed-item">
        <div class="for-min-height-photos">
            <div class="photos-wrapp">
                <div class="one-photo-wr">
                    <div class="one-photo" style="background-image: url(../../assets/img/drake.jpg)"></div>
                </div>
                <div class="one-photo-wr">
                    <div class="one-photo" style="background-image: url(../../assets/img/drake.jpg)"></div>
                </div>
                <div class="one-photo-wr">
                    <div class="one-photo" style="background-image: url(../../assets/img/drake.jpg)"></div>
                </div>
                <div class="one-photo-wr">
                    <div class="one-photo" style="background-image: url(../../assets/img/drake.jpg)"></div>
                </div>
                <div class="one-photo-wr">
                    <div class="one-photo" style="background-image: url(../../assets/img/drake.jpg)"></div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-item">
        <div class="left-side">
            <span class="coments counter-icon">
                20
            </span>
            <!--добавляем liked если лайнули-->
            <span class="likes counter-icon">
                20
            </span>
        </div>
        <div class="right-side">
            <div class="dots">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </div>
    </div>
    <div class="coments-item">
        <div class="one-coment">
            <div class="left-side">
                <div class="ava" style="background-image: url(../../assets/img/drake.jpg)"></div>
            </div>
            <div class="right-side">
                <p class="name">Danielle Green</p>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in </p>
                <p class="when">1 day ago</p>
            </div>
        </div>
        
        <!--оставить комент-->
        <form class="leave-coment-wrapp">
            <div class="left-side">
                <div class="ava" style="background-image: url(../../assets/img/drake.jpg)"></div>
            </div>
            <div class="input-wrapp">
                <input type="text" placeholder="Leave a comment...">
            </div>
            <div class="right-side">
                <button class="butt-style-1" type="submit">
                    <span>post</span>
                </button>
            </div>
        </form>
    </div>
</div>

<!-- COMMENTED ON YOUR EVENT -->
<div *ngIf="Feed.action==='commented'" class="feed-item">
    <div class="head-feed-item">
        <div class="flex-ava-n">
            <div class="ava" style="background-image: url(../../assets/img/drake.jpg)"></div>
            <div class="name-desc">
                <div class="name">
                    <p>Danielle Green</p>
                    <a href="#" class="hash"><span>@</span>centimia</a>
                </div>
                <div class="desc">
                    <p>And 6 others commented on your <a href="#">#CelebrateNY</a> Event</p>
                </div>
                <div class="avas-flex">
                    <a href="#" class="one-human" style="background-image: url(../../assets/img/drake.jpg)"></a>
                    <a href="#" class="one-human" style="background-image: url(../../assets/img/drake.jpg)"></a>
                    <a href="#" class="one-human" style="background-image: url(../../assets/img/drake.jpg)"></a>
                    <a href="#" class="one-human" style="background-image: url(../../assets/img/drake.jpg)"></a>
                    <a href="#" class="one-human" style="background-image: url(../../assets/img/drake.jpg)"></a>
                    <a href="#" class="one-human" style="background-image: url(../../assets/img/drake.jpg)"></a>
                </div>
            </div>
        </div>
        <p class="when">2 mins ago</p>
    </div>
    <div class="body-feed-item">
    
    </div>
    <div class="footer-item">
        <div class="left-side">
            <span class="coments counter-icon">
                20
            </span>
            <!--добавляем liked если лайнули-->
            <span class="likes counter-icon">
                20
            </span>
        </div>
        <div class="right-side">
            <div class="dots">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </div>
    </div>
    <div class="coments-item">
        <div class="one-coment">
            <div class="left-side">
                <div class="ava" style="background-image: url(../../assets/img/drake.jpg)"></div>
            </div>
            <div class="right-side">
                <p class="name">Danielle Green</p>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in </p>
                <p class="when">1 day ago</p>
            </div>
        </div>
        
        <!--оставить комент-->
        <form class="leave-coment-wrapp">
            <div class="left-side">
                <div class="ava" style="background-image: url(../../assets/img/drake.jpg)"></div>
            </div>
            <div class="input-wrapp">
                <input type="text" placeholder="Leave a comment...">
            </div>
            <div class="right-side">
                <button class="butt-style-1" type="submit">
                    <span>post</span>
                </button>
            </div>
        </form>
    </div>
</div>