.feed-item .body-feed-item{
    height: 100%;
    /* background-size: cover;
    background-position: center; */
}
.feed-item .body-feed-item .one-photo {
            height: 600px;
            background-size: cover;
            background-position: center;
}
.styles-audio-list{
      margin-bottom: 0px;
}
.styles-audio-list .audio-wrapper .one-audio .name-track{
      top:5px;
}
