
<section class="main-router-outlet">

    <app-preloader *ngIf="isLoading"></app-preloader>
    <section class="second-router-outlet" [ngStyle]="{'display': isLoading?'none':'block'}">
        <div class="main-feed-wrapp">
            <div class="left-white"></div>
            <div class="middle-feed">
                <p class="feed-text">FEED</p>
                <div class="feed-items">

                    <!-- <ng-container > -->
                        <app-feed-item *ngFor="let item of Feed" [Feed]="item" [accId]="accId"></app-feed-item>
                    <!-- </ng-container> -->
                    
                    
                </div>
            </div>
            <div class="right-white"></div>
        
        
        
        
        

        
        </div>
    </section>

</section>