<div class="support_container">
    <h1 class="support_zag">Customer support</h1>
    <div class="support_grey">
        <div class="support_dialogs">
                           
            <div  *ngFor="let item of Questions" (click)="openNewQuestion(item.id)"  class="support_dialogs_item" [ngClass]="{'active': openQuestion&&openQuestion.id === item.id}">
                <div class="ava" [ngStyle]="{'background-image': item.account?'url('+item.account.image_base64_not_given+')':'url('+nonImage+')'}"></div>
                <div class="info">
                    <p class="question">
                        <span class="title">{{item.subject?item.subject:''}}</span>
                        <span class="date">{{item.date?item.date:''}}</span>
                    </p>
                    <p class="name">{{item.account&&item.account.display_name?item.account.display_name:''}}</p>
                    <p class="username"><span>@</span>{{item.account&&item.account.user_name?item.account.user_name:''}}</p>
                    <p class="address">{{item.account&&item.account.address?item.account.address:''}}</p>
                </div>
            </div>
                
        </div>
        <div class="support_right">
            <div class="support_head">
                <p>{{openQuestion&&openQuestion.subject}}</p>
                <span (click)="DeleteItem()" class="but_icon"><img src="./../../../assets/img/admin/support_delete.png" alt=""></span>
            </div>
            <div class="support_mes">
                <div class="mes_head">
                    <div class="ava" [ngStyle]="{'background-image': openQuestion&&openQuestion.account?'url('+openQuestion.account.image_base64_not_given+')':'url('+nonImage+')'}"></div>
                    <div class="info">
                        <p class="name">{{openQuestion&&openQuestion.subject}}</p>
                        <p class="username"><span>@</span>{{openQuestion&&openQuestion.account?openQuestion.account.user_name:''}}</p>
                        <p class="address">{{openQuestion&&openQuestion.account?openQuestion.account.address:''}}</p>
                    </div>
                </div>
                <div class="mes_text">
                        {{openQuestion&&openQuestion.message?openQuestion.message:''}}
                </div>
            </div>
            <div *ngIf="openQuestion&&openQuestion.question_reply" class="support_mes">
                <div class="mes_head">
                    <div class="ava" [ngStyle]="{'background-image':openQuestion&&openQuestion.question_reply&&openQuestion.question_reply.sender.image_id?'url('+openQuestion.question_reply.sender.image_base64_not_given+')':'url('+nonImage+')'}"></div>
                    <div class="info">
                        <p class="username"><span>@</span>{{openQuestion&&openQuestion.question_reply?openQuestion.question_reply.sender.user_name:''}}</p>
                    </div>
                </div>
                <div class="mes_text">
                    {{openQuestion&&openQuestion.question_reply?openQuestion.question_reply.simple_message:''}}
                </div>
            </div>
            <div *ngIf="openQuestion&&!openQuestion.question_reply" class="mes_form">
                <div class="mes_input">
                    
                </div>
                <div class="mes_input">
                    <ng-container>
                        <label>Pre-written Responses</label>
                        <!-- <select [ngModel]="Answer" (ngModelChange)="Answer = $event">
                            <option value="DefaultAnswer"></option>
                            <ng-container *ngFor="let item of AnswerOptions">
                                <option [value]="item">{{item.subject}}</option>
                            </ng-container>
                        </select> -->
                        <mat-form-field>
                            <mat-select [ngModel]="Answer" (ngModelChange)="Answer = $event">
                                <mat-option [value]="DefaultAnswer">DefaultAnswer</mat-option>
                                <mat-option *ngFor="let item of AnswerOptions" [value]="item">
                                    {{item.subject}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </ng-container>
                    
                    <label *ngIf="!Answer.Subject">Message</label>
                    <div class="mes_text_block">
                        <div *ngIf="!Answer.Subject" class="mes_text_wrap">
                            <textarea [(ngModel)]="Answer.Message"></textarea>
                            <!-- <span><img src="./../../../assets/img/admin/answer_attach_file.png"></span>
                            <input type="file" id="mes_attach_file" class="hidden"> -->
                        </div>
                        <button [disabled]="!Answer.Subject && !Answer.Message" (click)="SendAnswer()">SEND</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>