<div class="support_container">
    <h1 class="support_zag">Customer support</h1>
    <div class="support_grey">
        <div class="support_dialogs">
            <div class="support_dialogs_item">
                <div class="ava" style="background-image: url(img/drake.jpg)"></div>
                <div class="info">
                    <p class="question">
                        <span class="title">How to create event</span>
                        <span class="date">Feb 15</span>
                    </p>
                    <p class="name">Christian Aveen</p>
                    <p class="username"><span>@</span>Aveen</p>
                    <p class="address">New York, NY USA</p>
                </div>
            </div>
            <div class="support_dialogs_item active">
                <div class="ava" style="background-image: url(img/drake.jpg)"></div>
                <div class="info">
                    <p class="question">
                        <span class="title">How to create event</span>
                        <span class="date">Feb 15</span>
                    </p>
                    <p class="name">Christian Aveen</p>
                    <p class="username"><span>@</span>Aveen</p>
                    <p class="address">New York, NY USA</p>
                </div>
            </div>
            <div class="support_dialogs_item">
                <div class="ava" style="background-image: url(img/drake.jpg)"></div>
                <div class="info">
                    <p class="question">
                        <span class="title">How to create event</span>
                        <span class="date">Feb 15</span>
                    </p>
                    <p class="name">Christian Aveen</p>
                    <p class="username"><span>@</span>Aveen</p>
                    <p class="address">New York, NY USA</p>
                </div>
            </div>
            <div class="support_dialogs_item">
                <div class="ava" style="background-image: url(img/drake.jpg)"></div>
                <div class="info">
                    <p class="question">
                        <span class="title">How to create event</span>
                        <span class="date">Feb 15</span>
                    </p>
                    <p class="name">Christian Aveen</p>
                    <p class="username"><span>@</span>Aveen</p>
                    <p class="address">New York, NY USA</p>
                </div>
            </div>
            <div class="support_dialogs_item">
                <div class="ava" style="background-image: url(img/drake.jpg)"></div>
                <div class="info">
                    <p class="question">
                        <span class="title">How to create event</span>
                        <span class="date">Feb 15</span>
                    </p>
                    <p class="name">Christian Aveen</p>
                    <p class="username"><span>@</span>Aveen</p>
                    <p class="address">New York, NY USA</p>
                </div>
            </div>
        </div>
        <div class="support_right">
            <div class="support_head">
                <p>How to upload video</p>
                <span class="but_icon"><img src="img/admin/support_delete.png" alt=""></span>
            </div>
            <div class="support_mes">
                <div class="mes_head">
                    <div class="ava" style="background-image: url(img/drake.jpg)"></div>
                    <div class="info">
                        <p class="name">Christian Aveen</p>
                        <p class="username"><span>@</span>Aveen</p>
                        <p class="address">New York, NY USA</p>
                    </div>
                </div>
                <div class="mes_text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation? ullamco laboris
                </div>
            </div>
            <div class="support_mes">
                <div class="mes_head">
                    <div class="ava" style="background-image: url(img/drake.jpg)"></div>
                    <div class="info">
                        <p class="username"><span>@</span>MouseAdmin</p>
                    </div>
                </div>
                <div class="mes_text">
                    Please go to the FAQs - How to Upload Videos, section at the following address: http://mouselive.com/faqs/video
                </div>
            </div>
            <div class="mes_form">
                <div class="mes_input">
                    <label>Pre-written Responses</label>
                    <select>
                        <option></option>
                        <option>Find Artist</option>
                        <option>Search</option>
                        <option>Video</option>
                        <option>Sorry</option>
                        <option>Thank you</option>
                    </select>
                </div>
                <div class="mes_input">
                    <label>Message</label>
                    <div class="mes_text_block">
                        <div class="mes_text_wrap">
                            <textarea></textarea>
                            <span><img src="img/admin/answer_attach_file.png"></span>
                            <input type="file" id="mes_attach_file" class="hidden">
                        </div>
                        <button>SEND</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>