<div class="flex-select-range">
    <p class="upper-label-fix-class" translate>{{Label}}</p>
    <div class="input-groupe-1" style="width: 48px;">
        <mat-form-field >
            <mat-select [(ngModel)]="Month" (ngModelChange)="MonthChanges($event) ">
                <mat-option *ngFor="let item of MonthArray; let i = index" [value]="i">
                    {{ item | translate}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="input-groupe-1" style="width: 39px;height: 31px;">
        <input type="text" [ngModel]="Day" (ngModelChange)="DateChanges($event)" [textMask]="MaskDays(Day.toString())" >
    </div>
    <div class="input-groupe-1" style="width: 48px;">
        <mat-form-field >
            <mat-select [(ngModel)]="Year" (ngModelChange)="YearChanges($event) ">
                <mat-option *ngFor="let item of YearArray" [value]="item">
                    {{ item }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>