.photo-wr-1{
    justify-content: flex-start;
}
.photo-wr-1 .new-style-img-up{
    position: relative;
    margin: 0;
    
}
.photo-wr-1 .new-style-img-up .bg-image{
    border-color: #adadad;
    border-radius: 0;
    width: 200px;
    height: 150px;
}
.photo-wr-1 .new-style-img-up .bg-image:before{
    background-color: #adadad;
    width: 70px;
}
.photo-wr-1 .new-style-img-up .bg-image:after{
    background-color: #adadad;
    height: 70px;
}

.photo-wr-1.n-i-s .bg-image{
    width: 200px;
    height: 150px;
    border-color: #adadad;
    border-color: #adadad;
    border-radius: 0;
    
}
.photo-wr-1.n-i-s .bg-image:before{
    background-color: #adadad;
    width: 70px;
}
.photo-wr-1.n-i-s .bg-image:after{
    background-color: #adadad;
    height: 70px;
}
.circle-scroll{
    cursor: pointer;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
.location-wr .location-inp{
    border-bottom: 1px dashed rgba(0, 0, 0, 0.25);
    padding: 5px 4px;
}

.modal-send-request.map-1-modal .modal-dialog .for-map-init-modal-1{
    height: 600px;
    border: none;
}
.flex-input-groupes .input-groupe-1:first-child{
    margin-left: 0!important;
}

.user-name-dog{
    display: block;
    position: absolute;
    top: 29px;
    left: 0;
    color: #eb2d64;
    font-size: 14px;
    z-index: 300;
}
.input-groupe-1.dog input{
    padding-left: 13px;
}