<div class="create-event-body-1">
    <div class="main-mw">
        <form [formGroup]="aboutForm">
        <div class="create-event-body">
           <div class="head-ev-body">
                <h2>About</h2>
                <p>Please fill in all required fields <br>to proceed to the Next Step</p>
            </div>
            <div class="groupe-form" class="flex-body-1">
                <div class="side">
                    <div class="input-groupe-1 lbl-1">
                        
                        <input id="inp-create-1" name="name" type="text" [(ngModel)]="Event.name" formControlName="name"  >
                        <label for="inp-create-1">Event name<span>*</span></label>
                    </div>
                    <div class="input-groupe-1">
                        <input id="inp-create-2" formControlName="hashtag" [textMask]="WithoutSpace()" [(ngModel)]="Event.hashtag" name="" type="text" >
                        <label for="inp-create-2">Hashtag<span>*</span></label>
                        
                    </div>
                    <div class="input-groupe-1">
                        <input id="inp-create-3" name="" type="text" [textMask]="WithoutSpace()" formControlName="tagline" [(ngModel)]="Event.tagline">
                        <label for="inp-create-3">Tagline<span>*</span></label>
                       
                    </div>
                    <div class="flex-mac-checkbox">
                        <p>Crowdfunding  Event?</p>
                        <div class="yes-no">
                            <span>Yes</span>
                            <div class="mac-checkbox">
                                <input class="checkbox" type="checkbox" id="mac-checkbox-1" formControlName="is_crowdfunding_event" [(ngModel)]="Event.is_crowdfunding_event">
                                <label for="mac-checkbox-1"></label>
                            </div>
                            <span>No</span>
                        </div>
                    </div>
                    <div class="flex-input-groupes">
                        <div class="input-groupe-1">
                            <!--тут пока селекты. но если вы найдете норм плагин таких селектов которые можно будет стилизовать и которые работают с ангуларом - буду очень признателен-->
                            <select formControlName="artists_number" id="inp-create-4" [(ngModel)]="Event.artists_number">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                
                            </select>
                            <label for="inp-create-4">Number of Artists<span>*</span></label>

                        </div>
                        <div *ngIf="Event.is_crowdfunding_event" class="input-groupe-1">
                            
                            <div class="rel-wr">
                                <span class="abs-backs">$</span>

                                <input formControlName="funding_goal" [(ngModel)]="Event.funding_goal" [textMask]="MaskNumbers()" id="inp-create-5" class="dollar" name="" type="text">
                            </div>
                            <label for="inp-create-5">Funding Goal</label>
                            
                        </div>
                    </div>
                </div>
                <div class="side">
                    <div class="input-groupe-1 whithout-label">
                        <span class="head-groupe">Genre</span>
                        <div class="flex-genres">
                                <ng-container *ngFor="let item of genres; let i = index">
                                    <span *ngIf="item.checked"  class="one-genre">{{item.genre_show}}</span>
                                </ng-container>
                            <div class="add-to-genres">
                                
                                <span class="plus" (click)="showMoreGenres = !showMoreGenres"></span>
                                <!--клик на плюсик добавляем absgenres-pick-wr класс showed-->
                                <div id="pick-up-genre-modal" class="absgenres-pick-wr" [ngClass]="{showed:showMoreGenres}">
                                    <input class="search" (input)="GengeSearch($event.target.value)" type="text" placeholder="Search">
                                    <div class="flex-genres for-pick">
                                        <!--Добавляем класс picked-->
                                        <ng-container *ngFor="let item of genres; let i = index">
                                            <span *ngIf="item.show" (click)="item.checked = !item.checked; GetEventGenres()" class="one-genre" [ngClass]="{picked:item.checked}">{{item.genre_show}}</span>
                                        </ng-container>
        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-input-groupes">
                        <div class="input-groupe-1">
                            <select formControlName="event_season" [(ngModel)]="Event.event_season" class="selectpicker" >
                                <option value="spring">Spring</option>
                                <option value="summer">Summer</option>
                                <option value="autumn">Autumn</option>
                                <option value="winter">Winter</option>
                            </select>
                            <label for="inp-create-5">Event Date<span>*</span></label>

                        </div>
                        <div class="input-groupe-1">
                            <select formControlName="event_year" [(ngModel)]="Event.event_year"  id="inp-create-6" >
                                <option>2018</option>
                                <option>2019</option>
                                <option>2020</option>
                                <option>2021</option>
                                <option>2022</option>
                                
                            </select>
                            

                        </div>
                    </div>
                    <div class="flex-input-groupes">
                        <div class="input-groupe-1">
                            <select id="inp-create-7" [(ngModel)]="Event.event_time" formControlName="event_time">
                                <option value="morning">Morning</option>
                                <option value="afternoon">Afternoon</option>
                                <option value="evening">Evening</option>
                                <!-- <option value="night">Night</option> -->
                                
                            </select>
                            <label for="inp-create-7">Event Time Range<span>*</span></label>

                        </div>
                        <div class="input-groupe-1">
                            <select formControlName="event_length" [(ngModel)]="Event.event_length" id="inp-create-8" >
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option>13</option>
                                <option>14</option>
                                <option>15</option>
                                <option>16</option>
                                <option>17</option>
                                <option>18</option>
                                <option>19</option>
                                <option>20</option>
                                <option>21</option>
                                <option>22</option>
                                <option>23</option>
                                <option>24</option>
                                
                            </select>
                            <label for="inp-create-8">Event Length<span>*</span></label>

                        </div>
                    </div>

                    <div class="flex-input-groupes">
                        <div *ngIf="Event.date_from" class="input-groupe-1">
                            <input disabled id="inp-create-3" name="" type="text" [value]="Event.date_from|date">
                            <label for="inp-create-3">Exact date from</label>
                           
                        </div>
                        <div *ngIf="Event.date_to" class="input-groupe-1">
                            <input disabled id="inp-create-3" name="" type="text" [value]="Event.date_to|date">
                            <label for="inp-create-3">Exact date to</label>
                           
                        </div>
                    </div>

                    <div class="location-wr">
                        <div (click)="aboutOpenMapModal()" class="mark"></div>
                        <input id="aboutAddress" type="text" id="aboutAddress" class="location-inp" [ngModelOptions]="{standalone: true}" [ngModel]="Event.address"  placeholder="" #searchAbout> 
                    </div>
                </div>
                <div class="side">


                    <div class="input-groupe-1 whithout-label">
                            
                            <div class="photo-wr-1 n-i-s">
                                
                                <label *ngIf="!Event.image_base64" class="file_upload new-style-img-up">
                                    <div class="bg-image"></div>

                                    <input accept=".jpg, .jpeg, .png" (change)="uploadImage($event)" type="file">
                                </label>

                                <!--появляется этот блок если загружена фотка и в стайл бекграунд имейдж ебануть-->
                                <div *ngIf="Event.image_base64" (click)="Event.image_base64=''" [ngStyle]="{'background-image': Event.image_base64?'url('+Event.image_base64+')':''}" class="bg-image uploaded"></div>
                                <!---->
                            </div>
                            <label  class="head-groupe">Add Image</label>
                    </div>

                        <div class="input-groupe-1 whithout-label">
                            
                            <textarea formControlName="description" [(ngModel)]="Event.description"  id="inp-create-9"></textarea>
                            <label for="inp-create-9" class="head-groupe">Short Description<span>*</span></label>
                            
                        </div>
                    
                </div>
            </div>
            <div class="scroll-wrapp">
                <div class="circle-scroll" (click)="SaveEvent()" ></div>
            </div>
            
        </div>
        </form>
    </div>
</div>

<div class="modal fade modal-send-request map-1-modal" id="modal-map-1">
    <div class="modal-dialog">
        <div class="modal-body">
            <h6 class="head-m-p-a">Location</h6>
            <span class="closee-modal" data-dismiss="modal"></span>
            <div class="for-map-init-modal-1">
                    <agm-map  style="height:100%" (mapClick)="setMapCoords($event)" [latitude]="mapCoords.lat" [longitude]="mapCoords.lng">
                            <agm-marker  [markerDraggable] = "true" (dragEnd)="dragMarker($event)" [(latitude)]="mapCoords.lat" [(longitude)]="mapCoords.lng"></agm-marker>
                    </agm-map>
            </div>
        </div>
    </div>
</div>