<div class="settings_right_wrap">
  <h2 class="zag">Feedback</h2>
  <form class="setts_padding send_quest_form feedback_form">
      <p class="grey">I'm telling you about...</p>
      <div class="radio_wrap">
          <input type="radio" name="feedback_topic" class="feedback_radio" id="feedback-radio1" />
          <label for="feedback-radio1">A Bug</label>
      </div>
      <div class="radio_wrap">
          <input type="radio" name="feedback_topic" class="feedback_radio" id="feedback-radio2" />
          <label for="feedback-radio2">An Enhancement</label>
      </div>
      <div class="radio_wrap">
          <input type="radio" name="feedback_topic" class="feedback_radio" id="feedback-radio3" />
          <label for="feedback-radio3">Compliment</label>
      </div>
      <label class="grey_label">Details</label>
      <textarea class="settings_dots"></textarea>
      <p class="settings_ta_max">1000 max</p>
      <p class="grey">How are we doing?</p>
      <div class="stars">
          <span class="active"></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
      </div>
      <input type="text" class="hidden" name="" id="rate_star">
      <p class="grey_center">Please rate how we're doing</p>
      <button type="submit" class="butt-style-1"><span>Send</span></button>
  </form>
</div>