
<section class="main-router-outlet">
    <section class="login-register">
        <div class="login">
            <div class="m-w-log">
                <div class="login-form">
                    <img src="../../assets/img/mouse-big-logo.png" class="img-responsive mouse-logo-1" alt="">
                    <img src="../../assets/img/text-mouse.png" class="img-responsive mouse-logo-2" alt="">
                    <form #signInForm="ngForm" (ngSubmit)="onSubmitSignIn(signInForm)">
                        <input autocomplete="off" type="text" name="username" ngModel class="inp-style-1" placeholder="Username">
                        <input autocomplete="off" type="password" name="password" ngModel class="inp-style-1" placeholder="Password">
                        <div class="forgot-password-wr">
                            <span>Forgot your password?</span>
                        </div>
                        <button type="submit" class="butt-style-1"><span>Sign In</span></button>
                    </form>
                    <div class="outher-butt">
                        <a routerLink="/register">Create account</a>
                        <p>or</p>
                        <p>Sign in with</p>
                        <div class="socials">
                            <span class="soc">
                                <img src="../../assets/img/goo.svg" (click)="signInGoFb('google')" class="img-responsive" alt="">
                            </span>
                            <span class="soc">
                                <img src="../../assets/img/fb.svg" (click)="signInGoFb('facebook')" class="img-responsive" alt="">
                            </span>
                            <span class="soc">
                                <img src="../../assets/img/tw.svg" class="img-responsive" alt="">
                            </span>
                            <span class="soc">
                                <img src="../../assets/img/vk.svg" class="img-responsive" alt="">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>