<!-- если кол-во артистов меньше 4 - добавить style="padding-bottom:250px"  -->
<div class="nav-holder-3" id="nav-holder" >
    <div class="wrapp-for-filter">
        <form>
            <input type="text" class="inp-style-1" placeholder="Search">
            <div class="groupe-form">
                <p class="head-input-groupe">Date</p>
                <div class="wrapp-for-triangle">
                    <input type="text" class="date-picker-inp">
                </div>
            </div>
            <div class="groupe-form">
                <p class="head-input-groupe">Location</p>
                <div class="location-wr">
                    <div class="mark"></div>
                    <input type="text" class="location-inp">
                </div>
            </div>
            <div class="groupe-form">
                <p class="head-input-groupe">Distance</p>
                <div class="for-range-slider">
                    <input type="text" class="current-slider" value="">
                </div>
            </div>
            <div class="groupe-form">
                <p class="head-input-groupe">Genre</p>
                <div class="flex-genres">
                    <div class="one-checkbox">
                        <div class="check-style">
                            <input type="checkbox" class="checkbox" name="" id="checkbox-1">
                            <label for="checkbox-1"></label>
                        </div>
                        <p>hip hop</p>
                    </div>
                    <div class="one-checkbox">
                        <div class="check-style">
                            <input type="checkbox" class="checkbox" name="" id="checkbox-2">
                            <label for="checkbox-2"></label>
                        </div>
                        <p>hip hop</p>
                    </div>
                    <div class="one-checkbox">
                        <div class="check-style">
                            <input type="checkbox" class="checkbox" name="" id="checkbox-3">
                            <label for="checkbox-3"></label>
                        </div>
                        <p>hip hop</p>
                    </div>
                    <div class="one-checkbox">
                        <div class="check-style">
                            <input type="checkbox" class="checkbox" name="" id="checkbox-4">
                            <label for="checkbox-4"></label>
                        </div>
                        <p>hip hop</p>
                    </div>
                    <div class="one-checkbox">
                        <div class="check-style">
                            <input type="checkbox" class="checkbox" name="" id="checkbox-5">
                            <label for="checkbox-5"></label>
                        </div>
                        <p>hip hop</p>
                    </div>
                    <div class="one-checkbox">
                        <div class="check-style">
                            <input type="checkbox" class="checkbox" name="" id="checkbox-6">
                            <label for="checkbox-6"></label>
                        </div>
                        <p>hip hop</p>
                    </div>
                </div>
                <p class="more"><span>See more</span></p>
            </div>
            <div class="groupe-form">
                <p class="head-input-groupe">Ticket type</p>
                <div class="flex-radio">
                    <div class="one-radio">
                        <div class="radio-style">
                            <input type="radio" class="radio-b" id="radio-1"  name="group1" value="VR" checked>
                            <label for="radio-1"></label>
                        </div>
                        <p>VR</p>
                    </div>
                    <div class="one-radio">
                        <div class="radio-style">
                            <input type="radio" class="radio-b" id="radio-2" name="group1" value="Attend">
                            <label for="radio-2"></label>
                        </div>
                        <p>Attend</p>
                    </div>
                </div>
            
            </div>
            <div class="groupe-form">
                <p class="head-input-groupe">Size</p>
                <select class="form-control">
                    <option>Size 1</option>
                    <option>Size 2</option>
                    <option>Size 3</option>
                    <option>Size 4</option>
                </select>
            </div>
        </form>
        
    </div>
</div>


<section class="second-router-outlet">
                    
                   
                    
    <div class="mask-nav-3"></div>
    
    <div class="shows-main-wrapp mainWrapper grey-bg">
        <div class="main-mw">
            <div class="head-shows">
                <button class="ham-ham nav-button">
                    <div class="ham"></div>
                    <div class="ham"></div>
                    <div class="ham"></div>
                </button>
                <a href="#" class="ham-ham at-map">
                    
                </a>
                <h1>Events</h1>
                
                <span [routerLink]="['/system','eventCreate']" class="add-event-butt"><span>Add Event</span></span>
            </div>
            
        </div>
        <div class="main-mw-6">
            <div class="for-flex-all-events">
                <div class="one-event-wr">
                    <div class="one-event">
                        <div class="cover-event" style="background-image: url(../../assets/img/drake.jpg)">
                            <div class="icons-vr-t">
                                <div class="vr"></div>
                                <div class="ticket-icon"></div>
                            </div>
                        </div>
                        <div class="white-desc-event">
                            <a href="#" class="name-artist">Marilyn Manson</a>
                            <p class="when">November 30, 2017</p>
                            <p class="where">Madison Square Garden, NY</p>
                            <div class="funded-bar">
                                <div class="funded" style="width: 14%"></div>
                            </div>
                            <div class="funded-desc">
                                <p class="finded-proc"><span>14%</span> Funded</p>
                                <p class="comlete-t">0% Complete</p>
                            </div>
                            <p class="style-text-2"><span>60</span> Days to go</p>
                            <div class="last-flex-info">
                                <p class="style-text-2"><span>0</span> Backers</p>
                                <p class="not-active">Not Active</p>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
                <div class="one-event-wr">
                    <div class="one-event">
                        <div class="cover-event" style="background-image: url(../../assets/img/drake.jpg)">
                            <div class="icons-vr-t">
                                <div class="vr"></div>
                                <div class="ticket-icon"></div>
                            </div>
                        </div>
                        <div class="white-desc-event">
                            <a href="#" class="name-artist">Marilyn Manson</a>
                            <p class="when">November 30, 2017</p>
                            <p class="where">Madison Square Garden, NY</p>
                            <div class="funded-bar">
                                <div class="funded" style="width: 50%"></div>
                            </div>
                            <div class="funded-desc">
                                <p class="finded-proc"><span>50%</span> Funded</p>
                                <p class="comlete-t">0% Complete</p>
                            </div>
                            <p class="style-text-2"><span>60</span> Days to go</p>
                            <div class="last-flex-info">
                                <p class="style-text-2"><span>0</span> Backers</p>
                                
                            </div>
                            <div (click)="analiticsClick()" class="abs-analytics">Analytics</div>
                        </div>
                        
                    </div>
                </div>
                <div class="one-event-wr">
                    <div class="one-event">
                        <div class="cover-event" style="background-image: url(../../assets/img/drake.jpg)">
                            <div class="icons-vr-t">
                                <div class="vr"></div>
                                <div class="ticket-icon"></div>
                            </div>
                        </div>
                        <div class="white-desc-event">
                            <a href="#" class="name-artist">Marilyn Manson</a>
                            <p class="when">November 30, 2017</p>
                            <p class="where">Madison Square Garden, NY</p>
                            <div class="funded-bar">
                                <div class="funded" style="width: 50%"></div>
                            </div>
                            <div class="funded-desc">
                                <p class="finded-proc"><span>50%</span> Funded</p>
                                <p class="comlete-t">0% Complete</p>
                            </div>
                            <p class="style-text-2"><span>60</span> Days to go</p>
                            <div class="last-flex-info">
                                <p class="style-text-2"><span>0</span> Backers</p>
                                
                            </div>
                            <div (click)="analiticsClick()" class="abs-analytics">Analytics</div>
                        </div>
                        
                    </div>
                </div>
                <div class="one-event-wr">
                    <div class="one-event">
                        <div class="cover-event" style="background-image: url(../../assets/img/drake.jpg)">
                            <div class="icons-vr-t">
                                <div class="vr"></div>
                                <div class="ticket-icon"></div>
                            </div>
                        </div>
                        <div class="white-desc-event">
                            <a href="#" class="name-artist">Marilyn Manson</a>
                            <p class="when">November 30, 2017</p>
                            <p class="where">Madison Square Garden, NY</p>
                            <p class="types">Number of ticket types: 2</p>
                            <div class="last-flex-info"></div>
                            <div (click)="analiticsClick()" class="abs-analytics">Analytics</div>
                        </div>
                        
                    </div>
                </div>
                <div class="one-event-wr">
                    <div class="one-event">
                        <div class="cover-event" style="background-image: url(../../assets/img/drake.jpg)">
                            <div class="icons-vr-t">
                                <div class="vr"></div>
                                <div class="ticket-icon"></div>
                            </div>
                        </div>
                        <div class="white-desc-event">
                            <a href="#" class="name-artist">Marilyn Manson</a>
                            <p class="when">November 30, 2017</p>
                            <p class="where">Madison Square Garden, NY</p>
                            <p class="types">Number of ticket types: 2</p>
                            <div class="last-flex-info">
                                <p class="style-text-2"><span>95%</span> Complete</p>
                                <p class="not-active">Not Active</p>
                            </div>
                           
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--модалка для кликов на Analytics-->
    <div class="modal fade modal-send-request analytics" id="modal-analytics">
        <div class="modal-dialog">
            <div class="modal-body">
               
                <h6 class="head-m-p-a"><span>MUSE ANALYTICS</span></h6>
                
                <span class="closee-modal" data-dismiss="modal"></span>
                
                <div class="bg-analytics-cover" style="background-image: url(../../assets/img/drake.jpg)"></div>
                <div class="all-info-by-event">
                    <div class="top-side">
                        <p class="f-t-i">Event Details</p>
                        <p class="when">November 30, 2017</p>
                        <p class="where">Madison Square Garden, NY</p>
                        <div class="funded-bar">
                            <div class="funded" style="width: 50%"></div>
                        </div>
                        <div class="funded-desc">
                            <p class="count">$34 000 (68%)</p>
                            <div class="marg">
                                <p class="style-text-2"><span>12</span><br>Days to go</p>
                                <p class="style-text-2"><span>2345</span><br>Backers</p>
                            </div>
                        </div>
                        <p class="goal">Goal: <span>$50 000</span></p>
                    </div>
                    <div class="bottom-side">
                        <p class="f-t-i">Totals</p>
                        <div class="flex-info-bottom-side">
                            <p>Purchased Tickets</p>
                            <p class="count">2345</p>
                        </div>
                        <div class="flex-info-bottom-side">
                            <p>In Person Tickets</p>
                            <p class="count">2345</p>
                        </div>
                        <div class="flex-info-bottom-side">
                            <p>VR Tickets</p>
                            <p class="count">2345</p>
                        </div>
                        <div class="flex-info-bottom-side">
                            <p>Views</p>
                            <p class="count">2345</p>
                        </div>
                        <div class="flex-info-bottom-side">
                            <p>Clicks</p>
                            <p class="count">2345</p>
                        </div>
                        <div class="flex-info-bottom-side">
                            <p>Percentage Sold</p>
                            <p class="count">2345</p>
                        </div>
                        <div class="flex-info-bottom-side">
                            <p>Comments <span class="show-t">(show)</span></p>
                            <p class="count redd">2345</p>
                        </div>
                        <div class="flex-info-bottom-side">
                            <p>Likes <span class="show-t">(show)</span></p>
                            <p class="count redd">2345</p>
                        </div>
                        <div class="print-wr">
                            <button class="butt-style-1">
                                <span>Print</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>













<div class="modal fade modal-slider" id="modal-slider">
    <div class="modal-dialog">
        <div class="modal-body">
            <div class="rel-modal">
                <div class="close-modal" data-dismiss="modal"></div>
                <div class="slider-padd">
                    <div class="slider-modal-wr">
                        <div class="one-slide">
                            <h4><span>Share</span> shows you like <span>with friends</span></h4>
                        </div>
                        <div class="one-slide">
                            <h4>Watch shows in <span>360°</span> virtual reality devices</h4>
                        </div>
                        <div class="one-slide">
                            <h4>Crowdfund <span>shows</span> of your favorite artists <span>in your hometown</span></h4>
                        </div>
                    </div>
                </div>
                <div class="flex-buttons-modal">
                    <div class="one-butt-wr">
                        <div class="style-b-op">
                            <span data-dismiss="modal">Sign up later</span>
                        </div>
                    </div>
                    <div class="one-butt-wr">
                        <div class="style-b-op">
                            <a href="#">Sign up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>