<section class="main-router-outlet">
<div class="nav-holder-3" id="nav-holder" [ngClass]="{padding250:Events.length<=3}">
    <div class="wrapp-for-filter">
        <form (ngSubmit)="ShowSearchResults()" #SearchForm="ngForm">
            <input type="text" class="inp-style-1" name="serch-text" [ngModel]="SearchParams.text" (ngModelChange)="SearchParams.text = $event" placeholder="Search">
            <div class="groupe-form">
                <p class="head-input-groupe">Date</p>
                <div class="wrapp-for-triangle">
                    <input type="text" name="date-picker-inp" class="date-picker-inp" bsDaterangepicker ngModel [bsConfig]="bsConfig" [(ngModel)]="SearchDateRange">
                </div>
            </div>
            <div class="groupe-form">
                <p class="head-input-groupe">Location</p>
                <div class="location-wr">
                    <div (click)="aboutOpenMapModal()" class="mark">
                    </div>
                    <input type="text" class="location-inp" name="search-params-address" autocorrect="off" autocapitalize="off" spellcheck="off" placeholder="" [ngModel]="SearchParams.location" (ngModelChange)="SearchParams.location = $event"  #search id="searchAddress">
                </div>
            </div>
            <div class="groupe-form">
                <p class="head-input-groupe">Distance</p>
                <div class="for-range-slider">
                    <input type="text" class="current-slider distance-slider" value="">
                </div>
            </div>
            <div class="groupe-form">
                <p class="head-input-groupe">Process of funding</p>
                <div class="flex-genres">
                    <div class="flex-mac-checkbox">
                        <p>Is active        </p>
                        <div class="yes-no">
                            <span>Yes</span>
                            <div class="mac-checkbox">
                                <input class="checkbox" type="checkbox" [ngModel]="SearchParams.is_active" name='is-active-checkbox'  (ngModelChange)="SearchParams.is_active = $event" id='is-active-checkbox'>
                                <label for="is-active-checkbox"></label>
                            </div>
                            <span>No</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="groupe-form">
                <p class="head-input-groupe">Genre</p>
                <div class="flex-genres">
                    <ng-container  *ngFor="let item of Genres;let i = index">
                        <div class="one-checkbox" *ngIf="item.show || ShowMoreGenres">
                            <div class="check-style">
                                <input type="checkbox" class="checkbox" [ngModel]="item.checked" name="genre_{{i+1}}" (ngModelChange)="item.checked = $event" id="checkbox-{{i+1}}">
                                <label for="checkbox-{{i+1}}"></label>
                            </div>
                            <p>{{item.genre_show}}</p>
                        </div>
                    </ng-container>
                </div>
                <p class="more" (click)="ShowMoreGenres = !ShowMoreGenres"><span>See more</span></p>
            </div>
            <div class="groupe-form">
                <p class="head-input-groupe">Ticket type</p>
                <div class="flex-radio">
                    <div class="one-radio" *ngFor="let item of TicketTypes; let i = index">
                        <div class="radio-style">
                            <input type="checkbox" class="radio-b" id="radio-{{i}}"  name="radio-{{i}}" [ngModel]="item.checked" (ngModelChange)="item.checked = $event">
                            <label for="radio-{{i}}"></label>
                        </div>
                        <p>{{item.object.name}}</p>
                    </div>
                </div>
            
            </div>
            <div class="groupe-form">
                <p class="head-input-groupe">Type of space</p>
                <select class="form-control" name="select_type_of_space" [ngModel]="SearchParams.size" (ngModelChange)="TypeOfSpaceChange($event)">
                    <option value=""></option>
                    <option *ngFor="let item of TypesOfSpace" [value]="item.value">{{item.name}}</option>
                </select>
            </div>
            <div class="groupe-form">
                <button type="submit"  class="butt-style-1"><span>Search</span></button>
            </div>
        </form>
        
    </div>
</div>


<section class="second-router-outlet">
                    
                   
                    
    <div class="mask-nav-3"></div>
    
    <div class="shows-main-wrapp mainWrapper grey-bg">
        <div class="main-mw">
            <div class="head-shows">
                <button class="ham-ham nav-button">
                    <div class="ham"></div>
                    <div class="ham"></div>
                    <div class="ham"></div>
                </button>
                <a [routerLink]="['/system','events']" class="ham-ham at-map">
                </a>
                <h1>Events</h1>
                <span [routerLink]="['/system','eventCreate']" class="add-event-butt"><span>Add Event</span></span>
            </div>
        </div>
        <div class="main-mw-6">
            <div class="for-flex-all-events">
                <div *ngFor="let item of Events" class="one-event-wr" (click)="router.navigate(['/system','eventCreate',item.id])">
                    <my-event-selector [Event]="item"></my-event-selector>
                    
                </div>
            </div>
        </div>
    </div>
    
    <!--модалка для кликов на Analytics-->
    <div class="modal fade modal-send-request analytics" id="modal-analytics">
        <div class="modal-dialog">
            <div class="modal-body">
               
                <h6 class="head-m-p-a"><span>MOUSE ANALYTICS</span></h6>
                
                <span class="closee-modal" data-dismiss="modal"></span>
                
                <div class="bg-analytics-cover" style="background-image: url(../../assets/img/drake.jpg)"></div>
                <div class="all-info-by-event">
                    <div class="top-side">
                        <p class="f-t-i">Event Details</p>
                        <p class="when">November 30, 2017</p>
                        <p class="where">Madison Square Garden, NY</p>
                        <div class="funded-bar">
                            <div class="funded" style="width: 50%"></div>
                        </div>
                        <div class="funded-desc">
                            <p class="count">$34 000 (68%)</p>
                            <div class="marg">
                                <p class="style-text-2"><span>12</span><br>Days to go</p>
                                <p class="style-text-2"><span>2345</span><br>Backers</p>
                            </div>
                        </div>
                        <p class="goal">Goal: <span>$50 000</span></p>
                    </div>
                    <div class="bottom-side">
                        <p class="f-t-i">Totals</p>
                        <div class="flex-info-bottom-side">
                            <p>Purchased Tickets</p>
                            <p class="count">2345</p>
                        </div>
                        <div class="flex-info-bottom-side">
                            <p>In Person Tickets</p>
                            <p class="count">2345</p>
                        </div>
                        <div class="flex-info-bottom-side">
                            <p>VR Tickets</p>
                            <p class="count">2345</p>
                        </div>
                        <div class="flex-info-bottom-side">
                            <p>Views</p>
                            <p class="count">2345</p>
                        </div>
                        <div class="flex-info-bottom-side">
                            <p>Clicks</p>
                            <p class="count">2345</p>
                        </div>
                        <div class="flex-info-bottom-side">
                            <p>Percentage Sold</p>
                            <p class="count">2345</p>
                        </div>
                        <div class="flex-info-bottom-side">
                            <p>Comments <span class="show-t">(show)</span></p>
                            <p class="count redd">2345</p>
                        </div>
                        <div class="flex-info-bottom-side">
                            <p>Likes <span class="show-t">(show)</span></p>
                            <p class="count redd">2345</p>
                        </div>
                        <div class="print-wr">
                            <button class="butt-style-1">
                                <span>Print</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>













<div class="modal fade modal-slider" id="modal-slider">
    <div class="modal-dialog">
        <div class="modal-body">
            <div class="rel-modal">
                <div class="close-modal" data-dismiss="modal"></div>
                <div class="slider-padd">
                    <div class="slider-modal-wr">
                        <div class="one-slide">
                            <h4><span>Share</span> shows you like <span>with friends</span></h4>
                        </div>
                        <div class="one-slide">
                            <h4>Watch shows in <span>360°</span> virtual reality devices</h4>
                        </div>
                        <div class="one-slide">
                            <h4>Crowdfund <span>shows</span> of your favorite artists <span>in your hometown</span></h4>
                        </div>
                    </div>
                </div>
                <div class="flex-buttons-modal">
                    <div class="one-butt-wr">
                        <div class="style-b-op">
                            <span data-dismiss="modal">Sign up later</span>
                        </div>
                    </div>
                    <div class="one-butt-wr">
                        <div class="style-b-op">
                            <a [routerLink]="['/register']">Sign up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-send-request map-1-modal" id="modal-map">
    <div class="modal-dialog">
        <div class="modal-body">
            <h6 class="head-m-p-a">Location</h6>
            <span class="closee-modal" data-dismiss="modal"></span>
            <div class="for-map-init-modal-1">
                    <agm-map style="height:100%" (mapClick)="mapClick($event)" > <agm-marker [latitude]="mapLat" [longitude]="mapLng" [visible]="isMarkerVisible"></agm-marker></agm-map>
            </div>
        </div>
    </div>
</div>
</section>