<app-preloader *ngIf="isLoading"></app-preloader>
<section class="main-router-outlet"  [ngStyle]="{'display': isLoading?'none':'block'}">
    <div class="nav-holder-3" id="nav-holder" [ngClass]="{padding250:Events.length<=3}">
        <div class="wrapp-for-filter">
            <search-events-window-cmp #search [SearchParams]="SearchParams" (mapClicked)="OpenMap($event)" (onSearch)="GetEvents($event)"></search-events-window-cmp>
        </div>
    </div>


    <section class="second-router-outlet">
        <div class="mask-nav-3"></div>

        <div *ngIf="isShowMap" class="map-here" >
                    <agm-map #map [latitude]="MyCoords.lat" [zoom]="7" [longitude]="MyCoords.lng" #map style="height: 1200px">
                        <agm-marker *ngFor="let mark of Events" [latitude]="mark.city_lat" [longitude]="mark.city_lng">

                        </agm-marker>
                    </agm-map>
                </div>

        <!-- grey-bg none-bg-map -->
        <div class="shows-main-wrapp events-styles-dif mainWrapper" [ngClass]="{'none-bg-map':isShowMap, 'grey-bg':!isShowMap}">
            <div [ngClass]="{'width-for-map':isShowMap}">
                <div class="main-mw">
                    <div class="head-shows">
                        <button class="ham-ham nav-button">
                            <div class="ham"></div>
                            <div class="ham"></div>
                            <div class="ham"></div>
                        </button>
                        <a (click)="isShowMap = !isShowMap" class="ham-ham at-map" [ngClass]="{'deactive':isShowMap}">
                        </a>
                        <h1 translate>Events</h1>
                        <span *ngIf="isLoggedIn && Acc.status != Status.Denied && Acc.status != Status.Inactive" (click)="addEvent()" class="add-event-butt"><span translate>event.Add Event</span></span>
                    </div>
                </div>
                <div class="main-mw-6">
                        <div *ngIf="!Events.length" class="empty-info">
                            <img src="./../../../assets/img/smile.svg" class="img-responsive" alt="">
                            <p translate>event.You have no events yet</p>
                            
                        </div>
                    <div class="for-flex-all-events" infinite-scroll [infiniteScrollDistance]="2"
                    [infiniteScrollThrottle]="300"
                    (scrolled)="onScroll()"
                    [infiniteScrollDisabled]="ScrollDisabled">
                        
                            <div *ngFor="let item of Events" class="one-event-wr">
                                <my-event-selector [Event]="item" (onGetAnalytics)="ShowAnalytics($event)"></my-event-selector>
                            </div>
                    
                    </div>
                </div>
            </div>
        </div>
        
        

    </section>
    <analyt-event-selector #analyt></analyt-event-selector>
    <search-events-map-cmp #mapForm (onMapClicked)="TransferMapToSearch($event)"></search-events-map-cmp>
</section>

<error-cmp #errorCmp></error-cmp>