.bs-datepicker
{
    left:75px !important;
}
bs-daterangepicker-container{
    left:0px !important;
}
.yes-no
{
    margin-left: 80px;
}
.modal-send-request.map-1-modal .modal-dialog .for-map-init-modal-1
{
    border: none;
}

.cursor-disabled
{
    cursor:not-allowed;
}
.location-wr .location-inp
{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.select-type-of-space
{
    -moz-appearance: menulist;
    -webkit-appearance: menulist;
    background: none;
}

select{
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
    -moz-appearance: none; 
    -webkit-appearance: none;

    height: 40px; 
    padding: 5px;
}