<section class="main_content">
    <div class="for-flex-height">
        <section class="second-router-outlet">
            <div class="head-info-profile-wr">
                <div class="venue-main-info">
                    <div class="side side-1">
                        <div class="mouse-bg-image">
                            <div class="big-avatar" [ngStyle]="{'background-image': 'url('+Image?Image:''+')'}"></div>
                        </div>
                    </div>
                    <div class="name-venue">
                        <h2 id="lines_view" *ngIf="Account.user_name">{{Account.display_name}}</h2>
                        <a *ngIf="MyProfileId == Account.id && !IsPreview" [routerLink]="['/system/venueCreate',Account.id]" class="settings"></a>
                    </div>
                    <div class="oficial-page">
                        <span id="d_lines_view" *ngIf="Account.display_name" class="of-p">@{{Account.user_name}}</span>
                        <div class="ok-image" *ngIf="Account.status == 'approved'">
                            <img class="img-responsive" src="../../assets/img/ok.png" alt="">
                        </div>
                    </div>
                    
                        
                    <ng-container *ngIf="MyProfileId&&MyProfileId != Account.id && AccStatus != Status.Denied && AccStatus != Status.Inactive || IsPreview" >
                        <form class="follow-wr" (ngSubmit)="FollowProfile(!isFolowedAcc)">
                            <button [disabled]="IsPreview" class="butt-style-1" type="submit">
                                <span *ngIf="isFolowedAcc">{{ 'Unfollow' | translate }}</span>
                                <span *ngIf="!isFolowedAcc">{{ 'Follow' | translate }}</span>
                                <!-- <span *ngIf="IsPreview" translate>Follow</span> -->
                            </button>
                        </form>
                    </ng-container>
                    
                </div>
            </div>
            <div class="for-white-bg">
                <div class="all-info-profile">
                    <div class="uniq-padd-2">
                        <div class="main-mw">
                            <div class="flex--info">
                                <div class="side side-info side-about">
                                    <h6 translate>Venue.About</h6>
                                    <p id="#b_lines_view" class="about-text" *ngIf='Account.description'>{{Account.description | translate}}</p>
                                </div>
                                <div class="side side-info side-contact">
                                    <h6 translate>Contact Info</h6>
                                    <div class="flex-contact-venue">
                                        <div class="column-cont">
                                            <div class="one-cont" *ngIf="Account.phone">
                                                <p class="head-cont" translate>PHONE:</p>
                                                <span>{{Account.phone|phone}}</span>
                                            </div>

                                            <div class="one-cont" *ngIf="Account.fax">
                                                <p class="head-cont" translate>FAX:</p>
                                                <span>{{Account.fax|phone}}</span>
                                            </div>
                                        </div>
                                        <div class="column-cont">
                                            <div class="one-cont">    
                                                <div class="one-cont" *ngIf="Account.emails">
                                                    <p class="head-cont" translate>CONTACTS:</p>
                                                    <ng-container *ngFor="let item of Account.emails;let i = index">
                                                        <span id="contacts_view">{{item.name}},</span>
                                                        <span id="contacts_view">{{item.email}}</span>
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-contact-venue">
                                        <div class="column-cont">
                                            <div class="one-cont" style="min-height:42px" *ngIf="Account.office_hours">
                                                <p class="head-cont" translate>OFFICE HOURS:</p>
                                                <ng-container *ngFor="let item of OffHours;let i = index">
                                                    <span>{{item.begin_time | timepipe}} - {{item.end_time | timepipe}}, {{item.day | translate}}</span>
                                                </ng-container>
                                            </div>
                                        </div>
                                        <div class="column-cont">
                                            <div class="one-cont" style="min-height:42px" *ngIf="Account.office_hours">
                                                <p class="head-cont" translate>OPERATING HOURS:</p>
                                                <ng-container *ngFor="let item of OpHours;let i = index">
                                                    <span>{{item.begin_time | timepipe}} - {{item.end_time | timepipe}}, {{item.day | translate}}</span>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="side side-info side-map">
                                    <h6 translate>Location</h6>
                                    <p class="about-text" *ngIf="Account.address">
                                        {{Account.street}}<br>
                                        {{Account.city}}, {{Account.state}} {{Account.zipcode}}<br>
                                        {{Account.country}}</p>
                                    <ng-container *ngIf="Account" >
                                        <div class="map" [ngStyle]="{'display':(Account.lat && Account.lng)?'block':'none'}">
                                            <agm-map #agmMap style="height:100%" [latitude]="Account.lat" [longitude]="Account.lng">
                                                <agm-marker [latitude]="Account.lat" [longitude]="Account.lng"></agm-marker>
                                            </agm-map>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uniq-padd-2">
                        <div class="main-mw">
                            <div class="flex--info">
                                <div [ngStyle]="{'display':isLoadingGallery?'none':'block'}" class="side scroller flex-header">
                                    <div class="for-scroll-padd">
                                        <h6>{{'Gallery' | translate}} ({{VenueImagesChecked?VenueImagesChecked.length:'0'}})</h6>
                                        <input type="text" class="search-profile-inp-style"  placeholder="{{ 'Search' | translate }}" (input)='searchImagesVenue($event)'>
                                    </div>
                                    <div class="new-scroll-wr">
                                        <div class="blocks gallery-main-wrapp">
                                            <ng-container *ngFor="let item of VenueImagesChecked;let in = index">
                                                <ng-container class="one-block" *ngIf="item">   
                                                            
                                                    <div class="one-block for-gallery-item" (click)='Gallery($event)' [attr.data-eteration]="in" [attr.data-size]="item?(item.width+'x'+item.height):'500x500'" [attr.data-hreff]="item.base64" [ngStyle]="{'background-image': 'url(' + item.base64 + ')'}"></div>
                                                            
                                                </ng-container>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                                <div [ngStyle]="{'display':!isLoadingUpcoming?'none':'block'}" class="side scroller flex-header">
                                    <app-preloader style="max-height: 200px;" *ngIf="isLoadingUpcoming"></app-preloader>
                                </div>
                                <div [ngStyle]="{'display':isLoadingUpcoming?'none':'block'}" class="side flex-header scroller">
                                    <div class="for-scroll-padd">
                                        <h6 translate>UPCOMING <br>{{ 'SHOWS' | translate }} ({{UpcomingShowsChecked?UpcomingShowsChecked.length:'0'}})</h6>
                                        <input type="text" class="search-profile-inp-style" placeholder="{{ 'Search' | translate }}" (input)='searchUpcomingShows($event)'>
                                    </div>
                                    <div class="new-scroll-wr">
                                        <div class="blocks">
                                            
                                            
                                            <!--/календарь вегда есть(не итерируем)-->
                                            <!--<ng-container *ngIf="isMyAccount">
                                                    
                                            <ng-container *ngIf="item.checked">
                                            -->
                                            
                                            <ng-container *ngFor="let item of UpcomingShowsChecked">
                                                <ng-container class="one-block">   
                                                    <a  [routerLink]="['/system','shows_detail',item.id]" style="display:block">
                                                        <app-upcoming-shows-profile [Upshows]="item"></app-upcoming-shows-profile>
                                                    </a>
                                                </ng-container>
                                                
                                            </ng-container>
                                            
                                        
                                        </div>
                                    </div>
                                </div>
                                <div [ngStyle]="{'display':!isLoadingGallery?'none':'block'}" class="side scroller flex-header">
                                        <app-preloader style="max-height: 200px;" *ngIf="isLoadingGallery"></app-preloader>
                                    </div>
                                <div class="side scroller flex-header uniq-padd-style-funs">
                                    <div class="uniq-padd-3">
                                        <h6>{{'Fans' | translate}} ({{Fans.length}})</h6>
                                        <input type="text" class="search-profile-inp-style" placeholder="{{ 'Search' | translate }}" (input)='searchFans($event)'>
                                    </div>
                                    <div class="new-scroll-wr">
                                        <div class="blocks-funs">
                                            <ng-container *ngFor="let item of Fans">
                                                <div class="one-block">
                                                    <app-one-folower-for-profile [Folower]="item"></app-one-folower-for-profile>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--photo-galary-->
                <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="pswp__bg"></div>
                <div class="pswp__scroll-wrap">
                    <div class="pswp__container">
                        <div class="pswp__item"></div>
                        <div class="pswp__item"></div>
                        <div class="pswp__item"></div>
                    </div>
                    <div class="pswp__ui pswp__ui--hidden">
                        <div class="pswp__top-bar">
                            <div class="pswp__counter"></div>
                            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                            <div class="pswp__preloader">
                                <div class="pswp__preloader__icn">
                                    <div class="pswp__preloader__cut">
                                    <div class="pswp__preloader__donut"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                            <div class="pswp__share-tooltip"></div> 
                        </div>
                        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                        </button>
                        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                        </button>
                        <div class="pswp__caption">
                            <div class="pswp__caption__center"></div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--/photo-galary-->
        </section>
    </div>

</section>