<section class="second-router-outlet">
    <div class="create-event-nav-tabs">
        <div class="for-header-shadow">
            <div class="main-mw">
                <div class="create-event-header">
                    <h1>Add Venue</h1>
                    <ul>
                        <!--нужным li даем классы active и started."хз нахрена это надо. узнавайте у писателя"-->
                        <li class="active">
                            <a href="#" class="nav-second-outlet">about</a>
                        </li>
                        <li class="started">
                            <a href="#" class="nav-second-outlet">Hours</a>
                        </li>
                        <li>
                            <a href="#" class="nav-second-outlet">Listing</a>
                        </li>
                        <li>
                            <a href="#" class="nav-second-outlet">Media</a>
                        </li>
                        <li>
                            <a href="#" class="nav-second-outlet">DAtes</a>
                        </li>
                        <li>
                            <a href="#" class="nav-second-outlet">Preview</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="create-event-body-1">
            <div class="main-mw">
                <form [formGroup]="aboutForm">
                    <div class="create-event-body">
                    <div class="head-ev-body">
                            <h2>About</h2>
                            <p>Please fill in all required fields<br>to proceed to the Next Step</p>
                        </div>
                        <div class="flex-body-1">
                            <div class="side">
                                
                            </div>
                            <div class="side">
                                <h6 class="head-col-add-venue">Contact Info</h6>
                            </div>
                            <div class="side">
                                <h6 class="head-col-add-venue">Address</h6>
                            </div>
                        </div>
                        <div class="flex-body-1">
                            <div class="side">
                                <div class="input-groupe-1 lbl-1">
                                    
                                    <input id="inp-create-1" autocomplete="foo" [(ngModel)]="Venue.display_name" formControlName="venue_name" name="" type="text">
                                    <label for="inp-create-1">Venue Name<span>*</span></label>
                                </div>
                                <div class="input-groupe-1">
                                    <input id="inp-create-2" autocomplete="foo" [(ngModel)]="Venue.user_name" formControlName="mouse_name" name="" type="text">
                                    <label for="inp-create-2">Mouse Username<span>*</span></label>
                                    
                                </div>
                                <div class="input-groupe-1 whithout-label small-textarea max-500">
                                    
                                    <textarea id="inp-create-9" autocomplete="foo"  [(ngModel)]="Venue.description" formControlName="short_desc"></textarea>
                                    <label for="inp-create-9" class="head-groupe">Short Description<span>*</span></label>
                                    <span class="max-count">1000 max</span>
                                </div>
                                <div class="status-information">
                                    <h6 class="head-col-add-venue">Funding Information</h6>
                                    <p class="status-t">Status:<span>Pending</span></p>
                                </div>
                            </div>
                            <div class="side">
                                <h6 class="head-col-add-venue hidden-lg hidden-md hidden-sm hidden-xs">Contact Info</h6>
                                <div class="input-groupe-1">
                                    <input id="inp-create-venue-tel-1" autocomplete="foo" [(ngModel)]="Venue.phone" formControlName="phone" name="" type="text">
                                    <label for="inp-create-venue-tel-1">Phone<span>*</span></label>
                                </div>
                                <div class="input-groupe-1">
                                    <input id="inp-create-venue-tel-2" autocomplete="foo" [(ngModel)]="Venue.fax" formControlName="fax" name="" type="text">
                                    <label for="inp-create-venue-tel-2">Fax</label>
                                </div>
                            
                                <h6 class="head-col-add-venue">EMAILS<span>*</span></h6>
                                <div class="padd-emeils-generate">
                                    <div class="one-email">
                                        <span class="count">1.</span>
                                        <div class="input-groupe-1">
                                            <input autocomplete="foo" id="inp-create-venue-name-1" name="" type="text">
                                            <label for="inp-create-venue-name-1">Email Name 1</label>
                                        </div>
                                        <div class="input-groupe-1">
                                            <input autocomplete="foo" id="inp-create-venue-email-1" name="" type="text">
                                            <label for="inp-create-venue-email-1">Email 1 </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="side">
                                <h6 class="head-col-add-venue hidden-lg hidden-md hidden-sm hidden-xs">Address</h6>
                                <div class="input-groupe-1">
                                    <input id="inp-create-venue-adr-1" autocomplete="foo" name="" type="text">
                                    <label for="inp-create-venue-adr-1">Country<span>*</span></label>
                                </div>
                                <div class="input-groupe-1">
                                    <input id="inp-create-venue-adr-2" autocomplete="foo" [(ngModel)]="Venue.address" formControlName="address" name="" type="text">
                                    <label for="inp-create-venue-adr-2">Address<span>*</span></label>
                                </div>
                                <div class="input-groupe-1">
                                    <input id="inp-create-venue-adr-3" autocomplete="foo" name="" type="text">
                                    <label for="inp-create-venue-adr-3">City<span>*</span></label>
                                </div>
                                <div class="input-groupe-1">
                                    <input id="inp-create-venue-adr-4" autocomplete="foo" name="" type="text">
                                    <label for="inp-create-venue-adr-4">State<span>*</span></label>
                                </div>
                                <div class="input-groupe-1">
                                    <input id="inp-create-venue-adr-5" autocomplete="foo" name="" type="text">
                                    <label for="inp-create-venue-adr-5">Zipcode</label>
                                </div>
                            </div>
                        </div>
                        <div class="scroll-wrapp">
                            <div class="circle-scroll" (click)="SaveVenue()" ></div>
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
        
        <div class="create-event-body-1">
            <div class="main-mw">
                <div class="create-event-body">
                    <div class="head-ev-body">
                        <h2>Hours</h2>
                        <p>Please fill in all required fields<br>to proceed to the Next Step</p>
                    </div>
                    <div class="flex-body-1">
                        <div class="side two-sides-w">
                            <h6 class="head-of-two-sides">Office Hours</h6>
                            <div class="shadow-days-wr">
                                <div class="checkboxes-days">
                                    <div class="days-r">
                                        <span class="price">Mon</span>
                                        <div class="one-checkbox">
                                            <div class="check-style">
                                                <input type="checkbox" class="checkbox" name="" id="new-checkbox-day-1">
                                                <label for="new-checkbox-day-1"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="days-r">
                                        <span class="price">Tue</span>
                                        <div class="one-checkbox">
                                            <div class="check-style">
                                                <input type="checkbox" class="checkbox" name="" id="new-checkbox-day-2">
                                                <label for="new-checkbox-day-2"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="days-r">
                                        <span class="price">Wed</span>
                                        <div class="one-checkbox">
                                            <div class="check-style">
                                                <input type="checkbox" class="checkbox" name="" id="new-checkbox-day-3">
                                                <label for="new-checkbox-day-3"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="days-r">
                                        <span class="price">Thu</span>
                                        <div class="one-checkbox">
                                            <div class="check-style">
                                                <input type="checkbox" class="checkbox" name="" id="new-checkbox-day-4">
                                                <label for="new-checkbox-day-4"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="days-r">
                                        <span class="price">Fri</span>
                                        <div class="one-checkbox">
                                            <div class="check-style">
                                                <input type="checkbox" class="checkbox" name="" id="new-checkbox-day-5">
                                                <label for="new-checkbox-day-5"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="days-r">
                                        <span class="price">Sat</span>
                                        <div class="one-checkbox">
                                            <div class="check-style">
                                                <input type="checkbox" class="checkbox" name="" id="new-checkbox-day-6">
                                                <label for="new-checkbox-day-6"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="days-r">
                                        <span class="price">Sun</span>
                                        <div class="one-checkbox">
                                            <div class="check-style">
                                                <input type="checkbox" class="checkbox" name="" id="new-checkbox-day-7">
                                                <label for="new-checkbox-day-7"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="times-days">
                                    <!--этот блок если неодин день не выбран-->
                                    <!--
                                    <div class="for-empty-days">
                                        <span>Select Days</span> 
                                    </div>
                                    -->
                                    <!--/этот блок если неодин день не выбран-->
                                    <!--этот блок если хотябы 1 день выбран-->
                                    <div class="some-times-days">
                                        <!--блок появляется если чекнули соответствующий день-->
                                        <div class="week-day-time-wr">
                                            <div class="from-to">
                                                <span>From</span>
                                                <select>
                                                    <option>10:00</option>
                                                    <option>11:00</option>
                                                </select>
                                                <select>
                                                    <option>PM</option>
                                                    <option>AM</option>
                                                </select>
                                            </div>
                                             <div class="from-to">
                                                <span>To</span>
                                                <select>
                                                    <option>10:00</option>
                                                    <option>11:00</option>
                                                </select>
                                                <select>
                                                    <option>PM</option>
                                                    <option>AM</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--/блок появляется если чекнули соответствующий день-->
                                        <div class="week-day-time-wr">
                                            <div class="from-to">
                                                <span>From</span>
                                                <select>
                                                    <option>10:00</option>
                                                    <option>11:00</option>
                                                </select>
                                                <select>
                                                    <option>PM</option>
                                                    <option>AM</option>
                                                </select>
                                            </div>
                                             <div class="from-to">
                                                <span>To</span>
                                                <select>
                                                    <option>10:00</option>
                                                    <option>11:00</option>
                                                </select>
                                                <select>
                                                    <option>PM</option>
                                                    <option>AM</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/этот блок если хотябы 1 день выбран-->
                                </div>
                            </div>
                        </div>
                        <div class="side two-sides-w">
                            <h6 class="head-of-two-sides">Operating Hours</h6>
                            <div class="shadow-days-wr">
                                <div class="checkboxes-days">
                                    <div class="days-r">
                                        <span class="price">Mon</span>
                                        <div class="one-checkbox">
                                            <div class="check-style">
                                                <input type="checkbox" class="checkbox" name="" id="new-checkbox-day-1">
                                                <label for="new-checkbox-day-1"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="days-r">
                                        <span class="price">Tue</span>
                                        <div class="one-checkbox">
                                            <div class="check-style">
                                                <input type="checkbox" class="checkbox" name="" id="new-checkbox-day-2">
                                                <label for="new-checkbox-day-2"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="days-r">
                                        <span class="price">Wed</span>
                                        <div class="one-checkbox">
                                            <div class="check-style">
                                                <input type="checkbox" class="checkbox" name="" id="new-checkbox-day-3">
                                                <label for="new-checkbox-day-3"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="days-r">
                                        <span class="price">Thu</span>
                                        <div class="one-checkbox">
                                            <div class="check-style">
                                                <input type="checkbox" class="checkbox" name="" id="new-checkbox-day-4">
                                                <label for="new-checkbox-day-4"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="days-r">
                                        <span class="price">Fri</span>
                                        <div class="one-checkbox">
                                            <div class="check-style">
                                                <input type="checkbox" class="checkbox" name="" id="new-checkbox-day-5">
                                                <label for="new-checkbox-day-5"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="days-r">
                                        <span class="price">Sat</span>
                                        <div class="one-checkbox">
                                            <div class="check-style">
                                                <input type="checkbox" class="checkbox" name="" id="new-checkbox-day-6">
                                                <label for="new-checkbox-day-6"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="days-r">
                                        <span class="price">Sun</span>
                                        <div class="one-checkbox">
                                            <div class="check-style">
                                                <input type="checkbox" class="checkbox" name="" id="new-checkbox-day-7">
                                                <label for="new-checkbox-day-7"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="times-days">
                                    <!--этот блок если неодин день не выбран-->
                                
                                    <div class="for-empty-days">
                                        <span>Select Days</span> 
                                    </div>
                                 
                                    <!--/этот блок если неодин день не выбран-->
                                    <!--этот блок если хотябы 1 день выбран-->
                                    <!--
                                    <div class="some-times-days">
                                        <!--блок появляется если чекнули соответствующий день-->
                                        <!--
                                        <div class="week-day-time-wr">
                                            <div class="from-to">
                                                <span>From</span>
                                                <select>
                                                    <option>10:00</option>
                                                    <option>11:00</option>
                                                </select>
                                                <select>
                                                    <option>PM</option>
                                                    <option>AM</option>
                                                </select>
                                            </div>
                                             <div class="from-to">
                                                <span>To</span>
                                                <select>
                                                    <option>10:00</option>
                                                    <option>11:00</option>
                                                </select>
                                                <select>
                                                    <option>PM</option>
                                                    <option>AM</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--/блок появляется если чекнули соответствующий день-->
                                    <!--
                                        <div class="week-day-time-wr">
                                            <div class="from-to">
                                                <span>From</span>
                                                <select>
                                                    <option>10:00</option>
                                                    <option>11:00</option>
                                                </select>
                                                <select>
                                                    <option>PM</option>
                                                    <option>AM</option>
                                                </select>
                                            </div>
                                             <div class="from-to">
                                                <span>To</span>
                                                <select>
                                                    <option>10:00</option>
                                                    <option>11:00</option>
                                                </select>
                                                <select>
                                                    <option>PM</option>
                                                    <option>AM</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/этот блок если хотябы 1 день выбран-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="scroll-wrapp">
            <div class="circle-scroll"></div>
        </div>
        <div class="create-event-body-1">
            <div class="main-mw">
                <div class="create-event-body">
                    <div class="head-ev-body">
                        <h2>Listing Details</h2>
                        <p>Please fill in all required fields<br>to proceed to the Next Step</p>
                    </div>
                    <div class="flex-body-1 more-padding">
                        <div class="side">
                            <h6 class="head-col-add-venue">Preferred Venue is a:</h6>
                            <div class="flex-genres style-on-add-artist-g">
                                <div class="one-checkbox">
                                    <div class="check-style">
                                        <input type="checkbox" class="checkbox" name="" id="checkbox-1">
                                        <label for="checkbox-1"></label>
                                    </div>
                                    <p>Night Club</p>
                                </div>
                                <div class="one-checkbox">
                                    <div class="check-style">
                                        <input type="checkbox" class="checkbox" name="" id="checkbox-2">
                                        <label for="checkbox-2"></label>
                                    </div>
                                    <p>Bar</p>
                                </div>
                                <div class="one-checkbox">
                                    <div class="check-style">
                                        <input type="checkbox" class="checkbox" name="" id="checkbox-3">
                                        <label for="checkbox-3"></label>
                                    </div>
                                    <p>Restaurant</p>
                                </div>
                                <div class="one-checkbox">
                                    <div class="check-style">
                                        <input type="checkbox" class="checkbox" name="" id="checkbox-4">
                                        <label for="checkbox-4"></label>
                                    </div>
                                    <p>Concert Hall</p>
                                </div>
                                <div class="one-checkbox">
                                    <div class="check-style">
                                        <input type="checkbox" class="checkbox" name="" id="checkbox-5">
                                        <label for="checkbox-5"></label>
                                    </div>
                                    <p>Event Space</p>
                                </div>
                                <div class="one-checkbox">
                                    <div class="check-style">
                                        <input type="checkbox" class="checkbox" name="" id="checkbox-6">
                                        <label for="checkbox-6"></label>
                                    </div>
                                    <p>Outdoor Space</p>
                                </div>
                                <div class="one-checkbox">
                                    <div class="check-style">
                                        <input type="checkbox" class="checkbox" name="" id="checkbox-7">
                                        <label for="checkbox-7"></label>
                                    </div>
                                    <p>Theatre</p>
                                </div>
                                <div class="one-checkbox">
                                    <div class="check-style">
                                        <input type="checkbox" class="checkbox" name="" id="checkbox-8">
                                        <label for="checkbox-8"></label>
                                    </div>
                                    <p>Private Residence</p>
                                </div>
                                <div class="one-checkbox">
                                    <div class="check-style">
                                        <input type="checkbox" class="checkbox" name="" id="checkbox-9">
                                        <label for="checkbox-9"></label>
                                    </div>
                                    <p>Other</p>
                                </div>
                            </div>
                            <div class="input-groupe-1 whithout-label small-textarea max-500 max-100">  
                                <textarea></textarea>
                                <span class="max-count">100 max</span>
                            </div>
                        </div>
                        <div class="side">
                            <div class="input-groupe-1">
                                <input id="venue-datails-1" name="" type="text">
                                <label for="venue-datails-1">Capacity<span>*</span></label>
                            </div>
                            <div class="input-groupe-1">
                                <input id="venue-datails-2" name="" type="text">
                                <label for="venue-datails-2">Number of Bathrooms</label>
                            </div>
                            <div class="flex-mac-checkbox">
                                <p>Does your Venue have a Bar?</p>
                                <div class="yes-no">
                                    <span>Yes</span>
                                    <div class="mac-checkbox">
                                        <input class="checkbox" checked="" type="checkbox" id="checkbox-set-option-1">
                                        <label for="checkbox-set-option-1"></label>
                                    </div>
                                    <span>No</span>
                                </div>
                            </div>
                            <div class="flex-mac-checkbox direction-column on-add-artist-page">
                                <p class="quetion-radio-text none-max-width">Located?</p>
                                <div class="flex-radio">
                                    <div class="one-radio">
                                        <div class="radio-style">
                                            <input type="radio" class="radio-b" id="radio-556" name="grope-Located-1" checked="">
                                            <label for="radio-556"></label>
                                        </div>
                                        <p>Indoors</p>
                                    </div>
                                    <div class="one-radio">
                                        <div class="radio-style">
                                            <input type="radio" class="radio-b" id="radio-557" name="grope-Located-1">
                                            <label for="radio-557"></label>
                                        </div>
                                        <p>Outdoors</p>
                                    </div>
                                    <div class="one-radio">
                                        <div class="radio-style">
                                            <input type="radio" class="radio-b" id="radio-558" name="grope-Located-1">
                                            <label for="radio-558"></label>
                                        </div>
                                        <p>Both</p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="side">
                            <div class="input-groupe-1">
                                <select id="option-datails-10">
                                    <option>18 and Over</option>
                                    <option>18 and Over</option>
                                    <option>18 and Over</option>
                                </select>
                                <label for="option-datails-10">Minimum Age</label>
                            </div>
                            <div class="input-groupe-1">
                                <select id="option-datails-11">
                                    <option>Shirt and Shoes Required</option>
                                    <option>Shirt and Shoes Required</option>
                                    <option>Shirt and Shoes Required</option>
                                </select>
                                <label for="option-datails-11">Dress Code</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-wrapp">
            <div class="circle-scroll"></div>
        </div>
        <div class="create-event-body-1">
            <div class="main-mw">
                <div class="create-event-body">
                    <div class="head-ev-body">
                        <h2>Media</h2>
                        <p>Please fill in all required fields<br> to proceed to the Next Step</p>
                    </div>
                    <div class="flex-body-1 more-padding">
                        <div class="side">
                            <div class="flex-mac-checkbox">
                                <p>VR Video Equipment</p>
                                <div class="yes-no">
                                    <span>Yes</span>
                                    <div class="mac-checkbox">
                                        <input class="checkbox" checked="" type="checkbox" id="checkbox-set-option-vr">
                                        <label for="checkbox-set-option-vr"></label>
                                    </div>
                                    <span>No</span>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    <div class="flex-body-1 more-padding">
                        <div class="side">
                            <div class="input-groupe-1 whithout-label small-textarea max-500">
                                <textarea id="inp-media-venue-1"></textarea>
                                <label for="inp-media-venue-1" class="head-groupe">Audio Description<span>*</span></label>
                                <span class="max-count">1000 max</span>
                            </div>
                        </div>
                        <div class="side">
                            <div class="input-groupe-1 whithout-label small-textarea max-500">
                                <textarea id="inp-media-venue-2"></textarea>
                                <label for="inp-media-venue-2" class="head-groupe">Lighting Description<span>*</span></label>
                                <span class="max-count">1000 max</span>
                            </div>
                        </div>
                        <div class="side">
                            <div class="input-groupe-1 whithout-label small-textarea max-500">
                                <textarea id="inp-media-venue-3"></textarea>
                                <label for="inp-media-venue-3" class="head-groupe">Stage Description<span>*</span></label>
                                <span class="max-count">1000 max</span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="media-flex-sides add-venue-some-style">
                    <div class="left-side">
                        <h6 class="head-col-add-venue">Recommended Photos</h6>
                        <div class="gradient-box gradient-4">
                            <h6 class="head-of-gradient-box">Add new photo</h6>
                            <div class="photos-wr-flex-venue">
                                <div class="photo-wr-1">
                                    <label class="file_upload">
                                        <div class="bg-image"></div>

                                        <input accept=".jpg, .jpeg, .png" type="file">
                                    </label>
                                    <!--появляется этот блок если загружена фотка и в стайл бекграунд имейдж ебануть-->
                                    <!--<div class="bg-image uploaded"></div>-->
                                    <!---->
                                </div>
                                <div class="input-groupe-1 small-textarea whithout-label">
                                    <textarea id="inp-desc-1"></textarea>
                                    <label for="inp-desc-1" class="head-groupe">Description</label>
                                </div>
                            </div>
                            <div class="flex-genres style-on-add-artist-g">
                                <div class="one-checkbox">
                                    <div class="check-style">
                                        <input type="checkbox" class="checkbox" name="" id="checkbox-photo-1">
                                        <label for="checkbox-photo-1"></label>
                                    </div>
                                    <p>Night Club</p>
                                </div>
                                <div class="one-checkbox">
                                    <div class="check-style">
                                        <input type="checkbox" class="checkbox" name="" id="checkbox-photo-2">
                                        <label for="checkbox-photo-2"></label>
                                    </div>
                                    <p>Bar</p>
                                </div>
                                <div class="one-checkbox">
                                    <div class="check-style">
                                        <input type="checkbox" class="checkbox" name="" id="checkbox-photo-3">
                                        <label for="checkbox-photo-3"></label>
                                    </div>
                                    <p>Restaurant</p>
                                </div>
                                <div class="one-checkbox">
                                    <div class="check-style">
                                        <input type="checkbox" class="checkbox" name="" id="checkbox-photo-4">
                                        <label for="checkbox-photo-4"></label>
                                    </div>
                                    <p>Concert Hall</p>
                                </div>
                                <div class="one-checkbox">
                                    <div class="check-style">
                                        <input type="checkbox" class="checkbox" name="" id="checkbox-photo-5">
                                        <label for="checkbox-photo-5"></label>
                                    </div>
                                    <p>Event Space</p>
                                </div>
                                <div class="one-checkbox">
                                    <div class="check-style">
                                        <input type="checkbox" class="checkbox" name="" id="checkbox-photo-6">
                                        <label for="checkbox-photo-6"></label>
                                    </div>
                                    <p>Outdoor Space</p>
                                </div>
                                <div class="one-checkbox">
                                    <div class="check-style">
                                        <input type="checkbox" class="checkbox" name="" id="checkbox-photo-7">
                                        <label for="checkbox-photo-7"></label>
                                    </div>
                                    <p>Theatre</p>
                                </div>
                                <div class="one-checkbox">
                                    <div class="check-style">
                                        <input type="checkbox" class="checkbox" name="" id="checkbox-photo-8">
                                        <label for="checkbox-photo-8"></label>
                                    </div>
                                    <p>Private Residence</p>
                                </div>
                                <div class="one-checkbox">
                                    <div class="check-style">
                                        <input type="checkbox" class="checkbox" name="" id="checkbox-photo-9">
                                        <label for="checkbox-photo-9"></label>
                                    </div>
                                    <p>Other</p>
                                </div>
                            </div>
                            <div class="input-groupe-1 small-textarea whithout-label">
                                <textarea id="inp-other-1"></textarea>
                                <label for="inp-other-1" class="head-groupe">Other</label>
                            </div>
                            <div class="butt-wrapp-grad">
                                <button class="butt-style-1 thot-butt" type="submit">
                                    <span>Add to Photos</span>
                                </button>   
                            </div>
                            
                        </div>
                    </div>
                    <div class="right-side albums">
                        
                        <!--если пустой-->
                        <!--
                        <div class="empty-info">
                            <img src="img/smile.svg" class="img-responsive" alt="">
                            <p>No Photos Yet</p>
                        </div>
                        -->
                        <!---->
                        <!--если не пустой.-->
                        
                        <div class="slider-2-albums slider-4-photos slider-4-init">
                            <div class="one-slide">
                                <div class="wrapp-card">
                                    <div class="delete-track"></div>
                                    <div class="cover-image" style="background-image: url(../../assets/img/drake.jpg)"></div>
                                    <div class="descr">
                                        <h6>Night club</h6>
                                        <p class="name">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuminim veniam, quis nostrud</p>
                                    </div>
                                </div>
                            </div>
                            <div class="one-slide">
                                <div class="wrapp-card">
                                    <div class="delete-track"></div>
                                    <div class="cover-image" style="background-image: url(../../assets/img/drake.jpg)"></div>
                                    <div class="descr">
                                        <h6>Night club</h6>
                                        <p class="name">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuminim veniam, quis nostrud </p>
                                    </div>
                                </div>
                            </div>
                            <div class="one-slide">
                                <div class="wrapp-card">
                                    <div class="delete-track"></div>
                                    <div class="cover-image" style="background-image: url(../../assets/img/drake.jpg)"></div>
                                    <div class="descr">
                                        <h6>Night club</h6>
                                        <p class="name">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuminim veniam, quis nostrud </p>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        
                        <!--/если не пустой.-->
                        
                    </div>
                </div>
                
                
                
            </div>
        </div>
        <div class="scroll-wrapp">
            <div class="circle-scroll"></div>
        </div>
        <div class="create-event-body-1">
            <div class="main-mw">
                <div class="create-event-body">
                    <div class="head-ev-body">
                        <h2>Date Availability</h2>
                        
                    </div>
                </div>
            </div>
            <div class="main-mw-5">
                
                <div class="tabs-venue-wrapp">
                    <!--теже табы для ngif-->
                    
                    <div class="one-tab">
                        <div class="one-tab-flex alighn-items">
                            <div class="side">
                                <div class="filter-venue">
                                    <div class="content-bodal input-groupe-1">
                                        <span class="head-type-inp">Advance Notice</span>
                                        <span class="head-type-inp grey">Minimum advance notice you prefer before booking an event date?</span>
                                        <select>
                                            <option>2 weeks</option>
                                            <option>2 weeks</option>
                                            <option>2 weeks</option>
                                        </select>
                                        
                                    </div>
                                    <div class="content-bodal input-groupe-1">
                                         <span class="head-type-inp grey">is this Flexible?</span>
                                        <select>
                                            <option>Yes</option>
                                            <option>No</option>
                                          
                                        </select>
                                    </div>
                                    <div class="input-groupe-1">
                                        <div class="rel-wr">
                                            <span class="abs-backs black">$</span>
                                            <input id="inp-calendar-1" class="dollar" name="" type="text">
                                        </div>
                                        <label id="inp-calendar-1">Price for Daytime (7AM - 7PM)</label>
                                    </div>
                                    <div class="input-groupe-1">
                                        <div class="rel-wr">
                                            <span class="abs-backs black">$</span>
                                            <input id="inp-calendar-2" class="dollar" name="" type="text">
                                        </div>
                                        <label id="inp-calendar-2">Price for Nighttime (7PM - 7AM)</label>
                                    </div>
                                    <div class="input-groupe-1 venue-week-cal-style">
                                        <div class="week-day-time-wr">
                                            <div class="from-to">
                                                <span>From</span>
                                                <select>
                                                    <option>10:00</option>
                                                    <option>11:00</option>
                                                </select>
                                                <select>
                                                    <option>PM</option>
                                                    <option>AM</option>
                                                </select>
                                            </div>
                                             <div class="from-to">
                                                <span>To</span>
                                                <select>
                                                    <option>10:00</option>
                                                    <option>11:00</option>
                                                </select>
                                                <select>
                                                    <option>PM</option>
                                                    <option>AM</option>
                                                </select>
                                            </div>
                                        </div>
                                        <label>Performance time</label>
                                    </div>
                                </div>
                            </div>
                            <div class="side width-66">
                               
                                
                                Место для календаря
                                
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
                
                
                
            </div>
        </div>
        
    </div>
</section>