<app-preloader *ngIf="isLoading"></app-preloader>
<section  [ngStyle]="{'display': isLoading?'none':'block'}" class="second-router-outlet">
    <div class="create-event-nav-tabs">
        <div class="for-header-shadow">
            <div class="main-mw">
                <div class="create-event-header">
                    <h1>Add Venue</h1>
                    <ul>
                        <!--нужным li даем классы active и started."хз нахрена это надо. узнавайте у писателя"-->
                        <li [ngClass]="{'active':CurrentPart == Parts.About,'started':CurrentPart != Parts.About}">
                            <a (click)="ChangeCurrentPart(Parts.About)" class="nav-second-outlet">About</a>
                        </li>
                        <li [ngClass]="{'active':CurrentPart == Parts.Hours,'started':(VenueId != 0 && CurrentPart != Parts.Hours)}">
                            <a (click)="ChangeCurrentPart(Parts.Hours)" class="nav-second-outlet">Hours</a>
                        </li>
                        <li [ngClass]="{'active':CurrentPart == Parts.Listing,'started':(VenueId != 0 && CurrentPart != Parts.Listing)}">
                            <a (click)="ChangeCurrentPart(Parts.Listing)" class="nav-second-outlet">Listing</a>
                        </li>
                        <li [ngClass]="{'active':CurrentPart == Parts.Media,'started':(VenueId != 0 && CurrentPart != Parts.Media)}">
                            <a (click)="ChangeCurrentPart(Parts.Media)" class="nav-second-outlet">Media</a>
                        </li>
                        <li [ngClass]="{'active':CurrentPart == Parts.Dates,'started':(VenueId != 0 && CurrentPart != Parts.Dates)}">
                            <a (click)="ChangeCurrentPart(Parts.Dates)" class="nav-second-outlet">Dates</a>
                        </li>
                      
                        <li>
                            <button class="butt-style-1" style="width: 127px" (click)="SuperPuperImportantSaveButton()">
                                <span style="padding: 10px 21px">
                                SAVE
                                </span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <venue-about-selector #about *ngIf="CurrentPart == Parts.About" (onError)="OpenErrorWindow($event)" (onSaveVenue)="SaveVenue($event)" [Venue]="Venue" [VenueImageId]="VenueImageId" [VenueId]="VenueId" (onImageDeleted)="DeleteImage($event)"></venue-about-selector>
        <venue-hours-selector #hours *ngIf="CurrentPart == Parts.Hours" (onError)="OpenErrorWindow($event)" (onSaveVenue)="SaveVenue($event)" [Venue]="Venue"></venue-hours-selector>
        <venue-listing-selector #listing *ngIf="CurrentPart == Parts.Listing" (onError)="OpenErrorWindow($event)" (onSaveVenue)="SaveVenue($event)" [Venue]="Venue"></venue-listing-selector>
        <venue-media-selector #media *ngIf="CurrentPart == Parts.Media" (onError)="OpenErrorWindow($event)" (onSaveVenue)="SaveVenue($event)" [Venue]="Venue" [VenueId]="VenueId"></venue-media-selector>
        <venue-dates-selector #dates *ngIf="CurrentPart == Parts.Dates" (onError)="OpenErrorWindow($event)" (onSaveVenue)="SaveVenue($event)" [Venue]="Venue"></venue-dates-selector>
        
        
    </div>
</section>
<error-cmp #errorCmp></error-cmp>