<section class="admin_table_nav">
                <!-- <span class="admin_delete"><img src="./../../../../assets/img/admin/delete.svg" alt=""></span>
                <span class="admin_look"><img src="./../../../../assets/img/admin/look.svg" alt=""></span> -->
                <div class="table_filter">
                    <div class="table_search"><input type="text" placeholder="Search"></div>
                    <div class="filter_checkbox">
                        <input [ngModel]="Type" (ngModelChange)="ChangeType($event)" type="radio" id="fan_acc" value="fan" name="radio">
                        <label for="fan_acc"></label>
                        <span>Fan</span>
                    </div>
                    <div class="filter_checkbox">
                        <input [ngModel]="Type" (ngModelChange)="ChangeType($event)" type="radio" id="venue_acc" value="venue" name="radio">
                        <label for="venue_acc"></label>
                        <span>Venue</span>
                    </div>
                    <div class="filter_checkbox">
                        <input [ngModel]="Type" (ngModelChange)="ChangeType($event)" type="radio" id="artist_acc" value="artist" name="radio">
                        <label for="artist_acc"></label>
                        <span>Artist</span>
                    </div>
                    <div class="filter_checkbox">
                        <input [ngModel]="Type" (ngModelChange)="ChangeType($event)" type="radio" id="all_acc" value="all" name="radio">
                        <label for="all_acc"></label>
                        <span>All</span>
                    </div>
                </div>
            </section>
            <section>
                <div class="admin_table accounts_table accounts_table_with_contacts" infinite-scroll
                        [infiniteScrollDistance]="2"
                        [infiniteScrollThrottle]="50"
                        (scrolled)="getMoreInvites()"
                        [infiniteScrollDisabled]="ScrollArtistDisabled">
                    <div class="admin_table_thead">
                        <!-- <div class="admin_table_th check_column"><img src="./../../../../assets/img/admin/table_check_th.svg" alt=""></div> -->
                        <div class="admin_table_th">Date received</div>
                        <div class="admin_table_th">Sent by</div>
                        <div class="admin_table_th">Name</div>
                        <div class="admin_table_th">Account type</div>
                        <div class="admin_table_th">Contact by</div>
                    </div>
                    <div class="admin_table_tbody">
                        <!-- checked -->
                        <div *ngFor="let item of Invites" class="admin_table_tr">
                            <!-- <div class="admin_table_td check_column">
                                <div class="admin_table_checkbox">
                                    <input type="checkbox" id="new_acc_1">
                                    <label for="new_acc_1"></label>
                                </div>
                            </div> -->
                            <div class="admin_table_td"><span>{{item.created_at|date:'dd.MM.yyyy'}}</span></div>
                            <div class="admin_table_td account">
                                <span class="acc_ava" [ngStyle]="{'background-image':item.account?.image_base64_not_given?'url('+item.account.image_base64_not_given+')':''}"></span>
                                <span>{{item.account?.user_name?item.account.user_name:''}}</span>
                            </div>
                            <div class="admin_table_td"><span>{{item.name?item.name:''}}</span><span *ngIf="!item.name" class="line-only-for-admin-tables"></span></div>
                            <div class="admin_table_td"><span>{{(item.invited_type|titlecase)?(item.invited_type|titlecase) : ""}}</span><span *ngIf="!item.invited_type" class="line-only-for-admin-tables"></span></div>
                            <div class="admin_table_td contact_td">
                                <ul class="soc">
                                    <li *ngIf="item.vk"><a (click)="openHref('vk',item.vk)"><img src="./../../../../assets/img/admin/contact_vk.svg" alt=""></a></li>
                                    <li *ngIf="item.facebook"><a (click)="openHref('facebook',item.facebook)"><img src="./../../../../assets/img/admin/contact_fb.svg" alt=""></a></li>
                                    <li *ngIf="item.instagram"><a (click)="openHref('instagram',item.instagram)"><img src="./../../../../assets/img/admin/contact_insta.svg" alt=""></a></li>
                                    <li *ngIf="item.youtube"><a (click)="openHref('youtube',item.youtube)"><img src="./../../../../assets/img/admin/contact_yt.svg" alt=""></a></li>
                                </ul>
                                <span (click)="openMail(item.email)">{{item.email}}</span>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
