<section class="account_artist">
  <div class="all-info-profile all-info-profile-preview">
      <div class="uniq-padd-2">
          <div class="flex--info">
              <div class="profile_about side side-info-new-venue-prev side-info side-about">
                  <h1>ADele</h1>
                  <p class="hash"><span>@</span>{{Account.user_name}}</p>
                  <p class="manager">
                      <span>Full Name:</span> Adele Laurie Blue Adkins<br>
                      <span>Manager:</span> <a href="#">Jonathan Dickins</a><br>
                      <span>Email:</span> AdeleLaurie@gmail.com<br>
                      <span>Phone:</span> +158 58 5 685 855
                  </p>
                  <ul class="soc">
                      <li><a href="#"><img src="./../../../../assets/img/admin/contact_vk.svg" alt=""></a></li>
                      <li><a href="#"><img src="./../../../../assets/img/admin/contact_fb.svg" alt=""></a></li>
                      <li><a href="#"><img src="./../../../../assets/img/admin/contact_insta.svg" alt=""></a></li>
                      <li><a href="#"><img src="./../../../../assets/img/admin/contact_yt.svg" alt=""></a></li>
                  </ul>
                  <p class="about-text">
                      Six-time GRAMMY® Award nominee Nnenna Freelon has earned a well-deserved reputation as a compelling and captivating live performer. In 2014, Nnenna starred in the critically acclaimed show “Georgia on My Mind: Celebrating the Music of Ray Charles”.
                  </p>
              </div>
              <div class="side side-info-new-venue-prev side-info side-about">
                  <div class="one-cover" style="background-image: url(./../../../../assets/img/drake.jpg)"></div>
              </div>
          </div>
      </div>
      <div class="uniq-padd">
          <div class="genres-info">
              <h3>Genres</h3>
              <div class="flex-genres">
                  <span class="one-genre">Jazz</span>
                  <span class="one-genre">Broadway</span>
                  <span class="one-genre">Singer/Songwriter</span>
                  <span class="one-genre">Jazz</span>
                  <span class="one-genre">Broadway</span>
                  <span class="one-genre">Singer/Songwriter</span>
              </div>
          </div>
      </div>
      <div class="uniq-padd">
          <div class="genres-info">
              <h3 class="text-center">Dates Available</h3>
          </div>
      </div>
      <div class="calendar-add-artist">
          <div class="one-calendar-block">
              Сюда надо ангуларный календарь какой нибудь
          </div>
      </div>
      <div class="uniq-padd-2">
          <div class="genres-info">
              <h3>SONGS</h3>
          </div>
          <div class="styles-audio-list">
              <div class="audio-wrapper">
                  <div class="one-audio">
                      <span class="name-track">Soulcall</span>
                      <audio src="mp3/lalala.mp3" preload="auto">
                      </audio></div>
              </div>
              <div class="audio-wrapper">
                  <div class="one-audio">
                      <span class="name-track">Soulcallqweqwe qwe qwe qwe qwe qwe qwe qwe qwe qwe qwe qwe </span>
                      <audio src="mp3/lala2.mp3" preload="auto">
                      </audio></div>
              </div>
              <div class="audio-wrapper">
                  <div class="one-audio">
                      <span class="name-track">Soulcall</span>
                      <audio src="mp3/lalala.mp3" preload="auto">
                      </audio></div>
              </div>
              <div class="audio-wrapper">
                  <div class="one-audio">
                      <span class="name-track">Soulcall</span>
                      <audio src="mp3/lalala.mp3" preload="auto">
                      </audio></div>
              </div>
              <div class="audio-wrapper">
                  <div class="one-audio">
                      <span class="name-track">Soulcallqweqwe qwe qwe qwe qwe qwe qwe qwe qwe qwe qwe qwe </span>
                      <audio src="mp3/lala2.mp3" preload="auto">
                      </audio></div>
              </div>
              <div class="audio-wrapper">
                  <div class="one-audio">
                      <span class="name-track">Soulcall</span>
                      <audio src="mp3/lalala.mp3" preload="auto">
                      </audio></div>
              </div>

              <button class="see-all">SEE ALL</button>
          </div>
          <div class="genres-info">
              <h3>Images (20)</h3>
          </div>
      </div>
      <div class="new-photos-wr-scroll-preview">
          <div class="rel-wr-photoos">
              <div class="photos-abs-wrapp">
                  <div class="one-slide">
                      <div class="wrapp-card">
                          <div class="cover-image" style="background-image: url(./../../../assets/img/drake.jpg)"></div>
                          <div class="descr m-h-artist-prev">
                              <p class="name">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuminim veniam, quis nostrud</p>
                          </div>
                      </div>
                  </div>
                  <div class="one-slide">
                      <div class="wrapp-card">
                          <div class="cover-image" style="background-image: url(./../../../assets/img/drake.jpg)"></div>
                          <div class="descr m-h-artist-prev">
                              <p class="name">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuminim veniam, quis nostrud</p>
                          </div>
                      </div>
                  </div>
                  <div class="one-slide">
                      <div class="wrapp-card">
                          <div class="cover-image" style="background-image: url(./../../../assets/img/drake.jpg)"></div>
                          <div class="descr m-h-artist-prev">
                              <p class="name">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuminim veniam, quis nostrud</p>
                          </div>
                      </div>
                  </div>
                  <div class="one-slide">
                      <div class="wrapp-card">
                          <div class="cover-image" style="background-image: url(./../../../assets/img/drake.jpg)"></div>
                          <div class="descr m-h-artist-prev">
                              <p class="name">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuminim veniam, quis nostrud</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="uniq-padd-2">
          <div class="genres-info">
              <h3>Videos (6)</h3>
          </div>
      </div>
      <div class="new-photos-wr-scroll-preview ">
          <div class="rel-wr-photoos alboms-play min-h-fix-videos">
              <div class="photos-abs-wrapp video-abs-wrapp">
                  <div class="one-slide">
                      <div class="wrapp-card">
                          <div class="cover-image" style="background-image: url(./../../../assets/img/drake.jpg)">
                              <div class="butt-play-video">
                                  <div class="pl"></div>
                              </div>
                          </div>
                          <div class="descr min-heightvideo">
                              <p class="name">Maiden Voyage</p>
                              <p class="date">2015</p>

                          </div>
                      </div>
                  </div>
                  <div class="one-slide">
                      <div class="wrapp-card">
                          <div class="cover-image" style="background-image: url(./../../../assets/img/drake.jpg)">
                              <div class="butt-play-video">
                                  <div class="pl"></div>
                              </div>
                          </div>
                          <div class="descr min-heightvideo">
                              <p class="name">Maiden Voyage</p>
                              <p class="date">2015</p>

                          </div>
                      </div>
                  </div>
                  <div class="one-slide">
                      <div class="wrapp-card">
                          <div class="cover-image" style="background-image: url(./../../../assets/img/drake.jpg)">
                              <div class="butt-play-video">
                                  <div class="pl"></div>
                              </div>
                          </div>
                          <div class="descr min-heightvideo">
                              <p class="name">Maiden Voyage</p>
                              <p class="date">2015</p>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="uniq-padd-2">
          <div class="genres-info">
              <h3>Booking</h3>
          </div>
          <div class="booking">
              <div class="flex--info none-padd-sides-t">
                  <div class="side side-info side-about">
                      <h6>Performance</h6>
                      <p class="about-text flexed">
                          <span>Time:</span>
                          <span>1h - 3h</span>
                      </p>
                      <p class="about-text flexed">
                          <span>Performance Price:</span>
                          <span>$800/h - $1200/h</span>
                      </p>
                      <p class="about-text flexed">
                          <span>Performance Price for additional Hours:</span>
                          <span>$1500/h</span>
                      </p>
                  </div>
                  <div class="side side-info side-contact">
                      <h6>Band</h6>
                      <p class="about-text margened">
                          Does not perform with a Band
                      </p>
                      <p class="about-text margened">
                          Can perform without a Band
                      </p>
                      <p class="about-text margened">
                          Does perform with Backing Vocals
                      </p>
                      <p class="about-text margened">
                          Can perform without Backing Vocals
                      </p>

                  </div>
              </div>
              <div class="flex--info none-padd-sides-t">
                  <div class="side side-info side-map">
                      <h6>Preferred Venues</h6>
                      <p class="about-text margened">
                          Night Club, Restaurant
                      </p>
                  </div>
                  <div class="side side-info side-about">
                      <h6>Preferred Location</h6>
                      <div class="location-wr margened">
                          <div class="mark"></div>
                          <p class="location-inp ">
                              New York City, NY, USA
                          </p>
                      </div>
                      <p class="about-text line-height-hig">
                          <span>30 days </span>  Notice needed to travel
                      </p>
                  </div>
              </div>
              <div class="flex--info none-padd-sides-t">
                  <div class="side side-info side-contact">
                      <h6>Video Streaming Preference</h6>
                      <p class="about-text margened">
                          Gives permission to the Venue/Event Organizer to stream performance.
                      </p>
                      <p class="about-text margened">
                          Gives permission to the Venue/Event Organizer to have advertisements over streaming performance.
                      </p>
                      <p class="about-text margened">
                          Does not have contracts with any Brands that may conflict with advertisements.
                      </p>

                  </div>
                  <div class="side side-info side-map">
                      <h6>Other</h6>
                      <p class="about-text margened">
                          <span>30 days</span> needed to book before concert.
                      </p>
                      <p class="about-text margened">
                          <span>30 days</span> to cancel before charged a cancellation fee.
                      </p>
                      <p class="about-text margened">
                          Fee for last minute Cancellation: <span>$200</span>
                      </p>
                      <p class="about-text margened">
                          <strong>No Refunds</strong>
                      </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="uniq-padd-2">
          <div class="genres-info">
              <h3>Riders</h3>
          </div>
          <div class="riders-flex-wrapp preview-page">
              <div class="side">
                  <p class="head-side-riders">Stage Rider</p>
                  <div class="download-upload">
                      <div class="side-dwn">
                          <a class="dd-ff" href="#">
                              <img src="./../../../assets/img/download.png" class="img-responsive" alt="">
                          </a>
                          <p class="desc-side-dwn">название123123123wafgsfdgbslfgblsbdflgbslfgbaslfgblsdbglsbdflgbsldbfglsdфайла</p>
                      </div>
                  </div>
                  <!--видимый рейден-->
                  <p class="desc-rider">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse </p>
                  <p class="desc-rider">
                      <strong>flexible preferences</strong>
                  </p>
              </div>
              <div class="side">
                  <p class="head-side-riders">Backstage Rider</p>
                  <div class="download-upload">
                      <div class="side-dwn">
                          <a class="dd-ff" href="#">
                              <img src="./../../../assets/img/download.png" class="img-responsive" alt="">
                          </a>
                          <p class="desc-side-dwn">название123123123wafgsfdgbslfgblsbdflgbslfgbaslfgblsdbglsbdflgbsldbfglsdфайла</p>
                      </div>
                  </div>
                  <!--видимый рейден-->
                  <p class="desc-rider">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse </p>
                  <p class="desc-rider">
                      <strong>flexible preferences</strong>
                  </p>
              </div>
              <div class="side">
                  <p class="head-side-riders">Hospitality Rider</p>
                  <div class="download-upload">
                      <!--до загрузки файла-->
                      <div class="side-dwn">
                          <a class="dd-ff" href="#">
                              <img src="./../../../../assets/img/download.png" class="img-responsive" alt="">
                          </a>
                          <p class="desc-side-dwn">название файла</p>
                      </div>
                  </div>
                  <p class="desc-rider">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse </p>
                  <p class="desc-rider">
                      <strong>flexible preferences</strong>
                  </p>
              </div>
              <div class="side">
                  <p class="head-side-riders">Techbical Rider</p>
                  <div class="download-upload">
                      <div class="side-dwn">
                          <a class="dd-ff" href="#">
                              <img src="./../../../../assets/img/download.png" class="img-responsive" alt="">
                          </a>
                          <p class="desc-side-dwn">название123123123wafgsfdgbslfgblsbdflgbslfgbaslfgblsdbglsbdflgbsldbfglsdфайла</p>
                      </div>
                  </div>
                  <!--видимый рейден-->
                  <p class="desc-rider">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse </p>
                  <p class="desc-rider">
                      <strong>flexible preferences</strong>
                  </p>
              </div>
          </div>
      </div>
  </div>
</section>