@media (max-width: 1560px) {
  .create-event-body-1 {
    padding: 45px 80px; }

  .new-padd-wrapper-m-w {
    padding: 0 80px; }

  .venue-week-cal-style .week-day-time-wr .from-to:last-child {
    padding-left: 0; }

  .venue-week-cal-style .week-day-time-wr {
    display: block; }

  .venue-week-cal-style .week-day-time-wr .from-to {
    width: 100%;
    margin-bottom: 7px; }

  .venue-week-cal-style .week-day-time-wr .from-to select {
    width: 100px; }

  .venue-week-cal-style .week-day-time-wr .from-to span {
    margin-right: auto; }

  .flex-ticket-wrapp .sides .scrolled-wrapp .one-wr-tick .one-tick p.c {
    line-height: 41px; }

  .hours-time-wr .hours-hover .o-f-h {
    font-size: 15px; }

  .hours-time-wr .hours-hover {
    padding-right: 0; }

  .hours-time-wr .hours-hover .hours-drop-show {
    left: calc(100% + 14px); }

  .all-info-profile .uniq-padd-2 .flex--info .side.un-padd-on-1560 {
    padding-left: 30px;
    padding-right: 30px;
  }
  .create-event-body-1{
    padding: 40px 80px;
    } 
}
@media (max-width: 1500px) {
  .flex-radio .one-radio {
    margin-right: 14px; }

  .media-flex-sides .right-side {
    padding-left: 55px; }

  .slider-2-albums .one-slide .wrapp-card .cover-image {
    height: 185px; }

  .flex-mac-checkbox.on-add-artist-page .quetion-radio-text {
    max-width: 187px; }

  .flex-mac-checkbox.on-add-artist-page .quetion-radio-text.none-max-width {
    max-width: 100%; }

  .flex-ticket-wrapp .sides .scrolled-wrapp .one-wr-tick .one-tick p.t {
    font-size: 12px; }

  .body-tabs-datails-pages .for-flex-contant-d .left-side-tickets {
    width: 50%; }

  .body-tabs-datails-pages .for-flex-contant-d .right-side-tickets {
    width: 50%; }

  .show-datails-wr .flex-artist-main-info .right-side {
    width: 69%;
    padding-left: 66px; } 
  .nav-holder-3.is-active {
    transform: translateX(calc(50vw - 730px));
    -webkit-transform:translateX(calc(50vw - 730px)) }
  .mainWrapper.has-push-left{
    -webkit-transform: translateX(330px);
    transform: translateX(330px); }
    }
@media (max-width: 1460px) {
  .create-event-body-1 .create-event-body .flex-body-1 .side.two-sides-w {
    padding: 0 20px; } 
  .messages-main-wrapp{
    height: 910px;  }
  .messages-main-wrapp .main-mw{
    height: 850px; }
  .nav-holder-3.is-active {
    transform: translateX(calc(50vw - 705px));
    -webkit-transform:translateX(calc(50vw - 705px)) 
  }
}
@media (max-width: 1400px) {
  header .main-mw .left-side .logo-wr {
    width: 250px; }

  header .main-mw .left-side {
    -ms-flex-negative: 0;
        flex-shrink: 0; }

  header .main-mw .right-side {
    width: 100%; }

  .all-info-profile .uniq-padd-2 .flex--info .side.uniq-padd-style-funs .blocks-funs .one-block .photo {
    height: 80px; }

  .all-info-profile .uniq-padd-2 .flex--info .side .blocks .one-block {
    height: 280px; }

  .content-and-tabs-datails .tabslinks-and-goings .left-s ul li {
    padding: 0 25px; } 
  .nav-holder-3.is-active {
    transform: translateX(calc(50vw - 675px));
    -webkit-transform:translateX(calc(50vw - 675px)) 
  }
}
@media (max-width: 1350px) {
  .media-flex-sides .right-side .slider-audio-wrapp .one-audio {
    width: 100%; }

  .media-flex-sides .right-side .slider-audio-wrapp .one-slide {
    padding-left: 20px; }

  .media-flex-sides .left-side .head-of-left-side.albums-t-s {
    font-size: 69px;
    margin-bottom: -37px; }

  .media-flex-sides .left-side .head-of-left-side {
    font-size: 70.1px;
    margin-bottom: -36px; }

  .media-flex-sides .left-side .gradient-box .head-of-gradient-box {
    font-size: 23px; }

  .flex-funding-columns .side {
    padding: 0 15px; }
    .flex-funding-columns .side .flex-radio {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }

  .flex-radio .one-radio {
    margin-bottom: 10px; }

  .flex-mac-checkbox.on-add-artist-page .quetion-radio-text {
    max-width: 100%; }

  .main-feed-wrapp .middle-feed .feed-text {
    font-size: 60px;
    right: calc(100% + 20px); }

  .create-event-body-1 .create-event-body .flex-body-1 .side.two-sides-w .shadow-days-wr .checkboxes-days {
    width: 105px;
    padding-right: 13px; }

  .flex-ticket-wrapp .sides .scrolled-wrapp .one-wr-tick .one-tick p.c {
    font-size: 25px;
    line-height: 29px; }

  .flex-ticket-wrapp .sides .scrolled-wrapp .one-wr-tick .one-tick p.t {
    margin-bottom: 17px; }

  .show-datails-wr .flex-artist-main-info .left-side .bg-gradient-info {
    padding: 51px 25px 35px 25px; }

  .show-datails-wr .flex-artist-main-info .left-side {
    width: 315px; }

  .content-and-tabs-datails .payment-body .one-collapsed-block .flex-top-cart img {
    margin-right: 5px; }

  .tabs-artist-wrapp .bg-wr-tabs .tab-artist .flex-wrapp-cards .one-card .card .flex-buttons .button-card {
    padding: 5px 10px;
    font-size: 11px; } 
  .nav-holder-3.is-active {
    transform: translateX(calc(50vw - 650px));
    -webkit-transform:translateX(calc(50vw - 650px)) 
  }
}
@media (max-width: 1300px) {
  .create-event-nav-tabs .create-event-header ul li .nav-second-outlet {
    font-size: 18px; }

  .create-event-body-1 .create-event-body .flex-body-1 .side.two-sides-w:first-child {
    padding-left: 0; }
  .create-event-body-1 .create-event-body .flex-body-1 .side.two-sides-w:last-child {
    padding-right: 0; }

  .create-event-body-1 .create-event-body .flex-body-1 .side.two-sides-w .shadow-days-wr .times-days .some-times-days .week-day-time-wr .from-to:last-child {
    padding-left: 10px; }

  .content-and-tabs-datails .tabslinks-and-goings .left-s ul li a {
    font-size: 16px; }

  .messages-main-wrapp .flex-massages-wrapp .left-s .one-msg-l-block .name-ava {
    width: 100px; }

  .messages-main-wrapp .flex-massages-wrapp .left-s {
    width: 38%; }

  .messages-main-wrapp .flex-massages-wrapp .right-s {
    width: 62%; }   
  .nav-holder-3.is-active {
    transform: translateX(calc(50vw - 625px));
    -webkit-transform:translateX(calc(50vw - 625px)) 
  }
  .main-mw-5 .tabs-venue-wrapp .one-tab-flex .side.width-66 {
    padding: 0 25px 0 0;
  }
}
@media (max-width: 1250px) {
  .content-and-tabs-datails {
    padding: 0 40px; }

  .all-info-profile .uniq-padd-2 .flex--info .side.un-padd-on-1560 {
    padding-left: 15px;
    padding-right: 15px; }

  .nav-holder-3.is-active {
    transform: translateX(calc(50vw - 600px));
    -webkit-transform:translateX(calc(50vw - 600px)) 
  }
  .main-mw-5 .tabs-venue-wrapp .one-tab-flex .side.width-66 {
    padding: 0;
  }
}
@media (max-width: 1199px) {
  .nav-holder-3.is-active {
    transform: translateX(0);
    -webkit-transform:translateX(0);
  }
  .choose-to-follow .follow-m-w {
    padding: 65px 40px 125px 40px; }

  .choose-to-follow .follow-m-w .flex-bands .one-band .label-wr .descr {
    padding: 7px 55px 7px 13px; }

  .choose-to-follow .follow-m-w .flex-bands .one-band .label-wr .descr .checkbox-style-2 {
    right: 11px; }

  header .main-mw .left-side .logo-two {
    display: none; }

  header .main-mw .left-side .logo-wr {
    width: 125px; }

  header {
    padding: 20px 40px 0 40px; }

  .shows-main-wrapp {
    padding: 0 40px; }

  footer {
    padding: 25px 40px 20px 40px; }

  .head-info-profile-wr {
    padding: 20px 40px; }

  .all-info-profile .uniq-padd {
    padding: 0 40px; }

  .all-info-profile .uniq-padd-2 {
    padding: 0; }

  .all-info-profile .uniq-padd-2 .flex--info .side.uniq-padd-style-funs .blocks-funs .one-block {
    width: 50%; }

  .all-info-profile .uniq-padd-2 .flex--info .side .blocks .one-block .desc {
    padding: 10px 10px 20px 10px; }

  .all-info-profile .uniq-padd-2 .flex--info .side .blocks .one-block .desc .name {
    font-size: 21px; }

  .all-info-profile .uniq-padd-2 .flex--info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .all-info-profile .uniq-padd-2 .flex--info.disable-flex-wrapp-on-md {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }

  .all-info-profile .uniq-padd-2 .flex--info .side .blocks .one-block {
    height: 250px; }

  .venue-main-info .name-venue h2 {
    font-size: 43px; }

  .messages-main-wrapp {
    padding: 0 40px; } 
  .mainWrapper.has-push-left{
    -webkit-transform: translateX(350px);
    transform: translateX(350px); 
  }
  .create-event-nav-tabs .create-event-header ul li {
    padding: 0 20px;
  }
  .create-event-nav-tabs .create-event-header ul li:nth-child(6) {
    padding: 0 0 0 5px;
  }
  .create-event-body-1 .create-event-body .flex-body-1 {
      flex-wrap: wrap;
  }
  .create-event-body-1 .create-event-body .flex-body-1 .side {
      width: 50%;
  }
  .create-event-body-1 .create-event-body .flex-body-1 .side:last-child {
      width: 100%;
      display: flex;
      padding-left: 0;
  }
  .create-event-body-1 .create-event-body .flex-body-1 .side:last-child >div:nth-child(2) {
      flex: 1;
      margin-left: 40px;
  }
  .create-event-body-1 {
      padding: 40px 60px;
  }
  .input-groupe-1 textarea {
      height: 150px;
  }
  .create-event-body-1 .create-event-body .flex-body-1 .side .add-to-genres .absgenres-pick-wr {
      left: auto;
      right: -60px;
  }
  .tabs-artist-wrapp .bg-wr-tabs .tab-artist .flex-wrapp-cards .one-card .card .left-side {
      padding: 0 15px;
  }
  .tabs-artist-wrapp .bg-wr-tabs .tab-artist .flex-wrapp-cards .one-card .card .ava {
      width: 100px;
      height: 100px;
  }
  .tabs-artist-wrapp .bg-wr-tabs .tab-artist .flex-wrapp-cards .one-card .card .right-side {
      padding: 0 15px;
  }
  .tabs-artist-wrapp .bg-wr-tabs .tab-artist .flex-wrapp-cards .one-card .card .flex-buttons .button-card {
      padding: 5px;
      font-size: 10px;
  }
  .tabs-venue-wrapp {
    margin: 0 -35px;
  }
  .main-mw-5 .tabs-venue-wrapp .one-tab-flex .side {
    padding: 0 25px 0 0;
  }
  .for-padd-cards-art {
    padding: 30px 0;
  }
  .tabs-venue-wrapp .for-padd-cards-art .scroll-cards-art .one-card {
    padding: 0 10px;
  }
  .tabs-venue-wrapp .for-padd-cards-art .scroll-cards-art .one-card .l-s .desc {
    padding-left: 10px;
  }
  .create-event-body-1.create-artist .create-event-body .flex-body-1 .side:last-child .input-groupe-1.whithout-label {
    width: 100%;
  }
  .flex-mac-checkbox-column .flex-mac-checkbox {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .flex-mac-checkbox-column .flex-mac-checkbox .flex-radio {
    margin: 10px 0 0;
  }
  .flex-input-groupes.full-width {
    flex-wrap: wrap;
  }
  .flex-input-groupes.full-width .input-groupe-1:first-child {
    width: 100%;
    margin-right: 0;
  }
  .mat-form-field-infix {
    padding: 8px 0 !important;
  }
  .riders-flex-wrapp .side .desc-riders {
    font-size: 12px;
  }
}
@media (max-width: 991px) {
  .choose-to-follow .follow-m-w .flex-bands .one-band {
    width: 50%; }

  .choose-to-follow .follow-m-w {
    max-width: 700px; }

  header .main-mw .left-side .logo-wr {
    width: 80px; }

  header .main-mw .right-side .flex-menu-items .name-and-ava-wr .name-and-ava p {
    font-size: 11px;
    line-height: 14px; }

  header .main-mw .right-side .flex-menu-items .name-and-ava-wr .flex-auth a, header .main-mw .right-side .flex-menu-items .name-and-ava-wr .flex-auth span {
    font-size: 12px; }

  .shows-main-wrapp .flex-shows .one-show-wr {
    width: 50%; }

  footer .for-flex-footer .side {
    width: 33.33%;
    display: block; }
    footer .for-flex-footer .side.side-1 {
      width: 100%;
      margin-bottom: 40px; }
      footer .for-flex-footer .side.side-1 ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
      footer .for-flex-footer .side.side-1 div {
        width: 100%; }

  footer .for-flex-footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  header .main-mw .right-side .search-inp .inp-style-1 {
    padding: 9px 3px; }

  header .main-mw .right-side .flex-menu-items ul li a span {
    font-size: 12px; }

  header .main-mw .right-side .flex-menu-items .name-and-ava-wr .name-and-ava p {
    display: none; }

  .nav-holder-3 {
    position: fixed; }

  .all-info-profile .uniq-padd-2 .flex--info .side {
    width: 50%; }

  .all-info-profile .uniq-padd-2 .flex--info .side.uniq-padd-style-funs {
    width: 100%;
    padding-top: 20px; }

  .all-info-profile .uniq-padd-2 .flex--info .side.uniq-padd-style-funs .blocks-funs .one-block {
    width: 25%; }

  .head-info-profile-wr .head-info-profile {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .head-info-profile-wr .head-info-profile .side-1 {
    width: 100%; }

  .head-info-profile-wr .head-info-profile .side-1 .mouse-bg-image {
    margin: 0 auto 20px auto; }

  .head-info-profile-wr .head-info-profile .side-2 .big-name {
    font-size: 45px;
    line-height: 50px; }

  .all-info-profile .uniq-padd-2 .flex--info .side {
    border-right: none; }
    .all-info-profile .uniq-padd-2 .flex--info .side:first-child {
      border-right: 1px solid #f3f3f3; }

  .all-info-profile .uniq-padd-2 .flex--info .side.scroller .new-scroll-wr {
    max-height: 532px;
  }

  .create-event-body-1 {
      padding: 40px 30px;
  }
  .create-event-body-1 .create-event-body .flex-body-1 .side .add-to-genres {
      display: block;
      width: 100%;
  }
  .create-event-body-1 .create-event-body .flex-body-1 .side .add-to-genres .absgenres-pick-wr {
      right: -30px;
  }
  .create-event-body-1 .create-event-body .flex-body-1 .side .add-to-genres .plus {
      margin: 0 auto;
  }
  .create-event-body-1 .create-event-body .flex-body-1 .side .flex-genres .one-genre {
      font-size: 13px;
  }
  .create-event-nav-tabs .for-header-shadow {
      padding: 20px 0;
  }
  .create-event-nav-tabs .create-event-header h1 {
      font-size: 75px;
      text-align: center;
  }
  .create-event-nav-tabs .create-event-header ul {
      justify-content: center;
  }
  .create-event-nav-tabs .create-event-header ul li {
      padding: 0 10px;
  }
  .create-event-nav-tabs .create-event-header ul li:last-child {
      padding-right: 0;
  }
  .create-event-nav-tabs .create-event-header ul li.started .nav-second-outlet {
    font-size: 17px;
  }
  .tabs-artist-wrapp .bg-wr-tabs .tab-artist .flex-wrapp-cards .one-card {
      width: 50%;
  }
  .tabs-artist-wrapp .bg-wr-tabs .tab-artist .flex-wrapp-cards .one-card .card .flex-buttons {
      justify-content: flex-start;
  }
  .tabs-artist-wrapp .bg-wr-tabs .tab-artist .flex-wrapp-cards .one-card .card .flex-buttons .button-card {
      margin-right: 10px;
  }
  .for-flex-all-events .one-event-wr {
      width: 33.333%;
      padding: 12px;
  }
  .for-flex-all-events .one-event-wr .one-event .white-desc-event .name-artist {
      font-size: 18px;
      margin-bottom: 7px;
  }
  .for-flex-all-events .one-event-wr .one-event .white-desc-event .when,
  .for-flex-all-events .one-event-wr .one-event .white-desc-event .where {
      font-size: 14px;
  }
  .tabs-venue-wrapp {
    margin: 0;
  }
  .main-mw-5 .tabs-venue-wrapp .one-tab-flex .side.side-xs-45 {
    width: 45%;
  }
  .main-mw-5 .tabs-venue-wrapp .one-tab-flex .side.width-66 {
    width: 55%;
    padding: 0 25px;
  }
  .for-padd-cards-art .scroll-cards-art {
    max-height: 600px;
  }
  .tabs-venue-wrapp .for-padd-cards-art .scroll-cards-art .one-card {
    width: 100%;
  }
  .main-mw-5 .tabs-venue-wrapp .one-tab-flex {
    flex-wrap: wrap;
  }
  .main-mw-5 .tabs-venue-wrapp .one-tab-flex .side {
    width: 50%;
  }
  .main-mw-5 .tabs-venue-wrapp .one-tab-flex .side:nth-child(2) {
    order: 3;
  }
  .main-mw-5 .tabs-venue-wrapp .one-tab-flex .side:nth-child(3) {
    order: 2;
  }
  .flex-funding-columns {
    flex-wrap: wrap;
  }
  .flex-funding-columns .side {
    width: 50%;
    margin-bottom: 15px;
  }
  .artist-media .media-flex-sides .left-side {
    width: 45%;
  }
  .artist-media .media-flex-sides .right-side {
    width: 55%;
    padding-left: 30px;
  }
  .artist-media .media-flex-sides .right-side .slider-audio-wrapp .one-audio .delete-track {
    left: auto;
    right: 0;
  }
  .media-flex-sides .right-side .slider-audio-wrapp .one-audio {
    margin-bottom: 15px;
  }
  .artist-media .media-flex-sides .right-side .head-of-right-side {
    padding-left: 0;
  }
  .media-flex-sides .right-side.albums {
    width: 55% !important;
  }
  .slider-2-albums .one-slide {
    padding: 10px;
  }
  .slider-2-albums .one-slide .wrapp-card .descr {
    padding: 20px 15px 17px 15px;
  }
  .flex-funding-columns.order-sm .side:first-child {
    order: 3;
  }
  .flex-input-groupes.full-width .input-groupe-1:first-child {
    margin-bottom: 0;
    padding-top: 0;
  }
  .flex-mac-checkbox-column .flex-mac-checkbox {
    flex-direction: row;
  }
  .riders-flex-wrapp {
    flex-wrap: wrap;
  }
  .riders-flex-wrapp .side {
    width: 50%;
  }
  .riders-flex-wrapp .side .desc-riders {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .register .m-v-reg .reg-wr .for-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 120px; }

  .register .m-v-reg .reg-wr .for-flex .side {
    width: 100%; }

  .register .m-v-reg .reg-wr .for-flex .side.left-side {
    padding-top: 0; }

  .register .m-v-reg .reg-wr .for-flex .photo-wr-1 {
    top: 0;
    width: 100%; }

  .register .m-v-reg .reg-wr h3 {
    padding: 0 15px;
    font-size: 26px; }

  .register .m-v-reg .reg-wr .flex-checkboxes .one-checkbox {
    width: 50%; }

  .choose-to-follow .follow-m-w {
    padding: 65px 15px 125px 15px; }

  .choose-to-follow .butt-to-continue {
    padding: 12px; }

  .choose-to-follow .follow-m-w .flex-bands .one-band {
    width: 100%; }

  .choose-to-follow .follow-m-w .flex-bands {
    max-width: 272px;
    margin: 0 auto; }

  header {
    padding: 15px; }

  .navbar-toggle {
    border: none;
    top: 1px; }

  .navbar-toggle .icon-bar {
    background: #fff; }

  header .main-mw {
    display: block; }

  header .main-mw .right-side .flex-menu-items {
    display: block;
    padding-top: 20px; }

  .navbar-collapse {
    display: block;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-collapse.collapsing {
    position: static;
  }

  header .main-mw .right-side .flex-menu-items .name-and-ava-wr .name-and-ava {
    /* display: none; */ 
  }

  header .main-mw .right-side .flex-menu-items .name-and-ava-wr {
    width: 75px;
    position: absolute;
    right: 50px;
    top: 15px;
  }

  header .main-mw .right-side .search-inp .inp-style-1 {
    max-width: 290px;
    margin: 0 auto 20px auto; }

  .shows-main-wrapp {
    padding: 0 15px; }

  .shows-main-wrapp .head-shows h1 {
    font-size: 32px; }

   .shows-main-wrapp .flex-shows {
        margin: 0 -12px;
    }
    .shows-main-wrapp .flex-shows .one-show-wr{
        padding: 0;
        margin-bottom: 16px;
        padding: 0 5px;
    }

  footer {
    padding: 25px 15px 20px 15px; }

  footer .for-flex-footer .side {
    width: 50%;
    margin-bottom: 30px; }

  footer .for-flex-footer .side.side-1 {
    width: 50%;
    margin-bottom: 30px; }

  footer .for-flex-footer .side.side-1 ul {
    display: block; }

  header .main-mw .right-side .navbar-collapse .flex-menu-items{
    padding-top: 0;
    display: block;
  }

  header .main-mw .right-side .navbar-collapse.in .flex-menu-items{
    padding-top: 0;
  }

  header .main-mw .right-side .flex-menu-items ul {
    width: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    flex:1;
    margin-top: 20px;
  }

  header .main-mw .right-side .collapse.in .flex-menu-items ul {
    display: flex;
  }

  header .main-mw .right-side .collapse .flex-menu-items ul {
    display: none;
  }
  
  header .main-mw .right-side .flex-menu-items ul li{
    width: auto;
    margin: 0 10px;
  }

  header .main-mw .right-side .flex-menu-items ul li a span {
    opacity: 1; }

  header .main-mw .right-side .flex-menu-items ul li a.icon-5 span {
    top: 0;
    margin-top: 8px; }

  header .main-mw .right-side .flex-menu-items .name-and-ava-wr .flex-auth {
      position: absolute;
      right: 0px;
      top: 3px;
  }

  .new-shows-desc {
      padding: 12px 10px 15px 10px;
  }
  .new-shows-desc .name-show {
      font-size: 18px;
      line-height: 1.3;
  }
  .new-shows-desc .where {
      font-size: 14px;
  }

  .shows-main-wrapp .flex-shows .one-show-wr .one-show {
    height: 290px;
  }

  .shows-main-wrapp .flex-shows .one-show-wr .one-show .description .bott-info p {
    font-size: 12px; }

  .shows-main-wrapp .flex-shows .one-show-wr .one-show .description .bott-info .name {
    font-size: 18px; }

  .shows-main-wrapp .flex-shows .one-show-wr .one-show .description {
    height: 265px; }

  .nav-holder-3 {
    width: 250px; }

  .mainWrapper.has-push-left {
    -webkit-transform: translateX(250px);
            transform: translateX(250px); }

  .nav-holder-3.is-active {
    -webkit-transform: translateX(0);
            transform: translateX(0); }

  .nav-holder-3:before {
    top: 122px; }

  .nav-holder-3 .wrapp-for-filter {
    padding: 0 15px; }

  .nav-holder-3 {
    position: fixed; }

  .one-checkbox p {
    font-size: 12px; }

  .all-info-profile .uniq-padd {
    padding: 0 15px; }

  .all-info-profile .uniq-padd-2 .flex--info {
    display: block; }

  .head-info-profile-wr .head-info-profile .side-1 {
    padding-right: 0; }

  .head-info-profile-wr {
    padding: 20px 15px; }

  .head-info-profile-wr .head-info-profile .side-2 {
    padding-right: 0;
    margin-bottom: 20px; }

  .head-info-profile-wr .head-info-profile {
    display: block; }

  .circles-info .for-flex-inf .circle {
    width: 90px;
    height: 90px;
    margin: -15px 10px 20px 10px; }

  .circles-info .for-flex-inf .circle p {
    font-size: 12px; }

  .all-info-profile .uniq-padd .genres-info .flex-genres .one-genre {
    font-size: 12px; }

  .all-info-profile .uniq-padd-2 .flex--info .side:first-child {
    border: none; }

  .all-info-profile .uniq-padd-2 .flex--info .side {
    width: 100%;
    padding: 0 15px;
    max-width: 400px;
    margin: 0 auto; }

  .all-info-profile .uniq-padd-2 .flex--info .side.uniq-padd-style-funs .uniq-padd-3 {
    padding: 0; }

  .all-info-profile .uniq-padd-2 .flex--info .side.uniq-padd-style-funs {
    padding: 20px 15px 10px 15px; }

  .all-info-profile .uniq-padd-2 .flex--info .side.uniq-padd-style-funs .blocks-funs {
    padding: 0; }

  .all-info-profile .uniq-padd-2 .flex--info .side.uniq-padd-style-funs .blocks-funs .one-block {
    width: 50%; }

  .head-info-profile-wr .head-info-profile .side-2 .big-name {
    text-align: center; }

  .head-info-profile-wr .head-info-profile .side-2 .insta-link-sp {
    text-align: center; }

  .all-info-profile .uniq-padd-2 .flex--info .side.scroller .new-scroll-wr {
    padding: 0px 10px;
    max-height: 263px; }

  .all-info-profile .uniq-padd-2 .flex--info .side.scroller .for-scroll-padd {
    padding: 0; }

  .venue-main-info .name-venue {
    margin-bottom: 15px; }

  .venue-main-info .name-venue h2 {
    font-size: 20px; }

  .venue-main-info .oficial-page .of-p {
    font-size: 20px; }

  .all-info-profile .uniq-padd-2 .flex--info .side.side-contact .flex-contact-venue {
    display: block; }

  .all-info-profile .uniq-padd-2 .flex--info .side.side-contact .flex-contact-venue .column-cont:first-child {
    width: 100%;
    padding-right: 0; }

  .all-info-profile .uniq-padd-2 .flex--info .side.side-contact .flex-contact-venue .column-cont:last-child {
    width: 100%;
    padding-left: 0; 
  } 

  .transformedDatapicker {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(0);
    max-height: 100%;
    overflow-y: auto;
  }

  .main-router-outlet {
      overflow-x: hidden;
  }
  .create-event-nav-tabs .create-event-header {
    padding: 20px 0; }

  .create-event-nav-tabs .for-header-shadow {
    padding: 20px 0 0; }

  .create-event-nav-tabs .create-event-header h1 {
    font-size: 50px;
    margin-bottom: 20px; }

  .create-event-nav-tabs .create-event-header ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 80px;
  }

  .create-event-nav-tabs .create-event-header ul li {
    padding: 0 12px; }

  .create-event-nav-tabs .create-event-header ul li .nav-second-outlet {
    font-size: 16px; }

  .create-event-nav-tabs .create-event-header ul li:nth-child(4) {
    break-after: always;
  }

  .create-event-nav-tabs .create-event-header ul li:nth-child(5) {
    padding-right: 0;
  }

  .create-event-nav-tabs .create-event-header ul li:nth-child(6) {
    padding: 0;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -89px;
  }

  .create-event-nav-tabs .create-event-header ul li:nth-child(6) .butt-style-1 {
    margin: 0; 
  }

  .create-event-nav-tabs .create-event-header ul li:nth-child(7) {
      padding: 0;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 20px;
      margin-left: 73px;
  }

  .create-event-body-1 {
    padding: 30px 15px; }

  .create-event-body-1 .create-event-body .head-ev-body h2 {
    font-size: 32px; }

  .create-event-body-1 .create-event-body .flex-body-1 .side:first-child {
    padding-left: 0;
    padding-right: 15px; }

  .create-event-body-1 .create-event-body .flex-body-1 .side:nth-child(2) {
    padding-right: 0;
    padding-left: 15px; }

  .create-event-body-1 .create-event-body .flex-body-1 .side:last-child {
    margin-top: 20px; }

  .flex-mac-checkbox {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 20px; }

  .flex-mac-checkbox p {
    width: 100%; }

  .flex-mac-checkbox .yes-no {
    margin-top: 7px; }

  .flex-input-groupes {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .flex-input-groupes .input-groupe-1:first-child {
    margin: 0 0 20px; }

  .flex-input-groupes .input-groupe-1:last-child {
    margin: 0 0 20px; }

  .create-event-body-1 .create-event-body .flex-body-1 .side:last-child > div:nth-child(2) {
    margin-left: 25px; }

  .create-event-body-1 .create-event-body .flex-body-1 .side .flex-genres .one-genre {
    font-size: 11px;
    padding: 2px 7px;
    margin-bottom: 8px;
    margin-right: 7px; }

    .create-event-nav-tabs .create-event-header ul {
      height: auto !important;
    }

  .create-event-body-1 .create-event-body .flex-body-1 .side .add-to-genres .absgenres-pick-wr {
    width: 420px;
    right: 0; }

  .tabs-artist-wrapp .bg-wr-tabs .tab-artist .flex-wrapp-cards .one-card .card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 100%; }

  .tabs-artist-wrapp .bg-wr-tabs .tab-artist .flex-wrapp-cards .one-card .card .left-side {
    width: 100%; }

  .tabs-artist-wrapp .bg-wr-tabs .tab-artist .flex-wrapp-cards .one-card .card .right-side {
    width: 100%;
    text-align: center; }

  .tabs-artist-wrapp .bg-wr-tabs .tab-artist .flex-wrapp-cards .one-card .card .flex-buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .tabs-artist-wrapp .bg-wr-tabs .tab-artist .flex-wrapp-cards .one-card .card .flex-buttons .button-card {
    margin: 0 5px; }

  .for-flex-all-events .one-event-wr {
    width: 50%; }

  .for-padd-cards-art .scroll-cards-art .one-card {
    width: 100%; }

  .modal-pick-artist .modal-dialog .flex-genres .one-genre {
    font-size: 12px;
    margin-bottom: 8px;
    margin-right: 7px; }

  .modal-pick-artist .modal-dialog .flex-range-slider {
    padding: 0 20px; }

  .modal-pick-artist .modal-dialog .content-bodal {
    padding: 0 20px; }

  .for-padd-cards-art .scroll-cards-art .one-card .l-s {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }

  .for-padd-cards-art .scroll-cards-art .one-card .l-s .ava {
    margin-right: 20px; }

  .modal-pick-artist .modal-dialog {
    max-width: 580px; 
  }
  .main-mw-5 .tabs-venue-wrapp .one-tab-flex.alighn-items {
    flex-wrap: wrap;
  }
  .main-mw-5 .tabs-venue-wrapp .one-tab-flex .side {
    width: 100%;
    padding: 0 15px;
  }
  .main-mw-5 .tabs-venue-wrapp .one-tab-flex .side.side-xs-45 {
    width: 100%;
  }
  .main-mw-5 .tabs-venue-wrapp .one-tab-flex .side.width-66 {
    width: 100%;
    padding: 0 15px;
  }
  .main-mw-5 .tabs-venue-wrapp .one-tab-flex .side .filter-venue .flex-genres .one-genre {
    font-size: 12px;
    margin-bottom: 8px;
    margin-right: 8px;
  }
  .main-mw-5 .tabs-venue-wrapp .one-tab-flex .side .filter-venue .head-type-inp {
    margin-bottom: 12px;
  }
  .main-mw-5 .tabs-venue-wrapp .one-tab-flex .side .filter-venue .for-range-slider {
    margin-bottom: 30px;
  }
  .main-mw-5 .tabs-venue-wrapp .one-tab-flex .side:nth-child(2) {
    order: 2;
  }
  .main-mw-5 .tabs-venue-wrapp .one-tab-flex .side:nth-child(3) {
    order: 3;
  }
  .flex-funding-columns {
    margin-bottom: 20px;
  }
  .flex-funding-columns .side {
    width: 100%;
    margin-bottom: 15px;
  }
  .artist-media .media-flex-sides .left-side {
    width: 100%;
  }
  .artist-media .media-flex-sides .right-side {
    width: 100%;
    padding-right: 0;
  }
  .media-flex-sides .right-side.albums {
    width: 100% !important;
  }
  .media-flex-sides {
    margin-bottom: 40px;
  }
  .from-to-style.hours-label-groupe input {
    text-align: right !important;
    max-width: 100%;
    margin-left: 0;
  }
  .flex-funding-columns.order-sm .mat-form-field-wrapper {
    margin: -2px 0 0 25px;
  }
  .flex-funding-columns.order-sm .side:first-child .mat-form-field-wrapper {
    margin-left: 0;
  }
  .riders-flex-wrapp .side .desc-riders {
    font-size: 12px;
  }
}
/*@media (max-width: 500px) {
  footer .for-flex-footer .side {
    width: 100%; }

  footer .for-flex-footer .side.side-1 {
    width: 100%; 
  }
}*/

@media (max-width: 479px) {
  header .main-mw .right-side .flex-menu-items ul li {
      padding: 0;   
  }
  .shows-main-wrapp .head-shows h1 {
      font-size: 26px;
  }
  .shows-main-wrapp .head-shows .ham-ham {
      width: 48px;
      height: 48px;
  }
  .shows-main-wrapp .flex-shows .one-show-wr .one-show {
      height: 200px;
  }
  .new-shows-desc .name-show {
      font-size: 15px;
  }
  .new-shows-desc .where {
      font-size: 12px;
  }
  .shows-main-wrapp .flex-shows .one-show-wr .one-show .description .top-info .sale {
      width: 62px;
      height: 62px;
      background-size: contain;
  }
  .shows-main-wrapp .flex-shows .one-show-wr .one-show .description .top-info .sale p {
      font-size: 14px;
  }
  .shows-main-wrapp .flex-shows .one-show-wr .one-show .description .top-info .funded p {
      font-size: 14px;
  }
  .shows-main-wrapp .flex-shows .one-show-wr .one-show .description .top-info .funded p span {
      font-size: 14px;
  }
  footer .for-flex-footer .side {
      padding: 0 8px;
  }
  footer .for-flex-footer .side h5 {
      font-size: 18px;
      margin-bottom: 20px;
  }
  footer .for-flex-footer .side ul li a {
      font-size: 14px;
  }
  footer .for-flex-footer .side.side-2 .flex-socials {
      width: auto;
  }
  footer .for-flex-footer .side.side-2 .flex-socials a {
      max-width: 30px;
  }
  .nav-holder-3 {
      width: 300px;
  }

  .shows-main-wrapp .flex-shows {
      padding-bottom: 30px;
  }

  .create-event-body-1 .create-event-body .head-ev-body {
    display: block;
    text-align: center; }

  .create-event-body-1 .create-event-body .head-ev-body h2 {
    margin: 0 0 15px; }

  .create-event-nav-tabs .create-event-header ul li:first-child {
    padding-left: 10px; }

  .create-event-nav-tabs .create-event-header ul li {
    padding: 0 10px; }

  .create-event-nav-tabs .create-event-header h1 {
    font-size: 40px;
    margin-bottom: 15px; }

  .create-event-body-1 .create-event-body .flex-body-1 .side:first-child {
    width: 100%;
    padding: 0; }

  .create-event-body-1 .create-event-body .flex-body-1 .side:nth-child(2) {
    width: 100%;
    padding: 0; }

  .create-event-body-1 .create-event-body .flex-body-1 .side:last-child {
    width: 100%;
    padding: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .create-event-body-1 .create-event-body .flex-body-1 .side:last-child > div:nth-child(2) {
    width: 100%;
    margin: 0;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto; }

  .create-event-body-1 .create-event-body .flex-body-1 .side .add-to-genres .absgenres-pick-wr {
    width: 270px;
    right: 0;
    padding: 10px; }

  .input-groupe-1 textarea {
    padding: 6px 12px; }

  .tabs-artist-wrapp .bg-wr-tabs .tab-artist .flex-wrapp-cards .one-card {
    padding: 0 8px 20px 8px; }

  .tabs-artist-wrapp .bg-wr-tabs .tab-artist .flex-wrapp-cards .one-card .card .right-side {
    padding: 0 5px; }

  .tabs-artist-wrapp .bg-wr-tabs .tab-artist .flex-wrapp-cards .one-card .card .flex-buttons .button-card {
    margin: 0 4px;
    font-size: 9px; }

  .tabs-artist-wrapp .bg-wr-tabs .tab-artist .flex-wrapp-cards .one-card .add-artist-block .add {
    text-align: center;
    font-size: 22px; }

  .new-padd-wrapper-m-w {
    padding: 0; }

  .tabs-artist-wrapp .tabs-menu-active-decline {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .tabs-artist-wrapp .tabs-menu-active-decline li:last-child {
    padding-right: 0; }

  .tabs-artist-wrapp .bg-wr-tabs .tab-artist .flex-wrapp-cards .one-card {
    width: 100%;
    max-width: 320px;
    margin: 0 auto; }

  .shows-main-wrapp .head-shows {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .shows-main-wrapp .head-shows .add-event-butt {
    margin-top: 20px;
    width: 100%;
    max-width: 270px;
    margin-left: auto;
    margin-right: auto; }

  .main-mw-6 {
    padding-top: 10px; }

  .for-flex-all-events {
    margin: 0 -10px; }

  .for-flex-all-events .one-event-wr {
    padding: 7px; }

  .for-flex-all-events .one-event-wr .one-event .white-desc-event {
    padding: 10px 7px; }

  .modal-pick-artist .modal-dialog .flex-range-slider {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .modal-pick-artist .modal-dialog .flex-range-slider .left-side {
    width: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 20px; }

  .modal-pick-artist .modal-dialog .flex-range-slider .right-side {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 20px; }

  .modal-pick-artist .modal-dialog .flex-genres .one-genre {
    font-size: 10px;
    margin-bottom: 7px;
    margin-right: 5px; }

  .flex-tabs-menu-venue .v-tabs-menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    font-size: 18px;
    line-height: 21px;
  }

  .main-mw-5 .tabs-venue-wrapp .one-tab-flex .side {
    padding: 0;
  }
  .main-mw-5 .tabs-venue-wrapp .one-tab-flex .side.width-66 {
    padding: 0;
  }
  .riders-flex-wrapp .side {
    width: 100%;
  }
  .riders-flex-wrapp .side .desc-riders {
    font-size: 14px;
  }
}

@media (max-width: 359px) {
  header .main-mw .right-side .flex-menu-items ul li {
      margin: 0 7px;
  }
  .nav-holder-3 {
      width: 290px;
  }
  .for-flex-all-events {
    margin: 0; }

  .for-flex-all-events .one-event-wr {
    width: 100%; }

  .for-flex-all-events .one-event-wr .one-event .white-desc-event {
    padding: 10px 15px; }

  .for-padd-cards-art .scroll-cards-art .one-card {
    padding: 0 10px; }

  .for-padd-cards-art .scroll-cards-art .one-card .l-s .ava {
    margin-right: 15px; }

  .for-padd-cards-art .scroll-cards-art .one-card .l-s .desc {
    width: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }

  .for-padd-cards-art .scroll-cards-art .one-card .r-s {
    padding-right: 5px; }

  .flex-tabs-menu-venue .v-tabs-menu li {
    font-size: 16px;
    line-height: 20px;
    padding: 6px 0;
  }
  .tabs-artist-wrapp .tabs-menu-active-decline li a,
  .tabs-artist-wrapp .tabs-menu-active-decline li span {
    font-size: 22px;
  }
  .create-event-nav-tabs .create-event-header ul li:nth-child(6) {
    margin-left: -84px;
  }
  .create-event-nav-tabs .create-event-header ul li:nth-child(7) {
    margin-left: 68px;
  }
  .media-flex-sides .left-side .head-of-left-side {
    font-size: 62px;
    margin-bottom: -26px;
  }
  .media-flex-sides .right-side .head-of-right-side .head-text-r {
    font-size: 23px;
  }
  .media-flex-sides .left-side .head-of-left-side.albums-t-s {
    font-size: 60px;
    margin-bottom: -26px;
  }
  .slider-2-albums .one-slide {
    width: 100% !important;
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=media.css.map */