.second-router-outlet.disable-height {
  height: 100%;
  background: #fff;
  min-height: calc(100vh - 83px); }

.new-show-datails-wrapp {
  background: #fff;
  padding: 0 80px;
  position: relative; }
  .new-show-datails-wrapp .flex-new-datails {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 30px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative; }
    .new-show-datails-wrapp .flex-new-datails.flex-new-datails-payment {
      padding-left: 75px; }
      .new-show-datails-wrapp .flex-new-datails.flex-new-datails-payment .back-page {
        right: auto;
        left: 0; }
    .new-show-datails-wrapp .flex-new-datails .back-page {
      position: absolute;
      right: calc(100% + 15px);
      top: 30px; }
      .new-show-datails-wrapp .flex-new-datails .back-page span {
        display: block;
        font-size: 12px;
        color: #000;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center; }
    .new-show-datails-wrapp .flex-new-datails .info-payment-left {
      width: 35%; }
      .new-show-datails-wrapp .flex-new-datails .info-payment-left h1 {
        text-transform: uppercase;
        font-size: 30px;
        font-family: AvenirLTStdBlack;
        margin-bottom: 20px;
        word-wrap: break-word; }
      .new-show-datails-wrapp .flex-new-datails .info-payment-left .bg-image {
        padding: 30px;
        margin-bottom: 20px;
        background-position: center;
        background-size: cover;
        background-image: url(../img/new-show-datails.jpg); }
        .new-show-datails-wrapp .flex-new-datails .info-payment-left .bg-image .image-before {
          position: relative;
          width: 100%;
          overflow: hidden; }
          .new-show-datails-wrapp .flex-new-datails .info-payment-left .bg-image .image-before:before {
            content: '';
            display: block;
            padding-top: 155%;
            position: relative; }
          .new-show-datails-wrapp .flex-new-datails .info-payment-left .bg-image .image-before .image {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: center no-repeat;
            background-size: cover; }
      .new-show-datails-wrapp .flex-new-datails .info-payment-left .small-descr {
        font-size: 14px; }
        .new-show-datails-wrapp .flex-new-datails .info-payment-left .small-descr span {
          display: block;
          font-family: AvenirLTStdBlack;
          font-size: 16px; }
    .new-show-datails-wrapp .flex-new-datails .info-payment-right {
      width: 65%;
      padding-left: 50px; }
      .new-show-datails-wrapp .flex-new-datails .info-payment-right h2 {
        text-transform: uppercase;
        font-size: 30px;
        font-family: AvenirLTStdBlack;
        margin-bottom: 10px; }
      .new-show-datails-wrapp .flex-new-datails .info-payment-right .info-payment {
        margin-bottom: 30px; }
        .new-show-datails-wrapp .flex-new-datails .info-payment-right .info-payment p {
          font-size: 14px;
          margin-bottom: 0; }
          .new-show-datails-wrapp .flex-new-datails .info-payment-right .info-payment p span {
            font-family: AvenirLTStdBlack; }
          .new-show-datails-wrapp .flex-new-datails .info-payment-right .info-payment p.total {
            text-transform: uppercase;
            font-family: AvenirLTStdBlack; }
            .new-show-datails-wrapp .flex-new-datails .info-payment-right .info-payment p.total span {
              color: #eb2d64; }
      .new-show-datails-wrapp .flex-new-datails .info-payment-right .for-flex-payment-blocks {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        .new-show-datails-wrapp .flex-new-datails .info-payment-right .for-flex-payment-blocks .one-collapsed-block {
          background: #f3f3f3;
          padding: 13px 25px;
          margin-bottom: 40px;
          width: 50%; }
          .new-show-datails-wrapp .flex-new-datails .info-payment-right .for-flex-payment-blocks .one-collapsed-block .head-collapsed-block {
            text-transform: uppercase;
            font-size: 16px;
            margin-bottom: 30px; }
          .new-show-datails-wrapp .flex-new-datails .info-payment-right .for-flex-payment-blocks .one-collapsed-block .flex-top-cart {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            position: relative;
            padding-right: 18px;
            cursor: pointer;
            margin-bottom: 15px; }
          .new-show-datails-wrapp .flex-new-datails .info-payment-right .for-flex-payment-blocks .one-collapsed-block .triangle {
            position: absolute;
            top: 23px;
            right: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 9px 9.5px 0 9.5px;
            border-color: #918f90 transparent transparent transparent; }
          .new-show-datails-wrapp .flex-new-datails .info-payment-right .for-flex-payment-blocks .one-collapsed-block .flexed-buy {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center; }
            .new-show-datails-wrapp .flex-new-datails .info-payment-right .for-flex-payment-blocks .one-collapsed-block .flexed-buy .butt-style-1 {
              width: auto;
              border-width: 4px; }
              .new-show-datails-wrapp .flex-new-datails .info-payment-right .for-flex-payment-blocks .one-collapsed-block .flexed-buy .butt-style-1 span {
                position: relative;
                text-transform: uppercase;
                font-size: 12px;
                padding: 5px 18px; }
      .new-show-datails-wrapp .flex-new-datails .info-payment-right .complete-route {
        padding-top: 50px; }
        .new-show-datails-wrapp .flex-new-datails .info-payment-right .complete-route .middle-image {
          margin: 0 auto 30px auto; }
        .new-show-datails-wrapp .flex-new-datails .info-payment-right .complete-route p {
          text-align: center; }
        .new-show-datails-wrapp .flex-new-datails .info-payment-right .complete-route .c-1 {
          text-transform: uppercase;
          font-size: 30px;
          font-family: AvenirLTStdBlack;
          margin-bottom: 34px; }
          .new-show-datails-wrapp .flex-new-datails .info-payment-right .complete-route .c-1 span {
            display: block;
            color: #2fb765; }
        .new-show-datails-wrapp .flex-new-datails .info-payment-right .complete-route .c-2 {
          font-family: AvenirLTStdBlack;
          font-size: 24px;
          margin-bottom: 27px; }
          .new-show-datails-wrapp .flex-new-datails .info-payment-right .complete-route .c-2 span {
            color: #eb2d64; }
        .new-show-datails-wrapp .flex-new-datails .info-payment-right .complete-route .c-3-wrapp {
          margin-bottom: 27px; }
          .new-show-datails-wrapp .flex-new-datails .info-payment-right .complete-route .c-3-wrapp .c-3 {
            font-size: 14px;
            margin-bottom: 0; }
            .new-show-datails-wrapp .flex-new-datails .info-payment-right .complete-route .c-3-wrapp .c-3 span {
              font-family: AvenirLTStdBlack; }
        .new-show-datails-wrapp .flex-new-datails .info-payment-right .complete-route .code {
          font-size: 14px;
          margin-bottom: 40px; }
          .new-show-datails-wrapp .flex-new-datails .info-payment-right .complete-route .code span {
            display: block;
            font-family: AvenirLTStdBlack;
            text-transform: uppercase; }
        .new-show-datails-wrapp .flex-new-datails .info-payment-right .complete-route .flexed-print {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
          .new-show-datails-wrapp .flex-new-datails .info-payment-right .complete-route .flexed-print .butt-style-1 {
            width: auto;
            border-width: 4px; }
            .new-show-datails-wrapp .flex-new-datails .info-payment-right .complete-route .flexed-print .butt-style-1 span {
              position: relative;
              text-transform: uppercase;
              font-size: 12px;
              padding: 5px 18px; }
    .new-show-datails-wrapp .flex-new-datails .information-side {
      width: 100%; }
      .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        padding: 30px;
        margin-bottom: 25px;
        background-size: cover;
        background-position: center;
        background-image: url(../img/new-show-datails.jpg); }
        .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .baner-wr {
          padding-right: 20px;
          width: 50%; }
          .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .baner-wr .baner-before {
            position: relative;
            width: 100%;
            overflow: hidden; }
            .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .baner-wr .baner-before:before {
              content: '';
              display: block;
              padding-top: 155%;
              position: relative; }
            .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .baner-wr .baner-before .baner {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              width: 100%;
              height: 100%;
              bottom: 0;
              background: center no-repeat;
              background-size: cover; }
        .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .main-info-of-event {
          padding-left: 20px;
          width: 50%; }
          .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .main-info-of-event .use-style {
            position: relative;
            overflow: hidden; }
            .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .main-info-of-event .use-style:before {
              content: '';
              display: block;
              padding-top: 155%;
              position: relative; }
            .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .main-info-of-event .use-style .rel-wr-for-before {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
                  -ms-flex-direction: column;
                      flex-direction: column;
              width: 100%;
              height: 100%; }
          .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .main-info-of-event h1 {
            text-transform: uppercase;
            font-size: 25px;
            color: #fff;
            font-family: AvenirLTStdBlack;
            margin-bottom: 15px; }
          .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .main-info-of-event .gradient-info {
            position: relative;
            padding: 20px 3px 67px 3px;
            background: -webkit-gradient(linear, left bottom, left top, from(rgba(72, 23, 100, 0.9)), to(rgba(131, 34, 128, 0.4)));
            background: linear-gradient(to top, rgba(72, 23, 100, 0.9), rgba(131, 34, 128, 0.4));
            height: 100%;
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex; }
            .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .main-info-of-event .gradient-info .overflow-scroll {
              overflow: auto;
              height: 100%;
              padding: 0 27px;
              width: 100%; }
              .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .main-info-of-event .gradient-info .overflow-scroll::-webkit-scrollbar {
                background: transparent;
                width: 3px; }
              .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .main-info-of-event .gradient-info .overflow-scroll::-webkit-scrollbar-thumb {
                background: rgba(189, 189, 189, 0.5);
                border-radius: 2.5px;
                cursor: pointer; }
            .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .main-info-of-event .gradient-info .when {
              color: #fff;
              font-size: 14px;
              margin-bottom: 10px; }
              .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .main-info-of-event .gradient-info .when span {
                font-family: AvenirLTStdBlack; }
            .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .main-info-of-event .gradient-info .hash {
              font-size: 14px;
              color: #fff;
              margin-bottom: 10px; }
              .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .main-info-of-event .gradient-info .hash span {
                color: #eb2d64; }
            .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .main-info-of-event .gradient-info .head-of-blocks {
              font-size: 12px;
              margin-bottom: 5px;
              color: #B8A5BF; }
            .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .main-info-of-event .gradient-info .flex-genres {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -ms-flex-wrap: wrap;
                  flex-wrap: wrap;
              margin-bottom: 10px; }
              .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .main-info-of-event .gradient-info .flex-genres .one-genre {
                display: block;
                text-transform: uppercase;
                margin-right: 15px;
                background-color: #eb2d64;
                font-size: 12px;
                padding: 2px 10px;
                color: #fff;
                margin-bottom: 10px;
                border-radius: 50px; }
            .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .main-info-of-event .gradient-info .who-going {
              color: #fff; }
            .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .main-info-of-event .gradient-info .location-wr .mark {
              border: none;
              -webkit-box-shadow: 0px 0px 0px 3px rgba(238, 40, 98, 0.5);
              box-shadow: 0px 0px 0px 3px rgba(238, 40, 98, 0.5);
              width: 39px;
              height: 39px;
              margin-left: 3px; }
            .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .main-info-of-event .gradient-info .location-wr .where {
              color: #fff; }
            .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .main-info-of-event .gradient-info .icons-new {
              position: absolute;
              bottom: 0;
              height: 67px;
              left: 0;
              width: 100%;
              padding: 0 30px;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: justify;
                  -ms-flex-pack: justify;
                      justify-content: space-between;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center;
              border-top: 1px solid rgba(255, 255, 255, 0.07); }
              .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .main-info-of-event .gradient-info .icons-new .share {
                display: block;
                background: transparent;
                outline: none;
                border: none; }
          .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .main-info-of-event .if-crowdfunding {
            padding-top: 25px; }
            .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .main-info-of-event .if-crowdfunding .range {
              position: relative;
              height: 4px;
              border-radius: 50px;
              background: rgba(255, 255, 255, 0.5);
              margin-bottom: 10px; }
              .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .main-info-of-event .if-crowdfunding .range .done {
                position: absolute;
                background: #eb2d64;
                height: 5px;
                border-radius: 50px;
                top: 0;
                left: 0; }
            .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .main-info-of-event .if-crowdfunding .price-done {
              margin-bottom: 2px;
              font-size: 16px;
              font-family: AvenirLTStdBlack;
              color: #eb2d64; }
            .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .main-info-of-event .if-crowdfunding .descr-crowd {
              color: #fff;
              font-size: 14px;
              margin-bottom: 10px; }
            .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .main-info-of-event .if-crowdfunding .flex-crowd-info {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center;
              -ms-flex-wrap: wrap;
                  flex-wrap: wrap; }
              .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .main-info-of-event .if-crowdfunding .flex-crowd-info p {
                color: #fff; }
              .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .main-info-of-event .if-crowdfunding .flex-crowd-info .one-side {
                margin-right: 50px;
                margin-bottom: 10px; }
                .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .main-info-of-event .if-crowdfunding .flex-crowd-info .one-side .biggy {
                  font-size: 16px;
                  font-family: AvenirLTStdBlack;
                  margin-bottom: 0; }
                .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .main-info-of-event .if-crowdfunding .flex-crowd-info .one-side .descr-side {
                  font-size: 14px; }
                .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .main-info-of-event .if-crowdfunding .flex-crowd-info .one-side:last-child {
                  margin-right: 0; }
      .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .navigation-of-show-datail {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 10px; }
        .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .navigation-of-show-datail .list-nav-show {
          list-style: none;
          margin: 0;
          padding: 0;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          margin-bottom: 33px; }
          .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .navigation-of-show-datail .list-nav-show li {
            padding-right: 52px; }
            .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .navigation-of-show-datail .list-nav-show li:last-child {
              padding-right: 0; }
            .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .navigation-of-show-datail .list-nav-show li .link-to-tab {
              display: block;
              text-transform: uppercase;
              font-size: 18px;
              color: #000;
              cursor: pointer;
              font-family: AvenirLTStdMedium; }
              .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .navigation-of-show-datail .list-nav-show li .link-to-tab.active {
                color: #eb2d64; }
              .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .navigation-of-show-datail .list-nav-show li .link-to-tab span {
                opacity: 0.5; }
        .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .navigation-of-show-datail .going-wrapp .going-ava {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: end;
              -ms-flex-pack: end;
                  justify-content: flex-end;
          margin-bottom: 12px; }
          .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .navigation-of-show-datail .going-wrapp .going-ava .ava {
            display: block;
            width: 38px;
            height: 38px;
            margin-left: 7px;
            border-radius: 50%;
            background-size: cover;
            background-position: center; }
        .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .navigation-of-show-datail .going-wrapp .how-mutch {
          text-align: right;
          font-size: 14px; }
          .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .navigation-of-show-datail .going-wrapp .how-mutch span {
            color: #eb2d64;
            cursor: pointer; }
      .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant {
        padding-bottom: 33px; }
        .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .information-route h2 {
          font-size: 25px;
          font-family: AvenirLTStdBlack;
          margin-bottom: 30px;
          text-transform: uppercase; }
        .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .information-route .artists-list-who-going {
          list-style: none;
          margin: 0;
          padding: 0;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          margin-bottom: 17px; }
          .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .information-route .artists-list-who-going li {
            padding-bottom: 10px;
            margin-right: 49px; }
            .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .information-route .artists-list-who-going li:last-child {
              margin-right: 0; }
            .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .information-route .artists-list-who-going li a, .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .information-route .artists-list-who-going li span {
              cursor: pointer;
              display: block;
              padding-bottom: 3px;
              font-family: AvenirLTStdMedium;
              font-size: 16px;
              text-transform: uppercase;
              border-bottom: 3px solid transparent; }
              .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .information-route .artists-list-who-going li a.active, .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .information-route .artists-list-who-going li span.active {
                color: #eb2d64;
                border-color: #eb2d64; }
        .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .information-route .artists-info-route .one-artist {
          padding: 0 33px;
          margin-bottom: 60px; }
          .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .information-route .artists-info-route .one-artist .info-artist {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start;
            margin-bottom: 25px; }
            .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .information-route .artists-info-route .one-artist .info-artist .left-side {
              -ms-flex-negative: 0;
                  flex-shrink: 0; }
              .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .information-route .artists-info-route .one-artist .info-artist .left-side .ava {
                width: 160px;
                height: 160px;
                border-radius: 50%;
                display: block;
                background-size: cover;
                background-position: center; }
            .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .information-route .artists-info-route .one-artist .info-artist .right-side {
              padding-left: 30px; }
              .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .information-route .artists-info-route .one-artist .info-artist .right-side .name {
                margin-bottom: 0;
                font-family: AvenirLTStdBlack;
                font-size: 16px; }
              .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .information-route .artists-info-route .one-artist .info-artist .right-side .mose-name {
                font-size: 14px;
                margin-bottom: 5px; }
                .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .information-route .artists-info-route .one-artist .info-artist .right-side .mose-name span {
                  color: #eb2d64; }
              .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .information-route .artists-info-route .one-artist .info-artist .right-side .bio {
                font-size: 14px;
                margin-bottom: 15px; }
              .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .information-route .artists-info-route .one-artist .info-artist .right-side .follow-unfollow {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex; }
                .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .information-route .artists-info-route .one-artist .info-artist .right-side .follow-unfollow .butt-style-1 {
                  width: auto;
                  border-width: 4px; }
                  .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .information-route .artists-info-route .one-artist .info-artist .right-side .follow-unfollow .butt-style-1 span {
                    padding: 5px 18px;
                    text-transform: uppercase;
                    font-size: 12px; }
        .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .information-route .about-show h4 {
          font-size: 25px;
          font-family: AvenirLTStdBlack;
          margin-bottom: 24px;
          text-transform: uppercase; }
        .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .information-route .about-show p {
          font-size: 14px;
          line-height: 18px;
          -webkit-column-count: 2;
          column-count: 2;
          -webkit-column-gap: 30px;
          column-gap: 35px; }
        .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .comments-route h6 {
          font-size: 16px;
          font-family: AvenirLTStdBlack;
          margin-bottom: 20px;
          text-transform: uppercase; }
        .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .comments-route .my-comment {
          padding-bottom: 20px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .comments-route .my-comment .left-side {
            -ms-flex-negative: 0;
                flex-shrink: 0; }
            .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .comments-route .my-comment .left-side .ava {
              width: 105px;
              height: 105px;
              border-radius: 50%;
              background-size: cover;
              background-position: center; }
          .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .comments-route .my-comment .right-side {
            position: relative;
            padding-left: 25px;
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: end;
                -ms-flex-align: end;
                    align-items: flex-end; }
            .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .comments-route .my-comment .right-side textarea {
              display: block;
              width: 100%;
              height: 100px;
              padding: 10px 0;
              border: none;
              background: #fff;
              resize: none;
              outline: none; }
            .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .comments-route .my-comment .right-side .send-coment-wrapp {
              -ms-flex-negative: 0;
                  flex-shrink: 0;
              padding-left: 20px; }
              .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .comments-route .my-comment .right-side .send-coment-wrapp .butt-style-1 {
                border-width: 5px; }
                .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .comments-route .my-comment .right-side .send-coment-wrapp .butt-style-1 span {
                  padding: 5px 28px;
                  text-transform: uppercase;
                  font-size: 14px; }
        .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .comments-route .other-comments .comment-wrapper {
          position: relative;
          padding: 30px 0;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .comments-route .other-comments .comment-wrapper:first-child {
            border-top: 1px solid rgba(0, 0, 0, 0.1); }
          .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .comments-route .other-comments .comment-wrapper .left-side {
            -ms-flex-negative: 0;
                flex-shrink: 0; }
            .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .comments-route .other-comments .comment-wrapper .left-side .ava {
              width: 105px;
              height: 105px;
              border-radius: 50%;
              background-size: cover;
              background-position: center; }
          .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .comments-route .other-comments .comment-wrapper .right-side {
            position: relative;
            width: 100%;
            padding-left: 25px; }
            .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .comments-route .other-comments .comment-wrapper .right-side .when {
              position: absolute;
              top: 0;
              right: 0;
              font-size: 16px;
              color: rgba(0, 0, 0, 0.5); }
            .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .comments-route .other-comments .comment-wrapper .right-side .name {
              font-family: AvenirLTStdBlack;
              font-size: 20px;
              padding-right: 40px;
              margin-bottom: 0; }
            .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .comments-route .other-comments .comment-wrapper .right-side .hash {
              font-size: 14px;
              margin-bottom: 7px; }
              .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .comments-route .other-comments .comment-wrapper .right-side .hash span {
                color: #eb2d64; }
        .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .updates-route .updates-list {
          margin: 0;
          list-style: none; }
          .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .updates-route .updates-list li {
            padding: 33px 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
            .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .updates-route .updates-list li:first-child {
              border-top: 1px solid rgba(0, 0, 0, 0.1); }
            .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .updates-route .updates-list li:first-child {
              border-top: none; }
            .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .updates-route .updates-list li p {
              margin: 0;
              font-size: 20px; }
              .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .updates-route .updates-list li p:last-child {
                font-size: 16px;
                color: rgba(0, 0, 0, 0.5); }
    .new-show-datails-wrapp .flex-new-datails .tickets-side {
      width: 370px;
      margin-bottom: 40px;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      padding-left: 40px; }
      .new-show-datails-wrapp .flex-new-datails .tickets-side h3 {
        font-size: 50px;
        font-family: AvenirLTStdBlack;
        text-transform: uppercase;
        margin-bottom: 0; }
      .new-show-datails-wrapp .flex-new-datails .tickets-side .you-have {
        font-size: 14px;
        margin-bottom: 12px; }
        .new-show-datails-wrapp .flex-new-datails .tickets-side .you-have span {
          font-family: AvenirLTStdBlack;
          color: #eb2d64; }
      .new-show-datails-wrapp .flex-new-datails .tickets-side .tickets-new-wr .price-and-buy {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        border: 1px solid #F3F3F3;
        padding: 10px 20px; }
        .new-show-datails-wrapp .flex-new-datails .tickets-side .tickets-new-wr .price-and-buy .total {
          margin-bottom: 0;
          font-size: 14px; }
          .new-show-datails-wrapp .flex-new-datails .tickets-side .tickets-new-wr .price-and-buy .total span {
            font-family: AvenirLTStdBlack;
            color: #eb2d64; }
        .new-show-datails-wrapp .flex-new-datails .tickets-side .tickets-new-wr .price-and-buy .butt-buy .butt-style-1 {
          border-width: 4px; }
          .new-show-datails-wrapp .flex-new-datails .tickets-side .tickets-new-wr .price-and-buy .butt-buy .butt-style-1 span {
            padding: 5px 18px;
            text-transform: uppercase;
            font-size: 12px; }
      .new-show-datails-wrapp .flex-new-datails .tickets-side .tickets-new-wr .all-tickets-new-wrapp {
        background: #F3F3F3;
        padding: 15px 24px; }
        .new-show-datails-wrapp .flex-new-datails .tickets-side .tickets-new-wr .all-tickets-new-wrapp .one-tick {
          background: #fff;
          margin-bottom: 15px;
          -webkit-box-shadow: 0px 2px 7.3px 0.7px rgba(0, 0, 0, 0.05);
                  box-shadow: 0px 2px 7.3px 0.7px rgba(0, 0, 0, 0.05);
          padding: 20px 15px; }
          .new-show-datails-wrapp .flex-new-datails .tickets-side .tickets-new-wr .all-tickets-new-wrapp .one-tick:last-child {
            margin-bottom: 0; }
          .new-show-datails-wrapp .flex-new-datails .tickets-side .tickets-new-wr .all-tickets-new-wrapp .one-tick p {
            text-align: center; }
            .new-show-datails-wrapp .flex-new-datails .tickets-side .tickets-new-wr .all-tickets-new-wrapp .one-tick p.f {
              font-size: 18px;
              color: #323232;
              font-family: AvenirLTStdMedium;
              margin-bottom: 0;
              text-transform: uppercase; }
            .new-show-datails-wrapp .flex-new-datails .tickets-side .tickets-new-wr .all-tickets-new-wrapp .one-tick p.s {
              font-size: 14px;
              color: #323232;
              margin-bottom: 4px; }
            .new-show-datails-wrapp .flex-new-datails .tickets-side .tickets-new-wr .all-tickets-new-wrapp .one-tick p.c {
              font-size: 35px;
              font-family: AvenirLTStdBlack;
              text-shadow: 0px 2px 7.3px rgba(0, 0, 0, 0.05);
              color: #eb2d64;
              margin-bottom: 12px; }
              .new-show-datails-wrapp .flex-new-datails .tickets-side .tickets-new-wr .all-tickets-new-wrapp .one-tick p.c.with-original-price {
                margin-bottom: 0; }
              .new-show-datails-wrapp .flex-new-datails .tickets-side .tickets-new-wr .all-tickets-new-wrapp .one-tick p.c.c-original {
                font-size: 25px;
                line-height: 30px; }
            .new-show-datails-wrapp .flex-new-datails .tickets-side .tickets-new-wr .all-tickets-new-wrapp .one-tick p.t {
              letter-spacing: 1.4px;
              font-size: 14px;
              margin-bottom: 24px;
              line-height: 18px; }
            .new-show-datails-wrapp .flex-new-datails .tickets-side .tickets-new-wr .all-tickets-new-wrapp .one-tick p.last {
              font-size: 14px;
              color: #5c5c5c; }
          .new-show-datails-wrapp .flex-new-datails .tickets-side .tickets-new-wr .all-tickets-new-wrapp .one-tick .conter-wrapp {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            margin-bottom: 5px; }
            .new-show-datails-wrapp .flex-new-datails .tickets-side .tickets-new-wr .all-tickets-new-wrapp .one-tick .conter-wrapp .arrow {
              background: transparent;
              outline: none;
              border: none; }
              .new-show-datails-wrapp .flex-new-datails .tickets-side .tickets-new-wr .all-tickets-new-wrapp .one-tick .conter-wrapp .arrow path {
                -webkit-transition: 0.3s;
                transition: 0.3s; }
              .new-show-datails-wrapp .flex-new-datails .tickets-side .tickets-new-wr .all-tickets-new-wrapp .one-tick .conter-wrapp .arrow:hover path {
                fill: #eb2d64;
                opacity: 1; }
            .new-show-datails-wrapp .flex-new-datails .tickets-side .tickets-new-wr .all-tickets-new-wrapp .one-tick .conter-wrapp span {
              width: auto;
              padding: 0 10px;
              text-align: center;
              display: block;
              color: #323232;
              font-size: 30px;
              position: relative;
              top: -2px; }

.modal-send-request.new-modal-inv.modal-share .modal-dialog {
  max-width: 600px; }
.modal-send-request.new-modal-inv.modal-share .flex-icons-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px; }
  .modal-send-request.new-modal-inv.modal-share .flex-icons-share .soc-link {
    display: block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat; }
    .modal-send-request.new-modal-inv.modal-share .flex-icons-share .soc-link.f {
      background-color: #3c589e;
      background-image: url(../img/fb.svg);
      background-size: 28px; }
    .modal-send-request.new-modal-inv.modal-share .flex-icons-share .soc-link.g {
      background-color: #df493a;
      background-size: 57px;
      background-image: url(../img/goo.svg); }
    .modal-send-request.new-modal-inv.modal-share .flex-icons-share .soc-link.t {
      background-color: #1ca1f1;
      background-size: 57px;
      background-image: url(../img/tw.svg); }
    .modal-send-request.new-modal-inv.modal-share .flex-icons-share .soc-link.v {
      background-size: 60px;
      background-color: #5181b8;
      background-image: url(../img/vk.svg); }
    .modal-send-request.new-modal-inv.modal-share .flex-icons-share .soc-link.m {
      background-size: 50px;
      background-color: #c4c4c4;
      background-image: url(../img/mail-share.svg); }
.modal-send-request.new-modal-inv.modal-share .input-groupe-1 label {
  font-weight: normal;
  margin-bottom: 5px;
  display: block;
  position: relative; }
.modal-send-request.new-modal-inv.modal-share .input-groupe-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }
  .modal-send-request.new-modal-inv.modal-share .input-groupe-1 input {
    border: 1px dashed rgba(0, 0, 0, 0.2);
    padding: 6px 10px;
    width: 100%; }
.modal-send-request.new-modal-inv.modal-share .copy-link {
  position: relative;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  padding: 6px 10px;
  padding-right: 95px;
  background: #F7F7F7; }
  .modal-send-request.new-modal-inv.modal-share .copy-link p {
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .modal-send-request.new-modal-inv.modal-share .copy-link .copy {
    position: absolute;
    top: 7px;
    right: 11px;
    display: block;
    background: transparent;
    outline: none;
    border: none;
    color: #eb2d64;
    font-size: 14px;
    text-transform: uppercase;
    font-family: AvenirLTStdMedium; }

.modal-send-request.new-modal-inv.who-going-modal .modal-dialog {
  max-width: 730px; }
.modal-send-request.new-modal-inv.who-going-modal .input-groupe-1 {
  padding-top: 0; }
  .modal-send-request.new-modal-inv.who-going-modal .input-groupe-1 input {
    padding-left: 28px;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: center left; }
    .modal-send-request.new-modal-inv.who-going-modal .input-groupe-1 input::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.3); }
    .modal-send-request.new-modal-inv.who-going-modal .input-groupe-1 input::-moz-placeholder {
      color: rgba(0, 0, 0, 0.3); }
    .modal-send-request.new-modal-inv.who-going-modal .input-groupe-1 input:-moz-placeholder {
      color: rgba(0, 0, 0, 0.3); }
    .modal-send-request.new-modal-inv.who-going-modal .input-groupe-1 input:-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.3); }
.modal-send-request.new-modal-inv.who-going-modal .flex-people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-height: 501px;
  overflow: auto; }
  .modal-send-request.new-modal-inv.who-going-modal .flex-people::-webkit-scrollbar {
    background: #fff;
    width: 5px; }
  .modal-send-request.new-modal-inv.who-going-modal .flex-people::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 2.5px;
    cursor: pointer; }
  .modal-send-request.new-modal-inv.who-going-modal .flex-people .one-p {
    padding: 0 14px;
    margin-bottom: 20px;
    width: 20%; }
    .modal-send-request.new-modal-inv.who-going-modal .flex-people .one-p .ava {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      margin: 0 auto 5px auto; }
    .modal-send-request.new-modal-inv.who-going-modal .flex-people .one-p p {
      text-align: center;
      font-size: 14px;
      margin-bottom: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }

.new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .comments-route .other-comments .comment-wrapper .right-side .name {
  padding-right: 60px; }

.new-show-datails-wrapp .flex-new-datails .info-payment-left {
  margin-bottom: 20px; }

@media (max-width: 1300px) {
  .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .main-info-of-event .gradient-info .overflow-scroll {
    padding: 0 15px; }

  .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .navigation-of-show-datail .list-nav-show li {
    padding-right: 20px; }

  .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .navigation-of-show-datail .list-nav-show li .link-to-tab {
    font-size: 17px; } }
@media (max-width: 1199px) {
  .new-show-datails-wrapp {
    padding: 0 40px; }

  .new-show-datails-wrapp .flex-new-datails .back-page {
    right: calc(100% + 4px); }

  .new-show-datails-wrapp .flex-new-datails {
    display: block; }

  .new-show-datails-wrapp .flex-new-datails.flex-new-datails-payment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

  .new-show-datails-wrapp .flex-new-datails .tickets-side {
    width: 100%;
    padding-left: 0; }

  .new-show-datails-wrapp .flex-new-datails .tickets-side .tickets-new-wr .all-tickets-new-wrapp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

  .new-show-datails-wrapp .flex-new-datails .tickets-side .tickets-new-wr .all-tickets-new-wrapp .one-tick {
    width: 48%; }

  .new-show-datails-wrapp .flex-new-datails .tickets-side .tickets-new-wr .all-tickets-new-wrapp .one-tick:last-child {
    margin-bottom: 15px; }

  .new-show-datails-wrapp .flex-new-datails .tickets-side {
    margin-bottom: 0; }

  .new-show-datails-wrapp .flex-new-datails .info-payment-left {
    margin-bottom: 20px; } }
@media (max-width: 991px) {
  .new-show-datails-wrapp .flex-new-datails .info-payment-right .for-flex-payment-blocks .one-collapsed-block {
    width: 100%; }

  .new-show-datails-wrapp .flex-new-datails .info-payment-right {
    padding-left: 20px; }

  .new-show-datails-wrapp .flex-new-datails .info-payment-left .bg-image {
    padding: 15px; } }
@media (max-width: 767px) {
  .new-show-datails-wrapp .flex-new-datails .back-page {
    display: none; }

  .new-show-datails-wrapp {
    padding: 0 15px; }

  .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails {
    display: block; }

  .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails {
    padding: 30px 15px; }

  .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .baner-wr {
    padding-right: 0;
    width: 100%;
    margin-bottom: 30px; }

  .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .main-info-of-event {
    padding-left: 0;
    width: 100%; }

  .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .main-info-of-event .gradient-info {
    min-height: auto; }

  .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .navigation-of-show-datail .list-nav-show li {
    padding-right: 15px;
    margin-bottom: 10px; }

  .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .navigation-of-show-datail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }

  .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .navigation-of-show-datail .going-wrapp {
    margin-left: auto;
    margin-bottom: 20px; }

  .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .navigation-of-show-datail .list-nav-show li .link-to-tab {
    font-size: 12px; }

  .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .navigation-of-show-datail .list-nav-show {
    margin-bottom: 20px; }

  .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .information-route .artists-info-route .one-artist {
    padding: 0; }

  .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .navigation-of-show-datail .list-nav-show {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .information-route h2 {
    font-size: 18px;
    margin-bottom: 15px; }

  .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .information-route .artists-list-who-going li {
    margin-right: 17px; }

  .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .information-route .artists-info-route .one-artist .info-artist .left-side .ava {
    width: 60px;
    height: 60px; }

  .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .information-route .artists-info-route .one-artist .info-artist .right-side {
    padding-left: 15px; }

  .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .information-route .about-show p {
    -webkit-column-count: 1;
            column-count: 1; }

  .new-show-datails-wrapp .flex-new-datails .tickets-side .tickets-new-wr .all-tickets-new-wrapp .one-tick {
    width: 100%; }

  .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .comments-route .my-comment .left-side .ava {
    width: 40px;
    height: 40px; }

  .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .comments-route .my-comment .right-side {
    display: block; }

  .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .comments-route .my-comment .right-side {
    padding-left: 15px; }

  .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .comments-route .my-comment .right-side .send-coment-wrapp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0; }

  .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .comments-route .my-comment .right-side .send-coment-wrapp .butt-style-1 {
    width: auto; }

  .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .comments-route .other-comments .comment-wrapper .left-side .ava {
    width: 40px;
    height: 40px; }

  .new-show-datails-wrapp .flex-new-datails .information-side .bott-new-show-datails .for-change-contant .comments-route .other-comments .comment-wrapper .right-side {
    padding-left: 15px; }

  .modal-send-request.new-modal-inv.modal-share .flex-icons-share {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around; }

  .modal-send-request.new-modal-inv.modal-share .flex-icons-share .soc-link {
    margin-bottom: 10px; }

  .modal-send-request.new-modal-inv.modal-share .modal-dialog {
    max-width: 290px; }

  .modal-send-request.new-modal-inv.who-going-modal .modal-dialog {
    max-width: 290px; }

  .modal-send-request.new-modal-inv.who-going-modal .flex-people .one-p {
    width: 50%; }

  .modal-send-request.modal-share .modal-dialog .padd-left-right {
    padding-left: 15px;
    padding-right: 15px; }

  .modal-send-request.who-going-modal .modal-dialog .padd-left-right {
    padding-left: 15px;
    padding-right: 15px; }

  .new-show-datails-wrapp .flex-new-datails.flex-new-datails-payment {
    padding-left: 0; }

  .new-show-datails-wrapp .flex-new-datails.flex-new-datails-payment {
    display: block; }

  .new-show-datails-wrapp .flex-new-datails .info-payment-left {
    width: 100%; }

  .new-show-datails-wrapp .flex-new-datails .info-payment-right {
    width: 100%;
    padding-left: 0; }

  .new-show-datails-wrapp .flex-new-datails .info-payment-right .complete-route {
    margin-bottom: 20px;
    padding-top: 10px; }

  .new-show-datails-wrapp .flex-new-datails .info-payment-left .bg-image {
    max-width: 500px; }

  .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .main-info-of-event .use-style .rel-wr-for-before {
    position: relative; }

  .new-show-datails-wrapp .flex-new-datails .information-side .top-new-show-datails .main-info-of-event .use-style:before {
    display: none; } }

/*# sourceMappingURL=new-show-datails.css.map */