

<div class="main-mw">
    <div class="create-event-body">
        <div class="head-ev-body">
            <h2 translate>Artist-create.riders</h2>
            <p translate>Please fill in all required fields<br translate>to proceed to the Next Step</p>
        </div>
    </div>
</div>
<div class="main-mw-7">
    <div class="riders-flex-wrapp">
        <div class="side">
           <!-- (onConfirm)="ConfirmRider($event)" -->
            <app-rider #STAGE
                [Artist]="Artist"
                [ArtistId]="ArtistId"
                [Type]="'Stage'"
                [Rider]="stageRider"
                (onDelete)="DeleteRiderById($event)"
                (onError)="onErrorOpen($event)"

            >
            </app-rider>
        </div>
        <div class="side">
            <app-rider #BACKSTAGE
                [Artist]="Artist"
                [ArtistId]="ArtistId"
                [Type]="'Backstage'"
                [Rider]="backstageRider"
                (onDelete)="DeleteRiderById($event)"
                (onError)="onErrorOpen($event)"
            >
            </app-rider>
        </div>
        <div class="side">
            <app-rider #HOSPITALITY
                [Artist]="Artist"
                [ArtistId]="ArtistId"
                [Type]="'Hospitality'"
                [Rider]="hospitalityRider"
                (onDelete)="DeleteRiderById($event)"
                (onError)="onErrorOpen($event)"
            >
            </app-rider>
        </div>
        <div class="side">
            <app-rider #TECHNICAL
                [Artist]="Artist"
                [ArtistId]="ArtistId"
                [Type]="'Technical'"
                [Rider]="technicalRider"
                (onDelete)="DeleteRiderById($event)"
                (onError)="onErrorOpen($event)"
            >
            </app-rider>
        </div>

    </div>
</div>

<div class="scroll-wrapp">
    <div (click)="nextPage()" class="circle-scroll"></div>
</div>


