<!-- <div class="admin_content"> -->
  <div class="admin_settings_wrap">
      <h2 class="settings_zag">Personal info</h2>
      <div class="personal_photo">
          <div class="photo" style="background-image: url(./../../../../assets/img/admin/add_photo.png)"></div>
          <span>Add Photo</span>
      </div>
      <div class="inputs_flex">
          <div class="input-groupe-1">
              <input id="inp-info-1" name="" value="" type="text">
              <label for="inp-info-1">First Name</label>
          </div>
          <div class="input-groupe-1">
              <input id="inp-info-2" name="" value="" type="text">
              <label for="inp-info-2">Last Name</label>
          </div>
      </div>
      <div class="inputs_flex">
          <div class="input-groupe-1">
              <input id="inp-info-3" name="" value="" type="text">
              <label for="inp-info-3">Email Address</label>
          </div>
          <div class="input-groupe-1 username_input">
              <input id="inp-info-4" name="" value="" type="text">
              <label for="inp-info-4">Mouse Username</label>
          </div>
      </div>
      <div class="inputs_flex">
          <div class="input-groupe-1">
              <input id="inp-info-5" name="" value="" type="password">
              <label for="inp-info-5">Password</label>
          </div>
          <div class="input-groupe-1">
              <input id="inp-info-6" name="" value="" type="password">
              <label for="inp-info-6">Verify Password</label>
          </div>
      </div>
      <div class="inputs_flex">
          <div class="input-groupe-1">
              <input id="inp-info-7" name="" value="" type="password">
              <label for="inp-info-7">Phone Number (For Verification)</label>
          </div>
      </div>
      <h2 class="settings_zag second_zag">Address</h2>
      <div class="inputs_flex">
          <div class="input-groupe-1">
              <select id="settings-country">
                  <option>USA</option>
                  <option>Russia</option>
              </select>
              <label for="settings-country">Country</label>
          </div>
          <div class="input-groupe-1">
              <select id="settings-city">
                  <option>New York</option>
                  <option>Moscow</option>
              </select>
              <label for="settings-city">City</label>
          </div>
      </div>
      <div class="inputs_flex">
          <div class="input-groupe-1">
              <input id="inp-info-8" name="" value="" type="text">
              <label for="inp-info-8">Address</label>
          </div>
          <div class="input-groupe-1">
              <select id="settings-state">
                  <option>NY</option>
                  <option>Moscow Region</option>
              </select>
              <label for="settings-state">State</label>
          </div>
      </div>
      <div class="inputs_flex">
          <div class="input-groupe-1">
              <input id="inp-info-9" name="" value="" type="text">
              <label for="inp-info-9">Address, Other</label>
          </div>
      </div>
      <button class="butt-style-1" type="submit">
          <span>Save</span>
      </button>
  </div>
<!-- </div> -->