.circle-scroll{
    cursor: pointer;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.modal-send-request.map-1-modal .modal-dialog .for-map-init-modal-1{
    border: none;
}

.from-to-style input {
    padding-right: 35px;
}

.padd-right10{
    padding-right: 10px;
}
.user-name-doll{
    display: block;
    position: absolute;
    /* top: 29px; */
    left: 0;
    /* color: #eb2d64; */
    font-size: 14px;
    z-index: 300;
}
.input-groupe-1.doll input{
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 5px;
}
.from-to-style.hours-label-groupe input{
    text-align: left;
}

.input-groupe-1 textarea{
    padding: 10px 15px 15px 15px !important;
}
span.user-name-dog.doll{
    margin-top: 5px;
}
