<div class="one-ticket">
    <form (ngSubmit)="AddTickets()">
        <div class="one-tick-counter">
            <p class="count">{{Currency}}{{Ticket.price}}</p>
            <div class="conter-wrapp">
                <div class="arrow l-a" (click)="ChangeCount(-1)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="27">
                        <path fill-rule="evenodd" d="M2.72 13.257L14.36 1.523a.737.737 0 0 0 0-1.041.724.724 0 0 0-1.032 0L1.17 12.739a.739.739 0 0 0 0 1.041l12.158 12.251c.141.142.33.218.514.218.183 0 .372-.07.513-.218a.736.736 0 0 0 0-1.039L2.72 13.257z" opacity=".502"/>
                    </svg>
                </div>
                <span>{{Count}}</span>
                <div class="arrow r-a" (click)="ChangeCount(1)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="27">
                        <path fill-rule="evenodd" d="M12.21 13.28L.601 25.03a.74.74 0 0 0 0 1.042.719.719 0 0 0 1.029 0l12.127-12.274a.742.742 0 0 0 0-1.042L1.63.488a.708.708 0 0 0-1.024 0 .74.74 0 0 0 0 1.041L12.21 13.28z" opacity=".502"/>
                    </svg>
                </div>
            </div>
            <button type="submit" class="butt-style-2" [disabled]=" !(CurrentAccount && CurrentAccount.account_type == 'fan') || Count == 0" 
                style="border: none;" [ngClass]="{'cursor-disabled':!(CurrentAccount && CurrentAccount.account_type == 'fan') || Count == 0}">
                    ADD
            </button>
        </div>
        <div class="abs-description-ticket-wr">
            <p class="f">{{Ticket.type == 'in_person'?'In person':'VR'}} ticket</p>
            <p class="s">({{Ticket.is_promotional?'Promotional':'Regular'}})</p>
            <p class="t" *ngIf="Ticket.is_promotional && Ticket.promotional_description">{{Ticket.promotional_description}}</p>
            <p class="last">({{Ticket.count}} tickets left)</p>
        </div>
    </form>
</div>