<div class="settings_right_wrap">
      <h2 class="zag">Personal info</h2>
      <form class="setts_padding send_quest_form user_info_form">
          <div class="user_photo" style="background-image: url(./../../../../assets/img/drake.jpg)"></div>
          <p class="text-center"><span class="user_photo_change">Change Photo</span></p>
          <div class="input-groupe-1 username_input">
              <input id="inp-info-1" name="" value="cooljardson" type="text">
              <label for="inp-info-1">Mouse Username</label>
          </div>
          <div class="input-groupe-1">
              <input id="inp-info-2" name="" value="Jardson" type="text">
              <label for="inp-info-2">First Name</label>
          </div>
          <div class="input-groupe-1">
              <input id="inp-info-3" name="" value="Almeida" type="text">
              <label for="inp-info-3">Last Name</label>
          </div>
          <div class="input-groupe-1">
              <input id="inp-info-4" name="email" [(ngModel)]="User.email" type="email">
              <label for="inp-info-4">Email Address</label>
          </div>
          <div class="input-groupe-1">
              <input id="inp-info-5" name="pass" [(ngModel)]="User.password" type="password">
              <label for="inp-info-5">Password</label>
          </div>
          <div class="input-groupe-1">
              <input id="inp-info-6" name="pass_verify" [(ngModel)]="User.password_confirmation" type="password">
              <label for="inp-info-6">Verify Password</label>
          </div>
          <div class="input-groupe-1">
              <input id="inp-info-7" name="phone" [(ngModel)]="User.register_phone" type="text">
              <label for="inp-info-7">Phone Number (For Verification)</label>
          </div>
          <button (click)="SaveUser()" type="button" class="butt-style-1"><span>Save</span></button>
      </form>
</div>
<error-cmp #errorCmp></error-cmp>
