<app-preloader *ngIf="isLoading"></app-preloader>
<section [ngStyle]="{'display': isLoading?'none':'block'}" class="second-router-outlet">
    <section class="new-show-datails-wrapp">
        <div class="main-mw">
            <div class="flex-new-datails flex-new-datails-payment">
                <a (click)="goBack()" class="back-page">
                    <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M33 14.4378H7.83721L19.3872 2.88779L16.5 0L0 16.5L16.5 33L19.3872 30.1122L7.83721 18.5622H33V14.4378Z" fill="black"/>
                    </svg>
                    <span>back</span>
                </a>
                <div class="info-payment-left">
                    <h1>{{Event.name}}</h1>
                    <div class="bg-image">
                        <div class="image-before">
                            <div class="image" [ngStyle]="{'background-image': 'url(' + Image + ')'}"></div>
                        </div>
                    </div>
                    <p class="small-descr">
                        <span *ngIf="Event.exact_date_from">{{Event.exact_date_from | date : 'MMMM d, y'}} @ {{Time}}</span>
                        <ng-container *ngIf="Event.venue">
                            {{Event.venue.display_name}}, {{Event.venue.address}} {{Event.venue.zipcode}}
                        </ng-container>
                    </p>
                </div>
                <div class="info-payment-right">
                    <!--страница выбора метода-->


                    <div class="method-route" *ngIf="!PaymentSuccess && !PaymentFail">
                        <h2>Payment Method</h2>
                        <div class="info-payment">
                            <ng-container *ngFor="let item of Tickets"> 
                                <p translate>
                                    {{item.ticket.type == 'in_person'?'In person':'VR'}} 
                                        <span translate>
                                            ({{item.ticket.is_promotional?'Promotional':'Regular'}}) 
                                        </span>
                                     Ticket: {{item.count}} @ <span><span [innerHTML]="Currency"></span>{{item.ticket.price}}</span> 
                                     each
                                </p>
                            </ng-container>
                            <p class="total">TOTAL: <span><span [innerHTML]="Currency"></span>{{Total}}</span></p>
                        </div>
                        <div class="for-flex-payment-blocks">
                            <div class="one-collapsed-block">
                                <!-- <p class="head-collapsed-block">APPLE PAY</p> -->
                                <div class="flex-top-cart" data-toggle="collapse" data-target="#cart-4">
                                    <img src="assets/img/pay-pal.png" class="img-responsive" alt="">
                                    <div class="triangle"></div>
                                </div>

                                <form class="cart-info collapse" id="cart-4">

                                    <div class="flexed-buy">
                                        <button class="butt-style-1" (click)="BuyTicket()">
                                            <span>Buy</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>



                    <!--роут статуса оплаты ок-->

        
                    <div class="complete-route"  *ngIf="PaymentSuccess && !PaymentFail">
                        <p class="c-1">Your payment is <span>Complete</span></p>  
                        <p class="c-2">TOTAL: <span><span [innerHTML]="Currency"></span>{{Total}}</span></p>
                        <div class="c-3-wrapp">
                            <ng-container *ngFor="let item of Tickets"> 
                                <p class="c-3" translate>
                                    {{item.ticket.type == 'in_person'?'In person':'VR'}} 
                                    <span translate>
                                        ({{item.ticket.is_promotional?'Promotional':'Regular'}}) 
                                    </span>
                                    Ticket: {{item.count}} @ <span><span [innerHTML]="Currency"></span>{{item.ticket.price}}</span> 
                                    each
                                </p>
                            </ng-container>
                        </div>
                        <p class="code">
                            <span>Verification code:</span>{{Verification}}
                        </p>
                        <div class="flexed-print">
                            <button class="butt-style-1" *ngIf="!isPrint" (click)="printTicket()" >
                                <span>Print ticket</span>
                            </button>
                        </div>
                    </div>
       


                    <!--роут статуса оплаты error-->
        
                    <div class="complete-route"  *ngIf="!PaymentSuccess && PaymentFail">
                        <p class="c-1">failure</p>  
                        <img src="assets/img/smile.svg" class="img-responsive middle-image" alt="">
                        <div class="c-3-wrapp">
                            <ng-container *ngFor="let item of Tickets"> 
                                <p class="c-3" translate>
                                    {{item.ticket.type == 'in_person'?'In person':'VR'}} 
                                    <span translate>
                                        ({{item.ticket.is_promotional?'Promotional':'Regular'}}) 
                                    </span>
                                    Ticket: {{item.count}} @ <span><span [innerHTML]="Currency"></span>{{item.ticket.price}}</span> 
                                    each
                                </p>
                            </ng-container>
                        </div>
                            <div class="flexed-print">
                            <button class="butt-style-1" (click)="BuyTicket()">
                                <span>Try again</span>
                            </button>
                        </div>
                    </div>
       

                </div>
            </div>
        </div>
    </section>
</section>