<app-preloader *ngIf="isLoading"></app-preloader>
<section [ngStyle]="{'display': isLoading?'none':'block'}" class="second-router-outlet">
    <section class="new-show-datails-wrapp">
        <div class="main-mw">
            <div class="flex-new-datails flex-new-datails-payment">
                <a href="#" class="back-page">
                    <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M33 14.4378H7.83721L19.3872 2.88779L16.5 0L0 16.5L16.5 33L19.3872 30.1122L7.83721 18.5622H33V14.4378Z" fill="black"/>
                    </svg>
                    <span>back</span>
                </a>
                <div class="info-payment-left">
                    <h1>Open mic night</h1>
                    <div class="bg-image">
                        <div class="image-before">
                            <div class="image" style="background-image: url(img/some-event.png)"></div>
                        </div>
                    </div>
                    <p class="small-descr">
                        <span>November 30, 2019 @ 7:00PM</span>
                        Madison Square Garden
                        4 Pennsylvania Plaza
                        New York, NY 10001
                    </p>
                </div>
                <div class="info-payment-right">
                    <!--страница выбора метода-->


                    <div class="method-route">
                        <h2>Payment Method</h2>
                        <div class="info-payment">
                            <p>VR Ticket: 1 @ <span>$15.00</span> each</p>
                            <p>VIP Section - Meet and Greet (Special): 2 @ <span>$102.00</span> each</p>
                            <p>VIP Section - Meet and Greet (Special): 2 @ <span>$2.00</span> each</p>
                            <p class="total">TOTAL: <span>$219.00</span></p>
                        </div>
                        <div class="for-flex-payment-blocks">
                            <div class="one-collapsed-block">
                                <!-- <p class="head-collapsed-block">APPLE PAY</p> -->
                                <div class="flex-top-cart" data-toggle="collapse" data-target="#cart-4">
                                    <img src="assets/img/pay-pal.png" class="img-responsive" alt="">
                                    <div class="triangle"></div>
                                </div>

                                <form class="cart-info collapse" id="cart-4">

                                    <div class="flexed-buy">
                                        <button class="butt-style-1">
                                            <span>Buy</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>



                    <!--роут статуса оплаты ок-->

        <!--
                    <div class="complete-route">
                        <p class="c-1">Your payment is <span>Complete</span></p>  
                        <p class="c-2">TOTAL: <span>$219.00</span></p>
                        <div class="c-3-wrapp">
                            <p class="c-3">VR Ticket: 1 @ <span>$15.00</span> each</p>
                            <p class="c-3">VIP Section - Meet and Greet (Special): 2 @ <span>$102.00</span> each</p>
                            <p class="c-3">VIP Section - Meet and Greet (Special): 2 @ <span>$0.00</span> each</p>
                        </div>
                        <p class="code">
                            <span>Verification code:</span>Lj920ljGl8293jYAd808GKRQJK
                        </p>
                        <div class="flexed-print">
                            <button class="butt-style-1">
                                <span>Print ticket</span>
                            </button>
                        </div>
                    </div>
        -->


                    <!--роут статуса оплаты error-->
        <!--
                    <div class="complete-route">
                        <p class="c-1">failure</p>  
                        <img src="img/smile.svg" class="img-responsive middle-image" alt="">
                        <div class="c-3-wrapp">
                            <p class="c-3">VR Ticket: 1 @ <span>$15.00</span> each</p>
                            <p class="c-3">VIP Section - Meet and Greet (Special): 2 @ <span>$102.00</span> each</p>
                            <p class="c-3">VIP Section - Meet and Greet (Special): 2 @ <span>$0.00</span> each</p>
                        </div>
                            <div class="flexed-print">
                            <button class="butt-style-1">
                                <span>Try again</span>
                            </button>
                        </div>
                    </div>
        -->

                </div>
            </div>
        </div>
    </section>
</section>