<!-- <div class="admin_content"> -->
    <section class="revenue_analytics">
        <h1 class="admin_big_zag">Total revenue</h1>
        <div class="events_status_wrap">
            <div class="admin_table events_status_table revenue_diagram_table">
                <div class="admin_table_thead">
                    <div class="admin_table_th city_zag">City</div>
                    <div class="admin_table_th">Amount ($)</div>
                    <div class="admin_table_th">Percent</div>
                </div>
                <div class="admin_table_tbody">
                    <div *ngFor="let city of citiesTotal.cities" class="admin_table_tr">
                        <div class="admin_table_td">
                            <div class="city_name">
                                <span class="city_color" [ngStyle]="nextColor()"></span>
                                <span>{{city.address}}</span>
                            </div>
                        </div>
                        <div class="admin_table_td"><span>{{city.price}}</span></div>
                        <div class="admin_table_td"><span>{{city.price/citiesTotal.total*100|number}}%</span></div>
                    </div>
 
                </div>
            </div>
            <div class="events_status_diagramm revenue_diagram_wrap">
                <div class="diagramm">
                        <canvas baseChart width="400" height="300"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="false"
                        [chartType]="lineChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
                </div>
                <div class="diagramm_tabs">
                    <span class="zag_tab">Day</span>
                    <span class="zag_tab">Week</span>
                    <span class="zag_tab">Month</span>
                    <span class="zag_tab">Year</span>
                    <span class="zag_tab active">All time</span>
                </div>
            </div>
        </div>
        <div class="admin_cards font25">
            <div class="card_with_tabs">
                <div class="card violet calendar">
                    <span class="num">${{countsDateTotal}}</span>
                    <span class="text">By Date</span>
                </div>
                <div class="card_tabs">
                    <span class="zag_tab">Day</span>
                    <span class="zag_tab">Week</span>
                    <span class="zag_tab">Month</span>
                    <span class="zag_tab">Year</span>
                    <span class="zag_tab active">All time</span>
                </div>
            </div>
            <div class="card_with_tabs">
                <div class="card blue mic">
                    <span class="num">${{countsArtistTotal}}</span>
                    <span class="text">By Artist</span>
                </div>
                <div class="card_tabs">
                    <span class="zag_tab">Day</span>
                    <span class="zag_tab">Week</span>
                    <span class="zag_tab">Month</span>
                    <span class="zag_tab">Year</span>
                    <span class="zag_tab active">All time</span>
                </div>
            </div>
            <div class="card_with_tabs">
                <div class="card siren kolonka">
                    <span class="num">${{countsVenueTotal}}</span>
                    <span class="text">By Venue</span>
                </div>
                <div class="card_tabs">
                    <span class="zag_tab">Day</span>
                    <span class="zag_tab">Week</span>
                    <span class="zag_tab">Month</span>
                    <span class="zag_tab">Year</span>
                    <span class="zag_tab active">All time</span>
                </div>
            </div>
        </div>
        <div class="admin_cards font25">
            <div class="card_with_tabs">
                <div class="card violet vr">
                    <span class="num">${{countsVrTotal}}</span>
                    <span class="text">By VR Tickets</span>
                </div>
                <div class="card_tabs">
                    <span class="zag_tab">Day</span>
                    <span class="zag_tab">Week</span>
                    <span class="zag_tab">Month</span>
                    <span class="zag_tab">Year</span>
                    <span class="zag_tab active">All time</span>
                </div>
            </div>
            <div class="card_with_tabs">
                <div class="card blue ticket">
                    <span class="num">${{countsTicketsTotal}}</span>
                    <span class="text">By Ticket Sales</span>
                </div>
                <div class="card_tabs">
                    <span class="zag_tab">Day</span>
                    <span class="zag_tab">Week</span>
                    <span class="zag_tab">Month</span>
                    <span class="zag_tab">Year</span>
                    <span class="zag_tab active">All time</span>
                </div>
            </div>
            <div class="card_with_tabs">
                <div class="card siren repost">
                    <span class="num">${{countsAdvertisingTotal}}</span>
                    <span class="text">By Advertising</span>
                </div>
                <div class="card_tabs">
                    <span class="zag_tab">Day</span>
                    <span class="zag_tab">Week</span>
                    <span class="zag_tab">Month</span>
                    <span class="zag_tab">Year</span>
                    <span class="zag_tab active">All time</span>
                </div>
            </div>
        </div>
        <div class="admin_cards font25">
            <div class="card_with_tabs">
                <div class="card violet ">
                    <span class="num">${{countsFundingTotal}}</span>
                    <span class="text">By Funding Type</span>
                    <div class="radios">
                        <div class="filter_radio">
                            <input type="radio" id="sort_event_name" name="sort_event">
                            <label for="sort_event_name"></label>
                            <span>Crowdfund</span>
                        </div>
                        <div class="filter_radio">
                            <input type="radio" id="sort_event_date" name="sort_event" checked>
                            <label for="sort_event_date"></label>
                            <span>Regular</span>
                        </div>
                    </div>
                </div>
                <div class="card_tabs">
                    <span class="zag_tab">Day</span>
                    <span class="zag_tab">Week</span>
                    <span class="zag_tab">Month</span>
                    <span class="zag_tab">Year</span>
                    <span class="zag_tab active">All time</span>
                </div>
            </div>
        </div>
    </section>
    <section class="revenue_analytics">
        <h1 class="admin_big_zag">Total sales</h1>
        <div class="events_status_wrap">
            <div class="admin_table events_status_table revenue_diagram_table">
                <div class="admin_table_thead">
                    <div class="admin_table_th city_zag">City</div>
                    <div class="admin_table_th">Amount ($)</div>
                    <div class="admin_table_th">Percent</div>
                </div>
                <div class="admin_table_tbody">
                        <div *ngFor="let city of citiesSales.cities" class="admin_table_tr">
                                <div class="admin_table_td">
                                    <div class="city_name">
                                        <span class="city_color" [ngStyle]="nextColor()"></span>
                                        <span>{{city.address}}</span>
                                    </div>
                                </div>
                                <div class="admin_table_td"><span>{{city.price}}</span></div>
                                <div class="admin_table_td"><span>{{city.price/citiesSales.total*100|number}}%</span></div>
                            </div>
                    
                    
                </div>
            </div>
            <div class="events_status_diagramm revenue_diagram_wrap">
                <div class="diagramm">
                        <canvas baseChart width="400" height="300"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="false"
                        [chartType]="lineChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
                </div>
                <div class="diagramm_tabs">
                    <span class="zag_tab">Day</span>
                    <span class="zag_tab">Week</span>
                    <span class="zag_tab">Month</span>
                    <span class="zag_tab">Year</span>
                    <span class="zag_tab active">All time</span>
                </div>
            </div>
        </div>
        <div class="admin_cards font25">
            <div class="card_with_tabs">
                <div class="card violet calendar">
                    <span class="num">${{countsDateSales}}</span>
                    <span class="text">By Date</span>
                </div>
                <div class="card_tabs">
                    <span class="zag_tab">Day</span>
                    <span class="zag_tab">Week</span>
                    <span class="zag_tab">Month</span>
                    <span class="zag_tab">Year</span>
                    <span class="zag_tab active">All time</span>
                </div>
            </div>
            <div class="card_with_tabs">
                <div class="card blue mic">
                    <span class="num">${{countsArtistSales}}</span>
                    <span class="text">By Artist</span>
                </div>
                <div class="card_tabs">
                    <span class="zag_tab">Day</span>
                    <span class="zag_tab">Week</span>
                    <span class="zag_tab">Month</span>
                    <span class="zag_tab">Year</span>
                    <span class="zag_tab active">All time</span>
                </div>
            </div>
            <div class="card_with_tabs">
                <div class="card siren kolonka">
                    <span class="num">${{countsVenueSales}}</span>
                    <span class="text">By Venue</span>
                </div>
                <div class="card_tabs">
                    <span class="zag_tab">Day</span>
                    <span class="zag_tab">Week</span>
                    <span class="zag_tab">Month</span>
                    <span class="zag_tab">Year</span>
                    <span class="zag_tab active">All time</span>
                </div>
            </div>
        </div>
        <div class="admin_cards font25">
            <div class="card_with_tabs">
                <div class="card violet vr">
                    <span class="num">${{countsVrSales}}</span>
                    <span class="text">By VR Tickets</span>
                </div>
                <div class="card_tabs">
                    <span class="zag_tab">Day</span>
                    <span class="zag_tab">Week</span>
                    <span class="zag_tab">Month</span>
                    <span class="zag_tab">Year</span>
                    <span class="zag_tab active">All time</span>
                </div>
            </div>
            <div class="card_with_tabs">
                <div class="card blue ticket">
                    <span class="num">${{countsTicketsSales}}</span>
                    <span class="text">By Ticket Sales</span>
                </div>
                <div class="card_tabs">
                    <span class="zag_tab">Day</span>
                    <span class="zag_tab">Week</span>
                    <span class="zag_tab">Month</span>
                    <span class="zag_tab">Year</span>
                    <span class="zag_tab active">All time</span>
                </div>
            </div>
            <div class="card_with_tabs">
                <div class="card siren repost">
                    <span class="num">${{countsAdvertisingSales}}</span>
                    <span class="text">By Advertising</span>
                </div>
                <div class="card_tabs">
                    <span class="zag_tab">Day</span>
                    <span class="zag_tab">Week</span>
                    <span class="zag_tab">Month</span>
                    <span class="zag_tab">Year</span>
                    <span class="zag_tab active">All time</span>
                </div>
            </div>
        </div>
        <div class="admin_cards font25">
            <div class="card_with_tabs">
                <div class="card violet ">
                    <span class="num">${{countsFundingSales}}</span>
                    <span class="text">By Funding Type</span>
                    <div class="radios">
                        <div class="filter_radio">
                            <input type="radio" id="sort_ft1" name="sort_sales">
                            <label for="sort_ft1"></label>
                            <span>Crowdfund</span>
                        </div>
                        <div class="filter_radio">
                            <input type="radio" id="sort_ft2" name="sort_sales" checked>
                            <label for="sort_ft2"></label>
                            <span>Regular</span>
                        </div>
                    </div>
                </div>
                <div class="card_tabs">
                    <span class="zag_tab">Day</span>
                    <span class="zag_tab">Week</span>
                    <span class="zag_tab">Month</span>
                    <span class="zag_tab">Year</span>
                    <span class="zag_tab active">All time</span>
                </div>
            </div>
        </div>
    </section>
<!-- </div> -->