<!-- <div class="admin_content"> -->
    <section class="revenue_analytics">
        <h1 class="admin_big_zag">Total revenue</h1>
        <div class="events_status_wrap">
            <div class="admin_table events_status_table revenue_diagram_table">
                <div class="admin_table_thead">
                    <div class="admin_table_th city_zag">City</div>
                    <div class="admin_table_th">Amount ($)</div>
                    <div class="admin_table_th">Percent</div>
                </div>
                <div class="admin_table_tbody">
                    <div class="admin_table_tr">
                        <div class="admin_table_td">
                            <div class="city_name">
                                <span class="city_color" style="background-color: #991f72"></span>
                                <span>New York</span>
                            </div>
                        </div>
                        <div class="admin_table_td"><span>7,792,146.12</span></div>
                        <div class="admin_table_td"><span>21.92%</span></div>
                    </div>
                    <div class="admin_table_tr">
                        <div class="admin_table_td">
                            <div class="city_name">
                                <span class="city_color" style="background-color: #5157b8"></span>
                                <span>Moscow</span>
                            </div>
                        </div>
                        <div class="admin_table_td"><span>7,792,146.12</span></div>
                        <div class="admin_table_td"><span>21.92%</span></div>
                    </div>
                    <div class="admin_table_tr">
                        <div class="admin_table_td">
                            <div class="city_name">
                                <span class="city_color" style="background-color: #d2365d"></span>
                                <span>Saint Petersburg</span>
                            </div>
                        </div>
                        <div class="admin_table_td"><span>7,792,146.12</span></div>
                        <div class="admin_table_td"><span>21.92%</span></div>
                    </div>
                    <div class="admin_table_tr">
                        <div class="admin_table_td">
                            <div class="city_name">
                                <span class="city_color" style="background-color: #f2ad0f"></span>
                                <span>San Francisco</span>
                            </div>
                        </div>
                        <div class="admin_table_td"><span>7,792,146.12</span></div>
                        <div class="admin_table_td"><span>21.92%</span></div>
                    </div>
                    <div class="admin_table_tr">
                        <div class="admin_table_td">
                            <div class="city_name">
                                <span class="city_color" style="background-color: #942541"></span>
                                <span>Washington</span>
                            </div>
                        </div>
                        <div class="admin_table_td"><span>7,792,146.12</span></div>
                        <div class="admin_table_td"><span>21.92%</span></div>
                    </div>
                    <div class="admin_table_tr">
                        <div class="admin_table_td">
                            <div class="city_name">
                                <span class="city_color" style="background-color: #079391"></span>
                                <span>Others</span>
                            </div>
                        </div>
                        <div class="admin_table_td"><span>7,792,146.12</span></div>
                        <div class="admin_table_td"><span>21.92%</span></div>
                    </div>
                </div>
            </div>
            <div class="events_status_diagramm revenue_diagram_wrap">
                <div class="diagramm">
                        <canvas baseChart width="400" height="300"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="false"
                        [chartType]="lineChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
                </div>
                <div class="diagramm_tabs">
                    <span class="zag_tab">Day</span>
                    <span class="zag_tab">Week</span>
                    <span class="zag_tab">Month</span>
                    <span class="zag_tab">Year</span>
                    <span class="zag_tab active">All time</span>
                </div>
            </div>
        </div>
        <div class="admin_cards font25">
            <div class="card_with_tabs">
                <div class="card violet calendar">
                    <span class="num">$35,418,846.07</span>
                    <span class="text">By Date</span>
                </div>
                <div class="card_tabs">
                    <span class="zag_tab">Day</span>
                    <span class="zag_tab">Week</span>
                    <span class="zag_tab">Month</span>
                    <span class="zag_tab">Year</span>
                    <span class="zag_tab active">All time</span>
                </div>
            </div>
            <div class="card_with_tabs">
                <div class="card blue mic">
                    <span class="num">$5,859,008.00</span>
                    <span class="text">By Artist</span>
                </div>
                <div class="card_tabs">
                    <span class="zag_tab">Day</span>
                    <span class="zag_tab">Week</span>
                    <span class="zag_tab">Month</span>
                    <span class="zag_tab">Year</span>
                    <span class="zag_tab active">All time</span>
                </div>
            </div>
            <div class="card_with_tabs">
                <div class="card siren kolonka">
                    <span class="num">$8,345,90.08</span>
                    <span class="text">By Venue</span>
                </div>
                <div class="card_tabs">
                    <span class="zag_tab">Day</span>
                    <span class="zag_tab">Week</span>
                    <span class="zag_tab">Month</span>
                    <span class="zag_tab">Year</span>
                    <span class="zag_tab active">All time</span>
                </div>
            </div>
        </div>
        <div class="admin_cards font25">
            <div class="card_with_tabs">
                <div class="card violet vr">
                    <span class="num">$1,996.00</span>
                    <span class="text">By VR Tickets</span>
                </div>
                <div class="card_tabs">
                    <span class="zag_tab">Day</span>
                    <span class="zag_tab">Week</span>
                    <span class="zag_tab">Month</span>
                    <span class="zag_tab">Year</span>
                    <span class="zag_tab active">All time</span>
                </div>
            </div>
            <div class="card_with_tabs">
                <div class="card blue ticket">
                    <span class="num">$1,026,759.08</span>
                    <span class="text">By Ticket Sales</span>
                </div>
                <div class="card_tabs">
                    <span class="zag_tab">Day</span>
                    <span class="zag_tab">Week</span>
                    <span class="zag_tab">Month</span>
                    <span class="zag_tab">Year</span>
                    <span class="zag_tab active">All time</span>
                </div>
            </div>
            <div class="card_with_tabs">
                <div class="card siren repost">
                    <span class="num">$7,899,698.00</span>
                    <span class="text">By Advertising</span>
                </div>
                <div class="card_tabs">
                    <span class="zag_tab">Day</span>
                    <span class="zag_tab">Week</span>
                    <span class="zag_tab">Month</span>
                    <span class="zag_tab">Year</span>
                    <span class="zag_tab active">All time</span>
                </div>
            </div>
        </div>
        <div class="admin_cards font25">
            <div class="card_with_tabs">
                <div class="card violet ">
                    <span class="num">$156,539.00</span>
                    <span class="text">By Funding Type</span>
                    <div class="radios">
                        <div class="filter_radio">
                            <input type="radio" id="sort_event_name" name="sort_event">
                            <label for="sort_event_name"></label>
                            <span>Crowdfund</span>
                        </div>
                        <div class="filter_radio">
                            <input type="radio" id="sort_event_date" name="sort_event" checked>
                            <label for="sort_event_date"></label>
                            <span>Regular</span>
                        </div>
                    </div>
                </div>
                <div class="card_tabs">
                    <span class="zag_tab">Day</span>
                    <span class="zag_tab">Week</span>
                    <span class="zag_tab">Month</span>
                    <span class="zag_tab">Year</span>
                    <span class="zag_tab active">All time</span>
                </div>
            </div>
        </div>
    </section>
    <section class="revenue_analytics">
        <h1 class="admin_big_zag">Total sales</h1>
        <div class="events_status_wrap">
            <div class="admin_table events_status_table revenue_diagram_table">
                <div class="admin_table_thead">
                    <div class="admin_table_th city_zag">City</div>
                    <div class="admin_table_th">Amount ($)</div>
                    <div class="admin_table_th">Percent</div>
                </div>
                <div class="admin_table_tbody">
                    <div class="admin_table_tr">
                        <div class="admin_table_td">
                            <div class="city_name">
                                <span class="city_color" style="background-color: #991f72"></span>
                                <span>New York</span>
                            </div>
                        </div>
                        <div class="admin_table_td"><span>7,792,146.12</span></div>
                        <div class="admin_table_td"><span>21.92%</span></div>
                    </div>
                    <div class="admin_table_tr">
                        <div class="admin_table_td">
                            <div class="city_name">
                                <span class="city_color" style="background-color: #5157b8"></span>
                                <span>Moscow</span>
                            </div>
                        </div>
                        <div class="admin_table_td"><span>7,792,146.12</span></div>
                        <div class="admin_table_td"><span>21.92%</span></div>
                    </div>
                    <div class="admin_table_tr">
                        <div class="admin_table_td">
                            <div class="city_name">
                                <span class="city_color" style="background-color: #d2365d"></span>
                                <span>Saint Petersburg</span>
                            </div>
                        </div>
                        <div class="admin_table_td"><span>7,792,146.12</span></div>
                        <div class="admin_table_td"><span>21.92%</span></div>
                    </div>
                    <div class="admin_table_tr">
                        <div class="admin_table_td">
                            <div class="city_name">
                                <span class="city_color" style="background-color: #f2ad0f"></span>
                                <span>San Francisco</span>
                            </div>
                        </div>
                        <div class="admin_table_td"><span>7,792,146.12</span></div>
                        <div class="admin_table_td"><span>21.92%</span></div>
                    </div>
                    <div class="admin_table_tr">
                        <div class="admin_table_td">
                            <div class="city_name">
                                <span class="city_color" style="background-color: #942541"></span>
                                <span>Washington</span>
                            </div>
                        </div>
                        <div class="admin_table_td"><span>7,792,146.12</span></div>
                        <div class="admin_table_td"><span>21.92%</span></div>
                    </div>
                    <div class="admin_table_tr">
                        <div class="admin_table_td">
                            <div class="city_name">
                                <span class="city_color" style="background-color: #079391"></span>
                                <span>Others</span>
                            </div>
                        </div>
                        <div class="admin_table_td"><span>7,792,146.12</span></div>
                        <div class="admin_table_td"><span>21.92%</span></div>
                    </div>
                </div>
            </div>
            <div class="events_status_diagramm revenue_diagram_wrap">
                <div class="diagramm">
                        <canvas baseChart width="400" height="300"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="false"
                        [chartType]="lineChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
                </div>
                <div class="diagramm_tabs">
                    <span class="zag_tab">Day</span>
                    <span class="zag_tab">Week</span>
                    <span class="zag_tab">Month</span>
                    <span class="zag_tab">Year</span>
                    <span class="zag_tab active">All time</span>
                </div>
            </div>
        </div>
        <div class="admin_cards font25">
            <div class="card_with_tabs">
                <div class="card violet calendar">
                    <span class="num">$35,418,846.07</span>
                    <span class="text">By Date</span>
                </div>
                <div class="card_tabs">
                    <span class="zag_tab">Day</span>
                    <span class="zag_tab">Week</span>
                    <span class="zag_tab">Month</span>
                    <span class="zag_tab">Year</span>
                    <span class="zag_tab active">All time</span>
                </div>
            </div>
            <div class="card_with_tabs">
                <div class="card blue mic">
                    <span class="num">$5,859,008.00</span>
                    <span class="text">By Artist</span>
                </div>
                <div class="card_tabs">
                    <span class="zag_tab">Day</span>
                    <span class="zag_tab">Week</span>
                    <span class="zag_tab">Month</span>
                    <span class="zag_tab">Year</span>
                    <span class="zag_tab active">All time</span>
                </div>
            </div>
            <div class="card_with_tabs">
                <div class="card siren kolonka">
                    <span class="num">$8,345,90.08</span>
                    <span class="text">By Venue</span>
                </div>
                <div class="card_tabs">
                    <span class="zag_tab">Day</span>
                    <span class="zag_tab">Week</span>
                    <span class="zag_tab">Month</span>
                    <span class="zag_tab">Year</span>
                    <span class="zag_tab active">All time</span>
                </div>
            </div>
        </div>
        <div class="admin_cards font25">
            <div class="card_with_tabs">
                <div class="card violet vr">
                    <span class="num">$1,996.00</span>
                    <span class="text">By VR Tickets</span>
                </div>
                <div class="card_tabs">
                    <span class="zag_tab">Day</span>
                    <span class="zag_tab">Week</span>
                    <span class="zag_tab">Month</span>
                    <span class="zag_tab">Year</span>
                    <span class="zag_tab active">All time</span>
                </div>
            </div>
            <div class="card_with_tabs">
                <div class="card blue ticket">
                    <span class="num">$1,026,759.08</span>
                    <span class="text">By Ticket Sales</span>
                </div>
                <div class="card_tabs">
                    <span class="zag_tab">Day</span>
                    <span class="zag_tab">Week</span>
                    <span class="zag_tab">Month</span>
                    <span class="zag_tab">Year</span>
                    <span class="zag_tab active">All time</span>
                </div>
            </div>
            <div class="card_with_tabs">
                <div class="card siren repost">
                    <span class="num">$7,899,698.00</span>
                    <span class="text">By Advertising</span>
                </div>
                <div class="card_tabs">
                    <span class="zag_tab">Day</span>
                    <span class="zag_tab">Week</span>
                    <span class="zag_tab">Month</span>
                    <span class="zag_tab">Year</span>
                    <span class="zag_tab active">All time</span>
                </div>
            </div>
        </div>
        <div class="admin_cards font25">
            <div class="card_with_tabs">
                <div class="card violet ">
                    <span class="num">$156,539.00</span>
                    <span class="text">By Funding Type</span>
                    <div class="radios">
                        <div class="filter_radio">
                            <input type="radio" id="sort_ft1" name="sort_sales">
                            <label for="sort_ft1"></label>
                            <span>Crowdfund</span>
                        </div>
                        <div class="filter_radio">
                            <input type="radio" id="sort_ft2" name="sort_sales" checked>
                            <label for="sort_ft2"></label>
                            <span>Regular</span>
                        </div>
                    </div>
                </div>
                <div class="card_tabs">
                    <span class="zag_tab">Day</span>
                    <span class="zag_tab">Week</span>
                    <span class="zag_tab">Month</span>
                    <span class="zag_tab">Year</span>
                    <span class="zag_tab active">All time</span>
                </div>
            </div>
        </div>
    </section>
<!-- </div> -->