<app-preloader *ngIf="isLoading"></app-preloader>
<section [ngStyle]="{'display': isLoading?'none':'block'}" class="second-router-outlet">
    <div  class="create-event-nav-tabs">
        <div class="for-header-shadow">
            <div class="main-mw">
                <div class="create-event-header">
                    <h1>{{ArtistId?'Edit':'Create'}} Artist</h1>
                    <ul>


                        <li [ngClass]="{'active':currentPage == pages.about,'started':currentPage != pages.about}">
                            <a (click)="ChangeCurrentPart(pages.about)" class="nav-second-outlet">about</a>
                        </li>
                        <!-- <li [ngClass]="{'active':currentPage == pages.calendar,'started':currentPage != pages.calendar}">
                            <a (click)="ChangeCurrentPart(pages.calendar)" class="nav-second-outlet">calendar</a>
                        </li> -->
                        <li [ngClass]="{'active':currentPage == pages.media,'started':currentPage != pages.media}">
                            <a (click)="ChangeCurrentPart(pages.media)" class="nav-second-outlet">media</a>
                        </li>
                        <li [ngClass]="{'active':currentPage == pages.booking,'started':currentPage != pages.booking}">
                            <a (click)="ChangeCurrentPart(pages.booking)" class="nav-second-outlet">booking</a>
                        </li>
                        <li [ngClass]="{'active':currentPage == pages.riders,'started':currentPage != pages.riders}">
                            <a (click)="ChangeCurrentPart(pages.riders)" class="nav-second-outlet">riders</a>
                        </li>

                        <li [ngClass]="{'active':currentPage == pages.preview,'started':currentPage != pages.preview}">
                            <a (click)="ChangeCurrentPart(pages.preview)" class="nav-second-outlet">preview</a>
                        </li>


                        <li *ngIf="ArtistId !== 0">
                            <button (click)="SaveButton()" class="butt-style-1" style="width: 127px">
                                <span style="padding: 10px 21px">
                                SAVE
                                </span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

       
        
        <app-artist-about #AboutPage *ngIf="currentPage == pages.about" 
            [Artist]="Artist"
            [ArtistImageId]="ArtistImageId" 
            [ArtistId]="ArtistId" 
            (onError)="OpenErrorWindow($event)" 
            (onSaveArtist)="SaveArtistByPages($event)" 
            (onImageDeleted)="DeleteImage($event)" 
            (onArtistChanged)="ArtistChanged($event)"
        >
        </app-artist-about>

        <!-- 
            <div [ngStyle]="{'display': (currentPage==pages.calendar)?'block':'none'}" class="create-event-body-1">
                <div class="main-mw">
                    <div class="create-event-body">
                        <div class="head-ev-body">
                            <h2>Calendar</h2>
                            <p>Please fill in all required fields<br>to proceed to the Next Step</p>
                        </div>
                        
                    </div>
                
                </div>
                
            
                <div class="calendar-add-artist">
                    <div class="one-calendar-block">
                        Календарь тут
                    </div>
                    <div class="bg-doted-cal"></div>
                    
                
                </div>
            
            
            
                <div class="scroll-wrapp">
                    <div (click)="currentPage = pages.media" class="circle-scroll"></div>
                </div>
            </div> 
        -->

        <div class="create-event-body-1">

            <app-artist-media #MediatPage *ngIf="currentPage == pages.media" 
                [Artist]="Artist" 
                [ArtistId]="ArtistId" 
                (openNextPage)="NextPart()" 
                (onSave)="SaveArtistByPages($event, false)" 
                (onError)="OpenErrorWindow($event)"
            >
            </app-artist-media>


            <app-artist-booking #BookingPage *ngIf="currentPage == pages.booking"
                [Artist]="Artist"
                [ArtistId]="ArtistId"  
                (onSave)="SaveArtistByPages($event)" 
                (onError)="OpenErrorWindow($event)"
            >
            </app-artist-booking>

            <app-artist-riders #RidersPage *ngIf="currentPage == pages.riders"
                [Artist]="Artist" 
                (OnSave)="SaveArtistByPages($event)" 
                (openNextPage)="NextPart()"
            >
            </app-artist-riders>

        </div>

        <artist-profile-selector *ngIf="currentPage==pages.preview" 
            [Account]="Artist" 
            [Fans]="[]" 
            [IsPreview]="true"
        >
        </artist-profile-selector>

    </div>


</section>
           


<error-cmp #errorCmp></error-cmp>