.circle-scroll{
    cursor: pointer;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
.create-event-body-1 .create-event-body .flex-body-1 .side .add-to-genres{
    z-index: 5000;
}