<section class="second-router-outlet">
    <div  class="create-event-nav-tabs">
        <div class="for-header-shadow">
            <div class="main-mw">
                <div class="create-event-header">
                    <h1>Add Artist</h1>
                    <ul>


                        <li [ngClass]="{'active':currentPage == pages.about,'started':currentPage != pages.about}">
                            <a (click)="ChangeCurrentPart(pages.about)" class="nav-second-outlet">about</a>
                        </li>
                        <!-- <li [ngClass]="{'active':currentPage == pages.calendar,'started':currentPage != pages.calendar}">
                            <a (click)="ChangeCurrentPart(pages.calendar)" class="nav-second-outlet">calendar</a>
                        </li> -->
                        <li [ngClass]="{'active':currentPage == pages.media,'started':currentPage != pages.media}">
                            <a (click)="ChangeCurrentPart(pages.media)" class="nav-second-outlet">media</a>
                        </li>
                        <li [ngClass]="{'active':currentPage == pages.booking,'started':currentPage != pages.booking}">
                            <a (click)="ChangeCurrentPart(pages.booking)" class="nav-second-outlet">booking</a>
                        </li>
                        <li [ngClass]="{'active':currentPage == pages.riders,'started':currentPage != pages.riders}">
                            <a (click)="ChangeCurrentPart(pages.riders)" class="nav-second-outlet">riders</a>
                        </li>

                        <li [ngClass]="{'active':currentPage == pages.preview,'started':currentPage != pages.preview}">
                            <a (click)="ChangeCurrentPart(pages.preview)" class="nav-second-outlet">preview</a>
                        </li>


                        <li *ngIf="ArtistId !== 0">
                            <button (click)="saveButtonClick()" class="butt-style-1" style="width: 127px">
                                <span style="padding: 10px 21px">
                                SAVE
                                </span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <app-preloader *ngIf="isLoading"></app-preloader>
        
        <app-artist-about #AboutPage [Artist]="Artist" (OnSave)="SaveArtist($event)" (OnError)="OpenError($event)" [ngStyle]="{'display': !isLoading&&(currentPage==pages.about)?'block':'none'}"></app-artist-about>

        <!-- 
            <div [ngStyle]="{'display': (currentPage==pages.calendar)?'block':'none'}" class="create-event-body-1">
                <div class="main-mw">
                    <div class="create-event-body">
                        <div class="head-ev-body">
                            <h2>Calendar</h2>
                            <p>Please fill in all required fields<br>to proceed to the Next Step</p>
                        </div>
                        
                    </div>
                
                </div>
                
            
                <div class="calendar-add-artist">
                    <div class="one-calendar-block">
                        Календарь тут
                    </div>
                    <div class="bg-doted-cal"></div>
                    
                
                </div>
            
            
            
                <div class="scroll-wrapp">
                    <div (click)="currentPage = pages.media" class="circle-scroll"></div>
                </div>
            </div> 
        -->

        <div class="create-event-body-1">

            <app-artist-media #MediatPage [Artist]="Artist" [idArtist]="ArtistId" (next)="this.currentPage = this.pages.booking" (OnSave)="SaveArtist($event)" (OnError)="OpenError($event)" [ngStyle]="{'display': !isLoading&&(currentPage==pages.media)?'block':'none'}"></app-artist-media>

            <app-artist-booking #BookingPage [Artist]="Artist" (OnSave)="SaveArtist($event)" (OnError)="OpenError($event)" [ngStyle]="{'display': !isLoading&&(currentPage==pages.booking)?'block':'none'}"></app-artist-booking>

            <app-artist-riders #RidersPage [Artist]="Artist" (OnSave)="SaveArtist($event)" [ngStyle]="{'display': !isLoading&&(currentPage==pages.riders)?'block':'none'}"></app-artist-riders>


        </div>
        <artist-profile-selector *ngIf="currentPage==pages.preview" [Account]="Artist" [Fans]="[]" [IsPreview]="true">
        </artist-profile-selector>

    </div>


</section>
           


<error-cmp #errorCmp></error-cmp>