<div class="settings_right_wrap">
  <h2 class="zag">Send a question</h2>
  <form [formGroup]="FormMessage" class="setts_padding send_quest_form">
      <label class="grey_label">Subject</label>
      <input type="text" class="settings_dots" [(ngModel)]="Message.subject" formControlName="subject">
      <label class="grey_label">Message</label>
      <textarea class="settings_dots" [(ngModel)]="Message.message" formControlName="message" maxlength="1000"></textarea>
      <p class="settings_ta_max">1000 max</p>
      <button [ngStyle]="{'display':FormMessage.invalid?'none':'block'}" type="submit" (click)="sendQuestions()" class="butt-style-1"><span>Send</span></button>
      <!-- <br>
      <p style="text-align: center">v.1.1.3</p> -->
      <br>
  </form>
</div>
<error-cmp #errorCmp></error-cmp>