<section class="second-router-outlet">
  <div class="messages-main-wrapp">
      <div class="main-mw main_for_setts">
          <div class="flex-massages-wrapp settings_wrap">
              <div class="left-s settings_left">
                  <h2 class="zag" translate>setting.settings</h2>
                  <ul class="settings_menu">
                      <li [ngClass]="{'active': CurrentPart==Parts.PersonalInfo}"><a (click)="CurrentPart=Parts.PersonalInfo" translate>setting.personalinfo</a></li>
                      <li [ngClass]="{'active': CurrentPart==Parts.Preferences}"><a (click)="CurrentPart=Parts.Preferences" translate>setting.preferences</a></li>
                      <!-- <li [ngClass]="{'active': CurrentPart==Parts.FinancialInfo}"><a (click)="CurrentPart=Parts.FinancialInfo">Financial info</a></li> -->
                      <li [ngClass]="{'active': CurrentPart==Parts.Feedback}"><a (click)="CurrentPart=Parts.Feedback" translate>setting.feedback</a></li>
                      <li [ngClass]="{'active': CurrentPart==Parts.CustomerSupport}">
                          <span (click)="CustomerSupportClick()" class="opening" translate>setting.сustomerSupport</span>
                          <ul *ngIf="IsShowCustomerSupport&&CurrentPart==Parts.CustomerSupport" class="submenu" style="display:block">
                              <!-- <li><a (click)="customerPage = CustomerParts.sendQuestion">How to Create an Event</a></li>
                              <li><a (click)="customerPage = CustomerParts.sendQuestion">How to Create a Crowdfunding Event</a></li>
                              <li><a (click)="customerPage = CustomerParts.sendQuestion">How to Search for a Show in my Area</a></li>
                              <li><a (click)="customerPage = CustomerParts.sendQuestion">How to Upload my Videos (Artist)</a></li>
                              <li><a (click)="customerPage = CustomerParts.sendQuestion">How to Find My Favourite Artist</a></li>
                              <li><a (click)="customerPage = CustomerParts.sendQuestion">More Questions</a></li> -->
                              <li  [ngClass]="{'active': customerPage==CustomerParts.sendQuestion}"><a (click)="customerPage = CustomerParts.sendQuestion" translate>setting.SendaQuestion</a></li>
                          </ul>
                      </li>
                      <li [ngClass]="{'active': CurrentPart==Parts.TermsOfService}"><a (click)="CurrentPart=Parts.TermsOfService" translate>setting.Termsofservice</a></li>
                      <li [ngClass]="{'active': CurrentPart==Parts.PrivacyPolicy}"><a (click)="CurrentPart=Parts.PrivacyPolicy" translate>setting.PrivacyPolicy</a></li>
                  </ul>
                  <!-- <div class="container">
                    <div class="inner" style="text-align: center;">v.1.1.3</div>
                  </div> -->
                  <div class="version-container">
                      <div class="version-text">
                        <p>v.1.1.6</p>
                    </div>
                  </div>
                  <!-- width: 30%;
                  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.13);
                  padding: 40px 49px 0; -->
              </div>
              <!--вместо дива может быть форма-->
              <div class="right-s settings_right">
                <app-personal-info *ngIf="CurrentPart==Parts.PersonalInfo"
                    [User]="User"
                    (OnSave)="SaveUser()"
                >
                </app-personal-info>
                <app-preferences *ngIf="CurrentPart==Parts.Preferences" [UserId]="User.id" (OnSuccess)="Success($event)"></app-preferences>
                <app-financial-info *ngIf="CurrentPart==Parts.FinancialInfo"></app-financial-info>
                <app-feedback *ngIf="CurrentPart==Parts.Feedback"></app-feedback>
                <app-customer-support [page]="customerPage" *ngIf="CurrentPart==Parts.CustomerSupport"></app-customer-support>
                <app-terms-of-service *ngIf="CurrentPart==Parts.TermsOfService"></app-terms-of-service>
                <app-privacy-policy *ngIf="CurrentPart==Parts.PrivacyPolicy"></app-privacy-policy>
              </div>

          </div>
      </div>
  </div>
</section>
<error-cmp #errorCmp></error-cmp>
