<!-- <app-preloader *ngIf="isLoading"></app-preloader>
<section  [ngStyle]="{'display': isLoading?'none':'block'}" class="second-router-outlet">
    <div class="show-datails-wr">
        <div class="main-mw">
            <div class="flex-artist-main-info">
                <div class="side left-side">
                    <div class="bg-gradient-info">
                        <h6>{{Event.name}}</h6>
                        <p class="st" *ngIf="Date" [innerHTML]="Date"></p>
                        <span class="hashtag" *ngIf="Event.hashtag"><span>#</span>{{Event.hashtag}}</span>
                        <p class="descr">{{Event.description}}</p>
                        <p class="gg" translate>Genre</p>
                        <div class="flex-genres" *ngIf="Genres.length > 0">
                            <span class="one-genre" *ngFor="let item of Genres">{{item.genre_show | translate}}</span>
                        </div>
                        <p class="some-tt"><span translate>show-folder.Presented by</span> <a class="creator-name" [routerLink]="['/system/profile',Creator.id]">{{Creator.display_name?Creator.display_name:Creator.last_name&&Creator.first_name?Creator.first_name+' '+Creator.last_name:Creator.user_name}}</a> </p>
                        <p class="some-tt"><span translate>show-folder.Featuring:</span>
                            <ng-container *ngFor="let f of Featuring; let i = index" >
                                <a style="color:white" [routerLink]="['/system/profile',f.id]">
                                    {{f.name}}{{ Featuring.length-1>i?Featuring.length-2===i?' and ':', ' :''}}
                                </a>
                            </ng-container>
                        </p>
                        <p class="gg" translate>Location</p>
                        <p class="location" *ngIf="Venue"><span>{{Venue.display_name}}</span>{{Venue.address}}</p>
                        <p class="location" *ngIf="!Venue">{{Event.address}}</p>
                        <div *ngIf="(Venue.lat && Venue.lng) || ( Event.city_lat && Event.city_lng)" class="location-wr" (click)="aboutOpenMapModal()">
                            <div class="mark"></div>
                            <p class="location-inp" translate>View map</p>
                        </div>
                        <div class="flex-icons-show-datails">
                            
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>

                
                <div class="side right-side">
                    
                        <div class="iframe-slider-wrapp">
                            
                            <show-gallery-cmp [Artists]="Artists" [Venue]="Venue"></show-gallery-cmp>
                        </div>
                       <div class="iframe-slider-wrapp"> 
                           
                                <ng-container *ngFor="let item of Artists">
                                    <div class="slide">
                                        <show-image-slide [Artist]="item" (onInitSlider)="InitSlider($event)"></show-image-slide>
                                    </div>
                                   <show-video-slide [Artist]=item></show-video-slide>
                              </ng-container>
                                <ng-container *ngIf="Event.venue">
                                    <div class="slide">
                                        <show-image-slide [Artist]="Event.venue"></show-image-slide>
                                    </div>
                                </ng-container>
                        </div>
                     </div> 
                </div>
            </div>
        </div>
    </div>
    
 
    <div class="content-and-tabs-datails">
        <div class="main-mw" *ngIf="Tickets && Tickets.length &&MyAcc.status && MyAcc.status != Status.Denied && MyAcc.status != Status.Inactive">
            <div class="tabslinks-and-goings">
                <div class="left-s">
                    <ul>
                        <li>
                            <a class="active" translate>show-folder.Additional info</a>
                        </li>
                        
                    </ul>
                </div>
                <div class="right-s">
                   
                </div>
                
            </div>
                <div class="other-datails-info">
                    <h1 translate>show-folder.Tickets
                       
                    </h1>
                    
                        <p class="total" translate>show-folder.Total price:
                            <span>
                                <span [innerHTML]="Currency"></span>{{TotalPrice}}
                                <ng-container *ngIf="Currency != OriginalCurrency">
                                        (<span [innerHTML]="OriginalCurrency"></span>{{TotalOriginalPrice}})
                                </ng-container>
                            </span>
                        </p>
                        <button [disabled]="!(Event.status===Statuses.Active) || !CurrentAccount || CurrentAccount.account_type != 'fan' || !Event.tickets || !Event.tickets.length || !TicketsToBuy.length"
                            (click)="BuyTickets()" class="butt-style-1" 
                            [ngClass]="{'cursor-disabled':!(Event.status===Statuses.Active) || !CurrentAccount || CurrentAccount.account_type != 'fan' || !Event.tickets || !Event.tickets.length || !TicketsToBuy.length}">
                            <span translate>show-folder.Buy</span>
                        </button>
                </div>
            <div class="body-tabs-datails-pages">
                <div class="for-flex-contant-d">
                    <div class="left-side-tickets">
                       
                        <ng-container *ngIf="Event.status===Statuses.Active">
                                <ng-container *ngFor="let item of Tickets">
                                    <buy-ticket-selector (onAddTickets)="AddTicketsToPrice($event)" [Ticket]="item"></buy-ticket-selector>
                                </ng-container>
                        </ng-container>
                        <h2 class="total" *ngIf="!(Event.status===Statuses.Active)" translate>show-folder.Show is unactive!</h2>
                    </div>
                    <div class="right-side-tickets">
                        <div class="third-router-outlet">
                            <div class="biography-wrapper">
                                <h6 translate>Description</h6>
                                <ng-container *ngFor="let item of Artists">
                                    <biography-selector *ngIf="item.about" [Account]="item"></biography-selector>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="modal fade modal-send-request map-1-modal" id="modal-map">
        <div class="modal-dialog">
            <div class="modal-body">
                <h6 class="head-m-p-a" translate>Location</h6>
                <span class="closee-modal" data-dismiss="modal"></span>
                <div class="for-map-init-modal-1">
                    <agm-map *ngIf="Venue.lat && Venue.lng" style="height:100%" [latitude]="Venue.lat" [longitude]="Venue.lng"> 
                        <agm-marker [latitude]="Venue.lat" [longitude]="Venue.lng" ></agm-marker>
                    </agm-map>
                    <agm-map *ngIf="(!Venue.lat && !Venue.lng) && ( Event.city_lat && Event.city_lng)" style="height:100%" [latitude]="Event.city_lat" [longitude]="Event.city_lng"> 
                        <agm-marker [latitude]="Event.city_lat" [longitude]="Event.city_lng" ></agm-marker>
                    </agm-map>
                </div>
            </div>
        </div>
    </div>
</section>

<error-cmp #errorCmp></error-cmp> -->

<app-preloader *ngIf="isLoading"></app-preloader>
<section [ngStyle]="{'display': isLoading?'none':'block'}" class="second-router-outlet">
    <section class="new-show-datails-wrapp">

        <div class="main-mw">
            <div class="flex-new-datails">
                <span (click)="goBack()" class="back-page">
                    <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M33 14.4378H7.83721L19.3872 2.88779L16.5 0L0 16.5L16.5 33L19.3872 30.1122L7.83721 18.5622H33V14.4378Z" fill="black"/>
                    </svg>
                    <span translate>back</span>
                </span>
                <div class="information-side">
                    <div class="top-new-show-datails">
                        <div class="baner-wr">
                            <div class="baner-before">
                                <div class="baner" [ngStyle]="{'background-image': 'url(' + Image + ')'}"></div>
                            </div>
                        </div>
                        <div class="main-info-of-event">
                            <div class="use-style">
                                <div class="rel-wr-for-before">
                                    <h1>{{Event.name}}</h1>
                                    <div class="gradient-info">
                                        <div class="overflow-scroll">
                                            <p class="when" *ngIf="Date" [innerHTML]="Date"></p>
                                            <p class="hash" *ngIf="Event.hashtag"><span>#</span>{{Event.hashtag}}</p>
                                            <p class="head-of-blocks" translate>Genre</p>
                                            <div class="flex-genres" *ngIf="Genres.length > 0">
                                                <span class="one-genre" *ngFor="let item of Genres">{{item.genre_show | translate}}</span>
                                            </div>
                                            <p class="head-of-blocks" translate>show-folder.Featuring:</p>
                                            <p class="who-going">
                                                <ng-container *ngFor="let f of Featuring; let i = index" >
                                                    <a style="color:white" [routerLink]="['/system/profile',f.id]">
                                                        {{f.name}}{{ Featuring.length-1>i?Featuring.length-2===i?' and ':', ' :''}}
                                                    </a>
                                                </ng-container>

                                            </p>
                                            <p class="head-of-blocks" translate>Location</p>
                                            <div class="location-wr">
                                                <div class="mark" *ngIf="(Venue.lat && Venue.lng) || ( Event.city_lat && Event.city_lng)" (click)="aboutOpenMapModal()"></div>
                                                <p class="where" *ngIf="Venue"><span>{{Venue.display_name}}</span>,{{Venue.address}}</p>
                                                <p class="where" *ngIf="!Venue">{{Event.address}}</p>
                                            </div>

                                            <!--если краудфандинг ивент-->
                                            <div class="if-crowdfunding" *ngIf="Event.is_crowdfunding_event">
                                                <div class="range" style="overflow: hidden">
                                                    <div class="done" [ngStyle]="{'width':+FoundedPercent +'%'}"></div>
                                                </div>
                                                <p class="price-done">{{Event.founded}}</p>
                                                <p class="descr-crowd" translate>pledged of<span>{{Event.funding_goal}}</span>goal</p>
                                                <div class="flex-crowd-info">
                                                    <div class="one-side">
                                                        <p class="biggy">{{Event.backers}}</p>
                                                        <p class="descr-side" translate>Backers</p>
                                                    </div>
                                                    <!-- <div class="one-side">
                                                        <p class="biggy">12</p>
                                                        <p class="descr-side">Days to go</p>
                                                    </div> -->
                                                </div>
                                            </div>
                                            <!--/если краудфандинг ивент-->
                                        </div>

                                        <div class="icons-new">
                                            <a href="#" target="_blank">
                                                <img src="../../assets/img/small-calendar.png" class="img-responsive" alt="">
                                            </a>
                                            <button class="share" (click)="OpenModalShare()">
                                                <img src="../../assets/img/export.png" class="img-responsive" alt="">
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bott-new-show-datails">
                        <div class="navigation-of-show-datail">
                            <ul class="list-nav-show">
                                <li>
                                    <span class="link-to-tab" [ngClass]="{'active': activeTab == 'information'}" (click)="ToInfo()" translate>INFORMATION</span>
                                </li>
                                <li *ngIf="Tickets && Tickets.length &&MyAcc.status && MyAcc.status != Status.Denied && MyAcc.status != Status.Inactive">
                                    <span class="link-to-tab" *ngIf="Event.comments_available " [ngClass]="{'active': activeTab == 'comments'}" (click)="ToComments()" translate>Comments<span>({{AllCommentsEvent.length}})</span></span>
                                </li>
                                <li *ngIf="Tickets && Tickets.length &&MyAcc.status && MyAcc.status != Status.Denied && MyAcc.status != Status.Inactive">
                                    <span class="link-to-tab" [ngClass]="{'active': activeTab == 'updates'}" (click)="ToUpdates()" translate>Updates<span>({{UpdatesEvent.length}})</span></span>
                                </li>
                            </ul>
                            <div class="going-wrapp" *ngIf="Event.backers != 0">
                                <div class="going-ava">
                                    <app-one-ava-who-going *ngFor="let topBackers of Event.top_backers" [human]="topBackers"></app-one-ava-who-going>
                                </div>
                                <p class="how-mutch" *ngIf="Event.backers > 5" translate>And<span (click)="OpenModalGoing()">{{Event.backers - 5}}</span>more going</p>
                                <p class="how-mutch" *ngIf="Event.backers <= 5" translate>Are going</p>
                            </div>
                        </div>
                        <div class="for-change-contant">
                            <app-information [Event]="Event" [Artists]="Artists" *ngIf="activeTab == 'information'"></app-information>
                            <ng-container *ngIf="Tickets && Tickets.length &&MyAcc.status && MyAcc.status != Status.Denied && MyAcc.status != Status.Inactive">
                                <app-comments [MyAcc]="MyAcc" (onComment)="GetComments()" [AllComments]="AllCommentsEvent" *ngIf="activeTab  == 'comments' && Event.comments_available"></app-comments>
                            </ng-container>
                            <ng-container *ngIf="Tickets && Tickets.length &&MyAcc.status && MyAcc.status != Status.Denied && MyAcc.status != Status.Inactive">
                                 <app-updates [UpdatesEvent]="UpdatesEvent" *ngIf="activeTab == 'updates'"></app-updates>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="tickets-side">
                    <h3 translate>Tickets.Tickets</h3>
                    <p class="you-have" translate>You have<span>5</span>tickets</p>
                    <div class="tickets-new-wr">
                        <div class="price-and-buy">
                            <p class="total" translate>Total price:<span>$219.00</span></p>
                            <div class="butt-buy">
                                <button class="butt-style-1">
                                    <span translate>Buy</span>
                                </button>
                            </div>
                        </div>
                        <div class="all-tickets-new-wrapp">
                            <div class="one-tick">
                                <p class="f" translate>In person ticket</p>
                                <p class="s" translate>Tickets.(Regular)</p>
                                <p class="c with-original-price">$102</p>
                                <p class="c c-original">$102</p>
                                <div class="conter-wrapp">
                                    <button class="arrow r-a">
                                        <svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M1.03669 7.49933L7.88036 0.724995C7.95759 0.641877 7.99987 0.535393 7.99987 0.42513C7.99987 0.314868 7.95759 0.208326 7.88036 0.125209C7.84153 0.0857363 7.79426 0.0541992 7.74182 0.0326529C7.68937 0.0111065 7.63272 -1.04904e-05 7.57547 -1.04904e-05C7.51822 -1.04904e-05 7.46156 0.0111065 7.40912 0.0326529C7.35668 0.0541992 7.3094 0.0857363 7.27058 0.125209L0.127383 7.2013C0.0455179 7.28227 6.19888e-05 7.38962 6.19888e-05 7.50122C6.19888e-05 7.61282 0.0455179 7.72017 0.127383 7.80114L7.27058 14.8744C7.30861 14.9136 7.3551 14.945 7.40668 14.9666C7.45826 14.9882 7.5141 14.9996 7.57059 15C7.62718 15.0002 7.68332 14.989 7.73499 14.9674C7.78666 14.9457 7.83248 14.9141 7.87011 14.8744C7.95182 14.7932 7.99744 14.6857 7.99744 14.574C7.99744 14.4624 7.95182 14.3549 7.87011 14.2737L1.03669 7.49933Z" fill="black"/>
                                        </svg>
                                    </button>
                                    <span>1</span>
                                    <button class="arrow l-a">
                                        <svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M6.96331 7.50067L0.119642 14.275C0.0424109 14.3581 0.000125282 14.4646 0.000125282 14.5749C0.000125282 14.6851 0.0424109 14.7917 0.119642 14.8748C0.158467 14.9143 0.20574 14.9458 0.258184 14.9673C0.310627 14.9889 0.367279 15 0.424532 15C0.481784 15 0.538436 14.9889 0.590879 14.9673C0.643323 14.9458 0.690596 14.9143 0.729421 14.8748L7.87262 7.7987C7.95448 7.71773 7.99994 7.61038 7.99994 7.49878C7.99994 7.38718 7.95448 7.27983 7.87262 7.19886L0.729421 0.125574C0.691395 0.086383 0.644898 0.0550308 0.593318 0.0334177C0.541739 0.0118047 0.485899 0.000424317 0.42941 1.05578e-05C0.372821 -0.000156784 0.316682 0.0109663 0.265013 0.0326169C0.213344 0.0542675 0.167518 0.0859257 0.129886 0.125574C0.0481789 0.206806 0.0025644 0.314265 0.0025644 0.425952C0.0025644 0.53764 0.0481789 0.645098 0.129886 0.726331L6.96331 7.50067Z" fill="black"/>
                                        </svg>

                                    </button>

                                </div>
                                <p class="t" translate><span translate>Buy one, get one free</span>Vip section, meet & greet</p>
                                <p class="last" translate>(20 tickets left)</p>
                            </div>
                            <div class="one-tick">
                                <p class="f"translate>In person ticket</p>
                                <p class="s"translate>Tickets.(Regular)</p>
                                <p class="c with-original-price">$102</p>
                                <p class="c c-original">$102</p>
                                <div class="conter-wrapp">
                                    <button class="arrow r-a">
                                        <svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M1.03669 7.49933L7.88036 0.724995C7.95759 0.641877 7.99987 0.535393 7.99987 0.42513C7.99987 0.314868 7.95759 0.208326 7.88036 0.125209C7.84153 0.0857363 7.79426 0.0541992 7.74182 0.0326529C7.68937 0.0111065 7.63272 -1.04904e-05 7.57547 -1.04904e-05C7.51822 -1.04904e-05 7.46156 0.0111065 7.40912 0.0326529C7.35668 0.0541992 7.3094 0.0857363 7.27058 0.125209L0.127383 7.2013C0.0455179 7.28227 6.19888e-05 7.38962 6.19888e-05 7.50122C6.19888e-05 7.61282 0.0455179 7.72017 0.127383 7.80114L7.27058 14.8744C7.30861 14.9136 7.3551 14.945 7.40668 14.9666C7.45826 14.9882 7.5141 14.9996 7.57059 15C7.62718 15.0002 7.68332 14.989 7.73499 14.9674C7.78666 14.9457 7.83248 14.9141 7.87011 14.8744C7.95182 14.7932 7.99744 14.6857 7.99744 14.574C7.99744 14.4624 7.95182 14.3549 7.87011 14.2737L1.03669 7.49933Z" fill="black"/>
                                        </svg>
                                    </button>
                                    <span>1</span>
                                    <button class="arrow l-a">
                                        <svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M6.96331 7.50067L0.119642 14.275C0.0424109 14.3581 0.000125282 14.4646 0.000125282 14.5749C0.000125282 14.6851 0.0424109 14.7917 0.119642 14.8748C0.158467 14.9143 0.20574 14.9458 0.258184 14.9673C0.310627 14.9889 0.367279 15 0.424532 15C0.481784 15 0.538436 14.9889 0.590879 14.9673C0.643323 14.9458 0.690596 14.9143 0.729421 14.8748L7.87262 7.7987C7.95448 7.71773 7.99994 7.61038 7.99994 7.49878C7.99994 7.38718 7.95448 7.27983 7.87262 7.19886L0.729421 0.125574C0.691395 0.086383 0.644898 0.0550308 0.593318 0.0334177C0.541739 0.0118047 0.485899 0.000424317 0.42941 1.05578e-05C0.372821 -0.000156784 0.316682 0.0109663 0.265013 0.0326169C0.213344 0.0542675 0.167518 0.0859257 0.129886 0.125574C0.0481789 0.206806 0.0025644 0.314265 0.0025644 0.425952C0.0025644 0.53764 0.0481789 0.645098 0.129886 0.726331L6.96331 7.50067Z" fill="black"/>
                                        </svg>

                                    </button>

                                </div>
                                <p class="t"><span translate>Buy one, get one free</span>Vip section, meet & greet</p>
                                <p class="last" translate>(20 tickets left)</p>
                            </div>
                        </div>
                        <div class="price-and-buy">
                            <p class="total" translate>Total price:<span>$219.00</span></p>
                            <div class="butt-buy">
                                <button class="butt-style-1">
                                    <span translate>Buy</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</section>
<div class="modal fade modal-send-request map-1-modal" id="modal-map">
    <div class="modal-dialog">
        <div class="modal-body">
            <h6 class="head-m-p-a" translate>Location</h6>
            <span class="closee-modal" data-dismiss="modal"></span>
            <div class="for-map-init-modal-1">
                <agm-map *ngIf="Venue.lat && Venue.lng" style="height:100%" [latitude]="Venue.lat" [longitude]="Venue.lng"> 
                    <agm-marker [latitude]="Venue.lat" [longitude]="Venue.lng" ></agm-marker>
                </agm-map>
                <agm-map *ngIf="(!Venue.lat && !Venue.lng) && ( Event.city_lat && Event.city_lng)" style="height:100%" [latitude]="Event.city_lat" [longitude]="Event.city_lng"> 
                    <agm-marker [latitude]="Event.city_lat" [longitude]="Event.city_lng" ></agm-marker>
                </agm-map>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-send-request new-modal-inv who-going-modal" id="modal-who-going">
    <div class="modal-dialog">
        <div class="modal-body">
            <h6 class="head-m-p-a" translate>Who’s GOing<span>({{Event.backers}})</span></h6>
            <div class="close-modal" data-dismiss="modal"></div>
            <div class="content-modal">
                <div class="padd-left-right">
                    <div class="input-groupe-1 less-padd">
                        <div class="rel-wr">
                            <input id="inp-modal-inv-1"  name="searchgoing" (input)='onChangeInpSearch($event)' type="text" placeholder="Search">
                        </div>
                    </div>
                    <div class="flex-people" id="heightCalc">
                        <div class="one-p" *ngFor="let backer of this.Allbackers">
                            <app-one-human-going-modal  [backer]="backer"></app-one-human-going-modal>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-send-request new-modal-inv modal-share" id="modal-share">
    <div class="modal-dialog">
        <div class="modal-body">
            <h6 class="head-m-p-a" translate>Share Show</h6>
            <div class="close-modal" data-dismiss="modal"></div>
            <div class="content-modal">
                <div class="padd-left-right">
                    <div class="flex-icons-share">
                        <a href="http://www.facebook.com/sharer.php?u={{FullUrl}}&p[title]={{ShareTitle == ''?Event.name:ShareTitle}}&picture={{ImageTw}}" class="soc-link f" target="_blank"></a>
                        <a href="https://plus.google.com/share?url={{FullUrl}}&title={{ShareTitle == ''?Event.name:ShareTitle}}&image={{ImageTw}}" class="soc-link g" target="_blank"></a>
                        <a href="http://www.twitter.com/share?url={{FullUrl}}&text={{ShareTitle == ''?Event.name:ShareTitle}}" class="soc-link t" target="_blank"></a>
                        <a href="https://vk.com/share.php?url={{FullUrl}}&title={{ShareTitle == ''?Event.name:ShareTitle}}&image={{ImageTw}}" class="soc-link v"  target="_blank"></a>
                        <a href="#" class="soc-link m"></a>
                    </div>
                    <div class="input-groupe-1 less-padd">
                        <div class="rel-wr">
                            <input id="share-inp"  name="shareinp" (input)='onChangeInptitle($event)' type="text" >
                        </div>
                         <label for="share-inp" translate>setting.Message</label>
                    </div>
                    <div class="copy-link">
                        <p class="link">{{FullUrl}}</p>
                        <button class="copy" translate>Copy link</button>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>
<error-cmp #errorCmp></error-cmp>