.cursor-disabled{
    cursor:not-allowed;
}
button:disabled{
    cursor: not-allowed;
}

.iframe-wr
{
    height: 500px;
    background-size: cover;
    background-position: center;
}
.creator-name{
    color:white;
}
.original-price{
    font-size: 25px;
    color: #eb2d64;
    margin-bottom: 20px;
    text-align: center;
    font-family: AvenirLTStdBlack;
}
.count-mylty-value {
    margin-bottom: 0px !important;
    line-height: 60px;
}
/* .slideshow-container{
    overflow: inherit !important
} */
.new-show-datails-wrapp .flex-new-datails .back-page{
    cursor: pointer;
}