.cursor-disabled{
    cursor:not-allowed;
}

.iframe-wr
{
    height: 500px;
    background-size: cover;
    background-position: center;
}

/* .slideshow-container{
    overflow: inherit !important
} */
