.cursor-disabled{
    cursor:not-allowed;
}

.iframe-wr
{
    height: 500px;
    background-size: cover;
    background-position: center;
}
.creator-name{
    color:white;
}
/* .slideshow-container{
    overflow: inherit !important
} */
