<div class="one-event">
    <div class="cover-event" style="background-image: url(../../assets/img/drake.jpg)">
        <div class="icons-vr-t">
            <span class="icon-icon">
                <img src="../../assets/img/live-icon.png" class="img-responsive" alt="">
                <img src="../../assets/img/live-video-icon.svg" class="img-responsive" alt="">
            </span>
        </div>
    </div>
    <div class="white-desc-event tickets-desc">
        <a href="#" class="name-artist">Marilyn Manson</a>
        <p class="when">November 30, 2017</p>
        <p class="where">Madison Square Garden, NY</p>
    </div>
    
</div>