<div class="rotate-xs-wrapper">

  <ng-container *ngFor="let item of messages; let i = index">

      <div *ngIf="item.message_type == 'request' || item.message_type == 'accept' || item.message_type == 'blank' || item.message_type == 'decline'" [ngClass]="{'active':item.id==selectedId && item.message_info?.status != 'time_expired', 'expired':item.message_info?.status === 'time_expired'}" (click)="changeItem(item);" class="one-msg-l-block">
          <div class="name-ava">
              <div class="ava" [ngStyle]="{'background-image': item.sender?'url('+item.sender.image_base64+')':''}"></div>
              <p class="n" translate>{{item.sender?.full_name?item.sender.full_name:'No name'}}</p>
              <p class="hash" translate><span>@</span>{{item.sender?.user_name?item.sender.user_name:'No username'}}</p>
          </div>
          <div  class="descr-side">
              <p class="f">
                  <span [ngClass]="{'active':!item.is_receiver_read}" class="some-t" translate>{{item.message_type?item.message_type:''}} to Perform</span>
                  <span *ngIf="item.created_at" class="when" translate>{{item.created_at| date:'MMM' | translate}}{{item.created_at| date:' d' }}</span>
              </p>
              <p class="name-e">{{item.message_info?.event_info?.name?item.message_info?.event_info.name:''}}</p>
              <p  class="where-when">
                      {{item.message_info?.event_info?.address?item.message_info?.event_info.address:''}}
                  <br>
                  <span translate>{{item.message_info?.event_info?.event_season?item.message_info?.event_info.event_season:'' | titlecase}}</span> {{item.message_info?.event_info?.event_year?item.message_info?.event_info.event_year:''}}

              </p>

              <p *ngIf="item.message_type == 'request' && item.message_info.estimated_price" class="price">
                  <i [innerHTML]="CurrentCurrency"></i>
                  {{item.message_info?.estimated_price?item.message_info.estimated_price:''}}
              </p>
              <p *ngIf="item.message_type == 'accept' && item.message_info.estimated_price" class="price">
                  <i [innerHTML]="CurrentCurrency"></i>
                  {{item.message_info?.estimated_price?item.message_info?.estimated_price:''}}</p>
                  <!-- isExpiresSoonByExpireDate(item.message_info?.expiration_date)=='soon'&&item.message_type == 'request' -->
              <p *ngIf="item.message_info?.status==='expires_soon'" class="expires-soon" translate>Expires<br translate>Soon</p>
              <p *ngIf="item.message_info?.status==='time_expired'" class="expires-soon" translate>Expired</p>

          </div>
      </div>

      <div *ngIf="item.message_type == 'feedback' || item.message_type == 'support'" [ngClass]="{'active':item.id==selectedId}" (click)="changeItem(item,i);" class="one-msg-l-block">
          <div class="name-ava">
              <div class="ava" [ngStyle]="{'background-image': 'url(./../../../../assets/img/ping-sun.png)'}"></div>
              <p class="n" translate>Admin</p>
          </div>
          <div  class="descr-side">
              <p class="f">

                  <span [ngClass]="{'active':!item.is_receiver_read&&item?.reply?.length>0}" class="some-t active" translate>{{item.message_type?item.message_type:'No subject'}}</span>
                  <span *ngIf="item.created_at" class="when">{{item.created_at| date:'MMM' | translate }}{{item.created_at| date:' d' }}</span>
              </p>
              <p *ngIf="item.subject" class="name-e" translate>{{item.subject}}</p>
          </div>
      </div>
  </ng-container>
</div>
