.dropbtn {
    cursor: pointer;
}
header .main-mw .right-side{
    width: 66%;
}
.dropdown-hover-profiles{
    position: relative;
    padding-bottom: 4px;
}
.dropdown-hover-profiles:hover .dropdown-settings-ava {
    display: block; }
    .dropdown-hover-profiles .dropdown-settings-ava {
    position: absolute;
    top: calc(100% + 11px);
    left: 50%;
    background: #fff;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.18);
    border-radius: 5px;
    padding: 15px 0;
    width: 185px;
    transform: translateX(-50%);
    display: none; }
    .dropdown-hover-profiles .dropdown-settings-ava:before {
      content: '';
      display: block;
      position: absolute;
      top: -11px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 12px 12px 12px;
      border-color: transparent transparent #ffffff transparent; }
      .dropdown-hover-profiles .dropdown-settings-ava:after {
        content: '';
        display: block;
        position: absolute;
        top: -11px;
        left: 0;
        width: 100%;
        height: 12px;
       }

      .dropdown-hover-profiles .dropdown-settings-ava .account-link{
        display: block;
        width: 100%;
        padding: 10px 20px 10px 53px;
        background-repeat: no-repeat;
        background-position: top 14px left 20px;
        cursor: pointer;
        transition: 0.2s;
      }
      .dropdown-hover-profiles .dropdown-settings-ava .account-link:hover{
        background-color: #f7f7f7;
      }
      .dropdown-hover-profiles .dropdown-settings-ava .account-link.Fan{
          background-size: 19px;
      }
      .dropdown-hover-profiles .dropdown-settings-ava .account-link.Artist{
        background-size: 19px;
    }
    .dropdown-hover-profiles .dropdown-settings-ava .account-link.Venue{
        background-size: 13px;
        background-position: top 14px left 22px;
    }
    header .main-mw .right-side .flex-menu-items .name-and-ava-wr .name-and-ava .ava{
        background-color: #eb2d64;
    }
      .dropdown-hover-profiles .dropdown-settings-ava .account-link .account-type{
        font-size: 14px;
        color: #000;
        display: block;
        text-transform: capitalize;
        text-align: left;

      }
      .dropdown-hover-profiles .dropdown-settings-ava .account-link.active{
        background-color: #f7f7f7;
      }
      .dropdown-hover-profiles .dropdown-settings-ava .account-link.active .account-type{
          color: #eb2d64;
      }
      
    .dropdown-hover-profiles .dropdown-settings-ava .account-link .account-name{
        font-size: 14px;
        color: #eb2d64;
        display: block;
        text-align: left;
        text-transform: inherit;
      }

    