.vertical-line {
  width: 1px;
  height: 50px;
  opacity: 0.1;
  border-radius: 0.5px;
  background-color: #ffffff;
}
.logined-wr{
  display: flex;
  min-width: 150px;
  justify-content: flex-end;
}
.calendar-wr {
  width: 39px;
  height: 39px;
  object-fit: contain;
  border-radius: 50%;
  background-color: #d2355d;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 5px;
}
.calendar-wr .fa {
  color: white;
  font-size: 19px;
}
.dropbtn {
    cursor: pointer;
}
header .main-mw .right-side{
    width: 74%;
}
.dropdown-hover-profiles{
    position: relative;
    padding-bottom: 4px;
}
header .main-mw .right-side .search-inp button{
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: incet(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.material-icons{
  font-size: 15px;

}
.flexed-lng{
  display: flex!important;
  align-items: center;

}
.dropdown-hover-profiles:hover .dropdown-settings-ava {
    display: block; }
    .dropdown-hover-profiles .dropdown-settings-ava {
    position: absolute;
    top: calc(100% + 11px);
    left: 50%;
    background: #fff;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.18);
    border-radius: 5px;
    padding: 15px 0;
    width: 185px;
    transform: translateX(-50%);
    display: none; }
    .dropdown-hover-profiles .dropdown-settings-ava:before {
      content: '';
      display: block;
      position: absolute;
      top: -11px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 12px 12px 12px;
      border-color: transparent transparent #ffffff transparent; }
      .dropdown-hover-profiles .dropdown-settings-ava:after {
        content: '';
        display: block;
        position: absolute;
        top: -11px;
        left: 0;
        width: 100%;
        height: 12px;
       }

      .dropdown-hover-profiles .dropdown-settings-ava .account-link{
        display: block;
        width: 100%;
        padding: 10px 20px 10px 53px;
        background-repeat: no-repeat;
        background-position: top 14px left 20px;
        cursor: pointer;
        transition: 0.2s;
      }
      .dropdown-hover-profiles .dropdown-settings-ava .account-link:hover{
        background-color: #f7f7f7;
      }
      .dropdown-hover-profiles .dropdown-settings-ava .account-link.Fan{
          background-size: 19px;
      }
      .dropdown-hover-profiles .dropdown-settings-ava .account-link.Artist{
        background-size: 19px;
    }
    .dropdown-hover-profiles .dropdown-settings-ava .account-link.Venue{
        background-size: 15px;
        background-position: top 14px left 22px;
    }
    header .main-mw .right-side .flex-menu-items .name-and-ava-wr .name-and-ava .ava{
        background-color: #eb2d64;
    }
      .dropdown-hover-profiles .dropdown-settings-ava .account-link .account-type{
        font-size: 14px;
        color: #000;
        display: block;
        text-transform: capitalize;
        text-align: left;

      }
      .dropdown-hover-profiles .dropdown-settings-ava .account-link.active{
        background-color: #f7f7f7;
      }
      .dropdown-hover-profiles .dropdown-settings-ava .account-link.active .account-type{
          color: #eb2d64;
      }

    .dropdown-hover-profiles .dropdown-settings-ava .account-link .account-name{
        font-size: 14px;
        color: #eb2d64;
        display: block;
        text-align: left;
        text-transform: inherit;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }



      .dropdown-hover-profiles .dropdown-items-wr{
        position: relative;
        max-height: 500px;
        overflow: auto;
      }
      .dropdown-hover-profiles .dropdown-items-wr::-webkit-scrollbar {
        background: #fff;
        width: 5px;
    }

    .dropdown-hover-profiles .dropdown-items-wr::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.1);
        border-radius: 2.5px;
        cursor: pointer;
    }

    header .main-mw .right-side .flex-menu-items .name-and-ava-wr .dropdown-settings-ava .dropdown-items-wr span.dog{
        display: inline;

    color: #eb2d64;
    font-size: 14px;
    }

    @media (max-width: 1199px) {
      header .main-mw .right-side{
        width: 100%;
      }
    }

    @media (max-width: 900px) {
      .logined-wr{
        min-width: 125px;
      }
      .vertical-line{
        display: none;
      }
    }
    @media (max-width: 815px) {
      .logined-wr{
        min-width: 115px;
      }
      header .main-mw .left-side .logo-one{
        margin-right: 10px;
      }
      .calendar-wr{
        flex-shrink: 0;
      }
      header .main-mw .left-side .logo-wr {
        width: 63px;
     }
    }

@media (max-width: 767px) {
  .calendar-wr{
    position: absolute;
    right: 123px;
    top: 15px;
  }

  header .main-mw .right-side {
    width: auto;
  }

  .dropdown-hover-profiles:hover .dropdown-settings-ava {
    left: auto;
    transform: translateX(0);
    right: 0;
  }


  .dropdown-hover-profiles:hover .dropdown-settings-ava:before {
    left: auto;
    right: 0;
    transform: translateX(-85%);
  }
  header .main-mw .right-side .search-inp{
    display: none;
  }
  header .main-mw .right-side .flex-menu-items ul li.visible-xs{
    width:100%;
  }
  header .main-mw .right-side .collapse .flex-menu-items ul{
    flex-wrap: wrap;
    height: auto!important;
  }
  header .main-mw .right-side .flex-menu-items ul li.visible-xs .search-inp{
    display:block;
  }
  header .main-mw .right-side .search-inp .inp-style-1{
    margin-bottom: 0;
  }
  header .main-mw .right-side .search-inp{
    padding-top: 10px;
  }
}

@media (max-width: 479px) {
  header .main-mw .right-side {
    margin: 0 -5px;
  }
  .one-checkbox {
      margin-bottom: 15px;
   }
   .one-checkbox p {
      font-size: 12px;
      padding-left: 6px;
   }
   .one-checkbox .check-style label {
      width: 18px;
      height: 18px;
   }
   .nav-holder-3 .wrapp-for-filter .groupe-form .flex-genres .one-checkbox label:before {
      width: 15px;
      top: 3px;
      right: 0px;
   }
   .dropdown-hover-profiles:hover .dropdown-settings-ava:before {
    transform: translateX(-50%);
   }

}

@media (max-width: 359px) {
  header .main-mw .right-side {
    margin: 0 -10px;
  }
  .one-checkbox p {
    font-size: 11px;
  }
}
