<section class="main-router-outlet">
    <!---->
    <section class="main_content">
        <div class="for-flex-height">

             <div class="nav-holder-3" id="nav-holder">
                    <div class="wrapp-for-filter">
                        <form (ngSubmit)="ShowSearchResults()" #SearchForm="ngForm">
                            <input type="text" class="inp-style-1" placeholder="Search" autocomplete="off" [ngModel]="SearchParams.text" (ngModelChange)="SearchParams.text = $event" name="search-text" id='search-text'>
                            <div class="groupe-form">
                                <p class="head-input-groupe">Date</p>
                                <div class="add-day">
                                    <input type="text"
                                    readonly style="background-color:white; cursor: pointer;"
                                    class="for-data-picker"
                                    [minDate]="minDate"
                                    #dp="bsDatepicker"
                                    dateDisabled = "{date:new Date(); mode:disable;}"
                                    bsDatepicker [(bsValue)]="bsValue_start"
                                    (bsValueChange)="logChanged($event)">
                                </div>
                                <div class="add-day">
                                    <input type="text"
                                    readonly style="background-color:white; cursor: pointer;"
                                    class="for-data-picker"
                                    [minDate]="bsValue_start"
                                    #dp="bsDatepicker"
                                    dateDisabled = "{date:new Date(); mode:disable;}"
                                    bsDatepicker [(bsValue)]="bsValue_end"
                                    (bsValueChange)="logChanged($event)">
                                </div>
                            </div>
        
                            <div class="groupe-form">
                                <p class="head-input-groupe">Location</p>
                                <div class="location-wr">
                                    <div (click)="aboutOpenMapModal()" class="mark">
                                        <agm-map  (mapClick)="mapClick($event)" [latitude]="mapLat" [longitude]="mapLng"> <agm-marker [visible]="isMarkerVisible" [latitude]="markerLat" [longitude]="markerLng"></agm-marker></agm-map>
                                    </div>
                                    <input type="text" class="location-inp" name="search-params-address" autocorrect="off" autocapitalize="off" spellcheck="off" placeholder=""  #search id="searchAddress">
                                </div>
                            </div>
        
                            <div class="groupe-form">
                                <p class="head-input-groupe">Distance</p>
                                <div class="for-range-slider">
                                    <input type="text" class="current-slider distance-slider" value="">
                                </div>
                            </div>
                            <div class="groupe-form">
                                <p class="head-input-groupe">Process of funding</p>
                                <div class="flex-genres">
                                        <div class="one-checkbox" >
                                            <div class="check-style">
                                                <input type="checkbox" [ngModel]="SearchParams.is_active"  (ngModelChange)="SearchParams.is_active = $event" class="checkbox" name='is-active-checkbox'  id='is-active-checkbox'>
                                                <label for="is-active-checkbox"></label>
                                            </div>
                                            <p>Is active</p>
                                        </div> 
                                </div>
                            </div>
                            <div class="groupe-form">
                                <p class="head-input-groupe">Venue type</p>
                                <select name="selectSize" class="form-control" [ngModel]="SearchParams.size" (ngModelChange)="SearchParams.size = $event">
                                    <option *ngFor="let item of VenueTypes" [value]="item.value">{{item.name}}</option>
                                </select>
                            </div>
                            <div class="groupe-form">
                                <p class="head-input-groupe">Ticket types</p>
                                <div class="flex-genres">
                                    <ng-container *ngFor="let item of TicketTypes; let i = index">
                                        <div class="one-checkbox" >
                                            <div class="check-style">
                                                <input type="checkbox"  [ngModel]="item.checked" (ngModelChange)="item.checked = $event" class="checkbox" name="ticket-{{i}}" id='checkbox-ticket-{{i}}'>
                                                <label for='checkbox-ticket-{{i}}'></label>
                                            </div>
                                            <p>{{item.name}}</p>
                                        </div> 
                                    </ng-container>
                                </div>
                            </div>
                            <div class="groupe-form">
                                <p class="head-input-groupe">Genres</p>
                                <div class="flex-genres">
                                    <ng-container *ngFor="let item of Genres; let i = index">
                                        <div *ngIf="item.show" class="one-checkbox" >
                                            <div class="check-style">
                                                <input type="checkbox"  [ngModel]="item.checked" (ngModelChange)="item.checked = $event" class="checkbox" name="genre-{{i}}" id='checkbox-genre-{{i}}'>
                                                <label for='checkbox-genre-{{i}}'></label>
                                            </div>
                                            <p>{{item.genre_show}}</p>
                                        </div> 
                                    </ng-container>
                                </div>
                                <p class="more" *ngIf="!seeMore" (click)="seeMoreGenres()"><span>See more</span></p>
                            </div>
                            <div class="groupe-form">
                                <button type="submit"  class="butt-style-1"><span>Search</span></button>
                            </div>
                        </form>
                    </div>
                </div>
            <section class="second-router-outlet">
                
               
                
                <div class="mask-nav-3"></div>
                
                <div class="shows-main-wrapp grey-bg mainWrapper">
                    <div class="main-mw">
                        <div class="head-shows">
                            <button class="ham-ham nav-button">
                                <div class="ham"></div>
                                <div class="ham"></div>
                                <div class="ham"></div>
                            </button>
                            <a class="ham-ham at-map">
                                
                            </a>
                            <h1>Shows</h1>
                        </div>
                        <div class="flex-shows">
                            <div class="one-show-wr" *ngFor="let item of Events" (click)="router.navigate(['/system','event',item.id])">
                                <div class="one-show">
                                    <div class="img-show" style="background-image: url(../../assets/img/drake.jpg)"></div>
                                    <div class="description">
                                        <div class="top-info">
                                            <div class="side side-1">
                                                <!--весртка красной фиговины-->
                                                <div *ngIf="item.is_active" class="sale">
                                                        <p>BUY 1<br>GET 1<br>TICKET</p>
                                                </div>
                                                <div *ngIf="!item.is_active" class="funded">
                                                    <!-- тут ебошим высоту, скок собрали баблища-->
                                                    <div class="complete" style="height: 68%"></div>
                                                    <p>12 days<br>to go<br><span>68%<br>funded</span></p>
                                                </div>
        
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="new-shows-desc">
                                    <a class="name-show">{{item.name}}</a>
                                    <p class="name-artist">Katy Parry</p>
                                    <div class="where">23 FEB, 2017 - Madison Square Garden - NY</div>
                                </div>
                            </div>
                            
                           
                        </div>
                    </div>
                </div>

                <div class="modal fade modal-send-request map-1-modal" id="modal-map">
                    <div class="modal-dialog">
                        <div class="modal-body">
                            <h6 class="head-m-p-a">Location</h6>
                            <span class="closee-modal" data-dismiss="modal"></span>
                            <div class="for-map-init-modal-1">
                                    <agm-map  style="height:100%" [latitude]="mapCoords.lat" [longitude]="mapCoords.lng">
                                            <agm-marker (dragEnd)="aboutDragMarker($event)" [markerDraggable] = "true" [latitude]="mapCoords.lat" [longitude]="mapCoords.lng"></agm-marker>
                                    </agm-map>
                            </div>
                        </div>
                    </div>
                </div>


            </section>
        </div>
   
        
    </section>

    
    
</section>
        





        
