<section class="main_content">
    <div class="for-flex-height">
        
        <div class="nav-holder-3 scroller" id="nav-holder">
            <div class="wrapp-for-filter">
                <form>
                    <input type="text" class="inp-style-1" name="search-params-text" [ngModel]="SearchParams.text" (ngModelChange)="SearchParams.text = $event" placeholder="Search">
                    <div class="groupe-form">
                        <p class="head-input-groupe">Account type</p>
                        <select class="date-picker-inp" name="search-params-type" [ngModel]="SearchParams.type" (ngModelChange)="SearchParams.type = $event">
                            <option *ngFor="let item of AccountTypes" [value]="item.value">{{item.name}}</option>
                        </select>
                    </div>
                    <div [ngStyle]="{'display': (SearchParams.type && SearchParams.type != Roles.Fan)?'block':'none'}" class="groupe-form">
                        <p class="head-input-groupe">Address</p>
                        <input type="text" class="date-picker-inp" name="search-params-address" [ngModel]="SearchParams.address" (ngModelChange)="SearchParams.address = $event">
                    </div>
                    <div [ngStyle]="{'display': (SearchParams.type && SearchParams.type != Roles.Fan)?'block':'none'}" class="groupe-form">
                        <p class="head-input-groupe">Price</p>
                        <div class="for-range-slider">
                            <input type="text" class="current-slider price-slider" value="">
                        </div>
                    </div>
                    <div [ngStyle]="{'display': (SearchParams.type && SearchParams.type == Roles.Venue)?'block':'none'}" class="groupe-form">
                        <p class="head-input-groupe">Capacity</p>
                        <div class="for-range-slider">
                            <input type="text" class="current-slider capacity-slider" value="">
                        </div>
                    </div>
                    <div class="groupe-form">
                        <button (click)="GetAccounts()" class="butt-style-1"><span>Search</span></button>
                    </div>
                    <!-- <div class="groupe-form">
                        <p class="head-input-groupe">Genre</p>
                        <div class="flex-genres">
                            <div class="one-checkbox">
                                <div class="check-style">
                                    <input type="checkbox" class="checkbox" name="" id="checkbox-1">
                                    <label for="checkbox-1"></label>
                                </div>
                                <p>hip hop</p>
                            </div>
                        </div>
                        <p class="more"><span>See more</span></p>
                    </div> -->
                </form>
            </div>
        </div>
        <section class="second-router-outlet">
            
            
            
            <div class="mask-nav-3"></div>
            
            <div class="shows-main-wrapp mainWrapper">
                <div class="main-mw">
                    <div class="head-shows">
                        <button class="ham-ham nav-button">
                            <div class="ham"></div>
                            <div class="ham"></div>
                            <div class="ham"></div>
                        </button>
                        <a href="#" class="ham-ham at-map">
                            
                        </a>
                        <h1>Shows</h1>
                    </div>
                    <div class="flex-shows">
                        <div *ngFor="let item of Accounts" class="one-show-wr">
                            <!--если продается то класс buy-ticket добавляем-->
                            <div class="one-show buy-ticket" [routerLink]="['/system','profile',item.id]">
                                <div class="img-show" [ngStyle]="{'background-image':'url(' + (Images[item.id]?Images[item.id]:'../../assets/img/drake.jpg') + ')'}"></div>
                                <div class="description">
                                    <div class="top-info">
                                        <div class="side side-1">
                                            <!--весртка красной фиговины-->
                                            <div class="sale">
                                                <p>BUY 1<br>GET 1<br>TICKET</p>
                                            </div>
                                        </div>
                                        <div class="side side-2">
                                            <img class="img-responsive" src="../../assets/img/arrow-cube.png" alt="">
                                        </div>
                                    </div>
                                    <div class="bott-info">
                                        <p class="name">{{item.user_name}}</p>
                                        <p></p><p></p>
                                        <!--<p class="when">SAT, DEC 8, 2017 - MADISON SQUARE GARDEN - NY</p>
                                        <p class="genre">RAP/R&B</p> -->
                                        <!--кнопка. хз чито она делает-->
                                        <!--<span class="butt-by-or-f">buy ticket</span>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="modal fade modal-slider" id="modal-slider">
        <div class="modal-dialog">
            <div class="modal-body">
                <div class="rel-modal">
                    <div class="close-modal" data-dismiss="modal"></div>
                    <div class="slider-padd">
                        <div class="slider-modal-wr">
                            <div class="one-slide">
                                <h4><span>Share</span> shows you like <span>with friends</span></h4>
                            </div>
                            <div class="one-slide">
                                <h4>Watch shows in <span>360°</span> virtual reality devices</h4>
                            </div>
                            <div class="one-slide">
                                <h4>Crowdfund <span>shows</span> of your favorite artists <span>in your hometown</span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="flex-buttons-modal">
                        <div class="one-butt-wr">
                            <div class="style-b-op">
                                <span data-dismiss="modal">Sign up later</span>
                            </div>
                        </div>
                        <div class="one-butt-wr">
                            <div class="style-b-op">
                                <a href="#">Sign up</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
        
