<section class="main-router-outlet">
    <!---->
    <section class="main_content">
        <div class="for-flex-height">

             <div class="nav-holder-3" id="nav-holder">
                    <div class="wrapp-for-filter">
                        <form>
                            <input type="text" class="inp-style-1" name="search-params-text" [ngModel]="SearchParams.text" (ngModelChange)="SearchParams.text = $event" placeholder="Search">
                            <div class="groupe-form">
                                <p class="head-input-groupe">Date</p>
                                <div class="wrapp-for-triangle">
                                    <input type="text" class="date-picker-inp">
                                </div>
                            </div>
                            <div class="groupe-form">
                                <p class="head-input-groupe">Location</p>
                                <div class="location-wr">
                                    <div class="mark"></div>
                                    <input type="text" class="location-inp" name="search-params-address" autocorrect="off" autocapitalize="off" spellcheck="off" placeholder=""  #search>
                                </div>
                            </div>
                            <div class="groupe-form">
                                <p class="head-input-groupe">Distance</p>
                                <div class="for-range-slider">
                                    <input type="text" class="current-slider" value="">
                                </div>
                            </div>
                            <div class="groupe-form">
                                <p class="head-input-groupe">Genre</p>
                                <div class="flex-genres">
                                    <div class="one-checkbox">
                                        <div class="check-style">
                                            <input type="checkbox" class="checkbox" name="" id="checkbox-1">
                                            <label for="checkbox-1"></label>
                                        </div>
                                        <p>hip hop</p>
                                    </div>
                                    <div class="one-checkbox">
                                        <div class="check-style">
                                            <input type="checkbox" class="checkbox" name="" id="checkbox-2">
                                            <label for="checkbox-2"></label>
                                        </div>
                                        <p>hip hop</p>
                                    </div>
                                    <div class="one-checkbox">
                                        <div class="check-style">
                                            <input type="checkbox" class="checkbox" name="" id="checkbox-3">
                                            <label for="checkbox-3"></label>
                                        </div>
                                        <p>hip hop</p>
                                    </div>
                                    <div class="one-checkbox">
                                        <div class="check-style">
                                            <input type="checkbox" class="checkbox" name="" id="checkbox-4">
                                            <label for="checkbox-4"></label>
                                        </div>
                                        <p>hip hop</p>
                                    </div>
                                    <div class="one-checkbox">
                                        <div class="check-style">
                                            <input type="checkbox" class="checkbox" name="" id="checkbox-5">
                                            <label for="checkbox-5"></label>
                                        </div>
                                        <p>hip hop</p>
                                    </div>
                                    <div class="one-checkbox">
                                        <div class="check-style">
                                            <input type="checkbox" class="checkbox" name="" id="checkbox-6">
                                            <label for="checkbox-6"></label>
                                        </div>
                                        <p>hip hop</p>
                                    </div>
                                </div>
                                <p class="more"><span>See more</span></p>
                            </div>
                            <div class="groupe-form">
                                <p class="head-input-groupe">Ticket type</p>
                                <div class="flex-radio">
                                    <div class="one-radio">
                                        <div class="radio-style">
                                            <input type="radio" class="radio-b" id="radio-1"  name="group1" value="VR" checked>
                                            <label for="radio-1"></label>
                                        </div>
                                        <p>VR</p>
                                    </div>
                                    <div class="one-radio">
                                        <div class="radio-style">
                                            <input type="radio" class="radio-b" id="radio-2" name="group1" value="Attend">
                                            <label for="radio-2"></label>
                                        </div>
                                        <p>Attend</p>
                                    </div>
                                </div>
                            
                            </div>
                            <div class="groupe-form">
                                <p class="head-input-groupe">Size</p>
                                <select class="form-control">
                                    <option>Size 1</option>
                                    <option>Size 2</option>
                                    <option>Size 3</option>
                                    <option>Size 4</option>
                                </select>
                            </div>
                        </form>
                        
                    </div>
                </div>
            <section class="second-router-outlet">
                
               
                
                <div class="mask-nav-3"></div>
                
                <div class="shows-main-wrapp grey-bg mainWrapper">
                    <div class="main-mw">
                        <div class="head-shows">
                            <button class="ham-ham nav-button">
                                <div class="ham"></div>
                                <div class="ham"></div>
                                <div class="ham"></div>
                            </button>
                            <a href="#" class="ham-ham at-map">
                                
                            </a>
                            <h1>Shows</h1>
                        </div>
                        <div class="flex-shows">
                            <div class="one-show-wr">
                               
                                <div class="one-show">
                                    <div class="img-show" style="background-image: url(../../assets/img/drake.jpg)"></div>
                                    <div class="description">
                                        <div class="top-info">
                                            <div class="side side-1">
                                                <!--весртка красной фиговины-->
                                                <div class="sale">
                                                    <p>BUY 1<br>GET 1<br>TICKET</p>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="new-shows-desc">
                                    <a href="#" class="name-show">Part of me</a>
                                    <p class="name-artist">Katy Parry</p>
                                    <div class="where">23 FEB, 2017 - Madison Square Garden - NY</div>
                                </div>
                            </div>
                           
                            <div class="one-show-wr">
                                <div class="one-show">
                                    <div class="img-show" style="background-image: url(../../assets/img/drake.jpg)"></div>
                                    <div class="description">
                                        <div class="top-info">
                                            <div class="side side-1">
                                                <div class="funded">
                                                    <div class="complete" style="height: 68%"></div>
                                                    <p>12 days<br>to go<br><span>68%<br>funded</span></p>
                                                </div>
                                            </div>
                                    
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="new-shows-desc">
                                    <a href="#" class="name-show">Part of me</a>
                                    <p class="name-artist">Katy Parry</p>
                                    <div class="where">23 FEB, 2017 - Madison Square Garden - NY</div>
                                </div>
                            </div>
                            <div class="one-show-wr">
                                <div class="one-show">
                                    <div class="img-show" style="background-image: url(../../assets/img/drake.jpg)"></div>
                                    <div class="description">
                                        <div class="top-info">
                                            <div class="side side-1">
                                                <div class="funded">
                                                    <div class="complete" style="height: 68%"></div>
                                                    <p>12 days<br>to go<br><span>68%<br>funded</span></p>
                                                </div>
                                            </div>
                                    
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="new-shows-desc">
                                    <a href="#" class="name-show">Part of me</a>
                                    <p class="name-artist">Katy Parry</p>
                                    <div class="where">23 FEB, 2017 - Madison Square Garden - NY</div>
                                </div>
                            </div>
                            <div class="one-show-wr">
                                <div class="one-show">
                                    <div class="img-show" style="background-image: url(../../assets/img/drake.jpg)"></div>
                                    <div class="description">
                                        <div class="top-info">
                                            <div class="side side-1">
                                                <div class="funded">
                                                    <div class="complete" style="height: 68%"></div>
                                                    <p>12 days<br>to go<br><span>68%<br>funded</span></p>
                                                </div>
                                            </div>
                                    
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="new-shows-desc">
                                    <a href="#" class="name-show">Part of me</a>
                                    <p class="name-artist">Katy Parry</p>
                                    <div class="where">23 FEB, 2017 - Madison Square Garden - NY</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
   
    </section>
    
</section>
        





        
