<!-- <div class="admin_content"> -->
    <div class="support_answers_wrap">
        <div class="support_answers_block">
            <h2 class="admin_table_zag">Active answers</h2>
            <div class="support_answers">
                <div class="search">
                    <input type="text" (input)="searchTemplate($event)" placeholder="Search">
                </div>

                <div *ngFor="let temp of checkedTemplates" class="answer_item">
                    <div class="answer_head">
                        <p>{{temp.subject}}</p>
                        <span (click)="OpenTemplate(temp)"><img src="./../../../../assets/img/admin/answer_edit.png" alt=""></span>
                        <span (click)="DeleteTemplate(temp.id)"><img src="./../../../../assets/img/admin/answer_delete.png" alt=""></span>
                    </div>
                    <div class="answer_body">
                        <p>{{temp.message}}</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="answer_form_block">
            <h2 class="admin_table_zag">{{isEdit?'Edit':'Add new'}} answer</h2>
            <div class="answer_form">
                <div class="answer_input">
                    <label>Subject</label>
                    <input [disabled]="!isSuperUser" [(ngModel)]="openTemplate.subject" type="text">
                </div>
                <div class="answer_input">
                    <label>Answer</label>
                    <textarea [disabled]="!isSuperUser" [(ngModel)]="openTemplate.message"></textarea>
                </div>
                <!-- <div class="answer_file">
                    <span>Attach file</span>
                    <input type="file" class="hidden" id="answer_attach_file">
                </div> -->
                <div class="button-div">
                    <div class="answer_button">
                        <button [disabled]="!openTemplate.subject && !openTemplate.message" (click)="updateTemplate()" class="butt-style-1">
                            <span>{{isEdit?'Edit':'Add'}}</span>
                        </button>
                    </div>
                    <div class="answer_button">
                        <button [disabled]="!openTemplate.subject && !openTemplate.message" (click)="clearTemplate()" class="butt-style-1">
                            <span>Cancel</span>
                        </button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
<!-- </div> -->