.button-div
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.answer_button>.butt-style-1[disabled]{
    cursor: not-allowed;
}
.answer_button button span{
    padding: 5px 0!important;
}