<div class="create-event-body-1">
    <div class="main-mw">
        <form [formGroup]="aboutForm">
        <div class="create-event-body">
            <div class="head-ev-body">
                <h2>About</h2>
                <p>Please fill in all required fields <br>to proceed to the Next Step</p>
            </div>
            <div class="flex-body-1">
                <div class="side">
                    <div class="input-groupe-1">
                        
                        <input id="inp-create-1" [(ngModel)]="Artist.user_name" formControlName="user_name" name="" type="text">
                        <label for="inp-create-1">Username<span>*</span></label>
                    </div>
                    <div class="input-groupe-1">
                        <input id="inp-create-2"  [(ngModel)]="Artist.display_name" formControlName="display_name" name="" type="text">
                        <label for="inp-create-2">Full Name<span>*</span></label>
                        
                    </div>
                    <div class="input-groupe-1">
                        <input id="inp-create-3" [(ngModel)]="Artist.stage_name" formControlName="stage_name" name="" type="text">
                        <label for="inp-create-3">Stage name</label>
                        
                    </div>
                </div>
                <div class="side">
                    <div class="input-groupe-1">
                        
                        <input id="inp-create-4" [(ngModel)]="Artist.artist_email" formControlName="artist_email" name="" type="text">
                        <label for="inp-create-4">Email Address<span>*</span></label>
                    </div>
                    <div class="input-groupe-1">
                        
                        <input id="inp-create-5" [(ngModel)]="Artist.manager_name" formControlName="manager_name" name="" type="text">
                        <label for="inp-create-5">Manager Name</label>
                    </div>
                    
                    <div class="input-groupe-1 whithout-label">
                        <span class="head-groupe">Genre</span>
                        <div class="flex-genres">
                            <ng-container *ngFor="let item of genres; let i = index">
                                <span *ngIf="item.checked"  class="one-genre">{{item.genre_show}}</span>
                            </ng-container>
                            <div class="add-to-genres">
                                
                                <span class="plus" (click)="showMoreGenres = !showMoreGenres"></span>
                                <!--клик на плюсик добавляем absgenres-pick-wr класс showed-->
                                <div class="absgenres-pick-wr" [ngClass]="{showed:showMoreGenres}">
                                    <input class="search" (input)="GengeSearch($event.target.value)" type="text" placeholder="Search">
                                    <div class="flex-genres for-pick">
                                        <!--Добавляем класс picked-->
                                        <ng-container *ngFor="let item of genres; let i = index">
                                            <span *ngIf="item.show" (click)="item.checked = !item.checked" class="one-genre" [ngClass]="{picked:item.checked}">{{item.genre_show}}</span>
                                        </ng-container>
        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="side">
                    <div class="input-groupe-1 whithout-label small-textarea max-500">
                        
                        <textarea maxlength="500" [(ngModel)]="Artist.about" formControlName="about" id="inp-create-9"></textarea>
                        <label for="inp-create-9" class="head-groupe">Short Description<span>*</span></label>
                        <span class="max-count">500 max</span>
                    </div>
                    
                </div>
            </div>
            <div class="scroll-wrapp">
                <div class="circle-scroll" (click)="artistFromAbout()"></div>
            </div>
            
        </div>
        </form>
    </div>
</div>

