<section class="second-router-outlet">
    <div class="messages-main-wrapp">
        <div class="main-mw">
            <div class="flex-massages-wrapp">


                <div class="left-s">
                    <!--задаем класс active при клике-->
                    <div *ngFor="let item of messages; let i = index" [ngClass]="{'active':item.id==idCurMsg}" (click)="idCurMsg=item.id" class="one-msg-l-block active">
                        <div class="name-ava">
                            <div class="ava" style="background-image: url(../../assets/img/drake.jpg)"></div>
                            <p class="n">Dylan Davis</p>
                            <p class="hash"><span>@</span>{{item.message_info.event_info.tagline}}</p>
                        </div>
                        <div class="descr-side">
                            <p class="f">
                                <!--задаем класс active если нужен кружочек. нахуй он всрался - хз-->
                                <span *ngIf="!item.is_read" class="some-t active">{{item.message_type}} to Perform</span>
                                <span class="when">{{item.message_info.created_at | date:'MMM d' }}</span>
                            </p>
                            <p class="name-e">{{item.message_info.event_info.name}}</p>
                            <p class="where-when">
                                    {{item.message_info.event_info.address}}
                                <br>
                                {{item.message_info.event_info.event_season | titlecase}} {{item.message_info.event_info.event_year}}

                            </p>
                            
                            <p *ngIf="item.message_type == 'request'" class="price">${{item.message_info.estimated_price}}</p>
                            <p *ngIf="item.message_type == 'accept'" class="price">${{item.message_info.price }}</p>
                            <p *ngIf="isExpiresSoon(item.message_info.created_at, item.message_info.time_frame)=='soon'" class="expires-soon">Expires<br>Soon</p>
                        </div>
                    </div>
                    
                    
                </div>









                <!--вместо дива может быть форма-->
                <div class="right-s">
                    <div *ngIf="openMessage.id" class="some-request-text-wrapper">
                        <div class="block-info f-b">
                            <span class="some-t">{{openMessage.message_type}} to Perform</span>
                            <span class="when">{{openMessage.message_info.created_at | date:'MMM d' }}</span>
                        </div>
                        <div class="block-info s-b">
                            <div class="ava" style="background-image: url(../../assets/img/drake.jpg)"></div>
                            <div class="name-hash">
                                <p class="n">Dylan Davis</p>
                                <p class="hash"><span>@</span>papapa</p>
                            </div>
                            
                        </div>
                        <div class="block-info t-b">
                            <p class="name-event">{{openMessage.message_info.event_info.name}}</p>
                            <p class="descr">{{openMessage.message_info.event_info.description | titlecase}}</p>
                            <p class="fot-edit">{{openMessage.message_info.event_info.event_season | titlecase}} {{openMessage.message_info.event_info.event_year}}, {{openMessage.message_info.event_info.event_time | titlecase}}, {{openMessage.message_info.event_info.event_length}} Hours
                                <img src="../../assets/img/edit-img.png"  class="img-responsive for-edit-img" alt="">
                            </p>
                            <input class="form-control" #drp="bsDaterangepicker" bsDaterangepicker [bsConfig]="bsConfig" 
                            [minDate]="minDate" [maxDate]="maxDate" [(ngModel)]="bsRangeValue">

                            
                            <!--появлется если нажать на верхнюю картинку for-edit-img-->
                            <!-- <div *ngIf="isEditShow" class="selects-wrapper">
                                <div class="flex-input-groupes">
                                    <div class="input-groupe-1">
                                        <select [(ngModel)]="openMessage.message_info.event_info.event_season" id="inp-create-5">
                                            <option>spring</option>
                                            <option>summer</option>
                                            <option>autumn</option>
                                            <option>winter</option>
                                    
                                        </select>
                                        <label for="inp-create-5">Event Date</label>
                                    </div>
                                    <div class="input-groupe-1">
                                        <select id="inp-create-6">
                                            <option>2018</option>
                                            <option>2019</option>
                                            <option>2020</option>
                                            <option>2021</option>
                                            <option>2022</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="flex-input-groupes">
                                    <div class="input-groupe-1">
                                        <select id="inp-create-7">
                                            <option>morning</option>
                                            <option>afternoon</option>
                                            <option>evening</option>
                                        </select>
                                        <label for="inp-create-7">Time Range</label>
                                    </div>
                                    <div class="input-groupe-1">
                                        <select id="inp-create-8">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>

                                        </select>
                                        <label for="inp-create-8">Event Length</label>
                                    </div>
                                </div>
                            </div> -->
                            <!--/появлется если нажать на верхнюю картинку for-edit-img-->
                            
                            
                            
                            <p class="desc-for-edit">(You can pick the dates you are available to perform)</p>
                            <p *ngIf="openMessage.message_info.event_info.is_crowdfunding_event" class="event-type">Crowdfunded Event</p>
                        </div>
                        <div class="block-info fourth-b">
                            <p class="fot-edit">
                                Price to Perform <span> $20,000</span>
                                <img src="../../assets/img/edit-img.png" (click)="isEditPrice = true" class="img-responsive for-edit-img" alt="">
                            </p>
                            
                            
                            <!--поялвляется если нажать на картинку "for-edit-img"-->
                            <div *ngIf="isEditPrice" class="flex-price-change">
                                <p class="your-price">Change price</p>
                                <div class="rel-dog">
                                    <span>$</span>
                                    <input [(ngModel)]="changePrice" class="inp-style-2" type="text">
                                </div>
                            </div>
                            <!--/поялвляется если нажать на картинку "for-edit-img"-->
                            
                            
                            <p class="desc-for-edit">You can change the Price to Perform</p>
                        </div>
                        <div class="block-info fifth-b">
                            <p class="will-expire">This request will expire on {{ getExpireDate(openMessage.created_at, openMessage.message_info.time_frame) | date }}</p>
                        </div>
                        <div class="block-info sixth-b">
                            <div class="input-groupe-1 whithout-label small-textarea max-500">
                                <textarea disabled [value]="openMessage.message_info.message"  id="inp-media-venue-2"></textarea>
                                <label for="inp-media-venue-2" class="head-groupe">Personal Message</label>
                            </div>
                            <div class="flex-buttons">
                                <div class="accept-wr">
                                    <button class="butt-style-1" type="submit">
                                        <span (click)="acceptRequest()">Accept</span>
                                    </button>
                                </div>
                                <div class="decline-wr">
                                    <button class="decline">
                                        <span>Decline</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="modal fade modal-slider" id="modal-slider">
    <div class="modal-dialog">
        <div class="modal-body">
            <div class="rel-modal">
                <div class="close-modal" data-dismiss="modal"></div>
                <div class="slider-padd">
                    <div class="slider-modal-wr">
                        <div class="one-slide">
                            <h4><span>Share</span> shows you like <span>with friends</span></h4>
                        </div>
                        <div class="one-slide">
                            <h4>Watch shows in <span>360°</span> virtual reality devices</h4>
                        </div>
                        <div class="one-slide">
                            <h4>Crowdfund <span>shows</span> of your favorite artists <span>in your hometown</span></h4>
                        </div>
                    </div>
                </div>
                <div class="flex-buttons-modal">
                    <div class="one-butt-wr">
                        <div class="style-b-op">
                            <span data-dismiss="modal">Sign up later</span>
                        </div>
                    </div>
                    <div class="one-butt-wr">
                        <div class="style-b-op">
                            <a href="#">Sign up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>