.empty-info{
    position: absolute;
    padding-top:500px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.where-when{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
}
.messages-main-wrapp .flex-massages-wrapp .left-s .one-msg-l-block .descr-side{
    min-width: 0;
}
.messages-main-wrapp .flex-massages-wrapp{
    min-height: calc(100vh - 84px);
}