<app-preloader *ngIf="isLoading"></app-preloader>
<section class="second-router-outlet" [ngStyle]="{'display': isLoading?'none':'block'}">
    <div class="messages-main-wrapp fix-min-height">
        <div class="main-mw">
            <div class="flex-massages-wrapp" style="position:relative;">

                    <div *ngIf="messages.length<=0" class="empty-info">
                        <img src="./../../../assets/img/smile.svg" class="img-responsive" alt="">
                        <p translate>Messages-fold.You have no messages yet</p>
                    </div>
            
                    <ng-container *ngIf="messages.length>0">

                        <div  class="left-s">
                            <div class="rotate-xs-wrapper">

                                <ng-container *ngFor="let item of messages; let i = index">

                                    <div *ngIf="item.message_type == 'request' || item.message_type == 'accept' || item.message_type == 'blank'" [ngClass]="{'active':item.id==idCurMsg}" (click)="changeItem(item,i);" class="one-msg-l-block active">
                                        <div class="name-ava">
                                            <div class="ava" [ngStyle]="{'background-image': item.sender?'url('+item.sender.image_base64+')':''}"></div>
                                            <p class="n" translate>{{item.sender?.full_name?item.sender.full_name:'No name'}}</p>
                                            <p class="hash" translate><span>@</span>{{item.sender?.user_name?item.sender.user_name:'No username'}}</p>
                                        </div>
                                        <div  class="descr-side">
                                            <p class="f">
                                                <span [ngClass]="{'active':!item.is_read}" class="some-t active" translate>{{item.message_type?item.message_type:''}} to Perform</span>
                                                <span *ngIf="item.created_at" class="when" translate>{{item.created_at| date:'MMM' | translate}}{{item.created_at| date:' d' }}</span>
                                            </p>
                                            <p class="name-e">{{item.message_info?.event_info?.name?item.message_info?.event_info.name:''}}</p>
                                            <p  class="where-when">
                                                    {{item.message_info?.event_info?.address?item.message_info?.event_info.address:''}}
                                                <br>
                                                <span translate>{{item.message_info?.event_info?.event_season?item.message_info?.event_info.event_season:'' | titlecase}}</span> {{item.message_info?.event_info?.event_year?item.message_info?.event_info.event_year:''}}

                                            </p>
                                            
                                            <p *ngIf="item.message_type == 'request'" class="price">
                                                {{item.message_info?.currency?(item.message_info?.currency==='USD'?'$':item.message_info?.currency==='RUB'?'₽':item.message_info?.currency==='EUR'?'€':''):''}}
                                                {{item.message_info?.estimated_price?item.message_info?.estimated_price:''}}
                                            </p>
                                            <p *ngIf="item.message_type == 'accept'" class="price">
                                                {{item.message_info?.currency?(item.message_info?.currency==='USD'?'$':item.message_info?.currency==='RUB'?'₽':item.message_info?.currency==='EUR'?'€':''):''}}
                                                {{item.message_info?.price?item.message_info?.price:''}}</p>
                                            <p *ngIf="isExpiresSoonByExpireDate(item.message_info?.expiration_date)=='soon'&&item.message_type == 'request'" class="expires-soon" translate>Expires<br translate>Soon</p>
                                        </div>
                                    </div>

                                    <div *ngIf="item.message_type == 'feedback' || item.message_type == 'support'" [ngClass]="{'active':item.id==idCurMsg}" (click)="changeItem(item,i);" class="one-msg-l-block active">
                                        <div class="name-ava">
                                            <div class="ava" [ngStyle]="{'background-image': 'url(./../../../../assets/img/ping-sun.png)'}"></div>
                                            <p class="n" translate>Admin</p>
                                        </div>
                                        <div  class="descr-side">
                                            <p class="f">
                                    
                                                <span [ngClass]="{'active':!item.is_read}" class="some-t active" translate>{{item.message_type?item.message_type:'No subject'}}</span>
                                                <span *ngIf="item.created_at" class="when">{{item.created_at| date:'MMM' | translate }}{{item.created_at| date:' d' }}</span>
                                            </p>
                                            <p *ngIf="item.subject" class="name-e" translate>{{item.subject}}</p>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>

                        <div  *ngIf="openMessage?.message_type === 'request'" class="right-s">
                            <div *ngIf="openMessage.id&&(openMessage.message_type=='request'&&openMessage.message_info||openMessage.message_type!='request')" class="some-request-text-wrapper">
                                <div class="block-info f-b">
                                    <span class="some-t" translate>{{openMessage.message_type?openMessage.message_type:''}} to Perform</span>
                                    <span class="when" translate>{{openMessage.created_at| date:'MMM' | translate}}{{openMessage.created_at| date:' d' }}</span>
                                </div>
                                <div class="block-info s-b">
                                    <div class="ava" [ngStyle]="{'background-image': (openMessage.sender&&openMessage.sender.image_base64)?'url('+openMessage.sender.image_base64+')':''}"></div>
                                    <div class="name-hash">
                                        <p class="n">{{openMessage.sender?.full_name?openMessage.sender.full_name:''}}</p>
                                        <p class="hash"><span>@</span>{{openMessage.sender?.user_name?openMessage.sender.user_name:''}}</p>
                                    </div>
                                    
                                </div>
                                <div class="block-info t-b">
                                    <p class="name-event">{{openMessage.message_info?.event_info?openMessage.message_info?.event_info.name:''}}</p>
                                    <p class="descr">{{openMessage.message_info?.event_info?.description?openMessage.message_info?.event_info.description:'' | titlecase}}</p>
                                    <p *ngIf="openMessage.message_type == 'request'" class="fot-edit"><span translate>{{openMessage.message_info?.event_info?openMessage.message_info?.event_info.event_season:'' | titlecase}} </span>, {{openMessage.message_info?.event_info?openMessage.message_info?.event_info.event_year:''}}, <span translate>{{openMessage.message_info?.event_info?openMessage.message_info?.event_info.event_time:''| titlecase}}</span>, {{openMessage.message_info?.event_info?openMessage.message_info?.event_info.event_length:''}} <span translate>Hours</span>
                                        <img *ngIf="!openMessage.is_read"  src="../../assets/img/edit-img.png"  class="img-responsive for-edit-img" alt="">
                                    </p>
                                    <input *ngIf="openMessage.message_type == 'request'" [disabled]="openMessage.is_read" class="form-control" #drp="bsDaterangepicker" bsDaterangepicker [bsConfig]="bsConfig" 
                                    [minDate]="minDate" [maxDate]="maxDate" [(ngModel)]="bsRangeValue">

                                    <p *ngIf="openMessage.message_type == 'accept' &&openMessage.message_info" class="fot-edit">{{openMessage.message_info?.preferred_date_from| date}} - {{openMessage.message_info?.preferred_date_to| date}} </p>
                                    
                                    
                                    <p *ngIf="openMessage.message_type == 'request'" class="desc-for-edit" translate>(You can pick the dates you are available to perform)</p>
                                    <p *ngIf="openMessage&&openMessage.message_info&&openMessage.message_info?.event_info&&openMessage.message_info?.event_info.is_crowdfunding_event" class="event-type" translate>Crowdfunded Event</p>
                                </div>
                                <div class="block-info fourth-b">
                                    <p class="fot-edit">
                                            
                                        {{'Price to Perform' | translate}}<span>
                                            {{CurrentCurrency}}
                                            {{(openMessage.message_type&&openMessage.message_info&&openMessage.message_type == 'request')?openMessage.message_info?.price:''}}</span>
                                        <img *ngIf="openMessage.message_type == 'request'&&!openMessage.is_read" src="../../assets/img/edit-img.png" (click)="isEditPrice = true" class="img-responsive for-edit-img" alt="">
                                    </p>
                                    
                                    
                                    <!--поялвляется если нажать на картинку "for-edit-img"-->
                                    <div *ngIf="isEditPrice" class="flex-price-change">
                                        <p class="your-price" translate>Change price</p>
                                        <div class="rel-dog">
                                            <span>{{CurrentCurrency}}</span>
                                            <input [(ngModel)]="changePrice" class="inp-style-2" type="text">
                                        </div>
                                    </div>
                                    <!--/поялвляется если нажать на картинку "for-edit-img"-->
                                    
                                    
                                    <p *ngIf="openMessage.message_type == 'request'" class="desc-for-edit" translate>You can change the Price to Perform</p>
                                </div>
                                <div *ngIf="openMessage.message_type == 'request'" class="block-info fifth-b">
                                    <p *ngIf="openMessage.message_info?.expiration_date" class="will-expire">{{'This request will expire on' | translate}}{{ openMessage.message_info?.expiration_date | date:'MMM' | translate}} {{ openMessage.message_info?.expiration_date | date:'dd yyyy' }}</p>
                                </div>
                                <div class="block-info sixth-b">
                                    <div  *ngIf="openMessage.message_type == 'request'" class="input-groupe-1 whithout-label small-textarea max-500">
                                        <textarea disabled [value]="openMessage?.message_info?.message"  id="inp-media-venue-2"></textarea>
                                        <label for="inp-media-venue-2" class="head-groupe" translate>Personal Message</label>
                                    </div>
                                    <div *ngIf="!openMessage.is_read&&openMessage.message_type == 'request'" class="flex-buttons">
                                        <div class="accept-wr">
                                            <button class="butt-style-1" type="submit">
                                                <span (click)="acceptRequest()" translate>Accept</span>
                                            </button>
                                        </div>
                                        <div class="decline-wr">
                                            <button (click)="declineRequest()" class="decline">
                                                <span translate>Decline</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div *ngIf="openMessage.message_type == 'accept'" class="flex-buttons">
                                            <div class="accept-wr">
                                                <button [routerLink]="['/system','eventCreate',openMessage.message_info?.event_info.id]" class="butt-style-1" type="submit">
                                                    <span translate>Go to Event</span>
                                                </button>
                                            </div>
                                            
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div  *ngIf="openMessage?.message_type === 'accept'" class="right-s">
                                <div *ngIf="openMessage.id&&(openMessage.message_type=='request'&&openMessage.message_info||openMessage.message_type!='request')" class="some-request-text-wrapper">
                                    <div class="block-info f-b">
                                        <span class="some-t" translate>{{openMessage.message_type?openMessage.message_type:''}} to Perform</span>
                                        <span class="when" translate>{{openMessage.created_at| date:'MMM' | translate}}{{openMessage.created_at| date:' d' }}</span>
                                    </div>
                                    <div class="block-info s-b">
                                        <div class="ava" [ngStyle]="{'background-image': (openMessage.sender&&openMessage.sender.image_base64)?'url('+openMessage.sender.image_base64+')':''}"></div>
                                        <div class="name-hash">
                                            <p class="n">{{openMessage.sender?.full_name?openMessage.sender.full_name:''}}</p>
                                            <p class="hash"><span>@</span>{{openMessage.sender?.user_name?openMessage.sender.user_name:''}}</p>
                                        </div>
                                        
                                    </div>
                                    <div class="block-info t-b">
                                        <p class="name-event">{{openMessage.message_info?.event_info?openMessage.message_info?.event_info.name:''}}</p>
                                        <p class="descr">{{openMessage.message_info?.event_info?.description?openMessage.message_info?.event_info.description:'' | titlecase}}</p>
                                        <p *ngIf="openMessage.message_type == 'request'" class="fot-edit">{{openMessage.message_info?.event_info?openMessage.message_info?.event_info.event_season:'' | titlecase}} {{openMessage.message_info?.event_info?openMessage.message_info?.event_info.event_year:''}}, {{openMessage.message_info?.event_info?openMessage.message_info?.event_info.event_time:'' | titlecase}}, {{openMessage.message_info?.event_info?openMessage.message_info?.event_info.event_length:''}} {{'Hours' | translate}}
                                            <img *ngIf="!openMessage.is_read"  src="../../assets/img/edit-img.png"  class="img-responsive for-edit-img" alt="">
                                        </p>
                                        <input *ngIf="openMessage.message_type == 'request'" [disabled]="openMessage.is_read" class="form-control" #drp="bsDaterangepicker" bsDaterangepicker [bsConfig]="bsConfig" 
                                        [minDate]="minDate" [maxDate]="maxDate" [(ngModel)]="bsRangeValue">
    
                                        <p *ngIf="openMessage.message_type == 'accept' &&openMessage.message_info" class="fot-edit">{{openMessage.message_info?.preferred_date_from| date:'MMM' | translate}}, {{openMessage.message_info?.preferred_date_from | date:'dd yyyy'}} - {{openMessage.message_info?.preferred_date_to| date:'MMM' | translate}}, {{openMessage.message_info?.preferred_date_to | date:'dd yyyy'}} </p>
                                        
                                        <!--появлется если нажать на верхнюю картинку for-edit-img-->
                                        <!-- <div *ngIf="isEditShow" class="selects-wrapper">
                                            <div class="flex-input-groupes">
                                                <div class="input-groupe-1">
                                                    <select [(ngModel)]="openMessage.message_info?.event_info.event_season" id="inp-create-5">
                                                        <option>spring</option>
                                                        <option>summer</option>
                                                        <option>autumn</option>
                                                        <option>winter</option>
                                                
                                                    </select>
                                                    <label for="inp-create-5">Event Date</label>
                                                </div>
                                                <div class="input-groupe-1">
                                                    <select id="inp-create-6">
                                                        <option>2018</option>
                                                        <option>2019</option>
                                                        <option>2020</option>
                                                        <option>2021</option>
                                                        <option>2022</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="flex-input-groupes">
                                                <div class="input-groupe-1">
                                                    <select id="inp-create-7">
                                                        <option>morning</option>
                                                        <option>afternoon</option>
                                                        <option>evening</option>
                                                    </select>
                                                    <label for="inp-create-7">Time Range</label>
                                                </div>
                                                <div class="input-groupe-1">
                                                    <select id="inp-create-8">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
    
                                                    </select>
                                                    <label for="inp-create-8">Event Length</label>
                                                </div>
                                            </div>
                                        </div> -->
                                        <!--/появлется если нажать на верхнюю картинку for-edit-img-->
                                        
                                        
                                        
                                        <p *ngIf="openMessage.message_type == 'request'" class="desc-for-edit" translate>(You can pick the dates you are available to perform)</p>
                                        <p *ngIf="openMessage&&openMessage.message_info&&openMessage.message_info?.event_info&&openMessage.message_info?.event_info.is_crowdfunding_event" class="event-type" translate>Crowdfunded Event</p>
                                    </div>
                                    <div class="block-info fourth-b">
                                        <p class="fot-edit">
                                                
                                        <span translate>Price to Perform</span> <span>
                                                {{openMessage.message_info?.currency?(openMessage.message_info?.currency==='USD'?'$':openMessage.message_info?.currency==='RUB'?'₽':openMessage.message_info?.currency==='EUR'?'€':''):''}}
                                                {{(openMessage.message_type&&openMessage.message_info&&openMessage.message_type == 'request')?openMessage.message_info?.estimated_price:openMessage.message_info?.price}}</span>
                                            <img *ngIf="openMessage.message_type == 'request'&&!openMessage.is_read" src="../../assets/img/edit-img.png" (click)="isEditPrice = true" class="img-responsive for-edit-img" alt="">
                                        </p>
                                        
                                        
                                        <!--поялвляется если нажать на картинку "for-edit-img"-->
                                        <div *ngIf="isEditPrice" class="flex-price-change">
                                            <p class="your-price" translate>Change price</p>
                                            <div class="rel-dog">
                                                <span>{{openMessage.message_info?.currency?(openMessage.message_info?.currency==='USD'?'$':openMessage.message_info?.currency==='RUB'?'₽':openMessage.message_info?.currency==='EUR'?'€':''):''}}</span>
                                                <input [(ngModel)]="changePrice" class="inp-style-2" type="text">
                                            </div>
                                        </div>
                                        <!--/поялвляется если нажать на картинку "for-edit-img"-->
                                        
                                        
                                        <p *ngIf="openMessage.message_type == 'request'" class="desc-for-edit" translate>You can change the Price to Perform</p>
                                    </div>
                                    <div *ngIf="openMessage.message_type == 'request'" class="block-info fifth-b">
                                        <p *ngIf="openMessage.message_info?.expiration_date" class="will-expire">{{'This request will expire on' | translate}} {{ openMessage.message_info?.expiration_date | date }}</p>
                                    </div>
                                    <div class="block-info sixth-b">
                                        <div  *ngIf="openMessage.message_type == 'request'" class="input-groupe-1 whithout-label small-textarea max-500">
                                            <textarea disabled [value]="openMessage?.message"  id="inp-media-venue-2"></textarea>
                                            <label for="inp-media-venue-2" class="head-groupe" translate>Personal Message</label>
                                        </div>
                                        <div *ngIf="!openMessage.is_read&&openMessage.message_type == 'request'" class="flex-buttons">
                                            <div class="accept-wr">
                                                <button class="butt-style-1" type="submit">
                                                    <span (click)="acceptRequest()" translate>Accept</span>
                                                </button>
                                            </div>
                                            <div class="decline-wr">
                                                <button (click)="declineRequest()" class="decline">
                                                    <span translate>Decline</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div *ngIf="openMessage.message_type == 'accept'" class="flex-buttons">
                                                <div class="accept-wr">
                                                    <button [routerLink]="['/system','eventCreate',openMessage.message_info?.event_info.id]" class="butt-style-1" type="submit">
                                                        <span translate>Go to Event</span>
                                                    </button>
                                                </div>
                                                
                                        </div>
                                    </div>
                                </div>
                        </div>

                        <div  *ngIf="openMessage?.message_type === 'support'" class="right-s">
                            <app-message-support
                                [Message] = "openMessage"
                                [AccId] = "accountId"
                            ></app-message-support>
                        </div>

                        <div *ngIf="openMessage?.message_type === 'feedback'" class="right-s">
                            <app-message-feedback 
                                [Message]="openMessage"
                            ></app-message-feedback>
                        </div>

                         <div *ngIf="openMessage?.message_type === 'blank'" class="right-s">
                            <div class="some-request-text-wrapper">
                                <div class="block-info f-b">
                                    <span class="some-t" translate>{{openMessage.subject}}</span>
                                    <span class="when">{{openMessage.created_at| date:'MMM' | translate}}{{openMessage.created_at| date:' d' }}</span>
                                </div>
                                <ng-container *ngFor="let reply of openMessage.reply">
                                    <div *ngIf="reply.sender" class="block-info s-b">
                                        <div class="ava" [ngStyle]="{'background-image': (reply.sender&&reply.sender.image_base64)?'url('+reply.sender.image_base64+')':''}"></div>
                                        <div class="name-hash">
                                            <p class="n">{{reply.sender?.full_name?reply.sender.full_name:''}}</p>
                                            <p class="hash"><span>@</span>{{reply.sender?.user_name?reply.sender.user_name:''}}</p>
                                        </div>
                                        
                                    </div>
                                    <div class="block-info t-b">
                                        <p class="descr">{{reply.message | titlecase}}</p>
                                    </div>
                                </ng-container>

                            </div>
                        </div>




                    </ng-container>
               
            </div>
        </div>
    </div>
</section>