<section class="second-router-outlet">
    <div class="messages-main-wrapp">
        <div class="main-mw">
            <div class="flex-massages-wrapp">
                <div class="left-s">
                    <!--задаем класс active при клике-->
                    <div class="one-msg-l-block active">
                        <div class="name-ava">
                            <div class="ava" style="background-image: url(../../assets/img/drake.jpg)"></div>
                            <p class="n">Dylan Davis</p>
                            <p class="hash"><span>@</span>papapa</p>
                        </div>
                        <div class="descr-side">
                            <p class="f">
                                <!--задаем класс active если нужен кружочек. нахуй он всрался - хз-->
                                <span class="some-t active">Request to Perform</span>
                                <span class="when">Feb 15</span>
                            </p>
                            <p class="name-e">Cool Event</p>
                            <p class="where-when">
                                New York, NY USA
                                <br>
                                Spring 2018
                            </p>
                            <p class="price">$50,000</p>
                            <p class="expires-soon">Expires<br>Soon</p>
                        </div>
                    </div>
                    <div class="one-msg-l-block">
                        <div class="name-ava">
                            <div class="ava" style="background-image: url(../../assets/img/drake.jpg)"></div>
                            <p class="n">Dylan Davis</p>
                            <p class="hash"><span>@</span>papapa</p>
                        </div>
                        <div class="descr-side">
                            <p class="f">
                                <span class="some-t active">Request to Perform</span>
                                <span class="when">Feb 15</span>
                            </p>
                            <p class="name-e">Cool Event</p>
                            <p class="where-when">
                                New York, NY USA
                                <br>
                                Spring 2018
                            </p>
                            
                            <p class="price">$50,000</p>
                        </div>
                    </div>
                    <div class="one-msg-l-block">
                        <div class="name-ava">
                            <div class="ava" style="background-image: url(../../assets/img/drake.jpg)"></div>
                            <p class="n">Dylan Davis</p>
                            <p class="hash"><span>@</span>papapa</p>
                        </div>
                        <div class="descr-side">
                            <p class="f">
                                <span class="some-t">Request to Perform</span>
                                <span class="when">Feb 15</span>
                            </p>
                            <p class="name-e">Cool Event</p>
                            <p class="where-when">
                                New York, NY USA
                                <br>
                                Spring 2018
                            </p>
                            
                            <p class="price">$50,000</p>
                        </div>
                    </div>
                    <div class="one-msg-l-block">
                        <div class="name-ava">
                            <div class="ava" style="background-image: url(../../assets/img/drake.jpg)"></div>
                            <p class="n">Dylan Davis</p>
                            <p class="hash"><span>@</span>papapa</p>
                        </div>
                        <div class="descr-side">
                            <p class="f">
                                <span class="some-t">Request to Perform</span>
                                <span class="when">Feb 15</span>
                            </p>
                            <p class="name-e">Cool Event</p>
                            <p class="where-when">
                                New York, NY USA
                                <br>
                                Spring 2018
                            </p>
                            
                            <p class="price">$50,000</p>
                        </div>
                    </div>
                    <div class="one-msg-l-block">
                        <div class="name-ava">
                            <div class="ava" style="background-image: url(../../assets/img/drake.jpg)"></div>
                            <p class="n">Dylan Davis</p>
                            <p class="hash"><span>@</span>papapa</p>
                        </div>
                        <div class="descr-side">
                            <p class="f">
                                <span class="some-t active">Request to Perform</span>
                                <span class="when">Feb 15</span>
                            </p>
                            <p class="name-e">Cool Event</p>
                            <p class="where-when">
                                New York, NY USA
                                <br>
                                Spring 2018
                            </p>
                            
                            <p class="price">$50,000</p>
                        </div>
                    </div>
                    <div class="one-msg-l-block">
                        <div class="name-ava">
                            <div class="ava" style="background-image: url(../../assets/img/drake.jpg)"></div>
                            <p class="n">Dylan Davis</p>
                            <p class="hash"><span>@</span>papapa</p>
                        </div>
                        <div class="descr-side">
                            <p class="f">
                                <span class="some-t active">Request to Perform</span>
                                <span class="when">Feb 15</span>
                            </p>
                            <p class="name-e">Cool Event</p>
                            <p class="where-when">
                                New York, NY USA
                                <br>
                                Spring 2018
                            </p>
                            
                            <p class="price">$50,000</p>
                        </div>
                    </div>
                    
                </div>
                <!--вместо дива может быть форма-->
                <div class="right-s">
                    <div class="some-request-text-wrapper">
                        <div class="block-info f-b">
                            <span class="some-t">Request to Perform</span>
                            <span class="when">Feb 15</span>
                        </div>
                        <div class="block-info s-b">
                            <div class="ava" style="background-image: url(../../assets/img/drake.jpg)"></div>
                            <div class="name-hash">
                                <p class="n">Dylan Davis</p>
                                <p class="hash"><span>@</span>papapa</p>
                            </div>
                            
                        </div>
                        <div class="block-info t-b">
                            <p class="name-event">R&B Event</p>
                            <p class="descr">We want to bring NICOLE JENNS back to the NY Area to perform from her new album! NICOLE JENNS is a multi-talented songstress. The songwriter, producer and singer has taken the current music  stage by storm. Enjoy the sultry sounds of this New York Native!</p>
                            <p class="fot-edit">Spring 2018, Evening, 4 Hours
                                <img src="../../assets/img/edit-img.png" (click)="isEditShow = true" class="img-responsive for-edit-img" alt="">
                            </p>
                            
                            
                            <!--появлется если нажать на верхнюю картинку for-edit-img-->
                            <div *ngIf="isEditShow" class="selects-wrapper">
                                <div class="flex-input-groupes">
                                    <div class="input-groupe-1">
                                        <select id="inp-create-5">
                                            <option>Spring</option>
                                            <option>Spring</option>
                                            <option>Spring</option>
                                            <option>Spring</option>
                                            <option>Spring</option>

                                        </select>
                                        <label for="inp-create-5">Event Date</label>
                                    </div>
                                    <div class="input-groupe-1">
                                        <select id="inp-create-6">
                                            <option>2018</option>
                                            <option>2019</option>
                                            <option>2020</option>
                                            <option>2021</option>
                                            <option>2022</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="flex-input-groupes">
                                    <div class="input-groupe-1">
                                        <select id="inp-create-7">
                                            <option>Morning</option>
                                            <option>Morning</option>
                                            <option>Morning</option>
                                        </select>
                                        <label for="inp-create-7">Time Range</label>
                                    </div>
                                    <div class="input-groupe-1">
                                        <select id="inp-create-8">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>

                                        </select>
                                        <label for="inp-create-8">Event Length</label>
                                    </div>
                                </div>
                            </div>
                            <!--/появлется если нажать на верхнюю картинку for-edit-img-->
                            
                            
                            
                            <p class="desc-for-edit">(You can pick the dates you are available to perform)</p>
                            <p class="event-type">Crowdfunded Event</p>
                        </div>
                        <div class="block-info fourth-b">
                            <p class="fot-edit">
                                Price to Perform <span> $20,000</span>
                                <img src="../../assets/img/edit-img.png" (click)="isEditPrice = true" class="img-responsive for-edit-img" alt="">
                            </p>
                            
                            
                            <!--поялвляется если нажать на картинку "for-edit-img"-->
                            <div *ngIf="isEditPrice" class="flex-price-change">
                                <p class="your-price">Change price</p>
                                <div class="rel-dog">
                                    <span>$</span>
                                    <input class="inp-style-2" type="text">
                                </div>
                            </div>
                            <!--/поялвляется если нажать на картинку "for-edit-img"-->
                            
                            
                            <p class="desc-for-edit">You can change the Price to Perform</p>
                        </div>
                        <div class="block-info fifth-b">
                            <p class="will-expire">This request will expire on Feb 22, 2018</p>
                        </div>
                        <div class="block-info sixth-b">
                            <div class="input-groupe-1 whithout-label small-textarea max-500">
                                <textarea id="inp-media-venue-2"></textarea>
                                <label for="inp-media-venue-2" class="head-groupe">Personal Message</label>
                            </div>
                            <div class="flex-buttons">
                                <div class="accept-wr">
                                    <button class="butt-style-1" type="submit">
                                        <span>Accept</span>
                                    </button>
                                </div>
                                <div class="decline-wr">
                                    <button class="decline">
                                        <span>Decline</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="modal fade modal-slider" id="modal-slider">
    <div class="modal-dialog">
        <div class="modal-body">
            <div class="rel-modal">
                <div class="close-modal" data-dismiss="modal"></div>
                <div class="slider-padd">
                    <div class="slider-modal-wr">
                        <div class="one-slide">
                            <h4><span>Share</span> shows you like <span>with friends</span></h4>
                        </div>
                        <div class="one-slide">
                            <h4>Watch shows in <span>360°</span> virtual reality devices</h4>
                        </div>
                        <div class="one-slide">
                            <h4>Crowdfund <span>shows</span> of your favorite artists <span>in your hometown</span></h4>
                        </div>
                    </div>
                </div>
                <div class="flex-buttons-modal">
                    <div class="one-butt-wr">
                        <div class="style-b-op">
                            <span data-dismiss="modal">Sign up later</span>
                        </div>
                    </div>
                    <div class="one-butt-wr">
                        <div class="style-b-op">
                            <a href="#">Sign up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>