<div class="genre-head">
    <p><span translate>Shows</span> ({{Shows.length}})</p>
    <button (click)="ShowAll()" translate>SHOW ALL</button>
</div>
<div class="shows-block-search">
    <div class="one-show-wrapp" *ngFor="let item of Shows">
        <one-show-search-component [Show]="item"></one-show-search-component>
    </div>
    <div class="empty-info empty-info-no-padding" *ngIf="!Shows.length">
        <img src="../../assets/img/smile.svg" class="img-responsive" alt="">
        <p translate>No search results found</p>
    </div>
</div>