
<section class="second-router-outlet">
    <div class="create-event-nav-tabs">
        <div class="for-header-shadow">
            <div class="main-mw">
                <div class="create-event-header">
                    <h1>Create Event</h1>
                    <ul>
                        <!--нужным li даем классы active и started."хз нахрена это надо. узнавайте у писателя"-->

                        <li [ngClass]="{'active':currentPage == pages.about,'started':currentPage != pages.about}">
                            <a (click)="ChangeCurrentPart(pages.about)" class="nav-second-outlet">about</a>
                        </li>
                        <li [ngClass]="{'active':currentPage == pages.artist,'started':currentPage != pages.artist}">
                            <a (click)="ChangeCurrentPart(pages.artist)" class="nav-second-outlet">artist</a>
                        </li>
                        <li [ngClass]="{'active':currentPage == pages.venue,'started':currentPage != pages.venue}">
                            <a (click)="ChangeCurrentPart(pages.venue)" class="nav-second-outlet">venues</a>
                        </li>
                        <li [ngClass]="{'active':currentPage == pages.funding,'started':currentPage != pages.funding}">
                            <a (click)="ChangeCurrentPart(pages.funding)" class="nav-second-outlet">funding</a>
                        </li>
                        <li [ngClass]="{'active':currentPage == pages.tickets,'started':currentPage != pages.tickets}">
                            <a (click)="ChangeCurrentPart(pages.tickets)" class="nav-second-outlet">tickets</a>
                        </li>
                        <!-- <li [ngClass]="{'active':currentPage == pages.preview,'started':currentPage != pages.preview}">
                            <a (click)="ChangeCurrentPart(pages.preview)" class="nav-second-outlet">preview</a>
                        </li> -->
                        

                        <li>
                            <button (click)="saveButtonClick()" class="butt-style-1" style="width: 127px">
                                <span style="padding: 10px 21px">
                                SAVE
                                </span>
                            </button>
                        </li>
                        <li *ngIf="!Event.is_active">
                            <button (click)="activeButtonClick()" class="butt-style-1" style="width: 127px">
                                <span style="padding: 10px 21px">
                                Set Active
                                </span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <app-about #about [ngStyle]="{'display': (currentPage==pages.about)?'block':'none'}"
            [Event]="Event"
            (onSaveEvent)="SaveEvent($event)"
            (onError)="OpenErrorWindow($event)"
        ></app-about>
        
        
              
         <app-artist #artist [ngStyle]="{'display': (currentPage==pages.artist)?'block':'none'}"
            [Event]="Event"
            (onSaveEvent)="SaveEvent($event)"
        ></app-artist>
       
        <app-venues #venue [ngStyle]="{'display': (currentPage==pages.venue)?'block':'none'}"
            [Event]="Event"
            (onSaveEvent)="SaveEvent($event)"
            (onError)="OpenErrorWindow($event)"
        ></app-venues> 
       

        <div class="create-event-body-1">

            
            <app-funding #funding [ngStyle]="{'display': (currentPage==pages.funding)?'block':'none'}"
                [Event]="Event"
                (onSaveEvent)="SaveEvent($event)"
                (onError)="OpenErrorWindow($event)"
            ></app-funding>
            
            <app-add-tickets #tickets [ngStyle]="{'display': (currentPage==pages.tickets)?'block':'none'}"
                [Event]="Event"
                (onSaveEvent)="SaveEvent($event)"
                (onError)="OpenErrorWindow($event)"
            ></app-add-tickets> 
           

        </div>
    </div>


<!-- ######################################################################################################################################## -->


     <!--новая первая модалка с картой-->

    <!--//новая первая модалка с картой-->

   

<!-- ######################################################################################################################################## -->

</section>
<error-cmp #errorCmp></error-cmp>



<!--модалка send request c картой-->
        <!-- <div class="modal fade modal-send-request modal-send-request-map" id="modal-send-request-map">
            <div class="modal-dialog">
                <div class="modal-body">
                    <h6 class="head-m-p-a">Event Request</h6>
                    
                    <div class="name-and-ava">
                        <div class="ava" style="background-image: url(../../assets/img/drake.jpg)"></div>
                        <div class="n-h">
                            <p class="name">Dylan Davis</p>
                            <p class="hash"><span>@</span>pixope</p>
                        </div>
                    </div>
                    <div class="content-modal">
                        <p class="e-n">Event Name</p>
                        
                        <div class="flex-range-slider">
                            <div class="left-arrow">
                                <img src="./../../assets/img/left-arr-black.png" class="img-responsive" alt="">
                            </div>
                            <div class="right-side">
                                <div class="location-wr">
                                    <div class="mark"></div>
                                    <input type="text" class="location-inp" placeholder="location">
                                </div>
                            </div>
                        </div>  
                    
                        <div class="for-map-init-2">
                            Инит карты
                        </div>
                        
                        <div class="send-request-b">
                            <button class="butt-style-1" type="submit">
                                <span>Send Request</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- конец новой модалки send request c картой-->

        <!--модалка для кликов на send request-->

        <!--//конец модалки для кликов на send request-->

        


                            <!--модалки для сообщений-->
                            <!-- <div class="modal fade modal-messege" id="message-1">
                                <div class="modal-dialog">
                                    <div class="modal-body">
                                        <p class="message-t">Mouse sent an email to Muse, we’ll let you know when they join</p>
                                        <div class="send-request-b">
                                            <span class="butt-style-1" data-dismiss="modal">
                                                <span>ok</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade modal-messege" id="message-2">
                                <div class="modal-dialog">
                                    <div class="modal-body">
                                        <p class="message-t">Mouse will try to contact Drake but we do not guarantee they will join</p>
                                        <div class="send-request-b">
                                            <span class="butt-style-1" data-dismiss="modal">
                                                <span>ok</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade modal-messege" id="message-3">
                                <div class="modal-dialog">
                                    <div class="modal-body">
                                        <p class="message-t">Request to Perform was sent to Adele. You will be notified when they respond</p>
                                        <div class="send-request-b">
                                            <span class="butt-style-1" data-dismiss="modal">
                                                <span>ok</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!--//модалки для сообщений-->

                        <!--модалка для кликов на decline-->
                        <!-- <div class="modal fade modal-send-request" id="modal-decline">
                            <div class="modal-dialog">
                                <div class="modal-body">
                                    <h6 class="head-m-p-a">Decline Request</h6>
                                
                                    <div class="content-modal">
                                        <div class="padd-left-right">
                                            <p class="gray-some-t-13">You declined the offer because of...</p>
                                            <div class="checkboxes-decline-wrapp">
                                                <div class="checkbox-decline">
                                                    <div class="one-checkbox">
                                                        <div class="check-style">
                                                            <input type="checkbox" class="checkbox" name="" id="checkbox-decline-1">
                                                            <label for="checkbox-decline-1"></label>
                                                        </div>
                                                    </div>
                                                    <p class="desc-decil">Price</p>
                                                </div>
                                                <div class="checkbox-decline">
                                                    <div class="one-checkbox">
                                                        <div class="check-style">
                                                            <input type="checkbox" class="checkbox" name="" id="checkbox-decline-2">
                                                            <label for="checkbox-decline-2"></label>
                                                        </div>
                                                    </div>
                                                    <p class="desc-decil">Location</p>
                                                </div>
                                                <div class="checkbox-decline">
                                                    <div class="one-checkbox">
                                                        <div class="check-style">
                                                            <input type="checkbox" class="checkbox" name="" id="checkbox-decline-3">
                                                            <label for="checkbox-decline-3"></label>
                                                        </div>
                                                    </div>
                                                    <p class="desc-decil">Time</p>
                                                </div>
                                                <div class="checkbox-decline">
                                                    <div class="one-checkbox">
                                                        <div class="check-style">
                                                            <input type="checkbox" class="checkbox" name="" id="checkbox-decline-4">
                                                            <label for="checkbox-decline-4"></label>
                                                        </div>
                                                    </div>
                                                    <p class="desc-decil">Other</p>
                                                </div>
                                            </div>
                                            <div class="input-groupe-1 small-textarea whithout-label">
                                                <textarea id="inp-desc-1-modal"></textarea>
                                            </div>
                                        </div>
                                        <div class="send-request-b">
                                            <button class="butt-style-1" type="submit">
                                                <span>Decline</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!--//модалка для кликов на decline-->

        <!--новая модалка с картой 2-->
        <!-- <div class="modal fade modal-pick-artist" id="modal-pick-artist-map">
        <div class="modal-dialog">
            <div class="modal-body">

                <h3 class="head-m-p-a">Add Artist</h3>
                <div class="for-slideing-wr">
                    <div class="content-bodal input-groupe-1">
                        <input class="search" type="text" placeholder="Search">
                        <div class="flex-genres for-pick">
                           
                            <span class="one-genre picked">HIP HOP</span>
                            <span class="one-genre picked">HIP HOP</span>
                            <span class="one-genre">HIP HOP</span>
                            <span class="one-genre">HIP HOP</span>
                            <span class="one-genre">HIP HOP</span>
                            <span class="one-genre">HIP HOP</span>
                            <span class="one-genre">HIP HOP</span>
                            <span class="one-genre">HIP HOP</span>
                            <span class="one-genre">HIP HOP</span>
                        </div>
                    </div>
                    <div class="flex-range-slider">
                        <div class="left-arrow">
                            <img src="../../assets/img/left-arr-black.png" class="img-responsive" alt="">
                        </div>
                        <div class="right-side">
                            <div class="location-wr">
                                <div class="mark"></div>
                                <input type="text" class="location-inp" placeholder="location">
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="for-map-init-2">
                    Инит карты
                </div>
                
                <div class="buttons-wrapp-add-inv">
                  
                    <button class="butt-style-1" type="submit">
                        <span>Add to Active</span>
                    </button>
                    <span class="second-button-inv">Artist Invite</span>
                </div>

            </div>
        </div>
    </div> -->
<!--//новая модалка с картой 2-->
