<app-preloader *ngIf="isLoading"></app-preloader>
<section  [ngStyle]="{'display': (currentPage!=pages.previewArtist && currentPage!=pages.previewVenue)&&!isLoading?'block':'none'}" class="second-router-outlet">
    <div class="create-event-nav-tabs">
        <div class="for-header-shadow">
            <div [ngStyle]="{'display': !isLoading?'block':'none'}" class="main-mw">
                <div class="create-event-header">
                    <h1>Create Event</h1>
                    <ul>
                        <!--нужным li даем классы active и started."хз нахрена это надо. узнавайте у писателя"-->

                        <li [ngClass]="{'active':currentPage == pages.about,'started':currentPage != pages.about}">
                            <a (click)="ChangeCurrentPart(pages.about)" class="nav-second-outlet">about</a>
                        </li>
                        <li [ngClass]="{'active':currentPage == pages.artist,'started':currentPage != pages.artist}">
                            <a (click)="ChangeCurrentPart(pages.artist)" class="nav-second-outlet">artist</a>
                        </li>
                        <li [ngClass]="{'active':currentPage == pages.venue,'started':currentPage != pages.venue}">
                            <a (click)="ChangeCurrentPart(pages.venue)" class="nav-second-outlet">venues</a>
                        </li>
                        <li [ngClass]="{'active':currentPage == pages.funding,'started':currentPage != pages.funding}">
                            <a (click)="ChangeCurrentPart(pages.funding)" class="nav-second-outlet">funding</a>
                        </li>
                        <li *ngIf="isHasVenue" [ngClass]="{'active':currentPage == pages.tickets,'started':currentPage != pages.tickets}">
                            <a (click)="ChangeCurrentPart(pages.tickets)" class="nav-second-outlet">tickets</a>
                        </li>
                        <!-- <li [ngClass]="{'active':currentPage == pages.preview,'started':currentPage != pages.preview}">
                            <a (click)="ChangeCurrentPart(pages.preview)" class="nav-second-outlet">preview</a>
                        </li> -->
                        

                        <li *ngIf="(EventId !== 0 && !isNewEvent) || (isNewEvent && currentPage == pages.tickets)">
                            <button (click)="SaveEvent()" class="butt-style-1" style="width: 127px">
                                <span style="padding: 10px 21px">
                                SAVE
                                </span>
                            </button>
                        </li>
                        <li *ngIf="isShowLaunch">
                            <button (click)="activeButtonClick()" class="butt-style-1" style="width: 159px">
                                <span style="padding: 10px 0;">
                                Launch event
                                </span>
                            </button>
                        </li>
                        <li *ngIf="Event.is_active&&!isShowLaunch">
                            <button (click)="unActiveButtonClick()" class="butt-style-1" style="width: 159px">
                                <span style="padding: 10px 0;">
                                Delaunch event
                                </span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <app-about #about *ngIf="!isLoading&&(currentPage==pages.about)"
            [Event]="Event"
            (onSaveEvent)="SaveEventByPages($event)"
            (onError)="OpenErrorWindow($event)"
        ></app-about>
        
        
              
         <app-artist #artist *ngIf="!isLoading&&(currentPage==pages.artist)"
            [Event]="Event"
            (onSaveEvent)="SaveEventByPages($event)"
            (onError)="OpenErrorWindow($event)"
            (openPreview)="openPreviewArtist($event)"
        ></app-artist>
       
        <app-venues #venue *ngIf="!isLoading&&(currentPage==pages.venue)"
            [Event]="Event"
            (onSaveEvent)="SaveEventByPages($event)"
            (onSave)="SaveEventByPagesWithoutNextPart($event)"
            (openPreview)="openPreviewVenue($event)"
            (onError)="OpenErrorWindow($event)"
        ></app-venues> 
       

        <div class="create-event-body-1">

            
            <app-funding #funding *ngIf="!isLoading&&(currentPage==pages.funding)"
                [Event]="Event"
                (onSaveEvent)="SaveEventByPages($event)"
                (onSave)="SaveEventByPagesWithoutNextPart($event)"
                (onError)="OpenErrorWindow($event)"
            ></app-funding>
            
            <app-add-tickets #tickets *ngIf="!isLoading&&(currentPage==pages.tickets)&&isHasVenue"
                [Event]="Event"
                (onSaveEvent)="SaveEventByPages($event)"
                (onError)="OpenErrorWindow($event)"
            ></app-add-tickets> 
           

        </div>

       

    </div>


</section>
<!--  [ngStyle]="{'display': (currentPage==pages.previewArtist)?'block':'none'}" -->
<section>
    <app-preview-artist *ngIf="currentPage==pages.previewArtist"
        [ArtistId]="artistPreview"
        (OnReturn)="currentPage=pages.artist"
    ></app-preview-artist>

    <app-preview-venue *ngIf="currentPage==pages.previewVenue"
        [VenueId]="venuePreview"
        (OnReturn)="currentPage=pages.venue"
    ></app-preview-venue>

</section>

<error-cmp #errorCmp></error-cmp>