
    <div class="admin_cards">
        <div class="card violet music">
            <span class="num">234</span>
            <span class="text">New Fans</span>
        </div>
        <div class="card siren kolonka">
            <span class="num">1676</span>
            <span class="text">New Venues</span>
        </div>
        <div class="card blue mic">
            <span class="num">578</span>
            <span class="text">New Artists</span>
        </div>
    </div>
    <section>
        <h2 class="admin_table_zag">New account requests</h2>
        <div class="admin_table scroll_table new_accounts_table">
            <div class="admin_table_thead">
                <div class="admin_table_th check_column"><img src="./../../../assets/img/admin/table_check_th.svg" alt=""></div>
                <div class="admin_table_th">Data received</div>
                <div class="admin_table_th">Name</div>
                <div class="admin_table_th">Account</div>
                <div class="admin_table_th">Address</div>
            </div>
            <div class="admin_table_tbody_scroll">
                <div class="admin_table_tr">
                    <div class="admin_table_td check_column">
                        <div class="admin_table_checkbox">
                            <input type="checkbox" id="new_acc_1">
                            <label for="new_acc_1"></label>
                        </div>
                    </div>
                    <div class="admin_table_td"><span>12.10.2018</span></div>
                    <div class="admin_table_td"><span>Mark<br>Smith</span></div>
                    <div class="admin_table_td"><span>Fan</span></div>
                    <div class="admin_table_td little"><span>Los Angeles, USA</span></div>
                </div>
                <!-- При выделении чекбокса добавляется класс CHECKED: -->
                <div class="admin_table_tr checked">
                    <div class="admin_table_td check_column">
                        <div class="admin_table_checkbox">
                            <input type="checkbox" id="new_acc_2" checked>
                            <label for="new_acc_2"></label>
                        </div>
                    </div>
                    <div class="admin_table_td"><span>12.10.2018</span></div>
                    <div class="admin_table_td"><span>Dasha<br>Chervatsiuk</span></div>
                    <div class="admin_table_td"><span>Artist</span></div>
                    <div class="admin_table_td little"><span>Minsk, Belarus</span></div>
                </div>
                <div class="admin_table_tr">
                    <div class="admin_table_td check_column">
                        <div class="admin_table_checkbox">
                            <input type="checkbox" id="new_acc_3">
                            <label for="new_acc_3"></label>
                        </div>
                    </div>
                    <div class="admin_table_td"><span>12.10.2018</span></div>
                    <div class="admin_table_td"><span>Maxim<br>Kasperovich</span></div>
                    <div class="admin_table_td"><span>Venue</span></div>
                    <div class="admin_table_td little"><span>Moscow, Russia</span></div>
                </div>
                <div class="admin_table_tr">
                    <div class="admin_table_td check_column">
                        <div class="admin_table_checkbox">
                            <input type="checkbox" id="new_acc_4">
                            <label for="new_acc_4"></label>
                        </div>
                    </div>
                    <div class="admin_table_td"><span>12.10.2018</span></div>
                    <div class="admin_table_td"><span>Natalia<br>Smozhevskaia</span></div>
                    <div class="admin_table_td"><span>Fan</span></div>
                    <div class="admin_table_td little"><span>Moscow, Russia</span></div>
                </div>
                <div class="admin_table_tr">
                    <div class="admin_table_td check_column">
                        <div class="admin_table_checkbox">
                            <input type="checkbox" id="new_acc_5">
                            <label for="new_acc_5"></label>
                        </div>
                    </div>
                    <div class="admin_table_td"><span>12.10.2018</span></div>
                    <div class="admin_table_td"><span>Illia<br>Boroda</span></div>
                    <div class="admin_table_td"><span>Artist</span></div>
                    <div class="admin_table_td little"><span>Saint Petersburg, Russia</span></div>
                </div>
                <div class="admin_table_tr">
                    <div class="admin_table_td check_column">
                        <div class="admin_table_checkbox">
                            <input type="checkbox" id="new_acc_6">
                            <label for="new_acc_6"></label>
                        </div>
                    </div>
                    <div class="admin_table_td"><span>12.10.2018</span></div>
                    <div class="admin_table_td"><span>Mark<br>Smith</span></div>
                    <div class="admin_table_td"><span>Fan</span></div>
                    <div class="admin_table_td little"><span>Los Angeles, USA</span></div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <h2 class="admin_table_zag">New event requests</h2>
        <div class="admin_table scroll_table new_events_table">
            <div class="admin_table_thead">
                <div class="admin_table_th check_column"><img src="./../../../assets/img/admin/table_check_th.svg" alt=""></div>
                <div class="admin_table_th">Data received</div>
                <div class="admin_table_th">Event name</div>
                <div class="admin_table_th">Event date</div>
                <div class="admin_table_th">Place</div>
                <div class="admin_table_th">Funding type</div>
            </div>
            <div class="admin_table_tbody_scroll">
                <div class="admin_table_tr">
                    <div class="admin_table_td check_column">
                        <div class="admin_table_checkbox">
                            <input type="checkbox" id="new_ev_1">
                            <label for="new_ev_1"></label>
                        </div>
                    </div>
                    <div class="admin_table_td"><span>12.10.2018</span></div>
                    <div class="admin_table_td"><span>Cool Event</span></div>
                    <div class="admin_table_td"><span>23.05.18<br>12:00 pm</span></div>
                    <div class="admin_table_td little"><span>1200 S Ave W, Westfield, NJ, 07090, USA</span></div>
                    <div class="admin_table_td little"><span>Crowdfund</span></div>
                </div>
                <!-- При выделении чекбокса добавляется класс CHECKED: -->
                <div class="admin_table_tr checked">
                    <div class="admin_table_td check_column">
                        <div class="admin_table_checkbox">
                            <input type="checkbox" id="new_ev_2" checked>
                            <label for="new_ev_2"></label>
                        </div>
                    </div>
                    <div class="admin_table_td"><span>12.10.2018</span></div>
                    <div class="admin_table_td"><span>Summer Fest</span></div>
                    <div class="admin_table_td"><span>23.05.18<br>12:00 pm</span></div>
                    <div class="admin_table_td little"><span>1200 S Ave W, Westfield, NJ, 07090, USA</span></div>
                    <div class="admin_table_td little"><span>Non Crowdfund</span></div>
                </div>
                <div class="admin_table_tr">
                    <div class="admin_table_td check_column">
                        <div class="admin_table_checkbox">
                            <input type="checkbox" id="new_ev_3">
                            <label for="new_ev_3"></label>
                        </div>
                    </div>
                    <div class="admin_table_td"><span>12.10.2018</span></div>
                    <div class="admin_table_td"><span>Cool Event</span></div>
                    <div class="admin_table_td"><span>23.05.18<br>12:00 pm</span></div>
                    <div class="admin_table_td little"><span>1200 S Ave W, Westfield, NJ, 07090, USA</span></div>
                    <div class="admin_table_td little"><span>Crowdfund</span></div>
                </div>
                <div class="admin_table_tr">
                    <div class="admin_table_td check_column">
                        <div class="admin_table_checkbox">
                            <input type="checkbox" id="new_ev_4">
                            <label for="new_ev_4"></label>
                        </div>
                    </div>
                    <div class="admin_table_td"><span>12.10.2018</span></div>
                    <div class="admin_table_td"><span>Cool Event</span></div>
                    <div class="admin_table_td"><span>23.05.18<br>12:00 pm</span></div>
                    <div class="admin_table_td little"><span>1200 S Ave W, Westfield, NJ, 07090, USA</span></div>
                    <div class="admin_table_td little"><span>Crowdfund</span></div>
                </div>
                <div class="admin_table_tr">
                    <div class="admin_table_td check_column">
                        <div class="admin_table_checkbox">
                            <input type="checkbox" id="new_ev_5">
                            <label for="new_ev_5"></label>
                        </div>
                    </div>
                    <div class="admin_table_td"><span>12.10.2018</span></div>
                    <div class="admin_table_td"><span>Cool Event</span></div>
                    <div class="admin_table_td"><span>23.05.18<br>12:00 pm</span></div>
                    <div class="admin_table_td little"><span>1200 S Ave W, Westfield, NJ, 07090, USA</span></div>
                    <div class="admin_table_td little"><span>Crowdfund</span></div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <h2 class="admin_table_zag">New users for the month</h2>
        <div class="diagramm_block"></div>
    </section>
<!-- </div> -->


     