<div class="admin_content whole_white">
    <div class="support_container">
        <div class="feedback_zag_block">
            <h1 class="support_zag">Feedback</h1>
            <div class="checks">
                <div class="filter_checkbox">
                    <input [(ngModel)]="Type" value="bug" (ngModelChange)="filterByType()" type="radio" name="radio_type" id="feedback_bug">
                    <label for="feedback_bug"></label>
                    <span>Bugs</span>
                </div>
                <div class="filter_checkbox">
                    <input [(ngModel)]="Type" value="enhancement" (ngModelChange)="filterByType()" type="radio" name="radio_type" id="feedback_ench">
                    <label for="feedback_ench"></label>
                    <span>Enchancements</span>
                </div>
                <div class="filter_checkbox">
                    <input [(ngModel)]="Type" value="compliment" (ngModelChange)="filterByType()" type="radio" name="radio_type" id="feedback_compl">
                    <label for="feedback_compl"></label>
                    <span>Compliments</span>
                </div>
                <div class="filter_checkbox">
                    <input [(ngModel)]="Type" value="all" (ngModelChange)="filterByType()" type="radio" name="radio_type" id="feedback_all" checked>
                    <label for="feedback_all"></label>
                    <span>All</span>
                </div>
            </div>
            <div class="big_stars_right_block">
                <div class="stars">
                    <span class="star" [ngClass]="{'full':openFeedback.rate_score>=0.5}"></span>
                    <span class="star" [ngClass]="{'full':openFeedback.rate_score>=1.5}"></span>
                    <span class="star" [ngClass]="{'full':openFeedback.rate_score>=2.5}"></span>
                    <span class="star" [ngClass]="{'full':openFeedback.rate_score>=3.5}"></span>
                    <span class="star" [ngClass]="{'full':openFeedback.rate_score>=4.5}"></span>
                </div>
                <p class="rate">{{openFeedback.rate_score}} / 5.0</p>
            </div>
        </div>
        <div class="support_grey">
            <div class="support_dialogs">
                <ng-container *ngFor="let fb of FeedbacksChecked">
                    <div (click)="openNewFeedback(fb.id)" class="support_dialogs_item" [ngClass]="{'active':fb.id===openFeedback.id}">
                        <div class="ava" [ngStyle]="{'background-image':fb.account?'url('+fb.account.image_base64_not_given+')':'url('+nonImage+')'}" ></div>
                        <div class="info">
                            <p class="question">
                                <span class="title">{{fb.feedback_type|titlecase}}</span>
                                <span class="date">{{fb.created_at|date}}</span>
                            </p>
                            <p class="name">{{fb.account?fb.account.display_name:'No name'}}</p>
                            <p class="username"><span>@</span>{{fb.account?fb.account.user_name:'No username'}}</p>
                            <p class="address">{{fb.account?fb.account.address:'No address'}}</p>
                        </div>
                        <div class="stars">
                            <span class="star" [ngClass]="{'full':fb.rate_score>=0.5}"></span>
                            <span class="star" [ngClass]="{'full':fb.rate_score>=1.5}"></span>
                            <span class="star" [ngClass]="{'full':fb.rate_score>=2.5}"></span>
                            <span class="star" [ngClass]="{'full':fb.rate_score>=3.5}"></span>
                            <span class="star" [ngClass]="{'full':fb.rate_score>=4.5}"></span>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="support_right">
                <div class="support_head">
                    <p>{{openFeedback.feedback_type}}</p>
                    <span (click)="DeleteItem()" class="but_icon"><img src="./../../../assets/img/admin/support_delete.png" alt=""></span>
                </div>
                <div class="support_mes">
                    <div class="mes_text feedback_forward_text">
                        {{openFeedback.detail}}
                    </div>
                </div>
                <div class="forward_form">
                    <div *ngIf="false" class="hard_addresses">
                        <label>Addressee</label>
                        <div  class="addresses">
                            <!-- Если надо инпут, то вот он, уберите hidden: -->
                            <input type="text" class="addr_inp hidden">

                            <div class="addr_labels">
                                <div class="addr"><span class="un">@</span>MouseWeb<span class="del"></span></div>
                                <div class="add_addr">Add<span class="add"></span></div>
                            </div>
                            <!-- Выпадающий автокомплит, по ходу: -->
                            <div class="addresses_list">
                                <div class="adr"><span>@</span>MouseDev</div>
                                <div class="adr"><span>@</span>MouseOps</div>
                                <div class="adr"><span>@</span>MouseWeb</div>
                                <div class="adr"><span>@</span>MouseMobile</div>
                                <div class="adr"><span>@</span>MouseDev</div>
                                <div class="adr"><span>@</span>MouseOps</div>
                                <div class="adr"><span>@</span>MouseWeb</div>
                                <div class="adr"><span>@</span>MouseMobile</div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!openFeedback.reply" class="comment_ta">
                        <label>Comment</label>
                        <textarea [(ngModel)]="Message"></textarea>
                        <p class="com_max">1000 max</p>
                    </div>
                    <div *ngIf="openFeedback.reply" class="support_mes">
                            <div class="mes_head feedback_head">
                                <div class="ava" [ngStyle]="{'background-image':'url('+Answer.image+')'}"></div>
                                <div class="info">
                                    <p *ngIf="Answer.user_name" class="username"><span>@</span>{{Answer?.user_name?Answer.user_name:''}}</p>
                                </div>
                            </div>
                            <div class="mes_text">
                              {{Answer.message}}
                            </div>
                        </div>
                </div>
                <div class="feedback_buts">
                    <button *ngIf="!openFeedback.reply" (click)="sendAnswer()">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>
<error-cmp #errCmp></error-cmp>