<div class="admin_content whole_white">
    <div class="support_container">
        <div class="feedback_zag_block">
            <h1 class="support_zag">Feedback</h1>
            <div class="checks">
                <div class="filter_checkbox">
                    <input type="checkbox" id="feedback_bug">
                    <label for="feedback_bug"></label>
                    <span>Bugs</span>
                </div>
                <div class="filter_checkbox">
                    <input type="checkbox" id="feedback_ench">
                    <label for="feedback_ench"></label>
                    <span>Enchancements</span>
                </div>
                <div class="filter_checkbox">
                    <input type="checkbox" id="feedback_compl">
                    <label for="feedback_compl"></label>
                    <span>Compliments</span>
                </div>
                <div class="filter_checkbox">
                    <input type="checkbox" id="feedback_all" checked>
                    <label for="feedback_all"></label>
                    <span>All</span>
                </div>
            </div>
            <div class="big_stars_right_block">
                <div class="stars">
                    <span class="star full"></span>
                    <span class="star full"></span>
                    <span class="star full"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                </div>
                <p class="rate">3.3 / 5.0</p>
            </div>
        </div>
        <div class="support_grey">
            <div class="support_dialogs">
                <div class="support_dialogs_item active">
                    <div class="ava" style="background-image: url(img/drake.jpg)"></div>
                    <div class="info">
                        <p class="question">
                            <span class="title">Bug</span>
                            <span class="date">Feb 15</span>
                        </p>
                        <p class="name">Christian Aveen</p>
                        <p class="username"><span>@</span>Aveen</p>
                        <p class="address">New York, NY USA</p>
                    </div>
                    <div class="stars">
                        <span class="star full"></span>
                        <span class="star full"></span>
                        <span class="star full"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                    </div>
                </div>
                <div class="support_dialogs_item">
                    <div class="ava" style="background-image: url(img/drake.jpg)"></div>
                    <div class="info">
                        <p class="question">
                            <span class="title">Enchancement</span>
                            <span class="date">Feb 15</span>
                        </p>
                        <p class="name">Christian Aveen</p>
                        <p class="username"><span>@</span>Aveen</p>
                        <p class="address">New York, NY USA</p>
                    </div>
                    <div class="stars">
                        <span class="star full"></span>
                        <span class="star full"></span>
                        <span class="star full"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                    </div>
                </div>
                <div class="support_dialogs_item">
                    <div class="ava" style="background-image: url(img/drake.jpg)"></div>
                    <div class="info">
                        <p class="question">
                            <span class="title">Compliment</span>
                            <span class="date">Feb 15</span>
                        </p>
                        <p class="name">Christian Aveen</p>
                        <p class="username"><span>@</span>Aveen</p>
                        <p class="address">New York, NY USA</p>
                    </div>
                    <div class="stars">
                        <span class="star full"></span>
                        <span class="star full"></span>
                        <span class="star full"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                    </div>
                </div>
                <div class="support_dialogs_item">
                    <div class="ava" style="background-image: url(img/drake.jpg)"></div>
                    <div class="info">
                        <p class="question">
                            <span class="title">Enchancement</span>
                            <span class="date">Feb 15</span>
                        </p>
                        <p class="name">Christian Aveen</p>
                        <p class="username"><span>@</span>Aveen</p>
                        <p class="address">New York, NY USA</p>
                    </div>
                    <div class="stars">
                        <span class="star full"></span>
                        <span class="star full"></span>
                        <span class="star full"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                    </div>
                </div>
                <div class="support_dialogs_item">
                    <div class="ava" style="background-image: url(img/drake.jpg)"></div>
                    <div class="info">
                        <p class="question">
                            <span class="title">Bug</span>
                            <span class="date">Feb 15</span>
                        </p>
                        <p class="name">Christian Aveen</p>
                        <p class="username"><span>@</span>Aveen</p>
                        <p class="address">New York, NY USA</p>
                    </div>
                    <div class="stars">
                        <span class="star full"></span>
                        <span class="star full"></span>
                        <span class="star full"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                    </div>
                </div>
            </div>
            <div class="support_right">
                <div class="support_head">
                    <p>Bug</p>
                    <span class="but_icon"><img src="img/admin/feedback_close.png" alt=""></span>
                </div>
                <div class="support_mes">
                    <div class="mes_text feedback_forward_text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                    </div>
                </div>
                <div class="forward_form">
                    <div class="hard_addresses">
                        <label>Addressee</label>
                        <div class="addresses">
                            <!-- Если надо инпут, то вот он, уберите hidden: -->
                            <input type="text" class="addr_inp hidden">

                            <div class="addr_labels">
                                <div class="addr"><span class="un">@</span>MouseWeb<span class="del"></span></div>
                                <div class="add_addr">Add<span class="add"></span></div>
                            </div>
                            <!-- Выпадающий автокомплит, по ходу: -->
                            <div class="addresses_list">
                                <div class="adr"><span>@</span>MouseDev</div>
                                <div class="adr"><span>@</span>MouseOps</div>
                                <div class="adr"><span>@</span>MouseWeb</div>
                                <div class="adr"><span>@</span>MouseMobile</div>
                                <div class="adr"><span>@</span>MouseDev</div>
                                <div class="adr"><span>@</span>MouseOps</div>
                                <div class="adr"><span>@</span>MouseWeb</div>
                                <div class="adr"><span>@</span>MouseMobile</div>
                            </div>
                        </div>
                    </div>
                    <div class="comment_ta">
                        <label>Comment</label>
                        <textarea>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse </textarea>
                        <p class="com_max">1000 max</p>
                    </div>
                </div>
                <div class="feedback_buts">
                    <button>Send</button>
                </div>
            </div>
        </div>
    </div>
</div>