<app-preloader *ngIf="isLoading"></app-preloader>
<section class="main-router-outlet" [ngStyle]="{'display': isLoading?'none':'block'}">
<!-- <section class="main-router-outlet" *ngIf="!isLoading"> -->

    <venue-profile-selector *ngIf="Account.account_type == Roles.Venue&& isAccReadyToShow" [MyProfileId]="MyAccountId" [Account]="Account" [Image]="baseImageMy"
        [Fans]="Fans" [IsMyAccount]="isMyAccount" [VenueId]="Account.id" [isFolowedAcc]="isFolowedAcc" (onFollow)="FollowOrUnfollowProfile($event)">
    </venue-profile-selector>

    <fan-profile-selector *ngIf="Account.account_type == Roles.Fan&&isAccReadyToShow" [MyProfileId]="MyAccountId" [Account]="Account" [Image]="baseImageMy"
        [Fans]="Fans" [IsMyAccount]="isMyAccount" [isFolowedAcc]="isFolowedAcc" (onFollow)="FollowOrUnfollowProfile($event)">
    </fan-profile-selector>


    <artist-profile-selector *ngIf="Account.account_type === Roles.Artist&&isAccReadyToShow" [MyProfileId]="MyAccountId" [Account]="Account" [Image]="baseImageMy"
        [Fans]="Fans" [IsMyAccount]="isMyAccount" [isFolowedAcc]="isFolowedAcc" (onFollow)="FollowOrUnfollowProfile($event)">
    </artist-profile-selector> 


    <!-- ARTIST -->

    <!-- <section *ngIf="Account.account_type == Roles.Artist" class="main_content">
        <div class="for-flex-height">
             
            <section class="second-router-outlet">
                <div class="head-info-profile-wr head-info-artist">
                    <div class="main-mw">
                        <div class="flex-artist-main-info">
                            <div class="side left-side">
                                <h6 id="lines_view" class="name">{{Account.user_name}}</h6>
                                <div class="oficial-page">
                                    <span id="d_lines_view" class="page">@{{Account.display_name}}</span>
                                    <div *ngIf="isMyAccount" class="edit-and-settings"> -->
                                        <!-- <a [routerLink]="['/system/edit',UserId]" class="edit-profile">Edit profile</a> -->
                                        <!-- <a [routerLink]="['/system/artistCreate',UserId]" class="edit-profile">Edit profile</a>

                                    </div>
                                </div>
                                <p id="b_lines_view" class="desc">
                                    {{Account.about}}
                                </p>
                                <ng-container *ngIf="!isMyAccount" >
                                    <form *ngIf="!isFolowedAcc" class="follow-wr" (ngSubmit)="FollowProfile()">
                                        <button  class="butt-style-1" type="submit">
                                            <span>Follow</span>
                                        </button>
                                    </form>
                                    <form *ngIf="isFolowedAcc" class="follow-wr" (ngSubmit)="UnFollowProfile()">
                                        <button  class="butt-style-1" type="submit">
                                            <span>Unfollow</span>
                                        </button>
                                    </form>
                                </ng-container>
                            </div>
                            <div class="side right-side">
                                <div class="bg-slider">
                                    
                                    <div class="iframe-slider-wrapp" *ngIf="Account.videos.length > 0"> -->
                                        <!-- надо подключить youtube api и тем самым вставлять видео вместо iframe ибо у iframe нет норм функций для остановки видео, либо я хреново покопался.-->
                                        <!-- <li *ngFor="let item of VideoPath;let i = index" >
                                            <div class="slide">
                                                <div class="iframe-wr">
                                                    <iframe [id]="'video-iframe-'+i" class="youtube-video" enablejsapi="1" [src]="item" allowfullscreen></iframe>
                                                </div>
                                            </div>
                                        </li>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="for-white-bg">
                    <div class="all-info-profile">
                        <div class="uniq-padd">
                            <div class="main-mw">
                                <div class="genres-info genres-info-artist">
                                    <h3>Genres</h3>
                                    <div class="flex-genres">
                                        <ng-container *ngFor="let item of Account.genres;let i = index">
                                            <span class="one-genre">{{item}}</span>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uniq-padd-2">
                            <div class="main-mw">
                                <div class="flex--info">
                                    <div class="side flex-header scroller">
                                        <div class="for-scroll-padd">
                                            <h6>Albums ({{Albums.length}})</h6>
                                            <input type="text" class="search-profile-inp-style"  placeholder="Search" (input)='searchAlboms($event)'>
                                        </div>
                                        <div class="new-scroll-wr">
                                            <div class="blocks">
                                                <ng-container *ngFor="let item of Albums">
                                                    <ng-container *ngIf="item.checked">
                                                        <a [href]="item.object.album_link" target="_blank" class="one-block new-link-to-sound" [ngStyle]="{'background-image': item.object.album_artwork?'url('+item.object.album_artwork+')':'url(../../assets/img/drake.jpg)'}">
                                                            <div class="desc">
                                                                <p class="name">{{item.object.album_name}}</p>
                                                            
                                                            </div>
                                                        </a>
                                                    </ng-container>
                                                </ng-container>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="side flex-header scroller">
                                        <div class="for-scroll-padd">
                                            <h6>UPCOMING<br>SHOWS ({{UpcomingShows.length}})</h6>
                                            <input type="text" class="search-profile-inp-style" placeholder="Search" (input)='searchUpcomingShows($event)'>
                                        </div>
                                        <div class="new-scroll-wr">
                                            <div class="blocks">
                                               -->
                                                
                                                <!--/календарь вегда есть(не итерируем)-->
                                                <!--<ng-container *ngIf="isMyAccount">
                                                        
                                                <ng-container *ngIf="item.checked">
                                                -->
                                                
                                                <!-- <ng-container *ngFor="let item of UpcomingShows">
                                                  
                                                    <ng-container class="one-block" *ngIf="item.checked">   
                                                        <a [routerLink]="['/system','shows_detail',item.object.id]" style="display:block">
                                                            <app-upcoming-shows-profile [Upshows]="item.object"></app-upcoming-shows-profile>
                                                        </a>
                                                    </ng-container>
                                                   
                                                </ng-container>
                                                
                                            
                                            </div>
                                        </div>
                                    </div>
                                    <div class="side flex-header scroller uniq-padd-style-funs">
                                        <div class="uniq-padd-3">
                                            <h6>Fans ({{Account.followers_count}})</h6>
                                            <input type="text" class="search-profile-inp-style" placeholder="Search" (input)='searchFolover($event)'>
                                        </div>
                                        <div class="new-scroll-wr">
                                                <div class="blocks-funs">
                                                    <ng-container *ngFor="let item of folowersMassChecked">
                                                        <div class="one-block" *ngIf="item.checked">
                                                            <app-one-folower-for-profile [Folower]="item.object"></app-one-folower-for-profile>
                                                            
                                                        </div>

                                                    </ng-container>
                                                    
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </section> -->

    <!--  END ARTIST  -->
    
</section>

<div class="modal fade modal-slider" id="modal-slider">
    <div class="modal-dialog">
        <div class="modal-body">
            <div class="rel-modal">
                <div class="close-modal" data-dismiss="modal"></div>
                <div class="slider-padd">
                    <div class="slider-modal-wr">
                        <div class="one-slide">
                            <h4><span>Share</span> shows you like <span>with friends</span></h4>
                        </div>
                        <div class="one-slide">
                            <h4>Watch shows in <span>360°</span> virtual reality devices</h4>
                        </div>
                        <div class="one-slide">
                            <h4>Crowdfund <span>shows</span> of your favorite artists <span>in your hometown</span></h4>
                        </div>
                    </div>
                </div>
                <div class="flex-buttons-modal">
                    <div class="one-butt-wr">
                        <div class="style-b-op">
                            <span data-dismiss="modal">Sign up later</span>
                        </div>
                    </div>
                    <div class="one-butt-wr">
                        <div class="style-b-op">
                            <a href="#">Sign up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>