.name-venue {
    word-wrap: break-word;
    word-break: break-all;
}

#lines_view {
    
   
}

.venue-main-info .name-venue h2{
    text-align: center;
}


#d_lines_view {
    max-width: 400px;
    word-wrap: break-word;
}

#b_lines_view {
    max-width: 400px;
    word-wrap: break-word;
}

#contacts_view {
    max-width: 400px;
    word-wrap: break-word;
}
.new-link-to-sound{
    display: block;
}
.slick-arrow:before,.slick-arrow:after{
    display: none;
}

.slick-prev:before, .slick-next:before{
    display: none;
}
.head-info-profile-wr.head-info-artist .flex-artist-main-info .side.right-side .bg-slider{
    min-height: 430px;
}