<section class="main-router-outlet">
    <!---->

    <!-- Venue -->
    <section *ngIf="Account.account_type == Roles.Venue" class="main_content">
        <div class="for-flex-height">
           
             
            <section class="second-router-outlet">
                <div class="head-info-profile-wr">
                    <div class="venue-main-info">
                        <div class="side side-1">
                            <div class="mouse-bg-image">
                                <div class="big-avatar" [ngStyle]="{'background-image': 'url('+Account.image_base64+')'}"></div>
                            </div>
                        </div>
                        <div class="name-venue">
                            <h2 id="lines_view" *ngIf="Account.user_name">{{Account.user_name}}</h2>
                            <a *ngIf="isMyAccount" [routerLink]="['/system/venueCreate',UserId]" class="settings"></a>
                        </div>
                        <div class="oficial-page">
                            <span id="d_lines_view" *ngIf="Account.display_name" class="of-p">@{{Account.display_name}}</span>
                            <div class="ok-image">
                                <img class="img-responsive" src="../../assets/img/ok.png" alt="">
                            </div>
                        </div>
                        
                            
                        <ng-container *ngIf="!isMyAccount" >
                            <form *ngIf="!isFolowedAcc" class="follow-wr" (ngSubmit)="FollowProfile()">
                                <button  class="butt-style-1" type="submit">
                                    <span>Follow</span>
                                </button>
                            </form>
                            <form *ngIf="isFolowedAcc" class="follow-wr" (ngSubmit)="UnFollowProfile()">
                                <button  class="butt-style-1" type="submit">
                                    <span>Unfollow</span>
                                </button>
                            </form>
                        </ng-container>
                        
                    </div>
                </div>
                <div class="for-white-bg">
                    <div class="all-info-profile">
                        <div class="uniq-padd-2">
                            <div class="main-mw">
                                <div class="flex--info">
                                    <div class="side side-info side-about">
                                        <h6>About</h6>
                                        <p id="#b_lines_view" class="about-text" *ngIf='Account.description'>{{Account.description}}</p>
                                    </div>
                                    <div class="side side-info side-contact">
                                        <h6>Contact info</h6>
                                        <div class="flex-contact-venue">
                                            <div class="column-cont">
                                                <div class="one-cont">
                                                    <p class="head-cont">PHONE:</p>
                                                    <span *ngIf="Account.phone">{{Account.phone}}</span>
                                                </div>
                                                <div class="one-cont" *ngIf="Account.office_hours">
                                                    <p class="head-cont" >OFFICE HOURS:</p>
                                                    <ng-container *ngFor="let item of Account.office_hours;let i = index">
                                                        
                                                        <span>{{item.begin_time}} - {{item.end_time}}, {{item.day}}</span>
                                                    </ng-container>
                                                </div>
                                            </div>
                                            <div class="column-cont">
                                                <div class="one-cont">    
                                                    <div class="one-cont" *ngIf="Account.emails">
                                                            <p class="head-cont">CONTACTS:</p>
                                                            <ng-container *ngFor="let item of Account.emails;let i = index">
                                                                <span id="contacts_view">{{item.name}},</span>
                                                                <span id="contacts_view">{{item.email}}</span>
                                                            </ng-container>
                                                    </div>
                                                </div>
                                                <div class="one-cont" *ngIf="Account.office_hours">
                                                        <p class="head-cont" >OPERATING HOURS:</p>
                                                        <ng-container *ngFor="let item of Account.operating_hours;let i = index">
                                                            
                                                            <span>{{item.begin_time}} - {{item.end_time}}, {{item.day}}</span>
                                                        </ng-container>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="side side-info side-map">
                                        <h6>Location</h6>
                                        <p class="about-text" *ngIf='Account.address'>{{Account.address}}</p>
                                        <div class="map" id="map">
                                            карта тут
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uniq-padd-2">
                            <div class="main-mw">
                                <div class="flex--info">
                                    <div class="side scroller flex-header">
                                        <div class="for-scroll-padd">
                                            <h6>Gallery ({{VenueImages?VenueImages.length:'0'}})</h6>
                                            <input type="text" class="search-profile-inp-style"  placeholder="Search" (input)='searchImagesVenue($event)'>
                                        </div>
                                        <div class="new-scroll-wr">
                                            <div class="blocks gallery-main-wrapp">
                                               
                                                <ng-container *ngFor="let item of VenueImages;let in = index">
                                                   
                                                    <ng-container class="one-block" *ngIf="item.checked">   
                                                              
                                                        <div class="one-block for-gallery-item" (click)='Gallery($event)' [attr.data-eteration]="in" [attr.data-size]="imagesSize[in]?(imagesSize[in].width+'x'+imagesSize[in].height):'500x500'" [attr.data-hreff]="ImageMassVenue[in]" [ngStyle]="{'background-image': 'url(' + ImageMassVenue[in] + ')'}"></div>
                                                                
                                                    </ng-container>
                                                 
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="side flex-header scroller">
                                        <div class="for-scroll-padd">
                                            <h6>UPCOMING<br>SHOWS ({{UpcomingShows.length}})</h6>
                                            <input type="text" class="search-profile-inp-style" placeholder="Search" (input)='searchUpcomingShows($event)'>
                                        </div>
                                        <div class="new-scroll-wr">
                                            <div class="blocks">
                                                
                                                
                                                <!--/календарь вегда есть(не итерируем)-->
                                                <!--<ng-container *ngIf="isMyAccount">
                                                        
                                                <ng-container *ngIf="item.checked">
                                                -->
                                                <ng-container *ngFor="let item of UpcomingShows">
                                                    <ng-container *ngIf="!item.is_active">
                                                        <ng-container class="one-block" *ngIf="item.checked">   
                                                                
                                                            <app-upcoming-shows-profile [Upshows]="item.object"></app-upcoming-shows-profile>
                                                                
                                                            </ng-container>
                                                        </ng-container>
                                                    </ng-container>
                                                <ng-container *ngFor="let item of UpcomingShows">
                                                    
                                                    <ng-container *ngIf="item.is_active">
                                                        <ng-container class="one-block" *ngIf="item.checked">   
                                                            <a  [routerLink]="['/system','shows_detail',item.object.id]" style="display:block">
                                                                <app-upcoming-shows-profile [Upshows]="item.object"></app-upcoming-shows-profile>
                                                            </a>
                                                        </ng-container>
                                                    </ng-container>
                                                </ng-container>
                                                
                                            
                                            </div>
                                        </div>
                                    </div>
                            
                                    <div class="side scroller flex-header uniq-padd-style-funs">
                                        <div class="uniq-padd-3">
                                            <h6>Fans ({{Account.followers_count}})</h6>
                                            <input type="text" class="search-profile-inp-style" placeholder="Search" (input)='searchFolover($event)'>
                                        </div>
                                        <div class="new-scroll-wr">
                                            <div class="blocks-funs">
                                                <ng-container *ngFor="let item of folowersMassChecked">
                                                    <div class="one-block" *ngIf="item.checked">
                                                        <app-one-folower-for-profile [Folower]="item.object"></app-one-folower-for-profile>
                                                        
                                                    </div>

                                                </ng-container>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--photo-galary-->
                 <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="pswp__bg"></div>
                    <div class="pswp__scroll-wrap">
                        <div class="pswp__container">
                            <div class="pswp__item"></div>
                            <div class="pswp__item"></div>
                            <div class="pswp__item"></div>
                        </div>
                        <div class="pswp__ui pswp__ui--hidden">
                            <div class="pswp__top-bar">
                                <div class="pswp__counter"></div>
                                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                                <div class="pswp__preloader">
                                    <div class="pswp__preloader__icn">
                                      <div class="pswp__preloader__cut">
                                        <div class="pswp__preloader__donut"></div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                                <div class="pswp__share-tooltip"></div> 
                            </div>
                            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                            </button>
                            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                            </button>
                            <div class="pswp__caption">
                                <div class="pswp__caption__center"></div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--/photo-galary-->
            </section>
        </div>

    </section>

    <!-- END Venue -->
















    <!-- FAN -->
        <!---->
        <section *ngIf="Account.account_type == Roles.Fan" class="main_content">
            <div class="for-flex-height">
                
                 
                <section class="second-router-outlet">
                    <div class="head-info-profile-wr">
                        <div class="head-info-profile">
                            <div class="side side-1">
                                <div class="mouse-bg-image">
                                    <div class="big-avatar" [ngStyle]="{'background-image': 'url('+Account.image_base64+')'}"></div>
                                </div>
                            </div>
                            <div class="side side-2">
                                <h3 class="big-name">
                                    <span id="lines_view">{{Account.first_name}} {{Account.last_name}}</span>
                                    <span></span>
                                    <span id="d_lines_view" class="insta-link-sp">@{{Account.user_name}}</span>
                                </h3>
                            </div>
                            <div class="side side-3">
                                <div *ngIf="isMyAccount" class="edit-and-settings">
                                    <a [routerLink]="['/system/fanCreate',UserId]" class="edit-profile">Edit profile</a>
                                </div>
                                <div class="desc-wr">
                                    <p id="b_lines_view" class="description">{{Account.bio}}</p>
                                </div>
                                <ng-container *ngIf="!isMyAccount" >
                                    <form *ngIf="!isFolowedAcc" class="follow-wr" (ngSubmit)="FollowProfile()">
                                        <button  class="butt-style-1" type="submit">
                                            <span>Follow</span>
                                        </button>
                                    </form>
                                    <form *ngIf="isFolowedAcc" class="follow-wr" (ngSubmit)="UnFollowProfile()">
                                        <button  class="butt-style-1" type="submit">
                                            <span>Unfollow</span>
                                        </button>
                                    </form>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="for-white-bg">
                        <div class="circles-info">
                            <div class="main-mw">
                                <div class="for-flex-inf">
                                    <div class="circle">
                                        <span>{{TotalTicket}}</span>
                                        <p>Tickets</p>
                                    </div>
                                    <div class="circle">
                                        <span>{{Account.followers_count}}</span>
                                        <p>Followers</p>
                                    </div>
                                    <div class="circle">
                                        <span>{{Account.following_count}}</span>
                                        <p>Following</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="all-info-profile">
                            <div class="uniq-padd">
                                <div class="main-mw">
                                    <div class="genres-info">
                                        <h3>Genres</h3>
                                        <div class="flex-genres">
                                            <ng-container *ngFor="let item of Account.genres;let i = index">
                                                <span class="one-genre">{{item}}</span>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="uniq-padd-2">
                                <div class="main-mw">
                                    <div class="flex--info">
                                        <div class="side scroller">
                                            <div class="for-scroll-padd">
                                                <h6>Events ({{EventsMassChecked.length}})</h6>
                                                <input type="text" class="search-profile-inp-style"  placeholder="Search" (input)='searchEvents($event)'>
                                            </div>
                                            <div class="new-scroll-wr">
                                                <div class="blocks">
                                                    <ng-container *ngIf="Events.is_active">
                                                        <ng-container *ngFor="let item of EventsMassChecked">
                                                            <ng-container *ngIf="item.checked">
                                                                <a  [routerLink]="['/system','shows_detail',item.object.id]" style="display:block">
                                                                    <app-ticket-on-profile [Ticket]="item.object"></app-ticket-on-profile>
                                                                </a>
                                                            </ng-container>
                                                        </ng-container>
                                                    </ng-container>
                                                    <ng-container *ngIf="!Events.is_active">
                                                        <ng-container *ngFor="let item of EventsMassChecked">
                                                            <ng-container *ngIf="item.checked">
                                                                <app-ticket-on-profile [Ticket]="item.object"></app-ticket-on-profile>
                                                            </ng-container>
                                                        </ng-container>
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="side scroller">
                                            <div class="for-scroll-padd">
                                                <h6>Tickets ({{TotalTicket}})</h6>
                                                <input type="text" class="search-profile-inp-style" placeholder="Search" (input)='searchTickets($event)'>
                                            </div>
                                            <div class="new-scroll-wr">
                                                <div class="blocks">
                                                    <ng-container *ngIf="isMyAccount">
                                                        <ng-container *ngFor="let item of ticketsMassChecked">
                                                            <ng-container *ngIf="item.checked">
                                                                <a  [routerLink]="['/system','tickets',item.object.id]" style="display:block">
                                                                    <app-ticket-on-profile [Ticket]="item.object"></app-ticket-on-profile>
                                                                </a>
                                                            </ng-container>
                                                        </ng-container>
                                                    </ng-container>
                                                    <ng-container *ngIf="!isMyAccount">
                                                        <ng-container *ngFor="let item of ticketsMassChecked">
                                                            <ng-container *ngIf="item.checked">
                                                                <app-ticket-on-profile [Ticket]="item.object"></app-ticket-on-profile>
                                                            </ng-container>
                                                        </ng-container>
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="side scroller uniq-padd-style-funs">
                                            <div class="uniq-padd-3">
                                                <h6>Fans ({{Account.followers_count}})</h6>
                                                <input type="text" class="search-profile-inp-style" placeholder="Search" (input)='searchFolover($event)'>
                                            </div>
                                            <div class="new-scroll-wr">
                                                <div class="blocks-funs">
                                                    <ng-container *ngFor="let item of folowersMassChecked">
                                                        <div class="one-block" *ngIf="item.checked">
                                                            <app-one-folower-for-profile [Folower]="item.object"></app-one-folower-for-profile>
                                                            
                                                        </div>

                                                    </ng-container>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </section>
        
    <!-- END FAN -->




    <!-- ARTIST -->

    <section *ngIf="Account.account_type == Roles.Artist" class="main_content">
        <div class="for-flex-height">
             
            <section class="second-router-outlet">
                <div class="head-info-profile-wr head-info-artist">
                    <div class="main-mw">
                        <div class="flex-artist-main-info">
                            <div class="side left-side">
                                <h6 id="lines_view" class="name">{{Account.user_name}}</h6>
                                <div class="oficial-page">
                                    <span id="d_lines_view" class="page">@{{Account.display_name}}</span>
                                    <div *ngIf="isMyAccount" class="edit-and-settings">
                                        <!-- <a [routerLink]="['/system/edit',UserId]" class="edit-profile">Edit profile</a> -->
                                        <a [routerLink]="['/system/artistCreate',UserId]" class="edit-profile">Edit profile</a>

                                    </div>
                                </div>
                                <p id="b_lines_view" class="desc">
                                    {{Account.about}}
                                </p>
                                <ng-container *ngIf="!isMyAccount" >
                                    <form *ngIf="!isFolowedAcc" class="follow-wr" (ngSubmit)="FollowProfile()">
                                        <button  class="butt-style-1" type="submit">
                                            <span>Follow</span>
                                        </button>
                                    </form>
                                    <form *ngIf="isFolowedAcc" class="follow-wr" (ngSubmit)="UnFollowProfile()">
                                        <button  class="butt-style-1" type="submit">
                                            <span>Unfollow</span>
                                        </button>
                                    </form>
                                </ng-container>
                            </div>
                            <div class="side right-side">
                                <div class="bg-slider">
                                    <div class="iframe-slider-wrapp">
                                        <!-- надо подключить youtube api и тем самым вставлять видео вместо iframe ибо у iframe нет норм функций для остановки видео, либо я хреново покопался.-->
                                        <li *ngFor="let item of Videos;let i = index" >
                                            <div class="slide">
                                                <div class="iframe-wr">
                                                    <iframe [id]="'video-iframe-'+i" class="youtube-video" enablejsapi="1" [src]="item" allowfullscreen></iframe>
                                                </div>
                                            </div>
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="for-white-bg">
                    <div class="all-info-profile">
                        <div class="uniq-padd">
                            <div class="main-mw">
                                <div class="genres-info genres-info-artist">
                                    <h3>Genres</h3>
                                    <div class="flex-genres">
                                        <ng-container *ngFor="let item of Account.genres;let i = index">
                                            <span class="one-genre">{{item}}</span>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uniq-padd-2">
                            <div class="main-mw">
                                <div class="flex--info">
                                    <div class="side flex-header scroller">
                                        <div class="for-scroll-padd">
                                            <h6>Albums ({{Albums.length}})</h6>
                                            <input type="text" class="search-profile-inp-style"  placeholder="Search" (input)='searchAlboms($event)'>
                                        </div>
                                        <div class="new-scroll-wr">
                                            <div class="blocks">
                                                <ng-container *ngFor="let item of Albums">
                                                    <ng-container *ngIf="item.checked">
                                                        <a [href]="item.object.album_link" target="_blank" class="one-block new-link-to-sound" [ngStyle]="{'background-image': item.object.album_artwork?'url('+item.object.album_artwork+')':'url(../../assets/img/drake.jpg)'}">
                                                            <div class="desc">
                                                                <p class="name">{{item.object.album_name}}</p>
                                                            
                                                            </div>
                                                        </a>
                                                    </ng-container>
                                                </ng-container>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="side flex-header scroller">
                                        <div class="for-scroll-padd">
                                            <h6>UPCOMING<br>SHOWS ({{UpcomingShows.length}})</h6>
                                            <input type="text" class="search-profile-inp-style" placeholder="Search" (input)='searchUpcomingShows($event)'>
                                        </div>
                                        <div class="new-scroll-wr">
                                            <div class="blocks">
                                              
                                                
                                                <!--/календарь вегда есть(не итерируем)-->
                                                <!--<ng-container *ngIf="isMyAccount">
                                                        
                                                <ng-container *ngIf="item.checked">
                                                -->
                                                <ng-container *ngFor="let item of UpcomingShows">
                                                    <ng-container *ngIf="!item.is_active">
                                                        <ng-container class="one-block" *ngIf="item.checked">   
                                                               
                                                            <app-upcoming-shows-profile [Upshows]="item.object"></app-upcoming-shows-profile>
                                                              
                                                            </ng-container>
                                                        </ng-container>
                                                    </ng-container>
                                                <ng-container *ngFor="let item of UpcomingShows">
                                                    
                                                    <ng-container *ngIf="item.is_active">
                                                        <ng-container class="one-block" *ngIf="item.checked">   
                                                            <a  [routerLink]="['/system','shows_detail',item.object.id]" style="display:block">
                                                                <app-upcoming-shows-profile [Upshows]="item.object"></app-upcoming-shows-profile>
                                                            </a>
                                                        </ng-container>
                                                    </ng-container>
                                                </ng-container>
                                                
                                            
                                            </div>
                                        </div>
                                    </div>
                                    <div class="side flex-header scroller uniq-padd-style-funs">
                                        <div class="uniq-padd-3">
                                            <h6>Fans ({{Account.followers_count}})</h6>
                                            <input type="text" class="search-profile-inp-style" placeholder="Search" (input)='searchFolover($event)'>
                                        </div>
                                        <div class="new-scroll-wr">
                                                <div class="blocks-funs">
                                                    <ng-container *ngFor="let item of folowersMassChecked">
                                                        <div class="one-block" *ngIf="item.checked">
                                                            <app-one-folower-for-profile [Folower]="item.object"></app-one-folower-for-profile>
                                                            
                                                        </div>

                                                    </ng-container>
                                                    
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </section>

    <!--  END ARTIST  -->
    
</section>

<div class="modal fade modal-slider" id="modal-slider">
    <div class="modal-dialog">
        <div class="modal-body">
            <div class="rel-modal">
                <div class="close-modal" data-dismiss="modal"></div>
                <div class="slider-padd">
                    <div class="slider-modal-wr">
                        <div class="one-slide">
                            <h4><span>Share</span> shows you like <span>with friends</span></h4>
                        </div>
                        <div class="one-slide">
                            <h4>Watch shows in <span>360°</span> virtual reality devices</h4>
                        </div>
                        <div class="one-slide">
                            <h4>Crowdfund <span>shows</span> of your favorite artists <span>in your hometown</span></h4>
                        </div>
                    </div>
                </div>
                <div class="flex-buttons-modal">
                    <div class="one-butt-wr">
                        <div class="style-b-op">
                            <span data-dismiss="modal">Sign up later</span>
                        </div>
                    </div>
                    <div class="one-butt-wr">
                        <div class="style-b-op">
                            <a href="#">Sign up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>