<section class="main-router-outlet">
    <!---->
    <!-- Venue -->
    <ng-container *ngIf="Account.account_type == Roles.Venue">
        <app-venue-profile #venue [Account]='Account' [IsPreview]="true"></app-venue-profile>
    </ng-container>
    <!-- END Venue -->
    <!-- FAN -->
    <ng-container *ngIf="Account.account_type == Roles.Fan">
        <app-fun-profile #fan [Account]='Account' [IsPreview]="true"></app-fun-profile>
    </ng-container>   
    <!-- END FAN -->
    <!-- ARTIST -->
    <ng-container *ngIf="Account.account_type == Roles.Artist" >
        <app-artist-profile #artist [Account]='Account' [IsPreview]="true"></app-artist-profile>
    </ng-container>
    <!--  END ARTIST  -->
</section>


<div class="modal fade modal-slider" id="modal-slider">
    <div class="modal-dialog">
        <div class="modal-body">
            <div class="rel-modal">
                <div class="close-modal" data-dismiss="modal"></div>
                <div class="slider-padd">
                    <div class="slider-modal-wr">
                        <div class="one-slide">
                            <h4><span>Share</span> shows you like <span>with friends</span></h4>
                        </div>
                        <div class="one-slide">
                            <h4>Watch shows in <span>360°</span> virtual reality devices</h4>
                        </div>
                        <div class="one-slide">
                            <h4>Crowdfund <span>shows</span> of your favorite artists <span>in your hometown</span></h4>
                        </div>
                    </div>
                </div>
                <div class="flex-buttons-modal">
                    <div class="one-butt-wr">
                        <div class="style-b-op">
                            <span data-dismiss="modal">Sign up later</span>
                        </div>
                    </div>
                    <div class="one-butt-wr">
                        <div class="style-b-op">
                            <a href="#">Sign up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>