<!-- <div class="admin_content"> -->
    <section>
        <h1 class="admin_big_zag">Event analytics</h1>
        <div class="admin_cards">
            <div class="card siren world">
                <span class="num">{{Counts.all}}</span>
                <span class="text">All Events</span>
            </div>
            <div class="card blue cardcheck">
                <span class="num">{{Counts.successful}}</span>
                <span class="text">Successful</span>
            </div>
            <div class="card violet canc">
                <span class="num">{{Counts.failed}}</span>
                <span class="text">Failed</span>
            </div>
        </div>
    </section>
    <section>
        <h2 class="admin_table_zag zag_with_tabs">
            <span>New status per</span>
            <span class="zag_tab" (click)="setGraphNewStatusBy('day')" [ngClass]="{'active':newStatusPer==='day'}">Day</span>
            <span class="zag_tab" (click)="setGraphNewStatusBy('week')" [ngClass]="{'active':newStatusPer==='week'}">Week</span>
            <span class="zag_tab" (click)="setGraphNewStatusBy('month')" [ngClass]="{'active':newStatusPer==='month'}">Month</span>
            <span class="zag_tab" (click)="setGraphNewStatusBy('year')" [ngClass]="{'active':newStatusPer==='year'}">Year</span>
            <span class="zag_tab" (click)="setGraphNewStatusBy('all')" [ngClass]="{'active':newStatusPer==='all'}">All time</span>
        </h2>
        <div class="events_status_wrap">
            <div class="admin_table events_status_table">
                <div class="admin_table_thead">
                    <div class="admin_table_th">Status</div>
                    <div class="admin_table_th">Amount</div>
                    <div class="admin_table_th">Percent</div>
                </div>
                <div class="admin_table_tbody">
                    <div class="admin_table_tr">
                        <div class="admin_table_td"><span class="blue">Successful</span></div>
                        <div class="admin_table_td"><span>{{newStatus.successful}}</span></div>
                        <div class="admin_table_td"><span>{{newStatus.successful/newStatus.all*100|number: '1.1-1'}}%</span></div>
                    </div>
                    <div class="admin_table_tr">
                        <div class="admin_table_td"><span class="yellow">Pending</span></div>
                        <div class="admin_table_td"><span>{{newStatus.pending}}</span></div>
                        <div class="admin_table_td"><span>{{newStatus.pending/newStatus.all*100|number: '1.1-1'}}%</span></div>
                    </div>
                    <div class="admin_table_tr">
                        <div class="admin_table_td"><span class="purple">Failed</span></div>
                        <div class="admin_table_td"><span>{{newStatus.failed}}</span></div>
                        <div class="admin_table_td"><span>{{newStatus.failed/newStatus.all*100|number: '1.1-1'}}%</span></div>
                    </div>
                </div>
            </div>
            <div class="pie_graph">
                <canvas baseChart #myCanvasPie
                        [data]="pieChartData"
                        [labels]="pieChartLabels"
                        [colors]="pieChartColors"
                        [legend]="false"
                        [options]="pieChartOptions"
                        [chartType]="pieChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
              </div>
        </div>
    </section>
    <section>
        <h2 class="admin_table_zag zag_with_tabs">
            <span>New events per</span>
            <span class="zag_tab" (click)="setGraphNewEventsBy('day')" [ngClass]="{'active':newEventPer==='day'}">Day</span>
            <span class="zag_tab" (click)="setGraphNewEventsBy('week')" [ngClass]="{'active':newEventPer==='week'}">Week</span>
            <span class="zag_tab" (click)="setGraphNewEventsBy('month')" [ngClass]="{'active':newEventPer==='month'}">Month</span>
            <span class="zag_tab" (click)="setGraphNewEventsBy('year')" [ngClass]="{'active':newEventPer==='year'}">Year</span>
            <span class="zag_tab" (click)="setGraphNewEventsBy('all')" [ngClass]="{'active':newEventPer==='all'}">All time</span>
        </h2>
        <div class="diagramm_block">
                <canvas baseChart #baseChart width="400" height="300"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="true"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
        </div>
        <!-- <div class="acc_analytics_diag_desc">
            <span class="rose">Crowdfund</span>
            <span class="violet">Regular</span>
        </div> -->
    </section>
    <section>
        <h2 class="admin_table_zag">Individual events</h2>
        <div class="events_filters_wrap">
            <div class="events_filters_left">
                <input type="text" [(ngModel)]="paramsIndividual.text" (ngModelChange)="getIndividuals()" placeholder="Search">
                <p>Sort By</p>
                <div class="radios">
                    <div class="filter_radio">
                        <input [(ngModel)]="paramsIndividual.sort_by" value="name" (ngModelChange)="getIndividuals()" type="radio" id="sort_event_name" name="sort_event">
                        <label for="sort_event_name"></label>
                        <span>Event Name</span>
                    </div>
                    <div class="filter_radio">
                        <input [(ngModel)]="paramsIndividual.sort_by" value="date" (ngModelChange)="getIndividuals()" type="radio" id="sort_event_date" name="sort_event">
                        <label for="sort_event_date"></label>
                        <span>Event Date</span>
                    </div>
                </div>
            </div>
            <div class="events_filters_right">
                <div class="radios">
                    <div class="filter_radio">
                        <input type="radio" value="all" [(ngModel)]="paramsIndividual.event_type_.funding" (ngModelChange)="getIndividuals()" id="event_filter1" name="sort_funding_type">
                        <label for="event_filter1"></label>
                        <span>All</span>
                    </div>
                    <div class="filter_radio">
                        <input type="radio" value="crowdfund" [(ngModel)]="paramsIndividual.event_type_.funding" (ngModelChange)="getIndividuals()" id="event_filter2" name="sort_funding_type">
                        <label for="event_filter2"></label>
                        <span>Crowdfund</span>
                    </div>
                    <div class="filter_radio">
                        <input type="radio" value="regular" [(ngModel)]="paramsIndividual.event_type_.funding" (ngModelChange)="getIndividuals()" id="event_filter3" name="sort_funding_type">
                        <label for="event_filter3"></label>
                        <span>Regular</span>
                    </div>
                </div>
                <div class="radios">
                    <div class="filter_radio">
                        <input type="radio" value="viewed" [(ngModel)]="paramsIndividual.event_type_.most" (ngModelChange)="getIndividuals()" id="event_filter4" name="sort_most">
                        <label for="event_filter4"></label>
                        <span>Most Viewed</span>
                    </div>
                    <div class="filter_radio">
                        <input type="radio" value="liked" [(ngModel)]="paramsIndividual.event_type_.most" (ngModelChange)="getIndividuals()" id="event_filter5" name="sort_most">
                        <label for="event_filter5"></label>
                        <span>Most Liked</span>
                    </div>
                    <div class="filter_radio">
                        <input type="radio" value="commented" [(ngModel)]="paramsIndividual.event_type_.most" (ngModelChange)="getIndividuals()" id="event_filter6" name="sort_most">
                        <label for="event_filter6"></label>
                        <span>Most Commented</span>
                    </div>
                </div>
                <div class="radios">
                    <div class="filter_radio">
                        <input type="radio" value="successful" [(ngModel)]="paramsIndividual.event_type_.status" (ngModelChange)="getIndividuals()" id="event_filter7" name="sort_status">
                        <label for="event_filter7"></label>
                        <span>Successful</span>
                    </div>
                    <div class="filter_radio">
                        <input type="radio" value="pending" [(ngModel)]="paramsIndividual.event_type_.status" (ngModelChange)="getIndividuals()" id="event_filter8" name="sort_status">
                        <label for="event_filter8"></label>
                        <span>Pending</span>
                    </div>
                    <div class="filter_radio">
                        <input type="radio" value="failed" [(ngModel)]="paramsIndividual.event_type_.status" (ngModelChange)="getIndividuals()" id="event_filter9" name="sort_status">
                        <label for="event_filter9"></label>
                        <span>Failed</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="admin_table scroll_table events_analytic_table">
            <div class="admin_table_thead">
                <div class="admin_table_th">Event name</div>
                <div class="admin_table_th">Event date</div>
                <div class="admin_table_th">Funding type</div>
                <div class="admin_table_th">Comments</div>
                <div class="admin_table_th">Likes</div>
                <div class="admin_table_th">Views</div>
                <div class="admin_table_th">Status</div>
            </div>
            <div class="admin_table_tbody_scroll">
                <div *ngFor="let ind of Individual" class="admin_table_tr">
                    <div class="admin_table_td"><span>{{ind.name}}</span></div>
                    <div class="admin_table_td"><span>{{ind.date_from ? (ind.date_from|date:"dd.MM.YY hh:mm a"):'-'}}</span></div>
                    <div class="admin_table_td"><span>{{ind.is_crowdfunding_event?'Crowdfunding':'Regular'}}</span></div>
                    <div class="admin_table_td"><span>{{ind.comments}}</span></div>
                    <div class="admin_table_td"><span>{{ind.likes}}</span></div>
                    <div class="admin_table_td"><span>{{ind.views}}</span></div>
                    <div class="admin_table_td text-uppercase"><span [ngClass]="{'status_pending':ind.status=='pending','status_approved':ind.status=='approved','status_new':ind.status=='new','status_denied':ind.status=='denied','status_inactive':ind.status=='inactive'}">{{ind.status.replace('_',' ')|titlecase}}</span></div>
                </div>
            
            </div>
        </div>
    </section>
<!-- </div> -->