<!-- <div class="admin_content"> -->
    <section>
        <div class="feedback_big_zag">
            <h1 class="admin_big_zag">Analytics</h1>
            <div class="stars_block">
                <div class="stars">
                    <span class="star" [ngClass]="{'full':Rate>=0.5}"></span>
                    <span class="star" [ngClass]="{'full':Rate>=1.5}"></span>
                    <span class="star" [ngClass]="{'full':Rate>=2.5}"></span>
                    <span class="star" [ngClass]="{'full':Rate>=3.5}"></span>
                    <span class="star" [ngClass]="{'full':Rate>=4.5}"></span>
                </div>
                <p class="rate">{{Rate}} / 5.0</p>
            </div>
        </div>
        <div class="admin_cards">
            <div class="card violet music">
                <span class="num">{{Info.bug}}</span>
                <span class="text">Bugs</span>
            </div>
            <div class="card siren kolonka">
                <span class="num">{{Info.enhancement}}</span>
                <span class="text">Enchancements</span>
            </div>
            <div class="card blue mic">
                <span class="num">{{Info.compliment}}</span>
                <span class="text">Compliments</span>
            </div>
        </div>
    </section>
    <section>
        <h2 class="admin_table_zag zag_with_tabs">
            <span>Usersfeed back per</span>
            <span class="zag_tab" (click)="setGraphBy('day')" [ngClass]="{'active':graphBy==='day'}">Day</span>
            <span class="zag_tab" (click)="setGraphBy('week')" [ngClass]="{'active':graphBy==='week'}">Week</span>
            <span class="zag_tab" (click)="setGraphBy('month')" [ngClass]="{'active':graphBy==='month'}">Month</span>
            <span class="zag_tab" (click)="setGraphBy('year')" [ngClass]="{'active':graphBy==='year'}">Year</span>
            <span class="zag_tab" (click)="setGraphBy('all')" [ngClass]="{'active':graphBy==='all'}">All time</span>
        </h2>
        <div class="diagramm_block">
                <canvas baseChart #baseChart width="400" height="300"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="true"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
        </div>
        <!-- <div class="acc_analytics_diag_desc">
            <span class="rose">Bugs</span>
            <span class="violet">Enchancements</span>
            <span class="crossed">Compliments</span>
        </div> -->
    </section>
    <br><br>
<!-- </div> -->