.slider-2-albums .one-slide{
    width: 50%;
}
.circle-scroll{
    cursor: pointer;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
.slider-2-albums{
    flex-wrap: wrap;
}

.slider-audio-wrapp{
    display: flex !important;
    flex-wrap: wrap;
}
.photo-wr-1.just-senter{
justify-content: center;
}
@media (max-width: 991px) {
    .slider-2-albums{
        margin: 0 -10px;
    }
}