
    <div class="main-mw">
        <div class="create-event-body">
            <div class="head-ev-body">
                <h2>Media</h2>
                <p>Please fill in all required fields<br>to proceed to the Next Step</p>
            </div>
        </div>
        
    </div>
    <div class="main-mw">
        <div class="media-flex-sides">
            <div class="left-side">
                <h6 class="head-of-left-side">Songs</h6>
                <div class="gradient-box gradient-1">
                    <h6 class="head-of-gradient-box">Add new Song</h6>
                    <form [formGroup]="addSongForm">
                        <div class="input-groupe-1">
                            <input id="inp-box-1" formControlName="song_name" name="" type="text">
                            <label for="inp-box-1">Song Name</label>
                        </div>
                        <div class="input-groupe-1">
                            <input id="inp-box-2" formControlName="album_name" name="" type="text">
                            <label for="inp-box-2">Album Name</label>
                        </div>
                        <div class="input-groupe-1">
                            <input id="inp-box-3" formControlName="audio_link" name="" type="text">
                            <label for="inp-box-3">Link</label>
                        </div>
                        <div class="butt-wrapp-grad">
                            <button (click)="addAudio()" class="butt-style-1" type="submit">
                                <span>Add to List</span>
                            </button>   
                        </div>
                    </form>
                </div>
            </div>
            <div class="right-side">
                <div class="head-of-right-side">
                    <p class="head-text-r">SONGS UPLOADED</p>
                    <p class="limit">Limit of 20 Songs</p>
                </div>
                <!--если пустой-->
                
                <div [ngStyle]="{'display': !Artist.audio_links||Artist.audio_links.length<=0?'block':'none'}" class="empty-info">
                    <img src="./../../../assets/img/smile.svg" class="img-responsive" alt="">
                    <p>No Songs Yet</p>
                </div>
                

                <!---->
                <!--если не пустой. это слайдер-->
                
                <div [ngStyle]="{'display': Artist.audio_links&&Artist.audio_links.length>0?'block':'none'}" class="slider-audio-wrapp">
                
                    <!--это слайд. в нем не более 12 треков-->

                    
                    <div  class="one-slide">               
                        <div *ngFor="let item of Artist.audio_links; let i = index"  class="one-audio">
                            <div class="delete-track" (click)="deleteAudio(i)"></div>
                            <span id="track-{{i}}" class="name-track">{{item.song_name}}</span>
                            <audio src="{{item.audio_link}}" preload="none" ></audio> 
                        </div>     
                    </div>
                    <!--это типо второй слайд
                    <div class="one-slide">
                        <div class="one-audio">
                            <div class="delete-track"></div>
                            <span class="name-track">Soulcall</span>
                            <audio src="mp3/lalala.mp3" preload="auto" />   
                        </div>
                    </div>
                    -->
                
                </div>
            </div>
        </div>
        <div class="media-flex-sides">
            <div class="left-side">
                <h6 class="head-of-left-side albums-t-s">Albums</h6>
                <div class="gradient-box gradient-2">
                    <h6 class="head-of-gradient-box">Add new album</h6>
                    <form [formGroup]="addAlbumForm">
                        <div class="input-groupe-1">
                            <input formControlName="album_name" id="inp-box-4" name="" type="text">
                            <label for="inp-box-4">Album Name</label>
                        </div>
                        <div class="input-groupe-1">
                            <input formControlName="album_artwork" id="inp-box-5" name="" type="text">
                            <label for="inp-box-5">Album Artwork</label>
                        </div>
                        <div class="input-groupe-1">
                            <input formControlName="album_link" id="inp-box-6" name="" type="text">
                            <label for="inp-box-6">Link</label>
                        </div>
                        <div class="butt-wrapp-grad">
                            <button class="butt-style-1" type="submit">
                                <span (click)="addAlbum()">Add to List</span>
                            </button>   
                        </div>
                    </form>
                </div>
            </div>
            <div class="right-side albums">
                <div class="head-of-right-side">
                    <p class="head-text-r">Albums UPLOADED</p>
                    <p class="limit">Limit of 20 Albums</p>
                </div>
                <!--если пустой-->
                
                <div [ngStyle]="{'display': !Artist.artist_albums||Artist.artist_albums.length<=0?'block':'none'}" class="empty-info">
                    <img src="../../../assets/img/smile.svg" class="img-responsive" alt="">
                    <p>No Songs Yet</p>
                </div>
                
                <!---->
                <!--если не пустой.-->
                
                <div [ngStyle]="{'display': Artist.artist_albums&&Artist.artist_albums.length>0?'flex':'none'}" class="slider-2-albums slider-2-init" >
                
                    <!-- ngxSlickItem -->
                        <div  *ngFor="let item of Artist.artist_albums; let i = index" class="one-slide">
                            <div class="wrapp-card">
                                <div class="delete-track" (click)="deleteAlbum(i)"></div>
                                <div class="cover-image" [ngStyle]="{'background-image': 'url('+item.album_artwork+')'}"></div>
                                <div class="descr playing">
                                    <p class="name">{{item.album_name}}</p>
                                    <!-- <p class="date">2015</p> -->
                                
                                    <span class="butt-style-1">
                                        <a target="_blank" style="color:white" href="{{item.album_link}}"><span>play</span></a>
                                    </span>   
                                
                                </div>
                            </div>
                        </div>
                
            </div>
                
                
                <!--/если не пустой.-->
                
            </div>
        </div>
        
        
        <div class="media-flex-sides">
            <div class="left-side">
                <h6 class="head-of-left-side albums-t-s">Videos</h6>
                <div class="gradient-box gradient-3">
                    <h6 class="head-of-gradient-box">Add new Video</h6>
                    <form [formGroup]="addVideoForm">
                        <div class="input-groupe-1">
                            <input formControlName="name" id="inp-box-4" name="" type="text">
                            <label for="inp-box-4">Song Name</label>
                        </div>
                        <div class="input-groupe-1">
                            <input formControlName="album_name" id="inp-box-5" name="" type="text">
                            <label for="inp-box-5">Album Name</label>
                        </div>
                        <div class="input-groupe-1">
                            <input formControlName="link" id="inp-box-6" name="" type="text">
                            <label for="inp-box-6">Link</label>
                        </div>
                        <div class="butt-wrapp-grad">
                            <button class="butt-style-1" type="submit">
                                <span (click)="addVideo()">Add to List</span>
                            </button>   
                        </div>
                    </form>
                </div>
            </div>
            <div class="right-side albums">
                <div class="head-of-right-side">
                    <p class="head-text-r">Videos UPLOADED</p>
                    <p class="limit">Limit of 20 Videos</p>
                </div>
                <!--если пустой-->
                
                <div [ngStyle]="{'display': !Artist.artist_videos||Artist.artist_videos.length<=0?'block':'none'}" class="empty-info">
                    <img src="../../../assets/img/smile.svg" class="img-responsive" alt="">
                    <p>No Songs Yet</p>
                </div>
                
                <!---->
                <!--если не пустой.-->
                
                <div [ngStyle]="{'display': Artist.artist_videos&&Artist.artist_videos.length>0?'flex':'none'}" class="slider-2-albums slider-2-init" >
                
                        <div  *ngFor="let item of Artist.artist_videos; let i = index" class="one-slide">
                            <div class="wrapp-card">
                                <div class="delete-track" (click)="deleteVideo(i)"></div>
                                <div (click)="openVideo(item)" class="cover-image" [ngStyle]="{'background-image': 'url('+item.preview+')'}">
                                    <div class="butt-play-video">
                                        <div class="pl"></div>
                                    </div>
                                </div>
                                <div class="descr playing">
                                    <p class="name">{{item.name}}</p>
                                    <p class="date">{{item.album_name}}</p>
                                </div>
                            </div>
                        </div>
                    
                
                </div>
                <!--/если не пустой.-->
                
            </div>
        </div>
        
        <div class="media-flex-sides">
            <div class="left-side">
                <h6 class="head-of-left-side albums-t-s">Photos</h6>
                <div class="gradient-box gradient-4">
                    <h6 class="head-of-gradient-box">Add new photo</h6>
                    <div class="photo-wr-1">
                        <label *ngIf="!ImageToLoad" class="file_upload">
                            <div class="bg-image"></div>
                    
                            <input accept=".jpg, .jpeg, .png" type="file" (change)="loadImage($event)">
                        </label>
                        <!--появляется этот блок если загружена фотка и в стайл бекграунд имейдж ебануть-->
                        <div *ngIf="ImageToLoad" (click)="DeleteImageFromLoading()" class="bg-image uploaded" [ngStyle]="{'background-image': 'url(' + ImageToLoad + ')'}"></div>
                        <!---->
                    </div>
                    <div class="input-groupe-1 small-textarea whithout-label">
                        <textarea [(ngModel)]="imageInfo" id="inp-desc-1"></textarea>
                        <label for="inp-desc-1" class="head-groupe">Description</label>
                    </div>
                    
                    <div *ngIf="!isImageLoading" class="butt-wrapp-grad">
                        <button class="butt-style-1 thot-butt" type="submit">
                            <span (click)="AddArtistPhoto()">Add to Photos</span>
                        </button>   
                    </div>
                    
                </div>
            </div>
            <div class="right-side albums">
                <div  class="head-of-right-side">
                    <p class="head-text-r">Photos UPLOADED</p>
                    <p class="limit">Limit of 20 Photos</p>
                </div>
                <!--если пустой-->
                
                <div [ngStyle]="{'display': ArtistImages.length<=0?'block':'none'}" class="empty-info">
                    <app-preloader style="max-height: 200px;" *ngIf="isImageLoading"></app-preloader>
                    <img *ngIf="!isImageLoading" src="../../../assets/img/smile.svg" class="img-responsive" alt="">
                    <p *ngIf="!isImageLoading">No Songs Yet</p>
                </div>
                
                <!---->
                <!--если не пустой.-->
                    
                <div [ngStyle]="{'display': ArtistImages.length>0?'flex':'none'}" class="slider-2-albums slider-2-init" >
                

                
                    <div *ngFor="let img of ArtistImages" class="one-slide">
                        <div class="wrapp-card">
                            <div class="delete-track" (click)="deleteImage(img.id)"></div>
                            <div class="cover-image" [ngStyle]="{'background-image': 'url('+ img.img.toString() +')'}"></div>
                            <div class="descr">
                                <p class="name">{{img.text}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="one-slide">
                        <div class="wrapp-card">
                            <div class="delete-track"></div>
                            <div class="cover-image" style="background-image: url(../../../assets/img/drake.jpg)"></div>
                            <div class="descr">
                                <p class="name">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuminim veniam, quis nostrud </p>
                            </div>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="wrapp-card">
                            <div class="delete-track"></div>
                            <div class="cover-image" style="background-image: url(../../../assets/img/drake.jpg)"></div>
                            <div class="descr">
                                <p class="name">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuminim veniam, quis nostrud </p>
                            </div>
                        </div>
                    </div> -->
                
                    </div>
                
                <!--/если не пустой.-->
                
            </div>
        </div>
      
        
    </div>

    <div class="scroll-wrapp">
        <div (click)="nextPage()" class="circle-scroll"></div>
    </div>



<!--иодалка для открытия видосов-->
<div class="modal fade modal-movie" id="modal-movie">
    <div class="modal-dialog">
        <div class="modal-contant">
            <div class="modal-body">
                <iframe id="video-frame" width="560" height="315" [src]="openVideoLink" frameborder="0" allow="autoplay; encrypted-media" ></iframe>
            </div>
        </div>
    </div>
</div>   
<!--//иодалка для открытия видосов-->