p{
    color: white;
}
bs-datepicker-container, bs-daterangepicker-container {
    -webkit-transform: translateX(-90px);
            transform: translateX(-90px); }

.dropdown{
    color: red;
    background: black;
}
            