<section class="login-register">
    <div class="register">
        <div class="m-v-reg">
            <form class="reg-wr" (ngSubmit)="UpdateUser()" #submitFormUsr="ngForm">
                <h3>Edit profile</h3>
                <div class="for-flex">
                    <div class="photo-wr-1">
                        <label  *ngIf="!Account.image_base64" class="file_upload">
                            <div class="bg-image"></div>
                            <p>Add photo</p>
                            <input name="photo" accept=".jpg, .jpeg, .png" type="file" (change)="loadLogo($event)"> 
                        </label>
                       
                        <div (click)="Account.image_base64=''" *ngIf="Account.image_base64" class="bg-image uploaded" [ngStyle]="{'background-image': 'url('+Account.image_base64+')'}"></div>
                       
                    </div>
                    <div class="side left-side">
                        <input name="phone" class="inp-style-2" type="text" placeholder="Phone" [ngModel]="Account.phone" (ngModelChange)="Account.phone = $event">
                        <input name="address" class="inp-style-2" type="text" placeholder="Address" [ngModel]="Account.address" (ngModelChange)="Account.address = $event">
                        <input name="capacity" *ngIf="Account.account_type == Roles.Venue" class="inp-style-2" type="number" min="0" placeholder="Capacity" [ngModel]="Account.capacity" (ngModelChange)="Account.capacity = $event">
                        <input name="number_of_bathrooms" *ngIf="Account.account_type == Roles.Venue" ngModel class="inp-style-2" type="number" min="0" placeholder="Number of bathrooms" [ngModel]="Account.num_of_bathrooms" (ngModelChange)="Account.num_of_bathrooms = $event">
                        <input name="min_age" *ngIf="Account.account_type == Roles.Venue" ngModel class="inp-style-2" type="number" min="0" placeholder="Minimal age" [ngModel]="Account.min_age" (ngModelChange)="Account.min_age = $event">
                        <!-- <p>Choose your account type</p>
                        <select name="account_type" [ngModel]="Account.account_type" (ngModelChange)="Account.account_type = $event">
                            <option *ngFor="let item of AccountTypes" [value]="item.value">{{item.name}}</option>
                        </select> -->
                        <p *ngIf="Account.account_type == Roles.Venue">Choose your venue type</p>
                        <select name="venue_type" *ngIf="Account.account_type == Roles.Venue" [ngModel]="Account.vanue_type" (ngModelChange)="Account.vanue_type = $event">
                            <option *ngFor="let item of VenueTypes" [value]="item.value">{{item.name}}</option>
                        </select>
                        <p *ngIf="Account.account_type == Roles.Venue">Location</p>
                        <select name="location_type" *ngIf="Account.account_type == Roles.Venue" [ngModel]="Account.location" (ngModelChange)="Account.location = $event">
                            <option *ngFor="let item of LocationTypes" [value]="item.value">{{item.name}}</option>
                        </select>
                        <input name="lat" *ngIf="Account.account_type == Roles.Venue" class="inp-style-2" type="number" min="0" placeholder="Latitude" [ngModel]="Account.lat" (ngModelChange)="Account.lat = $event">
                        <input name="lng" *ngIf="Account.account_type == Roles.Venue" class="inp-style-2" type="number" min="0" placeholder="Longitude" [ngModel]="Account.lng" (ngModelChange)="Account.lng = $event">
                        <input name="about" *ngIf="Account.account_type == Roles.Artist" class="inp-style-2" type="text" placeholder="About" [ngModel]="Account.about" (ngModelChange)="Account.about = $event">
                    </div>



                    <div class="side right-side">
                        <input name="username" ngModel class="inp-style-2" type="text" placeholder="Username" [ngModel]="Account.user_name" (ngModelChange)="Account.user_name = $event">
                        <input name="displayname" ngModel class="inp-style-2" type="text" placeholder="Displayed name" [ngModel]="Account.display_name" (ngModelChange)="Account.display_name = $event">
                        <input name="bio" *ngIf="Account.account_type == Roles.Fan" ngModel class="inp-style-2" type="text" placeholder="Bio" [ngModel]="Account.bio" (ngModelChange)="Account.bio = $event">
                        <input name="description" *ngIf="Account.account_type == Roles.Venue" ngModel class="inp-style-2" type="text" placeholder="Description" [ngModel]="Account.description" (ngModelChange)="Account.description = $event">
                        <input name="fax" *ngIf="Account.account_type == Roles.Venue" ngModel class="inp-style-2" type="text" placeholder="Fax" [ngModel]="Account.fax" (ngModelChange)="Account.fax = $event">
                        <input name="bank_name" *ngIf="Account.account_type == Roles.Venue" ngModel class="inp-style-2" type="text" placeholder="Bank name" [ngModel]="Account.bank_name" (ngModelChange)="Account.bank_name = $event">
                        <input name="account_bank_number" *ngIf="Account.account_type == Roles.Venue" ngModel class="inp-style-2" type="text" placeholder="Bank number" [ngModel]="Account.bank_number" (ngModelChange)="Account.bank_number = $event">
                        <input name="account_bank_routing_number" *ngIf="Account.account_type == Roles.Venue" ngModel class="inp-style-2" type="text" placeholder="Bank routing number" [ngModel]="Account.bank_routing_number" (ngModelChange)="Account.bank_routing_number = $event">
                        <input name="dress_code" *ngIf="Account.account_type == Roles.Venue" ngModel class="inp-style-2" type="text" placeholder="Dress code" [ngModel]="Account.dress_code" (ngModelChange)="Account.dress_code = $event">
                        <input name="audio_description" *ngIf="Account.account_type == Roles.Venue" ngModel class="inp-style-2" type="text" placeholder="Audio description" [ngModel]="Account.audio_description" (ngModelChange)="Account.audio_description = $event">
                        <input name="lighting_description" *ngIf="Account.account_type == Roles.Venue" ngModel class="inp-style-2" type="text" placeholder="Lighting description" [ngModel]="Account.lighting_description" (ngModelChange)="Account.lighting_description = $event">
                        <input name="stage_description" *ngIf="Account.account_type == Roles.Venue" ngModel class="inp-style-2" type="text" placeholder="Stage description" [ngModel]="Account.stage_descrition" (ngModelChange)="Account.stage_description = $event">
                        <div class="one-checkbox" *ngIf="Account.account_type == Roles.Venue">
                            <div class="check-style">
                                <input type="checkbox" class="checkbox" name="has_bar" id="checkbox-2" [ngModel]="hasBar" (ngModelChange)="hasBar = $event">
                                <label for="checkbox-2"></label>
                            </div>
                            <p>Has bar</p>
                        </div>
                        <div class="one-checkbox" *ngIf="Account.account_type == Roles.Venue">
                            <div class="check-style">
                                <input type="checkbox" class="checkbox" name="has_vr" id="checkbox-2" [ngModel]="hasVr" (ngModelChange)="hasVr = $event">
                                <label for="checkbox-2"></label>
                            </div>
                            <p>Has vr</p>
                        </div>
                    </div>
                    
                </div>
                <div *ngIf="Account.account_type == Roles.Venue">
                    <p>Contacts</p>
                    <div *ngFor="let item of Account.emails; let i = index">
                        <!--<input class="inp-style-2" [ngModel]="Account.emails[i].name" (ngModelChange)="Account.emails[i].name =  $event">-->
                        <input type="text" class="inp-style-2" [name]="'email-name-'+i" placeholder="Name" [ngModel]="Account.emails[i].name" (ngModelChange)="Account.emails[i].name = $event">
                        <input type="text" class="inp-style-2" [name]="'email-value-'+i" placeholder="Email" [ngModel]="Account.emails[i].email" (ngModelChange)="Account.emails[i].email = $event">
                        <button class ="butt-style-1" type="button" (click)="DeleteEmail(i)">Delete</button>
                    </div>
                    <button class ="butt-style-1" type="button" (click)="AddEmail()">Add new contact</button>
                </div>
                <div *ngIf="Account.account_type == Roles.Venue">
                    <p>Venue dates</p>
                    <div *ngFor="let item of Account.dates; let i = index">
                        <div class="add-day">
                            <input type="text"
                            readonly style="background-color:white; cursor: pointer;"
                            class="for-data-picker"
                            [minDate]="minDate"
                            #dp="bsDatepicker"
                            dateDisabled = "{date:new Date(); mode:disable;}"
                            bsDatepicker [(bsValue)]="bsValue_start[i]"
                            (bsValueChange)="logChanged($event)">
                        </div>
                        <div class="add-day">
                            <input type="text"
                            readonly style="background-color:white; cursor: pointer;"
                            class="for-data-picker"
                            [minDate]="minDate"
                            #dp="bsDatepicker"
                            dateDisabled = "{date:new Date(); mode:disable;}"
                            bsDatepicker [(bsValue)]="bsValue_end[i]"
                            (bsValueChange)="logChanged()">
                        </div>
                        <div class="one-checkbox">
                            <div class="check-style">
                                <input type="checkbox" class="checkbox" [id]="'checkbox-'+i" [name]="'is_avaliable-'+i" [ngModel]="Account.dates[i].is_available" (ngModelChange)="Account.dates[i].is_available = $event">
                                <label [for]="'checkbox-'+i"></label>
                            </div>
                            <p>Is available</p>
                        </div>
                        <input type="text" class="inp-style-2" [name]="'price-'+i" placeholder="Price" [ngModel]="Account.dates[i].price" (ngModelChange)="Account.dates[i].price = $event">
                        <select [name]="'booking_notice-'+i" [ngModel]="Account.dates[i].booking_notice" (ngModelChange)="Account.dates[i].booking_notice = $event">
                            <option *ngFor="let item of BookingNotice" [value]="item.value">{{item.name}}</option>
                        </select>
                        <button class ="butt-style-1" type="button" (click)="DeleteVenueDate(i)">Delete</button>
                    </div>
                <button class ="butt-style-1" type="button" (click)="AddVenueDate()">Add new venue date</button>
                </div>
                <div class="for-flex">
                    <div class="side right-side">
                        <div *ngIf="Account.account_type == Roles.Venue">
                            <p>Office hours</p>
                            <ng-container *ngFor="let item of OfficeDays;let i = index">
                                <div class="one-checkbox">
                                    <div class="check-style">
                                        <input type="checkbox" class="checkbox" [name]="'workingday'+i" [id]="'checkboxOr-day-'+i" [ngModel]="item.checked" (ngModelChange)="item.checked = $event">
                                        <label [for]="'checkboxOr-day-'+i"></label>
                                    </div>
                                    <p>{{item.name}}</p>
                                </div> 
                                <input class="inp-style-2 time-mask" [textMask]="getMask(item)"  autocomplete="off" type="text" [name]="'from-time-'+i" placeholder="From" [ngModel]="item.start_work" (ngModelChange)="item.start_work = $event">
                                <input class="inp-style-2 time-mask" [textMask]="getMaskEnd(item)"  autocomplete="off" type="text" [name]="'to-time-'+i" placeholder="To" [ngModel]="item.finish_work" (ngModelChange)="item.finish_work = $event">
                            </ng-container>
                        </div>
                    </div>
                    <div class="side left-side">
                        <div *ngIf="Account.account_type == Roles.Venue">
                            <p>Operating hours</p>
                            <div *ngFor="let item of OperatingDays;let i = index">
                                <div class="one-checkbox">
                                    <div class="check-style">
                                        <input type="checkbox" class="checkbox" [name]="'operatingday'+i" [id]="'checkbox-operating-day-'+i" [ngModel]="item.checked" (ngModelChange)="item.checked = $event">
                                        <label [for]="'checkbox-operating-day-'+i"></label>
                                    </div>
                                <p>{{item.name}}</p>
                                </div>
                                <input class="inp-style-2 time-mask" [textMask]="getMask(item)"  autocomplete="off" type="text" [name]="'from-time-'+i" placeholder="From" [ngModel]="item.start_work" (ngModelChange)="item.start_work = $event">
                                <input class="inp-style-2 time-mask" [textMask]="getMaskEnd(item)"  autocomplete="off" type="text" [name]="'to-time-'+i" placeholder="To" [ngModel]="item.finish_work" (ngModelChange)="item.finish_work = $event">
                            </div>
                        </div>
                    </div>
                </div>

                <button class="butt-style-1" type="submit" [disabled]="!submitFormUsr.valid">Save</button>
                <button class="butt-style-1" type="button" (click)="DeleteMe()">Delete profile</button>

                
            </form>
        </div>
    </div>
</section>