
.second-router-outlet{
    background: #f3f3f3;
}
.bs-datepicker
{
    left:75px !important;
}
bs-daterangepicker-container{
    left:0px !important;
}
.yes-no{
    margin-left: 80px;
}
.modal-send-request.map-1-modal .modal-dialog .for-map-init-modal-1{
    border: none;
}
.empty-info{
    padding-top: 20px;
}
.location-wr .location-inp{
border-bottom: 1px dashed rgba(0, 0, 0, 0.25);
}
.one-checkbox p{
    font-size: 10px;
    padding-left: 7px;
}
