<app-preloader *ngIf="isLoading"></app-preloader>
<section [ngStyle]="{'display': isLoading?'none':'block'}" class="main-router-outlet">
    <div class="nav-holder-3" id="nav-holder" [ngClass]="{padding250:Tickets.length<=3}">
        <div class="wrapp-for-filter">
            <search-tickets-window-cmp #search [SearchParams]="SearchParams" (mapClicked)="OpenMap($event)" (onSearch)="ShowSearchResults($event)"></search-tickets-window-cmp>
        
        </div>
    </div>
    <section class="second-router-outlet">

        <!-- <app-tiny-calendar #calendar [selectedDates]='SelectedDates' [eventDates]="EventDates" (onSelectDate)="DisableDate($event)" ></app-tiny-calendar> -->

        <div class="mask-nav-3"></div>

        <div class="shows-main-wrapp mainWrapper grey-bg">
            <div class="main-mw">
                <div class="head-shows">
                
                    <button class="ham-ham nav-button">
                        <div class="ham"></div>
                        <div class="ham"></div>
                        <div class="ham"></div>
                    </button>
                
                    <h1>Tickets</h1>
                </div>
                
            </div>
            <div class="main-mw-6">
                <ng-container *ngIf="Tickets.length">
                    <div class="for-flex-all-events">
                        <div class="one-event-wr" *ngFor="let item of Tickets" class="one-event-wr">
                            <app-my-ticket [Ticket]="item"></app-my-ticket>
                        </div>

                        
                    </div>
                    <div class="load-more-tickets">
                    <!-- <span>More</span>-->
                    </div>
                </ng-container>
                <div class="empty-info" *ngIf="!Tickets.length">
                    <img src="../../assets/img/smile.svg" class="img-responsive" alt="">
                    <p>No Tickets Yet</p>
                </div>


                <div class="past-header">
                    <p>Past</p>
                </div>
                <div class="for-flex-all-events" *ngIf="PastTickets.length">
                        <div class="one-event-wr" *ngFor="let item of PastTickets" class="one-event-wr">
                            <app-my-ticket [Ticket]="item"></app-my-ticket>
                        </div>
                    
                </div>
                <div class="empty-info" *ngIf="!PastTickets.length">
                        <img src="../../assets/img/smile.svg" class="img-responsive" alt="">
                        <p>No Tickets Yet</p>
                    </div>
                <!--прелоадер анимейшн-->
                <!--
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            -->
                <!--//прелоадер анимейшн-->
            </div>
        </div>
    </section>
    <search-tickets-map-cmp #mapForm (onMapClicked)="TransferMapToSearch($event)"></search-tickets-map-cmp>
</section>