<div class="nav-holder-3" id="nav-holder">
    <div class="wrapp-for-filter">
        <form>
            <input type="text" class="inp-style-1" placeholder="Search">
            
            
            
            <div class="groupe-form">
                <p class="head-input-groupe">Genre</p>
                <div class="flex-genres">
                    <div class="one-checkbox">
                        <div class="check-style">
                            <input type="checkbox" class="checkbox" name="" id="checkbox-1">
                            <label for="checkbox-1"></label>
                        </div>
                        <p>hip hop</p>
                    </div>
                    <div class="one-checkbox">
                        <div class="check-style">
                            <input type="checkbox" class="checkbox" name="" id="checkbox-2">
                            <label for="checkbox-2"></label>
                        </div>
                        <p>hip hop</p>
                    </div>
                    <div class="one-checkbox">
                        <div class="check-style">
                            <input type="checkbox" class="checkbox" name="" id="checkbox-3">
                            <label for="checkbox-3"></label>
                        </div>
                        <p>hip hop</p>
                    </div>
                    <div class="one-checkbox">
                        <div class="check-style">
                            <input type="checkbox" class="checkbox" name="" id="checkbox-4">
                            <label for="checkbox-4"></label>
                        </div>
                        <p>hip hop</p>
                    </div>
                    <div class="one-checkbox">
                        <div class="check-style">
                            <input type="checkbox" class="checkbox" name="" id="checkbox-5">
                            <label for="checkbox-5"></label>
                        </div>
                        <p>hip hop</p>
                    </div>
                    <div class="one-checkbox">
                        <div class="check-style">
                            <input type="checkbox" class="checkbox" name="" id="checkbox-6">
                            <label for="checkbox-6"></label>
                        </div>
                        <p>hip hop</p>
                    </div>
                </div>
                <p class="more"><span>See more</span></p>
            </div>
            <div class="groupe-form">
                <p class="head-input-groupe">Ticket type</p>
                <div class="flex-genres">
                    <div class="one-checkbox">
                        <div class="check-style">
                            <input type="checkbox" class="checkbox" name="" id="checkbox-type-1">
                            <label for="checkbox-type-1"></label>
                        </div>
                        <p>In person</p>
                    </div>
                    <div class="one-checkbox">
                        <div class="check-style">
                            <input type="checkbox" class="checkbox" name="" id="checkbox-type-2">
                            <label for="checkbox-type-2"></label>
                        </div>
                        <p>VR</p>
                    </div>
                     <div class="one-checkbox">
                        <div class="check-style">
                            <input type="checkbox" class="checkbox" name="" id="checkbox-type-3">
                            <label for="checkbox-type-3"></label>
                        </div>
                        <p>VR (Live)</p>
                    </div>
                     <div class="one-checkbox">
                        <div class="check-style">
                            <input type="checkbox" class="checkbox" name="" id="checkbox-type-4">
                            <label for="checkbox-type-4"></label>
                        </div>
                        <p>All</p>
                    </div>
                </div>
            
            </div>
            <div class="groupe-form">
                <p class="head-input-groupe">Location</p>
                <div class="location-wr">
                    <div class="mark"></div>
                    <input type="text" class="location-inp">
                </div>
            </div>
            <div class="groupe-form">
                <p class="head-input-groupe">Date</p>
                <select class="form-control">
                    <option>Today</option>
                    <option>Today</option>
                    <option>Today</option>
                    <option>Today</option>
                </select>
                <div class="flex-date-selets-wr">
                    <div class="form-side-date">
                        <select class="form-control">
                            <option>Day</option>
                            <option>day</option>
                            <option>day</option>
                        </select>
                    </div>
                    <div class="form-side-date">
                        <select class="form-control">
                            <option>Month</option>
                            <option>Month</option>
                            <option>Month</option>
                        </select>
                    </div>
                    <div class="form-side-date">
                        <select class="form-control">
                            <option>Year</option>
                            <option>Year</option>
                            <option>Year</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
        
    </div>
</div>
<section class="second-router-outlet">



<div class="mask-nav-3"></div>

<div class="shows-main-wrapp mainWrapper grey-bg">
    <div class="main-mw">
        <div class="head-shows">
            <button class="ham-ham nav-button">
                <div class="ham"></div>
                <div class="ham"></div>
                <div class="ham"></div>
            </button>
           
            <h1>Tickets</h1>
            
          
        </div>
        
    </div>
    <div class="main-mw-6">
        <div class="for-flex-all-events">
            <div class="one-event-wr">
                <div class="one-event">
                    <div class="cover-event" style="background-image: url(../../assets/img/drake.jpg)">
                        <div class="icons-vr-t">
                            <span class="icon-icon">
                                <img src="img/live-icon.png" class="img-responsive" alt="">
                            </span>
                        </div>
                    </div>
                    <div class="white-desc-event tickets-desc">
                        <a href="#" class="name-artist">Marilyn Manson</a>
                        <p class="when">November 30, 2017</p>
                        <p class="where">Madison Square Garden, NY</p>
                    </div>
                    
                </div>
            </div>
            <div class="one-event-wr">
                <div class="one-event">
                    <div class="cover-event" style="background-image: url(../../assets/img/drake.jpg)">
                        <div class="icons-vr-t">
                            <span class="icon-icon">
                                <img src="img/qr-code-icon.png" class="img-responsive" alt="">
                            </span>
                        </div>
                    </div>
                    <div class="white-desc-event tickets-desc">
                        <a href="#" class="name-artist">Marilyn Manson</a>
                        <p class="when">November 30, 2017</p>
                        <p class="where">Madison Square Garden, NY</p>
                    </div>
                </div>
            </div>
             <div class="one-event-wr">
                <div class="one-event">
                    <div class="cover-event" style="background-image: url(../../assets/img/drake.jpg)">
                        <div class="icons-vr-t">
                            <span class="icon-icon">
                                <img src="img/live-video-icon.svg" class="img-responsive" alt="">
                            </span>
                        </div>
                    </div>
                    <div class="white-desc-event tickets-desc">
                        <a href="#" class="name-artist">Marilyn Manson</a>
                        <p class="when">November 30, 2017</p>
                        <p class="where">Madison Square Garden, NY</p>
                       
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="load-more-tickets">
            <span>More</span>
        </div>
        <div class="past-header">
            <p>Past</p>
        </div>
        <div class="for-flex-all-events">
            <div class="one-event-wr">
                <div class="one-event">
                    <div class="cover-event" style="background-image: url(../../assets/img/drake.jpg)">
                        <div class="icons-vr-t">
                            <span class="icon-icon">
                                <img src="img/live-icon.png" class="img-responsive" alt="">
                            </span>
                        </div>
                    </div>
                    <div class="white-desc-event tickets-desc">
                        <a href="#" class="name-artist">Marilyn Manson</a>
                        <p class="when">November 30, 2017</p>
                        <p class="where">Madison Square Garden, NY</p>
                    </div>
                    
                </div>
            </div>
            <div class="one-event-wr">
                <div class="one-event">
                    <div class="cover-event" style="background-image: url(../../assets/img/drake.jpg)">
                        <div class="icons-vr-t">
                            <span class="icon-icon">
                                <img src="img/qr-code-icon.png" class="img-responsive" alt="">
                            </span>
                        </div>
                    </div>
                    <div class="white-desc-event tickets-desc">
                        <a href="#" class="name-artist">Marilyn Manson</a>
                        <p class="when">November 30, 2017</p>
                        <p class="where">Madison Square Garden, NY</p>
                    </div>
                </div>
            </div>
             <div class="one-event-wr">
                <div class="one-event">
                    <div class="cover-event" style="background-image: url(../../assets/img/drake.jpg)">
                        <div class="icons-vr-t">
                            <span class="icon-icon">
                                <img src="img/live-video-icon.svg" class="img-responsive" alt="">
                            </span>
                        </div>
                    </div>
                    <div class="white-desc-event tickets-desc">
                        <a href="#" class="name-artist">Marilyn Manson</a>
                        <p class="when">November 30, 2017</p>
                        <p class="where">Madison Square Garden, NY</p>
                       
                    </div>
                    
                </div>
            </div>
        </div>
        <!--прелоадер анимейшн-->
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <!--//прелоадер анимейшн-->
    </div>
</div>

<!--модалка для кликов на Analytics-->
<div class="modal fade modal-send-request analytics" id="modal-analytics">
    <div class="modal-dialog">
        <div class="modal-body">
           
            <h6 class="head-m-p-a"><span>MUSE ANALYTICS</span></h6>
            
            <span class="closee-modal" data-dismiss="modal"></span>
            
            <div class="bg-analytics-cover" style="background-image: url(../../assets/img/drake.jpg)"></div>
            <div class="all-info-by-event">
                <div class="top-side">
                    <p class="f-t-i">Event Details</p>
                    <p class="when">November 30, 2017</p>
                    <p class="where">Madison Square Garden, NY</p>
                    <div class="funded-bar">
                        <div class="funded" style="width: 50%"></div>
                    </div>
                    <div class="funded-desc">
                        <p class="count">$34 000 (68%)</p>
                        <div class="marg">
                            <p class="style-text-2"><span>12</span><br>Days to go</p>
                            <p class="style-text-2"><span>2345</span><br>Backers</p>
                        </div>
                    </div>
                    <p class="goal">Goal: <span>$50 000</span></p>
                </div>
                <div class="bottom-side">
                    <p class="f-t-i">Totals</p>
                    <div class="flex-info-bottom-side">
                        <p>Purchased Tickets</p>
                        <p class="count">2345</p>
                    </div>
                    <div class="flex-info-bottom-side">
                        <p>In Person Tickets</p>
                        <p class="count">2345</p>
                    </div>
                    <div class="flex-info-bottom-side">
                        <p>VR Tickets</p>
                        <p class="count">2345</p>
                    </div>
                    <div class="flex-info-bottom-side">
                        <p>Views</p>
                        <p class="count">2345</p>
                    </div>
                    <div class="flex-info-bottom-side">
                        <p>Clicks</p>
                        <p class="count">2345</p>
                    </div>
                    <div class="flex-info-bottom-side">
                        <p>Percentage Sold</p>
                        <p class="count">2345</p>
                    </div>
                    <div class="flex-info-bottom-side">
                        <p>Comments <span class="show-t">(show)</span></p>
                        <p class="count redd">2345</p>
                    </div>
                    <div class="flex-info-bottom-side">
                        <p>Likes <span class="show-t">(show)</span></p>
                        <p class="count redd">2345</p>
                    </div>
                    <div class="print-wr">
                        <button class="butt-style-1">
                            <span>Print</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>












</section>