<app-preloader *ngIf="isLoading"></app-preloader>
<section class="second-router-outlet" [ngStyle]="{'display': isLoading?'none':'block'}">
    <section class="login-register add-fan-page">
        <div class="register">
            <div class="m-v-reg">
                <form class="reg-wr"  (ngSubmit)="CreateFun()" #submitFormFun="ngForm">
                    <h3 *ngIf="flagForText" translate>Add Fan</h3>
                    <h3 *ngIf="!flagForText" translate>Edit fan</h3>
                    <div style="margin-bottom: 30px; margin-top:-20px" class="continue-wr">
                      <button *ngIf="FunId !== 0 && (Fun.status==='just_added'||Fun.status==='dened')" class="butt-style-1" (click)="clickVerifyButton()" type="button"><span>Verify</span></button>
                    </div>
                    <div class="for-flex-add-fan">
                        <div class="side left-side">
                            <div class="photo-wr-1">
                                <label *ngIf="!avatar" class="file_upload">
                                    <div class="bg-image"></div>
                                    <p translate>Add photo</p>
                                    <input accept=".jpg, .jpeg, .png" type="file"  (change)="loadLogo($event)">
                                </label>

                                <div class="bg-image uploaded" (click)="DeleteAva()" *ngIf="avatar" class="bg-image uploaded" [ngStyle]="{'background-image': 'url('+avatar+')'}"></div>

                            </div>

                            <div class="rel-dog">
                                <span>@</span>
                                <input class="inp-style-2" required type="text" [textMask]="WithoutSpace()" name="user_name" placeholder="{{'MouseUsername*' | translate}}" [ngModel]="Fun.user_name" (ngModelChange)="Fun.user_name = $event" autocomplete="off">
                            </div>

                        </div>
                        <div class="side right-side">
                                <input class="inp-style-2" required type="text" name="first_name" placeholder="{{'First Name*' | translate}}" [ngModel]="Fun.first_name" (ngModelChange)="Fun.first_name = $event" autocomplete="off">
                                <input class="inp-style-2" required type="text" name="last_name" placeholder="{{'Last Name*' | translate}}" [ngModel]="Fun.last_name" (ngModelChange)="Fun.last_name = $event" autocomplete="off">
                            <div class="text-area-with-descr">
                                <textarea class="inp-style-2" maxlength="150" name="bio" placeholder="{{'Bio' | translate}}" [ngModel]="Fun.bio" (ngModelChange)="Fun.bio = $event" autocomplete="off"></textarea>
                                <p class="max-l-letter" translate>150max</p>
                            </div>
                            <div class="location-wr">
                                <div class="mark" (click)="OpenMap()"></div>
                                <input type="text" name="address" class="location-inp" [(ngModel)]="Fun.address" #search id="aboutAddress" placeholder="" autocomplete="off">
                            </div>
                        </div>
                    </div>

                    <h3 class="marg30" translate>fan-create.select your Favorite genres</h3>

                    <div class="search-wr">
                        <input type="text" name="search" class="inp-style-1" (input)="CategoryChanged($event.target.value)"  placeholder="{{'Search' | translate}}">
                    </div>
                    <div class="flex-checkboxes">
                        <ng-container *ngFor="let item of Genres; let i = index">
                            <div *ngIf="item.show" class="one-checkbox" [ngClass]="{'check-start': item.checked}">
                                <div  class="check-style">
                                    <input type="checkbox"  [ngModel]="item.checked" (ngModelChange)="item.checked = $event" class="checkbox" name="genre-{{i}}" id='checkbox-{{i}}'>
                                    <label for='checkbox-{{i}}'></label>
                                </div>
                                <p translate>{{item.genre_show}}</p>
                            </div>
                        </ng-container>
                    </div>
                    <p class="more" [ngClass]="{'rotate180':seeMore}" (click)="seeMoreGenres()"><span translate>See {{seeMore?'less':'more'}}</span></p>
                    <div class="continue-wr">
                        <button class="butt-style-1" type="submit"><span *ngIf="flagForText" translate>Add Fan</span><span *ngIf="!flagForText" translate>Save</span></button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</section>
    <!--новая вторая модалка с картой-->
<div class="modal fade modal-send-request map-1-modal" id="modal-map-2">
    <div class="modal-dialog">
        <div class="modal-body">
            <h6 class="head-m-p-a" translate>Location</h6>
            <span class="closee-modal" data-dismiss="modal"></span>
            <div class="for-map-init-modal-1">
                    <agm-map  style="height:100%" [latitude]="cordsMap.lat" [longitude]="cordsMap.lng">
                            <agm-marker (dragEnd)="artistDragMarker($event)" [markerDraggable] = "true" [latitude]="cordsMap.lat" [longitude]="cordsMap.lng"></agm-marker>
                    </agm-map>
            </div>
        </div>
    </div>
</div>
<!--//новая вторая модалка с картой-->
<error-cmp #errorCmp></error-cmp>
