.modal-send-request.map-1-modal .modal-dialog .for-map-init-modal-1{
    border: none;
}
.mark{
    cursor: pointer;
}
.location-wr .location-inp{
    border-bottom: 1px solid rgba(255,255,255,0.5);
    padding-bottom: 3px;
}
.login-register.add-fan-page .register{
    min-height: calc(100vh - 84px);
}
.register .m-v-reg{
    min-height: 850px;
}