<section>
  <h1 class="admin_big_zag">Account analytics</h1>
  <div class="admin_cards">
      <div class="card violet music">
          <span class="num">{{New.fan}}</span>
          <span class="text">New Fans</span>
      </div>
      <div class="card siren kolonka">
          <span class="num">{{New.venue}}</span>
          <span class="text">New Venues</span>
      </div>
      <div class="card blue mic">
          <span class="num">{{New.artist}}</span>
          <span class="text">New Artists</span>
      </div>
  </div>
</section>
<section>
  <h2 class="admin_table_zag zag_with_tabs">
      <span>New users per</span>
      <span class="zag_tab">Day</span>
      <span class="zag_tab">Week</span>
      <span class="zag_tab active">Month</span>
      <span class="zag_tab">Year</span>
      <span class="zag_tab">All time</span>
  </h2>
  <div class="diagramm_block">
    <!-- <div style="display: block;"> -->
        <canvas baseChart width="400" height="300"
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
        <!-- </div> -->
  </div>
  <!-- <div class="acc_analytics_diag_desc">
      <span class="rose">Fans</span>
      <span class="violet">Venues</span>
      <span class="crossed">Artists</span>
  </div> -->
</section>
<section>
  <h2 class="admin_table_zag">User Usage</h2>
  <div class="admin_cards">
      <div class="card rose click">
          <span class="num">{{Usage.clicks}}</span>
          <span class="text">Clicks</span>
      </div>
      <div class="card rose heart">
          <span class="num">{{Usage.likes}}</span>
          <span class="text">Likes</span>
      </div>
      <div class="card rose chat">
          <span class="num">{{Usage.comments}}</span>
          <span class="text">Comments</span>
      </div>
  </div>
</section>
<br><br>