<section>
  <h1 class="admin_big_zag">Account analytics</h1>
  <div class="admin_cards">
      <div class="card violet music">
          <span class="num">234</span>
          <span class="text">New Fans</span>
      </div>
      <div class="card siren kolonka">
          <span class="num">1676</span>
          <span class="text">New Venues</span>
      </div>
      <div class="card blue mic">
          <span class="num">578</span>
          <span class="text">New Artists</span>
      </div>
  </div>
</section>
<section>
  <h2 class="admin_table_zag zag_with_tabs">
      <span>New users per</span>
      <span class="zag_tab">Day</span>
      <span class="zag_tab">Week</span>
      <span class="zag_tab active">Month</span>
      <span class="zag_tab">Year</span>
      <span class="zag_tab">All time</span>
  </h2>
  <div class="diagramm_block"></div>
  <div class="acc_analytics_diag_desc">
      <span class="rose">Fans</span>
      <span class="violet">Venues</span>
      <span class="crossed">Artists</span>
  </div>
</section>
<section>
  <h2 class="admin_table_zag">User Usage</h2>
  <div class="admin_cards">
      <div class="card rose click">
          <span class="num">234567</span>
          <span class="text">Clicks</span>
      </div>
      <div class="card rose heart">
          <span class="num">1676</span>
          <span class="text">Likes</span>
      </div>
      <div class="card rose chat">
          <span class="num">578</span>
          <span class="text">Comments</span>
      </div>
  </div>
</section>