
<section class="main-router-outlet">
    <section class="login-register">
           
            <app-register-phone 
                *ngIf="currentPage=='phone'"
                (phoneStatus)="onSuccesValidatePhone($event)"
                (showPhone)="showPhone($event)"
            ></app-register-phone>


        <app-register-user 
               *ngIf="currentPage=='user'"
                (createUser)="onSuccesCreateUser($event)"
                (back)="backToPage($event)"
                [phoneInput]="phone"       
                [isShowPhone] = "isShowPhone"
        ></app-register-user>

        <app-register-acc  
                *ngIf="currentPage=='acc'"
                (back)="backToPage($event)"
                (createStatus)="onSuccesCreateAcc($event)"
                [typeUser]="typeUser"
        ></app-register-acc>

        <app-register-follow 
                *ngIf="currentPage=='follow'"
        ></app-register-follow>

    </section>
</section>