<section class="main_content">
    <div class="for-flex-height">
            
        <section class="second-router-outlet">
            <div class="head-info-profile-wr head-info-artist">
                <div class="main-mw">
                    <div class="flex-artist-main-info">
                        <div class="side left-side">
                            <h6 id="lines_view" class="name" style="width:100%;">{{Account.display_name}}</h6>
                            
                            <div class="oficial-page">
                                <span id="d_lines_view" class="page">@{{Account.user_name}}</span>
                               
                                <div *ngIf="MyProfileId == Account.id" class="edit-and-settings">
                                    <!-- <a [routerLink]="['/system/edit',UserId]" class="edit-profile">Edit profile</a> -->
                                    <a [routerLink]="['/system/artistCreate',Account.id]" class="settings-artist-v"></a>

                                </div>
                            </div>
                            <p id="b_lines_view" class="desc">
                                {{Account.about}}
                            </p>
                            <ng-container *ngIf="MyProfileId != Account.id">
                                <form class="follow-wr" (ngSubmit)="FollowProfile(!isFolowedAcc)">
                                    <button [disabled]="IsPreview"  class="butt-style-1" type="submit">
                                        <span>{{isFolowedAcc?'Unfollow':'Follow'}}</span>
                                    </button>
                                </form>
                            </ng-container>
                        </div>
                        <div class="side right-side">
                            <div class="bg-slider">
                                <show-gallery-cmp [Artists]="[Account]"></show-gallery-cmp>
                                <!-- <div class="iframe-slider-wrapp" *ngIf="Account.videos.length > 0"> -->
                                    <!-- надо подключить youtube api и тем самым вставлять видео вместо iframe ибо у iframe нет норм функций для остановки видео, либо я хреново покопался.-->
                                    <!-- <li *ngFor="let item of VideoPath;let i = index" >
                                        <div class="slide" style="height:400px;">
                                            <div class="iframe-wr">
                                                <iframe [id]="'video-iframe-'+i" class="youtube-video" enablejsapi="1" [src]="item" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </li>
                                </div> -->

                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="for-white-bg">
                <div class="all-info-profile">
                    <div class="uniq-padd">
                        <div class="main-mw">
                            <div class="genres-info genres-info-artist">
                                <h3>Genres</h3>
                                <div class="flex-genres">
                                    <ng-container *ngFor="let item of Account.genres;let i = index">
                                        <span class="one-genre">{{item.replace('_'," ")}}</span>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uniq-padd-2">
                        <div class="main-mw">
                            <div class="flex--info">
                                <div class="side flex-header scroller">
                                    <div class="for-scroll-padd">
                                        <h6>Albums ({{Albums.length}})</h6>
                                        <input type="text" class="search-profile-inp-style"  placeholder="Search" (input)='searchAlbums($event)'>
                                    </div>
                                    <div class="new-scroll-wr">
                                        <div class="blocks">
                                            <ng-container *ngFor="let item of AlbumsChecked">
                                                    <a [href]="item.album_link" target="_blank" class="one-block new-link-to-sound" [ngStyle]="{'background-image': item.album_artwork?'url('+item.album_artwork+')':'url(../../assets/img/drake.jpg)'}">
                                                        <div class="desc">
                                                            <p class="name">{{item.album_name}}</p>
                                                        </div>
                                                    </a>
                                            </ng-container>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="side flex-header scroller">
                                    <div class="for-scroll-padd">
                                        <h6>UPCOMING<br>SHOWS ({{UpcomingShows.length}})</h6>
                                        <input type="text" class="search-profile-inp-style" placeholder="Search" (input)='searchUpcomingShows($event)'>
                                    </div>
                                    <div class="new-scroll-wr">
                                        <div class="blocks">
                                            
                                            
                                            <!--/календарь вегда есть(не итерируем)-->
                                            <!--<ng-container *ngIf="isMyAccount">
                                                    
                                            <ng-container *ngIf="item.checked">
                                            -->
                                            
                                            <ng-container *ngFor="let item of UpcomingShowsChecked">
                                                
                                                <ng-container class="one-block">   
                                                    <a [routerLink]="['/system','shows_detail',item.id]" style="display:block">
                                                        <app-upcoming-shows-profile [Upshows]="item"></app-upcoming-shows-profile>
                                                    </a>
                                                </ng-container>
                                                
                                            </ng-container>
                                            
                                        
                                        </div>
                                    </div>
                                </div>
                                <div class="side flex-header scroller uniq-padd-style-funs">
                                    <div class="uniq-padd-3">
                                        <h6>Fans ({{Fans.length}})</h6>
                                        <input type="text" class="search-profile-inp-style" placeholder="Search" (input)='searchFans($event)'>
                                    </div>
                                    <div class="new-scroll-wr">
                                        <div class="blocks-funs">
                                            <ng-container *ngFor="let item of FansChecked">
                                                <div class="one-block">
                                                    <app-one-folower-for-profile [Folower]="item"></app-one-folower-for-profile>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</section>