<section class="main_content">
    <div class="for-flex-height">
            
        <section class="second-router-outlet">
            <div class="head-info-profile-wr head-info-artist">
                <div class="main-mw">
                    <div class="flex-artist-main-info">
                        <div class="side left-side">
                            <h6 id="lines_view" class="name" style="width:100%;">{{Account.display_name}}</h6>
                            
                            <div class="oficial-page">
                                <span id="d_lines_view" class="page">@{{Account.user_name}}</span>
                               
                                <div *ngIf="MyProfileId == Account.id" class="edit-and-settings">
                                    <!-- <a [routerLink]="['/system/edit',UserId]" class="edit-profile">Edit profile</a> -->
                                    <a [routerLink]="['/system/artistCreate',Account.id]" class="settings-artist-v"></a>

                                </div>
                            </div>
                            <p id="b_lines_view" class="desc">
                                {{Account.about}}
                            </p>
                            
                            <ng-container *ngIf="MyProfileId&&MyProfileId != Account.id&& AccStatus != Status.Denied && AccStatus != Status.Inactive">
                                <form class="follow-wr" (ngSubmit)="FollowProfile(!isFolowedAcc)">
                                    <button [disabled]="IsPreview"  class="butt-style-1" type="submit">
                                        <span *ngIf="isFolowedAcc">{{ 'Unfollow' | translate }}</span>
                                        <span *ngIf="!isFolowedAcc">{{ 'Follow' | translate }}</span>
                                        <span *ngIf="IsPreview" translate>Follow</span>
                                    </button>
                                </form>
                            </ng-container>
                        </div>
                        <div class="side right-side">
                            <div class="bg-slider">
                                    
                                <show-gallery-cmp [Artists]="[Account]"></show-gallery-cmp>
                                <!-- <div class="iframe-slider-wrapp" *ngIf="Account.videos.length > 0"> -->
                                    <!-- надо подключить youtube api и тем самым вставлять видео вместо iframe ибо у iframe нет норм функций для остановки видео, либо я хреново покопался.-->
                                    <!-- <li *ngFor="let item of VideoPath;let i = index" >
                                        <div class="slide" style="height:400px;">
                                            <div class="iframe-wr">
                                                <iframe [id]="'video-iframe-'+i" class="youtube-video" enablejsapi="1" [src]="item" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </li>
                                </div> -->

                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="for-white-bg">
                <div class="all-info-profile">
                    <div class="uniq-padd">
                        <div class="main-mw">
                            <div class="genres-info genres-info-artist">
                                <h3 translate>Artist-create.Genres</h3>
                                <div class="flex-genres">
                                    <ng-container *ngFor="let item of Genres;let i = index">
                                        <span class="one-genre" translate>{{item.replace('_'," ")}}</span>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uniq-padd-2">
                        <div class="main-mw">
                            <div class="flex--info none-padd-sides-b none-padd-sides-t-without-h">
                                <div class="side side-info side-about ">
                                    <h6 translate>Artist-create.Songs</h6>
                                </div>
                                <div class="side side-info side-contact un-padd-on-1560"></div>
                                <div class="side side-info side-map"></div>
                            </div>
                        </div>
                        <div class="main-mw">
                            <div class="styles-audio-list">
                                <ng-container *ngIf="Account && Account.audio_links && Account.audio_links.length">
                                    <div *ngFor="let item of Account.audio_links | slice:0:countAudio; let i = index" class="audio-wrapper">
                                        <div  class="one-audio">
                    
                                            <!-- <div class="delete-track" (click)="deleteAudio(i)"></div> -->
                                            <span class="name-track">{{item.song_name}}</span>
                                            <div class="audiojs">
                                                <div class="play-pause">
                                                    <p *ngIf="audioId != i+1" (click)="audioId = i+1; playAudio(item.audio_link)" id="track-{{i}}" class="play"></p>
                                                    <p *ngIf="audioId == i+1" (click)="audioId = 0; stopAudio()" class="pause"></p>
                                                    <!-- <p class="loading"></p>
                                                    <p class="error"></p> -->
                                                </div>
                                                <div class="scrubber" >
                                                    <div class="progress"></div>
                                                    <div class="loaded"></div>
                                                </div>
                                                <div class="time">
                                                    <em class="played">00:00</em>
                                                    <!-- <strong class="duration">{{audioId == i+1 && audioDuration>0 ?audioDuration/100:''}}</strong> -->
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                
                                    
                                    <button *ngIf="countAudio<Account.audio_links.length" class="see-all" (click)="countAudio = Account.audio_links.length" translate>Artist-create.SEE ALL</button>
                                </ng-container>
                            </div>
                           
                        </div>
                    </div>
                    <div class="uniq-padd-2">
                        <div class="main-mw">
                            <div class="flex--info">
                                <div class="side flex-header scroller">
                                    <div class="for-scroll-padd">
                                        <h6><span translate>Artist-create.Albums</span> ({{AlbumsChecked.length}})</h6>
                                        <input type="text" class="search-profile-inp-style"  placeholder="{{ 'Search' | translate }}" (input)='searchAlbums($event)'>
                                    </div>
                                    <div class="new-scroll-wr">
                                        <div class="blocks">
                                            <ng-container *ngFor="let item of AlbumsChecked">
                                                    <a [href]="item.album_link" target="_blank" class="one-block new-link-to-sound" [ngStyle]="{'background-image': item.album_artwork?'url('+item.album_artwork+')':'url(../../assets/img/drake.jpg)'}">
                                                        <div class="desc">
                                                            <p class="name">{{item.album_name}}</p>
                                                        </div>
                                                    </a>
                                            </ng-container>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="side flex-header scroller">
                                    <div class="for-scroll-padd">
                                        <h6 translate>UPCOMING <br>{{ 'SHOWS' | translate }} ({{UpcomingShowsChecked.length}})</h6>
                                        <input type="text" class="search-profile-inp-style" placeholder="{{ 'Search' | translate }}" (input)='searchUpcomingShows($event)'>
                                    </div>
                                    <div class="new-scroll-wr">
                                        <div class="blocks">
                                            
                                            
                                            <!--/календарь вегда есть(не итерируем)-->
                                            <!--<ng-container *ngIf="isMyAccount">
                                                    
                                            <ng-container *ngIf="item.checked">
                                            -->
                                            
                                            <ng-container *ngFor="let item of UpcomingShowsChecked">
                                                
                                                <ng-container class="one-block">   
                                                    <a [routerLink]="['/system','shows_detail',item.id]" style="display:block">
                                                        <app-upcoming-shows-profile [Upshows]="item"></app-upcoming-shows-profile>
                                                    </a>
                                                </ng-container>
                                                
                                            </ng-container>
                                            
                                        
                                        </div>
                                    </div>
                                </div>
                                <div class="side flex-header scroller uniq-padd-style-funs">
                                    <div class="uniq-padd-3">
                                        <h6><span translate>Fans</span> ({{FansChecked.length}})</h6>
                                        <input type="text" class="search-profile-inp-style" placeholder="{{ 'Search' | translate }}" (input)='searchFans($event)'>
                                        
                                    </div>
                                    <div class="new-scroll-wr">
                                        <div class="blocks-funs">
                                            <ng-container *ngFor="let item of FansChecked">
                                                <div class="one-block">
                                                    <app-one-folower-for-profile [Folower]="item"></app-one-folower-for-profile>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</section>
<error-cmp #errorCmp></error-cmp>