<div class="one-event" [routerLink]="['/system','eventCreate',Event.id]">
    <div class="cover-event" [ngStyle]="{'background-image': 'url(' + Image + ')'}">
        <div class="icons-vr-t">
            <div class="vr" *ngIf="Event.has_vr"></div>
            <div class="ticket-icon" *ngIf="Event.has_in_person"></div>
        </div>
    </div>
    <div class="white-desc-event" >
        <a [routerLink]="['/system','eventCreate',Event.id]" class="name-artist">{{Event.name}}</a>
        <p class="when" [innerHTML]="Date"></p>
        <p class="where">{{ EventLocation }}</p>
        <p class="types" *ngIf="!Event.is_crowdfunding_event"><span translate>event.Number of ticket types:</span> {{Event.tickets?Event.tickets.length :'0'}}</p>
        <ng-container *ngIf="Event.is_crowdfunding_event">
            <div class="funded-bar" style="overflow: hidden">
                <div class="funded" [ngStyle]="{'width':+FoundedPercent +'%'}"></div>
            </div>
            <div class="funded-desc">
                <p class="finded-proc" translate><span innerHTML="{{EventCurrency}}{{Event.founded}}"></span> show-folder.funded</p>
                <p class="comlete-t">{{FoundedPercent ? (FoundedPercent | number: '2.0-2') : (0 | number)}}% <span translate>Complete</span></p>
            </div>
        </ng-container>
        <p class="style-text-2" *ngIf="Event.is_crowdfunding_event">
            <ng-container *ngIf="DaysToGo > 0">
                    <span>{{DaysToGo}}</span> {{'Days to go' | translate}}
            </ng-container>
            <ng-container *ngIf="DaysToGo <= 0">
                {{'Founding finished' | translate}}
            </ng-container>    
        </p>
        <div class="last-flex-info" *ngIf="!Event.is_active">
            <p class="style-text-2" translate><span>{{Event.backers}}</span> Backers</p>
            <p class="not-active" translate>Not Active</p>
        </div>
        <div class="abs-analytics" *ngIf="Event.is_crowdfunding_event" (click)="AnaliticsClick($event)" translate>Analytics</div>
    </div>
</div>
