<div class="info-artist">
  <div class="left-side">
      <a (click)="Navigate()" class="ava" [ngStyle]="{'background-image': 'url('+Image+')'}"></a>
  </div>
  <div class="right-side">
      <p class="name">{{Artist.stage_name?Artist.stage_name:Artist.display_name}}</p>
      <p class="mose-name"><span>@</span>{{Artist.user_name}}</p>
      <p class="bio">{{Artist.about}}</p>
      <div class="follow-unfollow" *ngIf="startShowButt">
          <button *ngIf="!IsFollowed" (click)="Follow()" class="butt-style-1">
              <span>FOLLOW</span>
          </button>
          <button *ngIf="IsFollowed" (click)="Unfollow()" class="butt-style-1">
            <span>UNFOLLOW</span>
        </button>
      </div>
  </div>
</div>
<div class="movies-artist">
    <!-- <div class="slider-video" *ngIf="Artist.videos.length > 0">
        <div class="slide" *ngFor="let onevideo of hardCode">
            <div class="iframe-wr">
                <iframe class="youtube-video" enablejsapi="1" [src]="GetVideo(onevideo)" allowfullscreen></iframe>
            </div>
        </div>
    </div> -->
</div>