<!-- <div class="admin_content"> -->
    <section class="admin_table_nav">
        <!-- <span (click)="deleteAll()" class="admin_delete"><img src="./../../../../assets/img/admin/delete.svg" alt=""></span>
        <span (click)="openInNewTabs()" class="admin_look"><img src="./../../../../assets/img/admin/look.svg" alt=""></span> -->
        <div class="table_filter">
            <div  class="table_search"><input (input)="SearchAccs($event)" type="text" placeholder="Search"></div>
                <div class="filter_checkbox">
                    <input type="radio" [(ngModel)]="AccountsType" (ngModelChange)="SearchAccs()" value="fan"  name="account_type" id="fan_acc">
                    <label for="fan_acc"></label>
                    <span>Fan</span>
                </div>
                <div class="filter_checkbox">
                    <input type="radio" [(ngModel)]="AccountsType" (ngModelChange)="SearchAccs()" value="venue" name="account_type" id="venue_acc">
                    <label for="venue_acc"></label>
                    <span>Venue</span>
                </div>
                <div class="filter_checkbox">
                    <input type="radio" [(ngModel)]="AccountsType" (ngModelChange)="SearchAccs()" value="artist" name="account_type" id="artist_acc">
                    <label for="artist_acc"></label>
                    <span>Artist</span>
                </div>
                <div class="filter_checkbox">
                    <input type="radio" [(ngModel)]="AccountsType" (ngModelChange)="SearchAccs()" value="all" name="account_type" id="all_acc" checked>
                    <label for="all_acc"></label>
                    <span>All</span>
                </div>
        </div>
    </section>
    <section>
        <div class="admin_table accounts_funding_table">
            <div class="admin_table_thead">
                <!-- <div class="admin_table_th check_column"><img src="./../../../../assets/img/admin/table_check_th.svg" alt=""></div> -->
                <div class="admin_table_th">Name</div>
                <div class="admin_table_th">Username</div>
                <div class="admin_table_th">Account type</div>
                <div class="admin_table_th">Address</div>
                <div class="admin_table_th">Banking service</div>
                <div class="admin_table_th">Response</div>
            </div>
            <div class="admin_table_tbody">
                <div *ngFor="let acc of CheckedAccounts; let i = index" class="admin_table_tr" (click)="openAccount(acc.id)">
                    <!-- <div class="admin_table_td check_column">
                        <div class="admin_table_checkbox">
                            <input (change)="checkIdToOpen(acc.id)" type="checkbox" id="new_acc_{{i}}">
                            <label for="new_acc_{{i}}"></label>
                        </div>
                    </div> -->
                    <div  style=" width:15%;" class="admin_table_td">{{acc.full_name}}</div>
                    <div class="admin_table_td account" style="cursor: pointer;">
                        <span>@{{acc.user_name}}</span>
                    </div>
                    <div class="admin_table_td"><span>{{acc.account_type|titlecase}}</span></div>
                    <div class="admin_table_td"><span class="ellips-text">{{acc.address}}</span></div>
                    <div class="admin_table_td"><span>{{acc.banking}}</span></div>
                    <div class="admin_table_td text-uppercase"><span [ngClass]="{'status_pending':acc.status=='pending','status_approved':acc.status=='approved','status_new':acc.status=='new','status_denied':acc.status=='denied','status_inactive':acc.status=='inactive'}">{{acc.status.replace('_',' ')|titlecase}}</span></div>
                </div>
            </div>
        </div>
    </section>
<!-- </div> -->