<!-- <div class="admin_content"> -->
  <section>
      <h2 class="admin_table_zag">Revenue by event</h2>
      <div class="admin_table revenue_table">
          <div class="admin_table_thead">
              <div class="admin_table_th">Event name</div>
              <div class="admin_table_th">Owner</div>
              <div class="admin_table_th">Date</div>
              <div class="admin_table_th">Funding type</div>
              <div class="admin_table_th">Location</div>
              <div class="admin_table_th">Revenue</div>
          </div>
          <div class="admin_table_tbody">
              <div *ngFor="let revenue of Revenues" [routerLink]="['/admin','revenue',revenue.id]" class="admin_table_tr">
                  <div class="admin_table_td"><span>{{revenue&&revenue.name?revenue.name:'No info'}}</span></div>
                  <div class="admin_table_td"><span>{{revenue&&revenue.owner?revenue.owner:'No info'}}</span></div>
                  <div class="admin_table_td"><span>{{revenue.date_from|date}}</span></div>
                  <div class="admin_table_td"><span>{{revenue&&revenue.is_crowdfunding_event?'Crowdfunding':'Regular'}}</span></div>
                  <div class="admin_table_td"><span class="ellips-text">{{revenue&&revenue.address?revenue.address:'No info'}}</span></div>
                  <div class="admin_table_td rose text_bold"><span>${{revenue&&revenue.revenue?revenue.revenue:' No info'}}</span></div>
              </div> 
          </div>
      </div>
  </section>
<!-- </div> -->