<div class="some-request-text-wrapper">

    <div class="block-info f-b">
        <span class="some-t">{{Message.subject}}</span>
        <span class="when">{{Message.created_at | date:'MMM d' }}</span>
    </div>

    <ng-container *ngFor="let msg of Message.reply">
        <div class="block-info s-b">
            <div class="ava" [ngStyle]="{'background-image': (msg.sender&&msg.sender.image_base64)?'url('+msg.sender.image_base64+')':''}"></div>
            <div class="name-hash">
                <p class="n">{{msg.sender?.account_type==='admin'?'Admin':msg.sender?.full_name?msg.sender.full_name:''}}</p>
                <p class="hash"><span>@</span>{{msg.sender?.user_name?msg.sender.user_name:''}}</p>
            </div>
        </div>
    
        <div class="block-info t-b">
            <p class="descr">{{msg.message | titlecase}}</p>
        </div>
    </ng-container>


    <div class="block-info sixth-b">
        <div  class="input-groupe-1 whithout-label small-textarea max-500">
            <textarea [(ngModel)]="ReplyText" id="inp-media-venue-2"></textarea>
            <label for="inp-media-venue-2" class="head-groupe">Message</label>
        </div>
        <div class="flex-buttons">
            <div class="accept-wr">
                <button class="butt-style-1" type="submit">
                    <span (click)="sendReply()">Send</span>
                </button>
            </div>
        </div>
    </div>

 </div>