
    <div class="main-mw">
        <div class="create-event-body">
            <div class="head-ev-body">
                <h2 translate>event.funding</h2>
                <p translate>event.funding-fold.Please fill in all required fields in<br translate>the About Screen to Add Tickets</p>
            </div>
        </div>
    </div>
    <div class="main-mw-5">
        <div class="flex-funding-columns md-style-col-change">
            <div class="side">
                <div class="top-gum">
                    <h6 translate>event.funding-fold.Choose Active Artists</h6>


                    <app-preloader *ngIf="isLoadingArtist" [size]="'50px'" [padding]="'70px'" class="empty-side"></app-preloader>
                    <p *ngIf="!isLoadingArtist&&activeArtist.length==0" class="empty-side" translate>event.funding-fold.You have no Active Artists<br translate>event.funding-fold.Choose Active Artists</p>
                    <div *ngIf="!isLoadingArtist&&activeArtist.length>0" class="artists-venue-wrapp">
                        <div *ngFor="let artist of activeArtist; let i = index" class="one-block">
                            <div class="ava-l">
                                <div class="ava" [ngClass]="{'checked':artist.object.status===Statuses.Active||artist.object.status===Statuses.OwnerAccepted}" [ngStyle]="{'background-image': artist.object.artist.image_base64?'url('+artist.object.artist.image_base64+')':''}"></div>
                                <a [routerLink]="['/system/profile',artist.object.artist_id]" class="name">{{artist['object']['artist']['user_name']}}</a>
                            </div>
                            <div class="price-r">
                                <span class="price">{{CurrencySymbol}}{{artist['object']['approximate_price']?artist['object']['approximate_price']:0|number:'3.1-2'}}</span>
                                <div class="one-checkbox">
                                    <div class="check-style">
                                        <input [checked]="activeArtist[i].checked" (click)="setActiveArtist(i)" type="checkbox" class="checkbox" name="" id="new-checkbox-artist-{{i}}">
                                        <label for="new-checkbox-artist-{{i}}"></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div *ngIf="!isLoadingArtist" class="bottom-expression">
                    <p class="t" translate>event.funding-fold.Price (Plus Additional Costs)</p>
                    <p class="exp-price">
                        {{CurrencySymbol}}
                        {{artistSum| number:'3.1-2'}}</p>
                </div>
            </div>
            <div class="side">
                <div class="top-gum">
                    <h6 translate>event.funding-fold.Choose Active Venue</h6>

                    <app-preloader *ngIf="isLoadingVenue" [size]="'50px'" [padding]="'70px'" class="artists-venue-wrapp"></app-preloader>
                    <p  *ngIf="!isLoadingVenue&&activeVenue.length==0" class="empty-side" translate>event.funding-fold.You Have no Active Venues<br translate>event.funding-fold.Choose Active Venue </p>
                    <div *ngIf="!isLoadingVenue&&activeVenue.length>0" class="artists-venue-wrapp">
                        <div *ngFor="let venue of activeVenue; let i = index" class="one-block">
                            <div class="ava-l">
                                <div class="ava" [ngClass]="{'checked':venue.object.status===Statuses.Active||venue.object.status===Statuses.OwnerAccepted}" [ngStyle]="{'background-image': venue.object.venue.image_base64?'url('+venue.object.venue.image_base64+')':''}"></div>
                                <a [routerLink]="['/system/profile',venue.object.venue_id]" class="name">{{venue['object']['venue']['user_name']}}</a>
                            </div>
                            <div class="price-r">
                                <span class="price">{{CurrencySymbol}}{{venue['object']['approximate_price']?venue['object']['approximate_price']:0|number:'3.1-2'}}</span>
                                <div class="one-checkbox">
                                    <div class="check-style">
                                        <input [checked]="activeVenue[i].checked" (click)="setActiveVenue(i)" type="checkbox" class="checkbox" name="" id="new-checkbox-venue-{{i}}">
                                        <label for="new-checkbox-venue-{{i}}"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div *ngIf="!isLoadingVenue" class="bottom-expression">
                    <p class="t" translate>event.funding-fold.Price (Plus Additional Costs)</p>
                    <p class="exp-price">
                        {{CurrencySymbol}}
                        {{venueSum| number:'3.1-2'}}</p>
                </div>
            </div>
            <div class="side">
                <div class="top-gum">
                    <h6 translate>event.funding-fold.Event Funding Status</h6>
                    <p class="some-text" translate>event.funding-fold.When this Event is Successfully Completed, your Status will change to Approved</p>
                    <p class="some-text" translate>event.funding-fold.Go to Settings/Financial Info to transfer your money</p>
                    <p class="status" translate>Venue.About-folder.Status: <span translate>Pending</span></p>

                </div>
                <div class="bottom-expression">
                    <p class="t total" translate>event.Totals</p>
                    <!-- {{Event.founded}} -->
                    <p class="exp-price">{{CurrencySymbol}}{{venueSum+artistSum | number:'3.1-2'}}</p>
                </div>


            </div>
        </div>

        <h4 class="padd-head-event" translate>event.funding-fold.Amounts</h4>
        <div class="flex-funding-columns no-marg">
            <div class="side no-border">
                <div class="top-gum">
                    <h6 class="lower-case-t" translate>event.funding-fold.Breakeven Amount</h6>
                    <div class="second-funding-info">
                        <p class="info-text" translate>event.funding-fold.Artists Price</p>
                        <span *ngIf="artistSum>0" class="price">{{CurrencySymbol}}{{artistSum  | number:'3.1-2'}}</span>
                        <span *ngIf="!artistSum||artistSum==0" class="price">{{CurrencySymbol}}0</span>
                    </div>
                    <div class="second-funding-info">
                        <p class="info-text" translate>event.funding-fold.Venue Price</p>
                        <span *ngIf="venueSum>0" class="price">{{CurrencySymbol}}{{venueSum  | number:'3.1-2'}}</span>
                        <span *ngIf="!venueSum||venueSum==0" class="price">{{CurrencySymbol}}0</span>
                    </div>
                    <div class="additional-costs">
                        <p class="addit-t" translate>event.funding-fold.Additional Costs</p>
                        <p class="price">{{CurrencySymbol}} <input class="additionalCosts"  name="additional_cost" type="number" [(ngModel)]="Event.additional_cost"></p>
                    </div>


                    <div class="second-funding-info">
                        <p class="info-text" translate>event.funding-fold.Amount to Mouse (10%)</p>
                        <span class="price">{{CurrencySymbol}}{{0.1*(artistSum+venueSum+Event.additional_cost) | number:'3.1-2'}}</span>
                    </div>
                </div>

            </div>
            <div class="side no-border">
                <div class="top-gum">
                    <h6 class="lower-case-t" translate>event.funding-fold.Family and Friends Amount</h6>
                    <div class="input-groupe-1">
                        <!-- <select type="number" [(ngModel)]="Event.family_and_friends_amount">
                            <option [value]="0">0%</option>
                            <option [value]="5">5%</option>
                            <option [value]="10">10%</option>
                        </select> -->
                        <mat-form-field >
                            <mat-select [(ngModel)]="Event.family_and_friends_amount">
                                <mat-option [value]="0">0%</mat-option>
                                <mat-option [value]="5">5%</mat-option>
                                <mat-option [value]="10">10%</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                    <div class="second-funding-info">
                        <p class="info-text" translate>event.funding-fold.Amount</p>
                        <span class="price">{{CurrencySymbol}}{{getFamilyAndFriendAmount()  | number:'3.1-2'}}</span>
                    </div>
                </div>
            </div>
            <div class="side no-border">
                <div class="top-gum">
                    <h6 class="lower-case-t" translate>event.funding-fold.Min Amount per Ticket</h6>
                    <div class="second-funding-info">
                        <p class="info-text" translate>event.funding-fold.Capacity</p>
                        <span class="price">{{Event.venue?Event.venue.capacity:0}}</span>
                    </div>
                    <div class="second-funding-info">
                        <p class="info-text" translate>event.funding-fold.Price Per Ticket</p>
                        <span class="price">{{CurrencySymbol}}{{Event.venue? (0.1*(artistSum+venueSum+Event.additional_cost)+(artistSum+venueSum+Event.additional_cost)) / Event.venue.capacity : 0 | number:'3.1-2'}}</span>
                    </div>
                </div>
            </div>
        </div>
         <div class="flex-funding-columns no-marg">
            <div class="side">
                <div class="bottom-expression">
                    <p class="t total" translate>event.Totals</p>
                    <p class="exp-price">{{CurrencySymbol}}{{0.1*(artistSum+venueSum+Event.additional_cost)+(artistSum+venueSum+Event.additional_cost) | number:'3.1-2'}}</p>
                </div>
            </div>
        </div>
        <div *ngIf="isHasVenue" class="scroll-wrapp">
            <div class="circle-scroll" (click)="comleteFunding()"></div>
        </div>
    </div>
