
    <div class="main-mw">
        <div class="create-event-body">
            <div class="head-ev-body">
                <h2 translate>Tickets.Tickets</h2>
                <p translate>Сongratulations!<br translate>This is the last step</p>
            </div>
        </div>
        <div  class="tickets-flex-body">
            <div class="left-ticket">
                <div *ngIf="Event.venue" class="tickets-left-info">
                    <p class="info-text" translate>event.tickets.In Person Tickets Available</p>
                    <span class="price">{{Event?Event.in_person_tickets:'No info'}}/{{Event.venue.capacity?Event.venue.capacity:'Max venue capacity'}}</span>
                    <!-- <span class="price">{{analitics?analitics.in_person_tickets_sold:'No info'}}/{{Event.venue.capacity?Event.venue.capacity:'Max venue capacity'}}</span> -->
                </div>
                <div *ngIf="Event.venue" class="tickets-left-info">
                    <p class="info-text" translate>event.tickets.VR Tickets Available</p>
                    <!-- <span class="price">{{analitics?analitics.vr_tickets_sold:'No info'}}/200</span> -->
                    <span class="price">{{Event?Event.vr_tickets:'No info'}}/{{Event.venue.vr_capacity?Event.venue.vr_capacity:'Max venue VR capacity'}}</span>
                </div>
               
                <div class="pick-tickets-wr">
                    <div  class="one-tickets-iteration">
                        <div  *ngFor="let t of tickets; let i = index" [ngClass]="{active:!isCurTicketNew&&currentTicket.id==t.id}" (click)="currentTicket = t; isCurTicketNew = false; setDate()" class="one-ticket">{{t.name}}</div>
                        <div  *ngFor="let t of ticketsNew; let i = index" [ngClass]="{active:isCurTicketNew&&currentTicket.id==t.id}" (click)="currentTicket = t; isCurTicketNew = true; setDate()" class="one-ticket" translate>event.tickets.New Ticket <span>{{i+1}}</span></div>
                       
                </div>
                    <div class="add-ticket">
                        <span class="butt-style-1" type="submit">
                            <span (click)="addTicket()" translate>event.tickets.Add Tickets</span>
                        </span>
                    </div>
                </div>
                
            </div>
            <div class="right-ticket">
                <div class="doted"></div>
                <div class="shadow-wr">
                    
                    
                    <div *ngIf="tickets.length<=0&&ticketsNew.length<=0" class="havent-tickets">
                        <img src="../../assets/img/smile.svg" class="img-responsive" alt="">
                        <p class="p-1" translate>event.tickets.You have no tickets yet</p>
                        <div class="add-ticket">
                            <span class="butt-style-1">
                                <span (click)="addTicket()" translate>event.tickets.Add Tickets</span>
                            </span>
                        </div>
                    </div>
                    
                    
                    <div *ngIf="tickets.length>0||ticketsNew.length>0" class="ticket-options active">
                        <div class="l-s"> 
                            <h5 class="head-ticket-settings"><input class="nameTicket"  name="" type="text" [(ngModel)]="currentTicket.name"></h5>
                            
                            <div class="flex-mac-checkbox padd-right-un-q">
                                <p translate>event.tickets.Ticket Type</p>
                                <div class="yes-no">
                                    <span translate>event.tickets.In person</span>
                                    <div class="mac-checkbox">
                                        <input class="checkbox" [checked]="currentTicket.type=='vr'" (change)="currentTicket.type=='in_person'?currentTicket.type='vr':currentTicket.type='in_person'" type="checkbox" id="checkbox-set-tick-1" >
                                        <label for="checkbox-set-tick-1"></label>
                                    </div>
                                    <span>VR</span>
                                </div>
                            </div>
                            <div class="flex-mac-checkbox padd-right-un-q">
                                <p translate>event.tickets.For Personal <br translate>event.tickets.Use/Distribution</p>
                                <div class="yes-no">
                                    <span translate>No</span>
                                    <div class="mac-checkbox">
                                        <input class="checkbox" [checked]="currentTicket.is_for_personal_use" (change)="currentTicket.is_for_personal_use=!currentTicket.is_for_personal_use" type="checkbox" id="checkbox-set-tick-2">
                                        <label for="checkbox-set-tick-2"></label>
                                    </div>
                                    <span translate>Yes</span>
                                </div>
                            </div>
                            <div class="flex-mac-checkbox padd-right-un-q">
                                <p translate>event.tickets.Promotional<br translate>event.tickets.Ticket?</p>
                                <div class="yes-no">
                                    <span translate>No</span>
                                    <div class="mac-checkbox">
                                        <input class="checkbox" [checked]="currentTicket.is_promotional" (change)="currentTicket.is_promotional=!currentTicket.is_promotional" type="checkbox" id="checkbox-set-tick-3">
                                        <label for="checkbox-set-tick-3"></label>
                                    </div>
                                    <span translate>Yes</span>
                                </div>
                            </div>
                        </div>
                        <div class="r-s">
                            <div *ngIf="currentTicket.is_promotional" class="input-groupe-1 small-textarea whithout-label">
                                    <textarea id="area-desc-tick-1" [(ngModel)]="currentTicket.promotional_description	"></textarea>
                                    <label for="area-desc-tick-1" class="head-groupe" translate>event.tickets.Promotional Description<span>*</span></label>
                            </div>

                            <div class="input-groupe-1 small-textarea whithout-label">
                                <textarea id="area-desc-tick-1" [(ngModel)]="currentTicket.description"></textarea>
                                <label for="area-desc-tick-1" class="head-groupe" translate>event.tickets.Short Description</label>
                            </div>
                            
                           

                            <div class="flex-input-groupes">
                                <div class="input-groupe-1">
                                    <div class="rel-wr">
                                        <span class="abs-backs">{{getCurrencyPrice(currentTicket.currency)}}</span>
                                        <input id="inp-price-id-1" class="dollar" name="" type="text" [(ngModel)]="currentTicket.price">
                                    </div>
                                    <label for="inp-price-id-1" translate>Price</label>
                                </div>
                                <div class="input-groupe-1 none-padd-my">
                                    <span class="desc-num" translate>event.tickets.Number Available</span>
                                    <input  class="num" [max]="maxCountInPerson" name="" type="text" [(ngModel)]="currentTicket.count">
                                   
                                </div>
                                
                            </div> 

                            <div *ngIf="currentTicket.is_promotional" class="flex-date-inputs">
                                <div class="one-date-block">
                                    <div (click)="dpFrom.show()" class="date-icon"></div>
                                    <div class="rr">
                                        <span class="desc-date" translate>event.about-fold.Start Date</span>
                                        <!--тут дейт пикер.убрать placeholder-->
                                        <input #dpFrom="bsDatepicker" bsDatepicker type="text" [bsConfig]="bsConfig" [(bsValue)]="datepickerFromModel" class="input-date">
                                    </div>
                                </div>
                                <div class="one-date-block">
                                    <div (click)="dpTo.show()" class="date-icon"></div>
                                    <div class="rr">
                                        <span class="desc-date" translate>event.about-fold.End Date</span>
                                        <!--тут дейт пикер.убрать placeholder-->
                                        <input #dpTo bsDatepicker type="text" [bsConfig]="bsConfig" [(bsValue)]="datepickerToModel" class="input-date">
                                    </div>
                                </div>
                                
                            
                            </div>

                           
                        </div>
                        <div class="add-to-active-b">
                            <button class="butt-style-1" type="submit">
                                <span (click)="updateTicket()" translate>{{isCurTicketNew?'add':'update'}}</span>
                            </button>
                        </div>
                       
                    </div>
                 
                
                </div>
                
            
            </div>
        </div>
    </div>