.login-register .login .m-w-log .login-form .outher-butt .socials .soc{
    margin: 0 10px;
}

.login-register .login .m-w-log .login-form .outher-butt .socials{
    justify-content: center;
}
.cursor-disabled{
    cursor:not-allowed;
}