<div class="settings_right_wrap">
  <h2 class="zag">Preferences</h2>
  <form class="setts_padding send_quest_form">
      <div class="preferences_form_group">
          <label for="pref-1" class="grey_label">Mouse Username</label>
          <select id="pref-1">
              <option>English</option>
              <option>France</option>
          </select>
      </div>
      <div class="preferences_form_group">
          <label for="pref-2" class="grey_label">Date</label>
          <select id="pref-2">
              <option>MMDDYYYY</option>
              <option>YYYYMMDD</option>
          </select>
      </div>
      <div class="preferences_form_group">
          <label for="pref-3" class="grey_label">Distance</label>
          <select id="pref-3">
              <option>Miles (mi)</option>
          </select>
      </div>
      <div class="preferences_form_group">
          <label for="pref-4" class="grey_label">Currency</label>
          <select id="pref-4">
              <option>US Dollar ($)</option>
          </select>
      </div>
      <div class="preferences_form_group">
          <label for="pref-5" class="grey_label">Time</label>
          <select id="pref-5">
              <option>12 Hour</option>
              <option>24 Hour</option>
          </select>
      </div>
      <button type="submit" class="butt-style-1"><span>Save</span></button>
        <br>
        <p style="text-align: center">v.1.1.3</p>
  </form>
</div>
