<div class="settings_right_wrap">
    <h2 class="zag" translate>setting.preferences</h2>
    <form class="setts_padding send_quest_form" [formGroup]="SettingsForm" (ngSubmit)="SaveSettings()">
        <div class="preferences_form_group">
            <label for="pref-1" class="grey_label" translate>setting.preference.Interface Language</label>
            <mat-form-field>
                <mat-select id="pref-1" [(ngModel)]="Settings.preferred_username" formControlName="Lang" name="">
                    <mat-option value="en">{{'English'}}</mat-option>
                    <mat-option value="ru">{{'Русский'}}</mat-option>
                </mat-select>
            </mat-form-field>
            <!-- <select id="pref-1" [(ngModel)]="Settings.preferred_username" formControlName="Lang" name="">
                <option value="en">English</option>
                <option value="ru">Russian</option>
            </select> -->
        </div>
        <div class="preferences_form_group">
            <label for="pref-2" class="grey_label" translate>setting.preference.Date</label>
            <mat-form-field>
                <mat-select id="pref-2" [(ngModel)]="Settings.preferred_date" formControlName="DateFormat" name="">
                    <mat-option value="MM/DD/YYYY">{{ 'setting.preference.MM/DD/YYYY' | translate }}</mat-option>
                    <mat-option value="YYYY-MM-DD">{{ 'setting.preference.YYYY-MM-DD' | translate }}</mat-option>
                    <mat-option value="DD.MM.YYYY">{{ 'setting.preference.DD/MM/YYYY' | translate }}</mat-option>
                </mat-select>
            </mat-form-field>
            <!-- <select id="pref-2" [(ngModel)]="Settings.preferred_date" formControlName="DateFormat" name="">
                <option value="MM/DD/YYYY">MM/DD/YYYY</option>
                <option value="YYYY-MM-DD">YYYY-MM-DD</option>
                <option value="DD.MM.YYYY">DD.MM.YYYY</option>
            </select> -->
        </div>
        <div class="preferences_form_group">
            <label for="pref-3" class="grey_label" translate>setting.preference.Distance</label>
            <!-- <select id="pref-3" [(ngModel)]="Settings.preferred_distance" formControlName="Distance" name="">
                <option value="km">Kilometers (km)</option>
                <option value="mi">Miles (mi)</option>
            </select> -->
            <mat-form-field>
                <mat-select id="pref-3" [(ngModel)]="Settings.preferred_distance" formControlName="Distance" name="">
                    <mat-option value="km">{{ 'setting.preference.Kilometers (km)' | translate }}</mat-option>
                    <mat-option value="mi">{{ 'setting.preference.Miles (mi)' | translate }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="preferences_form_group font-fix-rub">
            <label for="pref-4" class="grey_label" translate>setting.preference.Currency</label>
            <!-- <select id="pref-4" [(ngModel)]="Settings.preferred_currency" formControlName="Currency" name="">
              <option value="USD">USD ($)</option>
              <option value="RUB">RUB (₽)</option>
              <option value="EUR">EUR (€)</option>
            </select> -->
            <mat-form-field>
                <mat-select id="pref-4" [(ngModel)]="Settings.preferred_currency" formControlName="Currency" name="">
                    <mat-option value="USD">{{ 'setting.preference.USD ($)' | translate }}</mat-option>
                    <mat-option value="RUB">{{ 'setting.preference.RUB (&#8381;)' | translate }}</mat-option>
                    <mat-option value="EUR">{{ 'setting.preference.EUR (€)' | translate }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="preferences_form_group">
            <label for="pref-5" class="grey_label" translate>setting.preference.Time</label>
            <!-- <select id="pref-5" [(ngModel)]="Settings.preferred_time" formControlName="TimeFormat" name="">
              <option value="12">12 Hour</option>
              <option value="24">24 Hour</option>
            </select> -->
            <mat-form-field>
                <mat-select id="pref-5" [(ngModel)]="Settings.preferred_time" formControlName="TimeFormat" name="">
                    <mat-option value="12">{{ 'setting.preference.12 Hour' | translate }}</mat-option>
                    <mat-option value="24">{{ 'setting.preference.24 Hour' | translate }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <button [disabled]="SettingsForm.invalid" type="submit" class="butt-style-1">
          <span translate>Save</span>
        </button>
        <br>
        <!-- <p style="text-align: center">v.1.1.3</p> -->
  </form>
</div>
