<form (ngSubmit)="ShowSearchResult()" #SearchForm="ngForm">
<div class="major-form">
    <input type="text" class="inp-style-1" name="serch-text" [ngModel]="SearchParams.text" (ngModelChange)="SearchParams.text = $event" placeholder="Search">
    <div class="groupe-form">
        <p class="head-input-groupe">Date</p>
        <div class="wrapp-for-triangle">
            <input type="text" name="date-picker-inp" class="date-picker-inp" containerClass="transformed" bsDaterangepicker ngModel [bsConfig]="bsConfig" [(ngModel)]="SearchDateRange">
        </div>
    </div>
    <div class="groupe-form">
        <p class="head-input-groupe">Location</p>
        <div class="location-wr">
            <div (click)="OpenMap()" class="mark"></div>
            <input type="text" class="location-inp" name="search-params-address" autocorrect="off" autocapitalize="off" spellcheck="off" #searchLocal placeholder="" [ngModel]="LocationText" (ngModelChange)="LocationTextChenged($event)"  #search id="searchAddress">
        </div>
    </div>
    <div class="groupe-form" [ngStyle]="{'display':(SearchParams.lat && SearchParams.lng)? 'block':'none'}">
        <p class="head-input-groupe">Distance</p>
        <div class="for-range-slider">
            <input type="text" name="distance-range-slider" class="current-slider distance-slider">
        </div>
    </div>
    <!-- <div class="groupe-form">
        <p class="head-input-groupe">Process of funding</p>
        <div class="flex-genres">
            <div class="flex-mac-checkbox">
                <p>Is active        </p>
                <div class="yes-no">
                    <span>Yes</span>
                    <div class="mac-checkbox">
                        <input class="checkbox" type="checkbox" [ngModel]="SearchParams.is_active" name='is-active-checkbox'  (ngModelChange)="SearchParams.is_active = $event" id='is-active-checkbox'>
                        <label for="is-active-checkbox"></label>
                    </div>
                    <span>No</span>
                </div>
            </div>
        </div>
    </div> -->
    <div class="groupe-form">
        <p class="head-input-groupe">Genre</p>
        <div class="flex-genres">
            <ng-container  *ngFor="let item of Genres;let i = index">
                <div class="one-checkbox" *ngIf="item.show || ShowMoreGenres">
                    <div class="check-style">
                        <input type="checkbox" class="checkbox" [ngModel]="item.checked" name="genre_{{i+1}}" (ngModelChange)="item.checked = $event" id="checkbox-{{i+1}}">
                        <label for="checkbox-{{i+1}}"></label>
                    </div>
                    <p>{{item.genre_show}}</p>
                </div>
            </ng-container>
        </div>
        <p class="more" (click)="ShowMoreGenres = !ShowMoreGenres"><span>See more</span></p>
    </div>
    <div class="groupe-form">
        <p class="head-input-groupe">Ticket type</p>
        <div class="flex-radio">
            <div class="one-radio" *ngFor="let item of TicketTypes; let i = index">
                <div class="radio-style">
                    <input type="checkbox" class="radio-b" id="radio-{{i}}"  name="radio-{{i}}" [ngModel]="item.checked" (ngModelChange)="item.checked = $event">
                    <label for="radio-{{i}}"></label>
                </div>
                <p>{{item.object.name}}</p>
            </div>
        </div>
    
    </div>
    <div class="groupe-form">
        <p class="head-input-groupe">Type of space</p>
        <!-- <select class="select-type-of-space" name="select_type_of_space" [ngModel]="SearchParams.size" (ngModelChange)="TypeOfSpaceChange($event)">
            <option value=""></option>
            <option *ngFor="let item of TypesOfSpace" [value]="item.value">{{item.name}}</option>
        </select> -->
        <mat-form-field >
            <mat-select name="select_type_of_space" [(ngModel)]="SearchParams.size" (ngModelChange)="TypeOfSpaceChange($event)">
                <mat-option [value]=""></mat-option>
                <mat-option *ngFor="let item of TypesOfSpace" [value]="item.value">
                    {{ item.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="groupe-form">
        <button type="submit"  class="butt-style-1"><span>Search</span></button>
    </div>
</div>
</form>
    
    
    