<div class="tiny-calendar-wrapper big-calendar-wrapper">
    <div class=top-calendar-nav>
        <div class="arrow arrow-left" (click)="prevMonth()"></div>
        <div class="month">
            <p (click)="prevMonth()">{{MonthPrev.format('MMM') | translate}} {{ MonthPrev.format('YYYY') }}</p>
        </div>
        <div class="month">
            <p class="active">{{ currentDate.format('MMM') | translate}} {{ currentDate.format('YYYY') }}</p>
        </div>
        <div class="month">
            <p (click)="nextMonth()">{{MonthNext.format('MMM') | translate}} {{ MonthNext.format('YYYY') }}</p>
        </div>
        <div class="arrow arrow-right" (click)="nextMonth()"></div>
    </div>
    <div class="body-calendar">
        <div class="weekday-wrapp">
            <div *ngFor="let name of dayNames" class="one-week-day" translate>
                {{ name }}
            </div>
        </div>
        <!--"set-date-popup" добавляем класс если пикнули-->
        <div class="days jsDays-wrapp">
            <ng-container *ngFor="let week of weeks">
                <ng-container *ngFor="let day of week">
                    <!--"pickedday" добавляем класс нужному "one-day-wr" если пикнули-->
                    <!--"changed-price"добавляем класс нужному "one-day-wr" была изменина любая из цен-->
                    <div
                        class="one-day-wr"
                        [ngClass]="
                            {
                                'today': day.today,
                                'un-active': day.selected,
                                'has-popup' :day.event ,
                                'not-active-month': !isSelectedMonth(day.mDate),
                                'changed-price': day.changed,
                                'changed-wr-day' : day.dayPrice,
                                'changed-wr-night' : day.nightPrice
                            }
                        "
                        
                        (mousedown)="!isPreview? StartRangeEvent($event,day):0"
                        (mouseup)="!isPreview? EndRangeEvent($event,day):0"
                        (mouseenter)="!isPreview? MoveForRange($event,day):0"
                    >
                        <!--(click)="selectDate(day)"-->    
                        <!--дата-->
                        <div class="one-day">
                            <p>{{ day.mDate.date() }}</p>
                            <!--event pupup-->
                            <div *ngIf="day.event" class="popup-inform-tiny-calendar">
                                <ng-container *ngFor="let event of eventsThisMonth">
                                    <ng-container *ngIf="day.eventId == event.id">
                                        <div class="shadow-wr">
                                            <ng-container *ngFor="let image of Images">
                                                <div class="top-image" *ngIf="image.event_id && image.event_id == event.id" [ngStyle]="{'background-image': 'url(' + image.base64 + ')'}"></div>
                                                <p *ngIf="!image.event_id && image.event_id == event.id">{{image.id}} + ' = '+{{event.image_id}}</p>
                                            </ng-container>
                                            <div class="bott-descr-day">
                                                <p class="f">{{event.name}}</p>
                                                <p class="s" *ngIf='event.event_time'>{{event.event_time}}</p>
                                                <p class="where-2" *ngIf='event.address'>{{event.address}}</p>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>
                            <!--/event pupup-->
                        </div>
                        <!--/дата-->
                        
                        <ng-container *ngIf="!day.selected">
                            <div class="prices">
                                <!--"changed-price-morning" добавляем класс блоку "morning" если была изменина цена утра-->
                                <p class="morning"
                                    [ngClass]="
                                    {
                                        'changed-price-morning': day.dayPrice
                                    }
                                    "
                                >
                                    <span innerHTML="{{day.currency}}{{ day.dayPrice != null? day.dayPrice : (allDaysPriceDay?allDaysPriceDay:0)}} "></span>
                                
                                </p>
                                <!--"changed-price-night" добавляем класс блоку "night" если была изменина цена ночи-->
                                <p class="night"
                                    [ngClass]="
                                    {
                                        'changed-price-night': day.nightPrice
                                    }
                                    "
                                >
                                    <span innerHTML="{{day.currency}}{{ day.nightPrice != null? day.nightPrice : (allDaysPriceNight?allDaysPriceNight:0)}} "></span>
                                    <!-- <span><i [innerHTML]="day.currency"></i>{{ day.nightPrice != null? day.nightPrice : (allDaysPriceNight?allDaysPriceNight:0)}}</span> -->
                                </p>
                            </div>
                        </ng-container>

                    </div>

                </ng-container>
            </ng-container>
            
            

            <!--попап с ценой на определенные даты-->
            
            <div class="black-bg-dates" (click)="CloseModalPrice($event)"></div>

            <div class="popup-set-price-wr">
                <form class="popup-set-price" (ngSubmit)="SaveCheckedDate()" #SaveForm="ngForm">
                    <div class="flex-mac-checkbox">
                        <p translate>Venue.Dates-folder.Date Availability</p>
                        <div class="yes-no">
                            <span translate>No</span>
                            <div class="mac-checkbox">
                                <input class="checkbox" name="form-vals-availability" [ngModel]="FormVals.is_available" (ngModelChange)="FormVals.is_available = $event" checked="" type="checkbox" id="opt-calendar-1">
                                <label for="opt-calendar-1"></label>
                            </div>
                            <span translate>Yes</span>
                        </div>
                    </div>
                    <div class="flex-mac-checkbox">
                        <p translate>Venue.big-calendar-folder.Date Range</p>
                        <div class="yes-no">
                            <span translate>No</span>
                            <div class="mac-checkbox">
                                <input class="checkbox" name="form-vals-date-range" [ngModel]="FormVals.date_range" (ngModelChange)="FormVals.date_range = $event" checked="" type="checkbox" id="opt-calendar-2">
                                <label for="opt-calendar-2"></label>
                            </div>
                            <span translate>Yes</span>
                        </div>
                    </div>
                    <date-input [Label]="FormVals.date_range?'From':'Date'" [DateInput]="FormVals.from" (OnDateChange)="FormVals.from = $event"></date-input>
                    
                    <date-input *ngIf="FormVals.date_range" [Label]="'To'" [DateInput]="FormVals.to" (OnDateChange)="FormVals.to = $event"></date-input>
                    <div class="flex-price-inp" *ngIf="FormVals.is_available">
                        <p class="d-inp inp-desc" translate>Day</p>
                        <i [innerHTML]="CurrencyIcon"></i>
                        <input autocomplete="off" type="text" name="form-vals-day-price" [textMask]="MaskPrice()" [ngModel]="FormVals.price_for_daytime" (ngModelChange)="FormVals.price_for_daytime = $event">
                        <span>/hr</span>
                    </div>
                    <div class="flex-price-inp" *ngIf="FormVals.is_available">
                        <p class="n-inp inp-desc" translate>Night</p>
                        <i [innerHTML]="CurrencyIcon"></i>
                        <input autocomplete="off" type="text" name="form-vals-night-price" [textMask]="MaskPrice()" [ngModel]="FormVals.price_for_nighttime" (ngModelChange)="FormVals.price_for_nighttime = $event">
                        <span>/hr</span>
                    </div>
                    <div class="buttons-pop">
                        <span class="resend-reg" (click)="CloseModalPrice($event)" translate>Cancel</span>
                        <div class="continue-wr">
                            <button class="butt-style-1" type="submit"><span>OK</span></button>
                        </div>
                    </div>
                </form>
            </div> 
             <!--/попап с ценой на определенные даты-->
            
        </div>
    </div>
</div>

