
.create-event-body-1:before{
    content: "";
    position: absolute;
    height: 500px;
    width: 100%;
    left: 0;
    top: 100%;
    background: #fff;
}

@media print {
    .flex-ticket-wrapp .sides .butt-wrapp-grad .butt-style-1 { display: none !important; }
 }