
.create-event-body-1:before{
    content: "";
    position: absolute;
    height: 500px;
    width: 100%;
    left: 0;
    top: 100%;
    background: #fff;
}


@media print {
    .flex-ticket-wrapp .sides .butt-wrapp-grad .butt-style-1 { display: none !important; }
    .second-router-outlet{
        display: none!important;
    }
    .for-print{
        display: block!important;
    }
 }
.for-print{
    display: none;
}
.c-original{
    font-size:25px !important;
    line-height: 30px !important;
}
.with-original-price{
    margin-bottom: 0px !important;
}
.flex-header{
    display: flex;
    align-items: center;
    padding: 20px 0;
    position: relative;
    justify-content: space-between;
    border-bottom: 3px solid #000;
}
.flex-header .left-side img:first-child{
    margin-right: 20px;
    width: 70px;
}
.flex-header .left-side {
    display: flex;
    align-items: center;
}
.flex-header .left-side img:nth-child(2){
    margin-right: 20px;
    width: 200px;
}
.flex-header .left-side span{
    display: block;
    position: relative;
    font-family: AvenirLTStdMedium;
    font-size: 20px;
    top: 10px;
}
.flex-header .circle{
    display: block;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-family: AvenirLTStdMedium;
}
.content-print{
    padding: 20px 0;
    font-family: AvenirLTStdMedium;
}
.content-print .f1{
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;

}


.content-print .name-concert{
    color: rgba(0, 0, 0, 0.98);
    font-size: 35px;
    font-family: AvenirLTStdBlack;
    text-transform: uppercase;
}



.content-print .when span{
    padding-left: 20px;
}
.content-print .where{
    color: rgba(0,0,0,0.5);

}
.content-print .where span{
    font-size: 24px;
    color: #000;
    text-transform: uppercase;
    display: block;
}
.tickets-for-ng{
    margin-bottom: 30px;
}
.tickets-for-ng .name-ticket{
    font-size: 24px;
    color: #000;
    text-transform: uppercase;
    display: block;
}
.tickets-for-ng .flex-info-ticket{
    display: flex;
    align-items: flex-start;   
}
.tickets-for-ng .col-info{
    width: 25%;
}
.tickets-for-ng .col-info .name-col{
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;
}
.some-info-print{
    margin-bottom: 50px;
}
.some-info-print .head-tt{
    text-transform: uppercase;
}
.foot-print .support{
    margin-bottom: 30px;
}
.foot-print .seller{
    margin-bottom: 10px;
    text-transform: uppercase;
}
.foot-print .flex-logo-foot {
    display: flex;
    align-items: center;
}

.foot-print .flex-logo-foot img:first-child{
    margin-right: 20px;
    width: 30px;
}
.foot-print .flex-logo-foot img:nth-child(2){
    margin-right: 20px;
    width: 100px;
}
