<div class="create-event-body-1">
    <div class="main-mw">
        <div [formGroup]="mediaForm" class="create-event-body">
            <div class="head-ev-body">
                <h2>Media</h2>
                <p>Please fill in all required fields<br> to proceed to the Next Step</p>
            </div>
            <div class="flex-body-1 more-padding">
                <div class="side">
                    <div class="flex-mac-checkbox">
                        <p>VR Video Equipment</p>
                        <div class="yes-no">
                            <span>Yes</span>
                            <div class="mac-checkbox">
                                <input class="checkbox" [(ngModel)]="Venue.has_vr" formControlName="vr" checked="" type="checkbox" id="checkbox-set-option-vr">
                                <label for="checkbox-set-option-vr"></label>
                            </div>
                            <span>No</span>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="flex-body-1 more-padding">
                <div class="side">
                    <div class="input-groupe-1 whithout-label small-textarea max-500">
                        <textarea id="inp-media-venue-1" formControlName="audio_description"></textarea>
                        <label for="inp-media-venue-1" class="head-groupe">Audio Description<span>*</span></label>
                        <span class="max-count">1000 max</span>
                    </div>
                </div>
                <div class="side">
                    <div class="input-groupe-1 whithout-label small-textarea max-500">
                        <textarea id="inp-media-venue-2" [(ngModel)]="Venue.lighting_description" formControlName="lighting_description"></textarea>
                        <label for="inp-media-venue-2" class="head-groupe">Lighting Description<span>*</span></label>
                        <span class="max-count">1000 max</span>
                    </div>
                </div>
                <div class="side">
                    <div class="input-groupe-1 whithout-label small-textarea max-500">
                        <textarea id="inp-media-venue-3" [(ngModel)]="Venue.stage_description" formControlName="stage_description"></textarea>
                        <label for="inp-media-venue-3" class="head-groupe">Stage Description<span>*</span></label>
                        <span class="max-count">1000 max</span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="media-flex-sides add-venue-some-style">
            <div class="left-side">
                <h6 class="head-col-add-venue">Recommended Photos</h6>
                <div class="gradient-box gradient-4">
                    <h6 class="head-of-gradient-box">Add new photo</h6>
                    <div class="photos-wr-flex-venue">
                        <div class="photo-wr-1">

                            <label *ngIf="!ImageToLoad.image_base64" class="file_upload">
                                <div class="bg-image"></div>

                                <input accept=".jpg, .jpeg, .png" type="file"  (change)="loadImage($event)">
                            </label>
                            <!--появляется этот блок если загружена фотка и в стайл бекграунд имейдж ебануть-->
                            <div *ngIf="ImageToLoad.image_base64" class="bg-image uploaded" (click)="DeleteImageFromLoading()" [ngStyle]="{'background-image': 'url(' + ImageToLoad.image_base64 + ')'}"></div>
                            <!---->
                        </div>
                        <div class="input-groupe-1 small-textarea whithout-label">
                            <textarea id="inp-desc-1" name="photo-description" [ngModel]="ImageToLoad.image_description" (ngModelChange)="ImageToLoad.image_description = $event"></textarea>
                            <label for="inp-desc-1" class="head-groupe">Description</label>
                        </div>
                    </div>
                    <div class="flex-genres style-on-add-artist-g">
                        <div class="one-checkbox" *ngFor="let item of ImageTypes;let i = index">
                            <div class="check-style">
                                <input type="radio" class="checkbox" name="image-type-radio" [value]="item.value" [(ngModel)]="ImageToLoad.image_type" id="checkbox-photo-{{+i+1}}">
                                <label for="checkbox-photo-{{+i+1}}"></label>
                            </div>
                            <p>{{item.name}}</p>
                        </div>
                    </div>
                    <div class="input-groupe-1 small-textarea whithout-label" *ngIf="ImageToLoad.image_type == 'other'">
                        <textarea id="inp-other-1" [ngModel]="ImageToLoad.image_type_description" (ngModelChange)="ImageToLoad.image_type_description = $event"></textarea>
                        <label for="inp-other-1" class="head-groupe">Other</label>
                    </div>
                    <div class="butt-wrapp-grad">
                        <button (click)="AddVenuePhoto()" [disabled]="!ImageToLoad" class="butt-style-1 thot-butt" type="submit">
                            <span>Add to Photos</span>
                        </button>   
                    </div>
                    
                </div>
            </div>
            <div class="right-side albums">
                
                <!--если пустой-->
                <div [ngStyle]="{'display': VenueImages.length == 0 ? 'block' : 'none'}" class="empty-info">
                    <img src="img/smile.svg" class="img-responsive" alt="">
                    <p>No Photos Yet</p>
                </div>
                <!---->
                <!--если не пустой.-->
                <!-- <ngx-slick [ngStyle]="{'display': VenueImages.length > 0 ? 'block' : 'none'}" class="carousel slider-2-albums slider-4-photos slider-4-init" #slickModal="slick-modal" [config]="slideConfig">
                    <div ngxSlickItem *ngFor="let item of VenueImages; let i = index" class="slide ">
                        <div class="one-slide" *ngIf="VenueImages[i]">
                            <div class="wrapp-card">
                                <div class="delete-track"></div>
                                <div class="cover-image" [ngStyle]="{'background-image': 'url('+ item.image_base64 +')'}"></div>
                                <div class="descr">
                                    <h6>Night club</h6>
                                    <p class="name">{{item.image_description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ngx-slick> -->
                <div [ngStyle]="{'display': VenueImages.length > 0 ? 'block' : 'none'}" class="slider-2-albums slider-4-photos slider-4-init">
                    <ng-container *ngFor="let item of VenueImages">
                        <venue-image-selector [Image]="item" (onDeleteImage)="DeleteImage($event)"></venue-image-selector>
                        <!-- <div class="one-slide" *ngIf="VenueImages[i]">
                            <div class="wrapp-card">
                                <div class="delete-track"></div>
                                <div class="cover-image" [ngStyle]="{'background-image': 'url('+ item.image_base64 +')'}"></div>
                                <div class="descr">
                                    <h6>{{(item.image_type != 'other')?item.image_type : item.image_type_description}}</h6>
                                    <p class="name">{{item.image_description}}</p>
                                </div>
                            </div>
                        </div> -->
                    </ng-container>
                </div>
                
                <!--/если не пустой.-->
                
            </div>
        </div>
        
        
        
    </div>
</div>
<div class="scroll-wrapp">
    <div class="circle-scroll" (click)="SaveVenue()" ></div>
</div>